<!DOCTYPE html>
<html lang="ko" class="no-js">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<!--meta http-equiv="X-UA-Compatible" content="IE=edge"-->
<title>사이다경제 | 팟캐스트</title>

<!-- CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_contents.css" rel="stylesheet">
<link href="/css/swiper.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/component.css" />

<!-- JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.custom.js"></script>
<script src="/js/gotoup.js"></script>

<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

<!--공유 meta tags-->
<meta name="title" content="사이다경제 | 콘텐츠" />
<meta property="og:image" content="http://cidermics.com/page_imgs/fixed_img/thum_img.jpg" />
<meta property="og:title" content="사이다경제" />	
<meta property="og:site_name" content="사이다경제">
<meta property="og:type" content="article">
<meta property="og:url" content="http://www.cidermics.com/contents/" />
<meta property="og:description" content="사이다경제 경제,금융,주식,기업 콘텐츠" />

</head>
<body>
<!--위로가기 버튼-->
<div id="but_top"><img class="gototop" src="/page_imgs/fixed_img/btn_gotoup.svg"></div>
<% include ../top %>

<!-- div class="bg-blue">
<div class="bg-white podcast-main container" -->
<div class="podcast-main container">
<!--콘텐츠뿌림-->
	<div class="podcast container" align="center">
		<div class="padcast-title"><img class="img-responsive" src="/page_imgs/contents_img/icon-radio.svg"><p>톡톡! 사이다경제 "팟캐스트"</p></div>
		<div class="padcast-banner"><img class="img-responsive" src="http://i.imgur.com/Wh9OMkl.jpg"></div>
		<div class="podcast-con row">
					<div class="pod-radio">
						<div class="pod-radio1" style="display:inline-block; margin-right:5px;"><a href="http://www.podbbang.com/ch/13140"><img class="img responsive" src="/page_imgs/contents_img/icon-cd.svg"><p>팟빵에서 듣기</p></a></div>
						<div class="pod-radio2" style="display:inline-block;"><a href="http://www.demasian.com/program/3163"><img class="img responsive" src="/page_imgs/contents_img/icon-cd.svg"><p>데마시안에서 듣기</p></a></div>
					</div>
			<% for (var i = 0; i < podcast.length; i++) { %>
			<div class="con-in col-sm-4 col-xs-6">
				<div>
					<a href="/contents/detail/<%= podcast[i].con_no %>">
					<div class="con-img">
					<!--img class="img-responsive" style="width:50px; position:absolute; z-index:2; margin:5px 0 0 5px;"  src="<%= podcast[i].chkDat%>"-->

					<img class="img-responsive con-thumbnail-img" style="position:relative; z-index:1" align="center" src="<%= podcast[i].con_photo %>">
					</div>
					</a>
					<p style="margin-top:10px;" align="center"><a href="#"><%= podcast[i].con_title %></a></p>
				</div>
			</div>
			<% } %>

			<!--a href="#"><div class="con-plus col-xs-12"><p>더보기</p></div></a-->													
		</div>
	</div>
</div>
</div>

		<script src="/js/contents_js/masonry.pkgd.min.js"></script>
		<script src="/js/contents_js/imagesloaded.js"></script>
		<script src="/js/contents_js/classie.js"></script>
		<script src="/js/contents_js/AnimOnScroll.js"></script>
		<script>
			new AnimOnScroll( document.getElementById( 'grid' ), {
				minDuration : 0.4,
				maxDuration : 0.7,
				viewportFactor : 0.2
			} );
		</script>


<% include ../bottom %>

</body>
</html>
