<!DOCTYPE html>
<html>
  <head>
  	
  	<meta name="viewport" content="width=device-width, initial-scale=1"-->
  	
    <title>Cidermics admin</title>
    <link rel='stylesheet' href='/css/materialize.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/materialize.js"></script>
    
    <link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

  </head>
  <body>
  	
    <div class="container">
	    <form method="post" action="/adm/login">
	    	email : <input type="text" name="email"></br>
			pw : <input type="password" name="pw">    
			<input type="submit" value="로그인">	
	    </form>
    </div>
    
   </body>
</html>
