<!DOCTYPE html>
<html>
  <head>
  	
  	<meta name="viewport" content="width=device-width, initial-scale=1"-->
  	
    <title>사이다경제 관리자</title>
    <link rel='stylesheet' href='/css/materialize.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/materialize.js"></script>
    
    <link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

  </head>
  <body>

  	
    <div class="container">
      <img class="img-responsive" src="https://i.imgur.com/7HP8GIe.png">
      <a href="http://cidermics.com"><img class="img-responsive" src="/page_imgs/fixed_img/mob_icon_logo.svg" style="width:60px; margin-top:6px; margin-left:15px;"></a>
      <h3>플랜어투즈 X 사이다경제 마케팅 관리자</h3>
	    <form method="post" action="/adm/loginplan">
	    이메일(ID) : <input type="text" name="email"></br>
			비밀번호(PW) : <input type="password" name="pw">    
			<input type="submit" value="로그인">	
	    </form>
    </div>
    
   </body>
</html>
