body{font-family: 'Nanum Gothic', serif;}
.main-join{background:url(/page_imgs/fixed_img/mainimg.jpg); background-size: cover;
    background-position: center; width:100% !important; height:auto; padding-top:50px; padding-bottom:50px;}
.main-join .bg{background-color: rgba( 255, 255, 255, 0.7 ); width:600px; height:auto; border-radius:10px; padding-top:20px; padding-bottom:20px;}
.main-join .bg .col-xs-12{float:none !important;}
.main-join .bg .mainlogoimg{margin:60px 0 40px 0; width:140px;}
.main-join .bg .btn-join{width:70%; height:70px; background-color:#1b87c9; color:#FFFFFF; font-size:24px; margin:20px 0 30px 0; padding-top:20px;}
.main-join .bg .btn-facejoin{width:70%; height:70px; background-color:#546c9b; color:#FFFFFF; font-size:24px; margin-bottom:30px; padding-top:20px;}
.main-join .bg .btn-kakaojoin{width:70%; height:70px; background-color:#c7b100; color:#FFFFFF; font-size:24px; padding-top:20px; margin-bottom:60px;}

.main-join .bg .join{width:90%; padding-top:30px; padding-bottom:30px;}
/*회원가입 스텝1*/
.join .join-step img{margin-left:20px; width:85px;}
.join .step1 .service p{font-size:22px; color:212121; font-weight:bold; margin:25px 0 10px 0;}
.join .step1 .service textarea{width:100%; height:150px;}
.join .step1 .privacy p{font-size:22px; color:212121; font-weight:bold; margin:25px 0 10px 0;}
.join .step1 .privacy textarea{width:100%; height:150px;}
.join .step1 .step1-btn{width:100%;}
.join .step1 .step1-btn div img{margin-top:20px;}

/*회원가입 스텝2*/
.step2 .title p{ font-size:22px; color:212121; font-weight:bold; margin:30px 0 30px 0;}
.step2 .star{color:#c02e88;}
.step2 .id{color:#1b87c9; margin-bottom:40px; float:left;}
.step2 .id input{width:100px;}
.step2 .nicname{color:#1b87c9; margin-bottom:40px; float:left;}
.step2 .nicname input{width:120px;}
.step2 .birth{color:#1b87c9; margin-bottom:40px; float:left;}
.step2 .birth input.year{width:65px;}
.step2 .birth input.month ,.day{width:45px;}
.step2 .sex{color:#1b87c9; margin-bottom:22px; float:left;}
.step2 .nicname1-check{width:80px; height:30px; background-color:#1b87c9; color:#FFFFFF; font-size:16px; padding-top:5px; display:inline-block; margin-left:20px; text-align:center;}
.step2 .email-check{width:80px; height:30px; background-color:#1b87c9; color:#FFFFFF; font-size:16px; padding-top:5px; display:inline-block; margin-left:20px; text-align:center;}
.step2 .sex .man{margin-right:10px;}
.step2 .sex .man, .woman{width:30px; height:26px; font-size:16px; padding-top:5px; text-align:center;}
.step2 .id p, .nicname p, .birth p, .sex p{display:inline-block; float:left; margin-right:10px; width:100px; text-align:center;}
.join .step2 .step2-btn{width:100%; margin:0;}
.join .step2 .step2-btn div img{margin-top:10px;}

/*회원가입 스텝3*/
.step3 .img{margin:100px 0 40px 0;}
.step3 .text{font-size:36px; margin-bottom:60px;}

/*로그인*/
.main-login{background:url(/page_imgs/fixed_img/mainimg.jpg); background-size: cover;
    background-position: center; width:100% !important; height:auto; padding-top:50px; padding-bottom:50px;}
.main-login .bg{background-color: rgba( 255, 255, 255, 0.7 ); width:600px; height:auto; border-radius:10px; padding-top:20px; padding-bottom:20px;}
.main-login .bg .col-xs-12{float:none !important;}
.main-login .bg .email input{border-bottom:solid 2px #1b87c9; border-top:0; border-left:0; border-right:0; margin:30px 0 10px 0;}
.main-login .bg .password input{border-bottom:solid 2px #1b87c9;  border-top:0; border-left:0; border-right:0;}
.main-login .bg .btn-login{width:75%; height:70px; background-color:#1b87c9; color:#FFFFFF; font-size:24px; margin:20px 0 20px 0; padding-top:20px;}
.main-login .bg .text{width:75%; color:#1b87c9; font-size:18px; font-weight:300; margin-bottom:50px; text-align:left;}
.main-login .bg .btn-facelogin{width:75%; height:70px; background-color:#546c9b; color:#FFFFFF; font-size:24px; margin-bottom:20px; padding-top:20px;}
.main-login .bg .btn-kakaologin{width:75%; height:70px; background-color:#c7b100; color:#FFFFFF; font-size:24px; padding-top:20px; margin-bottom:30px;}


@media all and (max-width:1024px) {
.main-join {display: block !important; height:auto; padding-bottom:20px;}
.main-join .bg{width:95%; height:auto; margin-top:20px; padding-top:20px; padding-bottom:20px;}
.main-join .bg .mainlogoimg{width:130px; margin-top:45px;}
.main-join .bg .btn-join{width:80%; height:70px; padding-top:25px; font-size:17px;}
.main-join .bg .btn-facejoin{width:80%; height:70px; padding-top:25px; font-size:17px;}
.main-join .bg .btn-kakaojoin{ width:80%; height:70px; padding-top:25px; font-size:17px;}

.main-join .bg .join{width:90%; padding-top:25px;}
/*회원가입 스텝1*/
.join .join-step img{margin-left:10px; width:60px;}
.join .step1 .service p{font-size:16px;}
.join .step1 .service textarea{height:120px;}
.join .step1 .privacy p{font-size:16px;}
.join .step1 .privacy textarea{height:120px;}
.join .step1 .step1-btn{width:100%;}
.join .step1 .step1-btn div img{margin-top:20px; height:30px;}

/*회원가입 스텝2*/

/*회원가입 스텝3*/
.step3 .img{margin:100px 0 40px 0;}
.step3 .img img{width:60px;}
.step3 .text{font-size:20px; margin-bottom:60px;}
.step3 .ok img{width:80px;}

/*로그인*/
.main-login {display: block !important; height:auto; padding-bottom:20px;}
.main-login .bg{width:95%; height:auto; margin-top:20px; padding-top:20px; padding-bottom:20px;}
.main-login .bg .email input{margin-top:30px;}
.main-login .bg .btn-login{width:80%; height:62px; padding-top:20px; font-size:18px;}
.main-login .bg .text{font-size:16px;}
.main-login .bg .btn-facelogin{width:80%; height:62px; padding-top:20px; font-size:18px;}
.main-login .bg .btn-kakaologin{width:80%; height:62px; padding-top:20px; font-size:18px; margin-bottom:30px;}


}