<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">

<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<!--페이스북 관련 -->
<meta property="fb:admins" content="{jkhhihi@naver.com}"/><!--페이스북 슈퍼아이디-->


<!--공유 meta tags-->


<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:image" content="http://cidermics.com/page_imgs/lecture_img/lec_thum_2.png" />

<title>사이다경제 | 강의</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_lecture.css" rel="stylesheet">
<link href="/css/swiper.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<script src="/js/modernizr.custom.js"></script>

<script src="/js/gotoup.js"></script>

<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

<!--구글 애널리틱스 -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82643610-1', 'auto');
  ga('send', 'pageview');

</script>

<script language="javascript" type="text/javascript">  

function openWinFB(){  
    window.open("https://www.facebook.com/cidermics");  
}
function openWinKA(){  
    window.open("http://plus.kakao.com/home/@%EC%82%AC%EC%9D%B4%EB%8B%A4%EA%B2%BD%EC%A0%9C");  
}

function openSNSFB(){  
    window.open("https://www.facebook.com/kim.chungho?fref=ts");  
}
</script>

<style>
.youtubeWrap {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.youtubeWrap iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
</style>

</head>
<body>
<!--위로가기 버튼-->
<div id="but_top"><img class="gototop" src="/page_imgs/fixed_img/btn_gotoup.svg"></div>
<!--페이스북 연동 스크립트-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<% include ../top %>
<div class="line"></div>

<div class="lecture" >
		
		<div class="title container" align="center">
				<p class="finished">** 본 강의는 마감되었습니다 **<p>
				<p class="finished" style="color:#000;">부모님을 위한 경제/금융 세미나</p>
				<div class="line1"></div>
		</div>
	<div class="contents" align="center">
		<div class="thum_video" align="center">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/g42Enyf-49s" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="lec2-title">
		<div class="container">
					<p class="title">꼭 필요한 것 같은데,<br> 어렵고 복잡한 <span style="color: rgb(225, 61, 61);">금융</span>.. <span style="color: rgb(0, 117, 200);">보험</span>..<br> 우리 아이, 내 가족을 위한 건데 <br>잘 알아야겠죠?</p>
		<!--p class="title">필요하긴 한 것 같은데, 잘 모르는 <span style="color: rgb(0, 117, 200);">보험</span>!</p>
		<p class="title">친구, 친구의 친구, 부모님 아시는 분..</p>
		<p class="title">'<span style="color: rgb(225, 61, 61);">지인만 믿고 보험에 들었다가<br>놓치는 건 없을까?</span>'</p>
		<p class="title">'<span style="color: rgb(0, 117, 200);">보험 들어놓은 건 있는데..<br>제대로 된 건 맞을까?</span>'</p-->
		
		</div>
		</div>
		
		<div class="lec2-question-main">
			<div class="container">
				<p class="title">목차</p>
					<p class="qcon"><a href="#section1" data-number="1">"Q1. 누가 들어야 하나요?"</a></p>
					<p class="qcon"><a href="#section2" data-number="1">"Q2. 어떤 걸 알려주나요?"</a></p>
					<p class="qcon"><a href="#section3" data-number="1">"Q3. 무엇을 얻게 되나요?"</a></p>
			</div>
		</div>
		
		
		<section id="section1" class="cd-section"></section>
			<div class="lec2-question">
				<div class="container">
					<p class="title">"Q1. 누가 들어야 하나요?"</b></span></p>
					<p class="con">
					1. 결혼을 앞두셨거나 신혼이신 분<br>
					2. 아이에게 어떤 보험이 필요한 지 고민하시는 분<br>
					3. 우리아이 교육비, 양육비가 걱정되시는 분<br>
					4. 지인을 통해 들었던 보험을 확인하고 싶거나<br>
 					피해를 본 적이 있으신 분 등을<br>
 					대상으로 하고 있습니다.<br>
					</p>
				</div>
			</div>
			
		
		<section id="section2" class="cd-section"></section>
			<div class="lec2-question">
				<div class="container">
					
					<p class="title">"Q2. 어떤 걸 알려주나요?"</b></span></p>
					<p class="con">
					이 세미나에서는<br>
					크게 <span style="color: rgb(0, 117, 200);">2가지</span>를 짚어드립니다.<br>
					
					<span><img class="map img-responsive" style="border-radius:15px; margin:30px 0; width:90%;" src="/page_imgs/lecture_img/mother.png"></span>
					
					<span style="color: rgb(0, 117, 200);">첫째,</span> 자녀의 건강에 대비하기 (질환/상해)<br>
					아이들은 왜, 어떤 병으로 병원을 찾을까요?<br>
					그에 따른 준비를 해두지 않으면 어떻게 될까요?<br>
					<br>
					해당 항목들을 순위와 확률로 나누고,<br>
					각각 치료비는 얼마나 드는지, 대비를 위해<br>
					들어야 할 보험은 무엇인지 알아볼 예정입니다.<br>
					
					<span><img class="map img-responsive" style="border-radius:15px; margin:30px 0; width:90%;" src="/page_imgs/lecture_img/cost.png"></span>
					
					<span style="color: rgb(0, 117, 200);">둘째,</span> 미래에 대비하기 (교육비/결혼자금 등)<br>
					너무 예쁘고 사랑스러운 우리아이.<br>
					커서 대학도 다니고, 결혼도 하려면<br>
					앞으로 키우는 데 얼마가 들어갈까요?<br>


					연령별 교육비와 이벤트 자금의 규모를<br>
					데이터를 통해 살펴볼 예정입니다.<br>
					
					</p>
				</div>
			</div>
			
		<section id="section3" class="cd-section"></section>
			<div class="lec2-question">
				<div class="container">
					<p class="title">"Q3. 무엇을 얻게 되나요?"</b></span></p>
					<p class="con">
					악덕 보험설계사들의 실적만 올려주는 것이 아닌,<br>
					우리 가족의 현재와 미래를<br>
					현명하게 계획하기 위한 기본적인 금융지식과
					보험에 대한 이해를 드립니다.<br>
					<br>
					우리 아이, 예쁘게 키우고 자금은 물론 보험까지도<br>
 					알뜰하게 준비하는 현명한 부모가 됩시다!<br>
 					<br>
 					* <span style="color: rgb(0, 117, 200);">사이다경제</span>는 어떤 금융기관에도<br>
 					소속되지 않은 경제 전문 미디어로,<br>
 					<span style="color: rgb(0, 117, 200);">경제/금융 콘텐츠</span>를 제공하고 있습니다.<br>
 					이번 금융세미나는 금융지식을 전파하고,<br>
 					보험에 대한 이해를 돕기 위해 기획되었습니다.
 					
					</p>
				</div>
			</div>
	
	
	
	
	
	</div>
		
<div class="container" align="center">
		
		<!--a href="/lecture/sale/"><div class="btn-coupon">할인쿠폰받기</div></a-->
		
		
		
<script type="text/javascript">

function CopyToClipboard ( tagToCopy, textarea ){ 

        textarea.parentNode.style.display = "block"; 

        var textToClipboard = ""; 
        if ( "value" in tagToCopy ){    textToClipboard = tagToCopy.value;    } 
        else {    textToClipboard = ( tagToCopy.innerText ) ? tagToCopy.innerText : tagToCopy.textContent;    } 

        var success = false; 

        if ( window.clipboardData ){ 
                window.clipboardData.setData ( "Text", textToClipboard ); 
                success = true; 
        } 
        else { 
                textarea.value = textToClipboard; 

                var rangeToSelect = document.createRange(); 

                rangeToSelect.selectNodeContents( textarea ); 

                var selection = window.getSelection(); 
                selection.removeAllRanges(); 
                selection.addRange( rangeToSelect ); 

                success = true; 

                try { 
                    if ( window.netscape && (netscape.security && netscape.security.PrivilegeManager) ){ 
                        netscape.security.PrivilegeManager.enablePrivilege( "UniversalXPConnect" ); 
                    } 

                    textarea.select(); 
                    success = document.execCommand( "copy", false, null ); 
                } 
                catch ( error ){ 
                    success = false; 
                    console.log( error ); 
                } 
        } 

        textarea.parentNode.style.display = "none"; 
        textarea.value = ""; 

        if ( success ){ alert( ' 클립보드에 복사되었습니다. \n "Ctrl+v"를 사용하여 원하는 곳에 붙여넣기 하세요. ' ); } 
        else {    alert( " 복사하지 못했습니다. " );    } 

} 

</script>
<!--div style="display: none;"><textarea id="myClipboard"></textarea></div>
<br>
<center>
이 글의 트랙백 주소 복사하기
<p onclick="CopyToClipboard( this, myClipboard )"> http://www.cidermics.com/lecture/detail</p></center-->
		
		<div class="contents container">
				<div class="row like" align="center">
					<div class="fb-like" data-href="http://www.cidermics.com/lecture/detail/2" data-layout="box_count" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
				</div>
		</div>
		
		
		
		
		
		<div class="banner">
		<div class="swiper-container">
						<div class="swiper-wrapper">						
								<div class="swiper-slide"><a href="/finance"><img class="img-responsive" src="/page_imgs/main_img/consulting.jpg"></a></div>
								<div class="swiper-slide"><a href="/appdown"><img class="img-responsive" src="/page_imgs/main_img/appbanner2.jpg"></a></div>
						</div>
						<!-- Add Pagination -->
						<div class="swiper-pagination"></div>
		</div>
		</div>
<!-- Swiper JS -->
<script src="/js/swiper.js"></script>
<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 10,
				//effect: 'fade',
        centeredSlides: true,
        <!--autoplay: 9000,-->
        autoplayDisableOnInteraction: false
    });
</script>

		<div class="row professor-introduce" style="padding:10px;">
				<div class="col-xs-12 mob-professor-con">
						<div class="row">
								<div class="col-xs-12 class="img-responsive" professor-picture" align="center"><img width="80" src="/page_imgs/employee_profile/planner2.jpg"></div>
								<div class="col-xs-12 professor-intro" align="left" style="height:190px; padding-top:5px;">
										<p>강사 : 안민관</p>
										<p>finance@cidermics.com</p>
										<p>재무 상담 경력 5년,주식 투자 경력 7년,증권사 투자권유 대행인,펀드투자상담사,생명보험 / 손해보험 / 변액보험,세무 / 회계 자격 보유<br>
										<br>기존의 강의와는 달리 부모님과 소통을 통해 함께 고민하고 <br>해결책을 찾을 수 있는 강연을 만들어보려 합니다.</p>
								</div>
						</div>
				</div>
				<div class="col-xs-12 web-professor-con">
						<div class="row">
								<div class="col-xs-2 class="img-responsive" professor-picture"><img height="135" src="/page_imgs/employee_profile/planner2.jpg"></div>
								<div class="col-xs-6 professor-intro" align="left" style="height:150px; padding-top:3px;">
										<p>강사 : 안민관</p>
										<p>finance@cidermics.com</p>
										<p>재무 상담 경력 5년,주식 투자 경력 7년,증권사 투자권유 대행인,펀드투자상담사,생명보험 / 손해보험 / 변액보험,세무 / 회계 자격 보유<br>
										<br>기존의 강의와는 달리 부모님과 소통을 통해 함께 고민하고 <br>해결책을 찾을 수 있는 강연을 만들어보려 합니다.</p>
								</div>
						</div>
				</div>
		</div>

		
		<div class="container apply" align="center">
				<div class="apply-date" align="left">
						<p>날짜</p>
						<div class="line2"></div>
						<p class="font-color-666">2016.11.18(금)  /  2016.11.19(토)<br> 총 2회 진행</p>
				</div>
				<div class="line3"></div>
				<div class="apply-place" align="left">
				<p>장소</p>
						<div class="line2"></div>
						<p class="font-color-666">인지어스 커리어센터 (선릉역)</p>
						<div><img class="map img-responsive" src="/page_imgs/lecture_img/map1.jpg"></div>
				</div>
				<div class="line3"></div>
				<div class="apply-time" align="left">
				<p>강연시간</p>
						<div class="line2"></div>
						<p class="font-color-666">14:00 ~ 15:30 PM </p>
				</div>
				<div class="line3"></div>
				
				
				<div class="apply-money" align="left">
				<p>수강료</p>
						<div class="line2"></div>
						<p class="font-color-666">무료</p>
						<p class="font-color-666">선착순 50명 각각 25명</p>
						<!--p class="font-color-666">(쿠폰할인가) \120,000</p-->
				</div>
				
				<div class="line3"></div>
				
				<!--div class="line2"></div>
					<p class="apply_no">신청자 현황 </p>
					<p class="apply_no">(18일 강의) 현재  <span style="color: rgb(255, 0, 0);">"<%= lecture[0].appno%>"</span>명이 신청하였습니다.</p>
					<p class="apply_no">(19일 강의) 현재 <span style="color: rgb(255, 0, 0);">"<%= lecture2[0].appno%>"</span>명이 신청하였습니다.</p>
				<div class="line2"></div-->

				
				<div class="line3"></div>
				<div class="apply-deposit">
					<!--a href="/lecture/apply/2"><p>신청하기</p-->
					<a href="#" onclick="alert('무료 세미나가 마감되었습니다. 더 좋은 세미나로 찾아뵙겠습니다.')"><p>신청하기</p>
				</div>
				
				<div class="line3"></div>
				<div class="apply-question">
				<a href="#" onClick="javascript:openWinKA();"><p>카톡문의<br><span>옐로우ID:@사이다경제</span></p></a>
				</div>
				
				<div class="line3"></div>
				<div class="btn-apply-cancle">
					<!--a href="/lecture/cancel"><p>취소 요청</p-->
					<a href="#" onclick="alert('무료 세미나가 마감되었습니다. 더 좋은 세미나로 찾아뵙겠습니다.')"><p>취소 요청</p>
				</div>
		</div>
		</div>
</div>



<% include ../bottom %>

</body>
</html>
