<!DOCTYPE html>
<html>
  <head>
  <!-- Google Tag Manager -->
<!--script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KZ5KCJV');</script-->
<!-- End Google Tag Manager -->


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82643610-1', 'auto');
  ga('send', 'pageview');

</script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
<!--script type="text/javascript">
    	$('ul.category-large').on('click', 'li.category-item', function() {
var name = $(this).find('a').text();
ga('send', {
hitType: 'event', //이벤트라고 명시
eventCategory: 'home', //메인 화면에서 일어나는
eventAction: 'menu', //메뉴
eventLabel: 'name' //카테고리명
});
});
    </script-->
  </head>
  <body>
  <!-- Google Tag Manager (noscript) -->
<!--noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KZ5KCJV"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript-->
<!-- End Google Tag Manager (noscript) -->

    <ul class="category-large">
    <li class="category-item"><a href="/finance/" onclick="ga('send','event','전체','링크클릭','전체','1')">전체</a></li>
    <li class="category-item"><a href="/" onclick="ga('send','event','전집','링크클릭','전집1','1')">전집</a></li>
    <li class="category-item"><a href="/discuss" onclick="ga('send','event','유아책','링크클릭','유아책1','1')">유아책</a></li>
</ul>
  </body>
</html>
