<!DOCTYPE html>
<html lang="ko">
<head>
	
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1"-->

<!--meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" /-->
<!--구글 애널리틱스 -->

<script language='javascript'> 
function after_load() 
{ 
setTimeout("alert('강의가 마감되었습니다! 많은 관심 감사드립니다.');history.back();", 100); 
	//setTimeout("history.back();", 100); 
} 
</script> 
<body onload="after_load();">

</body>
</html>
