body{/*font-family: 'Nanum Gothic', serif;*/}
.bg-blue{background-color:#1b87c9;}
.bg-white{background-color:#ffffff; box-shadow:0 8px 10px rgba(0, 0, 0, 0.8);}
br{line-height:1.5em;}
.padding-lr0{padding-left:0 !important; padding-right:0 !important;}
.margin-lr0{margin-left:0 !important; margin-right:0 !important;}

.menu{margin-top:70px;}

.appbanner-bg{position:relative; background-image:url(/page_imgs/main_img/bg-appbanner2.jpg); background-repeat:no-repeat; background-size:100%; width:100%; height:auto; max-width:2000px; max-height:700px;}
.appbanner-bg .ul-place{width:100%; height:auto; position:absolute; z-index:100; right:12%; bottom:6%;}
.appbanner-bg ul li{ width:22%; text-align:center; float:right; list-style:none;}
.appbanner-bg ul li img{width:100%; max-width:427px;}


/*검색 부분*/
.contents .con-search{margin:120px 0; font-size:16px; font-weight:bold;}
.contents .con-search .search-title p{
	padding: 10px 0;
    margin: 30px 0 20px 0;
    font-size: 16px;
    color: #ff574a;
    border-bottom: 3px solid #ff574a;
    font-weight:900}
    

/*인기*/
.main-contents{background-color:#ffffff; box-shadow:0 8px 10px rgba(0, 0, 0, 0.8); padding-top:50px;}
.main-contents .contents-menu .menu img{margin:0 15px 20px 15px;}
.main-contents .contents{font-size:14px; text-align:center; font-weight:bold;}
.main-contents .contents div div p{margin-top:20px;}
.main-contents .contents .icon-plus_con{margin:60px 0 50px 0;}
.main-contents .contents-mob_menu{display:none;}
.contents .popular-title p{padding:10px 0; margin:30px 0 20px 0; font-size:16px;
color:#ff574a; border-bottom:3px solid #ff574a; font-weight:900;}
/*.con-img{background-color:#000;}*/
.main-contents .con-img img{width:100%;}
.icon-plus_con img{width:30px; margin-bottom:80px;}

/*콘텐츠 디테일 부분*/
.mob-header{display:none;} 
.ad{width:100%; height:8px; background-color:#ececec;}

.parallax3 {
    /* Set a specific height */
    min-height: 400px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:70px;
    color:#fff;
    font-weight:bold;
}
.parallax3 .conthum-black-box{width:100%; height:400px; position:absolute; z-index:2; background-color:rgba(0,0,0,0.5);}
.parallax3 .title{font-size:30px; width:100%; height:auto; position:absolute; z-index:3; top:35%;}
.parallax3 .info{font-size:16px; width:100%; height:auto; position:absolute; z-index:3; bottom:2%;}
.contents{width:85% !important;}
.contents .contents-in{margin-top:30px; padding:0 15px;}
.contents .contents-in img{width:50%;}/*img 빼기*/
.editor-introduce{margin-top:30px; width:85% !important;}
.editor-introduce .line-1px{width:100%; height:1px; background-color:#1b87c9;}
.mob-editor-con{display:none;}
.editor-introduce .web-editor-con{height:180px; border:solid 1px #1b87c9; border-radius:10px; margin:20px 0; padding-top:20px;}
.web-editor-con .editor-intro{padding-top:20px;}
.web-editor-con .editor-intro p{height:30px;}
.web-editor-con .editor-sns img{margin:30px 0 0 5px;}
.like .number-like{width:60px; height:30px; border:1px solid #CCCCCC; border-radius:5px; padding-top:5px; margin-top:65px; float:inherit;}
.comment{width:85% !important; margin:60px 0 20px 0;}
.pre-next{margin:70px 0 70px 0; width:85% !important;}
.pre-next .con-pre{height:150px; background-color:#1b87c9; color:#FFFFFF; font-size:16px;}
.con-pre p{margin-top:10px;}
.con-pre p.pre-title{font-size:18px; line-height:1.5em;}
.pre-next .con-next{height:150px; background-color:#c3c0c0fc; color:#000000; font-size:16px; border: 1px solid #988585;}
.con-next p{margin-top:10px;}
.con-next p.next-title{font-size:18px; line-height:1.5em;}
.recommendation{font-size:16px; text-align:center; font-weight:bold; margin-top:50px;}
.recommendation-con{width:86% !important;}
.recommendation .recommendation-title p{margin:30px 0 20px 0; font-size:18px; padding-bottom:10px;
color:#212121; border-bottom:4px solid #ececec; font-family:'Godo'; font-weight:400;}
/*.recommendation div{margin:10px 0 50px 0;}*/
.recommendation p{margin-top:20px;}
.recommendation a:hover{color:#333;}
.contents_detail-mob_menu {display:none;}
.contents iframe{width:100% !important;}
.banner{margin:30px 0;}
/*.con-img{background-color:#000;}*/
.con-img img{width:100%;}

/*팟캐스트*/
.podcast-main{margin-top:70px; /*font-family:'BM JUA','배달의민족 주아',sans-serif;*/ font-weight:bold;}
.podcast .padcast-title{font-size:18px; color:#212121; border-bottom:4px solid #ececec; margin:20px 0; font-family:'Godo'; font-weight:400;}
.podcast .padcast-title img{margin:20px 0;}
.podcast-con{margin:20px 0;}
.podcast-con .con-in{padding:0 30px; margin-bottom:30px; font-size:16px;}
.podcast-con .con-in .thum-img{padding-left:0 !important; padding-right:0 !important;}
.podcast-con .con-in .thum-img img{border:0 solid; border-radius:5px;}
.podcast-con .con-plus p{width:200px; background-color:#e68a82; margin-top:50px;
border:4px solid #ececec; border-radius:10px; color:#fff; font-size:18px; padding:10px 0;}
.podcast-con .pod-radio{margin-bottom:40px; font-size:16px; font-family:'Godo'; font-weight:400;}
.podcast-con .pod-radio1, .pod-radio2{border:2px solid #e68a82; border-radius:5px; width:150px; padding:5px 0}
.podcast-con .pod-radio1 p, .pod-radio2 p{margin:0;}
.podcast-con .pod-radio img{margin-bottom:5px;}
.podcast-con .pod-radio a p:hover{color:#ff574a;}

/*기획 콘텐츠*/
.project-main{margin:60px 0;}
.project-title{border-bottom:4px solid #ececec; font-size:18px; color:#212121; margin:20px 0; font-family:'Godo'; font-weight:400;}
.project-title img{margin:20px 0;}
./*project-con .banner img{width:100%;}*/
.project-con .con-plus p{width:200px; background-color:#ececec; margin:50px 0 40px 0;
border:4px solid #1b87c9; border-radius:10px; color:#1b87c9; font-size:18px; padding:10px 0;}
.project-in{margin:100px 0;}
.project-in .banner img{width:100%;}
.project-in .con-in .con-img{border:2px solid #ececec; border-radius:6px; margin-bottom:40px;}
.project-in .con-in .con-title
{
	overflow: hidden; 
	text-overflow: ellipsis;
	white-space: nowrap; 
	width: 96%;
	margin:8px 0;
	font-size:16px;
}
.project-in .con-in a:hover{color:#1b87c9;}

/*책 콘텐츠*/
.books-main{margin:50px 0;}
.books-title{border-bottom:4px solid #ececec; font-size:18px; color:#212121; margin:20px 0; font-family:'Godo'; font-weight:400;}
.books-title img{margin:20px 0;}

@media all and (max-width:1024px) {
.menu{margin-top:0;}	
	
/*검색 부분*/
.contents .con-search{margin:30px 0 50px 0;}
.contents .con-search .search-title p{width:95%;}

/*인기*/
.main-contents{padding-top:60px;}	
.main-contents .contents-menu{display:none;}
.main-contents .contents .icon-plus_con{margin:10px 0 30px 0;}
.main-contents .contents .icon-plus_con img{height:80px;}
.main-contents .contents .row .col-sm-4, .col-xs-6{padding:0 5px 0 5px;}
.main-contents .contents-mob_menu{display:block;}
.contents .popular-title p{margin:0 0 20px 0; width:95%;}
.icon-plus_con img{width:35px; margin-bottom:40px;}

/*콘텐츠 디테일 부분*/
.mob-bg-blue{background-color:#1b87c9; height:100%;}
.mob-bg-gray{background-color:#f4f4f4; height:100%;}
.mob-bg-white{background-color:#fff; width:95%; box-shadow:0 0 20px rgba(0, 0, 0, 0.8); margin-bottom:10px; border-radius: 0px;}

.parallax3{margin-top:0; min-height:250px;}
.parallax3 .conthum-black-box{height:250px;}
.parallax3 .title{font-size:22px;}
.parallax3 .info{font-size:12px;}
.contents .contents-in{padding:0 8px;}
.contents{width:100% !important;}	
.contents_detail-mob_menu {display:block;}
.contents .contents-in img{width:100% !important;}/*img 빼기*/
.web-editor-con{display:none;}
.mob-editor-con{display:block;}
.editor-introduce{width:100% !important;}
.editor-introduce .mob-editor-con{height:auto; border:solid 1px #1b87c9; border-radius:10px; margin:10px 0; padding:10px;}
.mob-editor-con .editor-intro{margin:20px 0 5px 0;}
.mob-editor-con .editor-sns img{margin-left:5px;}
.web-main-banner{display:none;}
.mob-main-banner{display:block;}
.mob-main-banner{margin:20px 0 50px 0;}
.mob-main-banner p{font-family: "BMD", sans-serif; font-size:16px; color:#1b87c9; margin:20px 0 5px 5px;}
.like .btn-like img{width:50px;}
.comment{width:98% !important; margin:30px 0 20px 0}
.pre-next{margin:30px 0 20px 0; width:98% !important;}
.pre-next .con-pre{width:50%; font-size:12px;}
.con-pre p{margin-top:10px;}
.con-pre p.pre-title{font-size:14px; line-height:1.5em;}
.pre-next .con-next{width:50%; font-size:12px; margin-left:0;}
.con-next p{margin-top:10px;}
.con-next p.next-title{font-size:14px; line-height:1.5em;}
.title-recommendation{font-size:16px;}
.recommendation{font-size:16px; width:100%; margin-top:15px;}
.recommendation-con{width:100% !important;}
.recommendation .recommendation-title p{width:95%; border-bottom:3px solid #ececec;  padding-bottom:0;}
/*.recommendation div{margin:10px 0 10px 0;}*/
.recommendation p{margin-top:10px;}
.contents .row .col-sm-4, .col-xs-6{padding:0 5px 0 5px;}
.contents iframe{height:100% !important;}

/*팟캐스트*/
.podcast-main{margin-top:50px;}
.podcast .padcast-title{margin-bottom:10px; font-size:16px;} 
.podcast .padcast-title img{margin:10px 0; width:100px;}
.podcast-con{margin:10px 0;}
.podcast-con .con-in{padding:0 5px; margin-bottom:15px; font-size:14px;}
.podcast-con .con-plus p{border:2px solid #ececec; width:80%; margin-top:30px; font-size:12px; padding:10px 0;}
.podcast-con .pod-radio{margin-bottom:10px; font-size:12px;}
.podcast-con .pod-radio img{width:20px;}

/*기획 콘텐츠*/
.project-main{margin:40px 0;}
.project-title{font-size:16px;}
.project-title img{margin:10px 0; width:80px;}
.project-con .con-plus p{border:2px solid #1b87c9; width:80%; margin-top:30px; font-size:12px; padding:10px 0;}
.project-con .banner{margin:10px 0; padding:0 5px;}
.project-in{margin:50px 0;}
.project-in .banner img{margin-bottom:20px;}
.project-in .con-in .con-img{margin-bottom:20px;}
.project-in .con-in .col-xs-6{padding:0 5px;}
.project-in .con-in .con-title{font-size:12px;}

/*책 콘텐츠*/
.books-main{margin:40px 0;}
.books-title{font-size:16px;}
.books-title img{margin:10px 0; width:100px;}

}
