body{font-family: 'Nanum Gothic', serif;}
.done{background-color:#f4f4f4; width:100%; height:auto; padding:60px 0;}
.done img{width:130px; margin-bottom:50px;}
.done .title{font-size:36px; font-weight:bold;}
.done .title span{font-size:26px; margin-left:10px;}
.done .line1{background-color:#1b87c9; width:300px; height:2px; margin-top:20px; margin-bottom:50px;}
.done .price{font-size:28px; font-weight:bold; color:#FF0000;}
.done .deposit-account{font-size:26px; font-weight:bold; color:#212121; margin-top:20px; line-height:1.5em;}
.done-input{font-size:16px; font-weight:bold;}
.done-input .caution{font-size:18px; color:#ff0000; margin:50px 0 20px 0;}
.done-input .row{margin-bottom:50px; border:#999999 2px solid; padding:30px; width:65%}
.done-input .row span{display:inline-block; width:120px;}
.done-input .num{height:80px;}
.done-input .name{height:80px;}
.done-input .cell{height:80px;}
.done-input .mail{height:30px;}
.done-input .name input{border:#1b87c9 1px solid; width:120px; height:30px; padding:5px; font-size:16px;}
.done-input .cell input{border:#1b87c9 1px solid; width:70px; height:30px; padding:5px; font-size:16px; margin:0 10px;}
.done-input .cell select{border:#1b87c9 1px solid; width:60px; height:30px; margin-right:10px; font-size:16px;}
.done-input .cell p{color:#FF0000; margin-top:15px; margin-left:125px; font-size:14px; margin-bottom:16px;}
.done-input .mail input{border:#1b87c9 1px solid; width:180px; height:30px; padding:5px; font-size:16px;}
.done-input .mail select{border:#1b87c9 1px solid; width:150px; height:30px; font-size:16px;}
.done-input .mail .mail1{margin-right:10px;}
.done-input .mail .mail2{margin-left:10px;}
.done-input .btn-apply{background-color:#1b87c9; width:150px; height:50px; border-radius:30px; color:#fff; font-weight:bold; font-size:18px; padding-top:12px; margin:50px 0;}
.done-input .btn-apply a{color:#fff;}
.apply-question p{background-color:#fce000; color:#212121 !important; width:200px; height:60px; border-radius:30px; color:#fff; font-weight:bold; font-size:18px; padding-top:10px; margin-bottom:50px;}
.apply-question p span{font-size:14px;}

.done img.canimg{width:130px; margin-bottom:50px;}
.done .advice{font-size:18px; color:#FF0000; margin-top:30px;}
.done-cancel{font-size:16px; font-weight:bold;}
.done-cancel .row{margin:50px 0; border:#999999 2px solid; margin-top:50px; padding:30px; width:65%;}
.done-cancel .num{height:60px;}
.done-cancel .name{height:60px;}
.done-cancel .cell{height:20px;}

@media all and (max-width:1024px) {
.done{padding:50px 0; margin-top:55px;}
.done img{width:80px; margin-bottom:30px;}
.done .title{font-size:26px; font-weight:bold; line-height:1.5em;}
.done .title span{font-size:20px;}
.done .deposit-account{padding:0 10px 0 10px; font-size:22px;}
.done .price{font-size:28px; font-weight:bold; color:#FF0000;}
.done .price input{width:200px;}
.done-cancle{width:95%;}
.done-input{width:100% !important; font-size:16px;}
.done-input .caution{line-height:1.8em; font-size:16px; margin:50px 0 0 0;}
.done-input .row{margin:10px 5px 50px 5px; padding:30px 5px; width:97%}
.done-input .row span{width:100px;}
.done-input .num{height:60px}
.done-input .name{height:60px;}
.done-input .cell{height:60px;}
.done-input .mail{height:20px;}
/*.apply-input .name span{display:block; margin-bottom:20px;}
.done-input .cell span{display:block; margin-bottom:20px;}
.done-input .mail span{display:block; margin-bottom:20px;}*/
.done-input .btn-apply{margin-top:60px; margin-bottom:20px;}

.done-cancel .row{width:97%;}
.done img.canimg{width:80px; margin-bottom:30px;}
}