@import url('https://cdn.rawgit.com/singihae/Webfonts/master/style.css');
body{font-family:'BM JUA','배달의민족 주아',sans-serif; font-size:16px;}
/*-----------------------------------*/
input[type=text]{height:2rem !important;}
textarea.materialize-textarea{padding:0.2rem 0 !important;}
/*-----------------------------------*/
.btn-home{width:120px; height:auto; background-color:#ececec; border:2px solid #ddd; border-radius:3px; color:#333; padding:8px;}
.main-banner{width:100%; height:auto; background-color:#ff574a; color:#fff; font-size:20px; padding:50px 0;}
.main-banner img{height:50px;}
.event{width:60%; color:#333; margin-top:30px; margin-bottom:5px; padding-left:10px;}
.survey{width:60%; height:auto; border:4px solid #ececec; padding:10px 40px;}
.survey .title{color:#ff574a; font-size:20px;}
.thanks{color:#333; font-size:18px;}
.submit{margin:50px 0; width:300px;}
.btn-submit{width:100px; height:auto; background-color:#ff574a; border:2px solid #ececec; border-radius:3px; color:#fff; padding:6px; margin:0;}

@media all and (max-width:800px) {
/*-----------------------------------*/
.container{width:98% !important;}
[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after{background-color:#ff574a !important;}
[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after{border:2px solid #ff574a !important;}
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ff574a !important;
  box-shadow: 0 1px 0 0 #ff574a !important;
}
input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #ff574a !important;
  box-shadow: 0 1px 0 0 #ff574a !important;
}
/*-----------------------------------*/
.main-banner{font-size:18px; padding:20px 0;}
.main-banner img{height:40px;}
.event{width:100%;}
.survey{width:100%; padding:10px 5px;}
.survey .title{font-size:18px;}
.thanks{font-size:16px;}
.submit{margin:30px 0; width:260px;}
}