body{/*font-family: 'Nanum Gothic', serif;*/}
.main-lecture{font-size:16px; text-align:center; font-weight:bold; margin-top:9px; margin-bottom:50px;}
/*.main-lecture .grid p{margin-top:30px;}*/
.main-lecture .grid li{width:100%;}
.main-lecture ul.lecture-width{width:60%;}
.main-lecture ul .con{margin-bottom:60px; /*border-left:#999999 1px solid; border-right:#999999 1px solid;*/  border-bottom:#000 1px solid; padding:10px 0;}
.main-lecture ul .con .money p{border:1px solid #333; width:120px; height:38px;border-radius:6px; color:#333; font-size:18px;}
.main-lecture ul .con .date p{margin-top:10px; font-size:14px;}
.con p{font-size:18px; line-height:1.8em;}
p.main-title{display:none;}
.banner{margin-top:70px;}
.parallax2 {
	margin-top:60px;
	padding:120px 0;
    /* The image used */
    /*background-image:url("/page_imgs/lecture_img/lecture-banner-bg.jpg");*/
    /*background-image:url("https://i.imgur.com/S0kjbHh.png");*/

    /* Set a specific height */
    min-height: 350px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
/*.lecture-banner-in{border:4px solid #fff; padding:30px 0; color:#fff; font-family: 'Jeju Gothic', serif;}
.lecture-banner-in img{width:60px;}
.lecture-banner-in .title1{margin:10px 0; padding-bottom:10px; font-size:16px; border-bottom:2px solid #fff;}
.lecture-banner-in .title2{margin-top:30px; font-size:20px;}*/

.lecture-banner-img img{width:450px; padding:20px 0}

/*디테일 페이지 부분*/
.btn-finbook{margin:50px 0 0 0;}
.finimg{margin-bottom:80px;}
.like{margin:0 0 50px 0;}

.lecture{margin-top:30px;}
.lecture .title p{margin-top:60px; font-size:28px; font-weight:bold;}
.lecture .line1{background-color:#1b87c9; width:300px; height:2px; margin-top:20px;}
.lecture .line2{background-color:#1b87c9; width:50px; height:4px; margin-top:20px;}
.lecture .contents{margin:40px 0; line-height:2.5em; font-family: "BMD";}
.lecture .contents .mob-img{display:none;}
.lecture .contents .web-img{display:block;}
.lecture .contents .con{font-family: 'Nanum Gothic', serif; color:#212121; font-size:16px; font-weight:600; margin-top:20px; width:80%; height:auto; border-radius:10px; padding:30px 0;}
.lecture .contents .qcon{font-family: 'Nanum Gothic', serif; color:#fff; font-size:19px; font-weight:600; margin-top:20px; width:70%; height:auto; border-radius:10px; padding:5px 0;}


.lecture .contents .q1{background-color:#173652; width:100%; padding:90px 0;}
.lecture .contents .q1 .title{font-size:24px; color:#fff;}
.lecture .contents .q1 .con{background-color:#f9a356; }
.lecture .contents .q2{background-color:#eee; width:100%; padding:90px 0;}
.lecture .contents .q2 .title{font-size:24px; color:#333;}
.lecture .contents .q2 .con{color:#fff; background-color:#508fc4;}
.lecture .contents .q3{background-color:#173652; width:100%; padding:90px 0;}
.lecture .contents .q3 .title{font-size:24px; color:#fff;}
.lecture .contents .q3 .con{background-color:#f9a356;}
.lecture .contents .q4{background-color:#eee; width:100%; padding:90px 0;}
.lecture .contents .q4 .title{font-size:24px; color:#333;}
.lecture .contents .q4 .con{color:#fff; background-color:#508fc4;}
.lecture .contents .q5{background-color:#173652; width:100%; padding:90px 0;}
.lecture .contents .q5 .title{font-size:24px; color:#fff;}
.lecture .contents .q5 .con{background-color:#f9a356;}

/*강의2*/
.lecture .lec2-title{font-size:24px; color:#333; padding:50px 0;}
.lecture .contents .lec2-question-main{background-color:#30303b; width:100%; padding:90px 0;}
.lecture .contents .lec2-question-main .title{font-size:24px; color:#fff;}
.lecture .contents .lec2-question-main .con{background-color:#fff;}
.lecture .contents .lec2-question-main .qcon{background-color:#fff; width:60%;}
.lecture .contents .lec2-question{background-color:#eee; width:100%; padding:50px 0;}
.lecture .contents .lec2-question .title{font-size:24px; color:#000;}
.lecture .contents .lec2-question .con{font-family: 'Nanum Gothic', serif; background-color:#fff;}
/*----*/

.lecture .btn-coupon{background-color:#1b87c9; width:200px; height:50px; border-radius:30px; color:#fff; font-weight:bold; font-size:18px; padding-top:12px; margin:20px 0;}
.lecture .apply{border:#ececec 4px solid; width:60%; padding:40px 20px 20px 20px; font-size:16px; font-weight:bold; margin-bottom:100px;}
.lecture .apply .apply-place .map{border:#1b87c9 2px solid;}
.lecture .apply .line2{background-color:#1b87c9; width:25px; height:2px; margin:5px 0 25px 2px;}
.lecture .apply .line3{border-top:1px #ececec solid; margin:25px 0;}
.lecture .apply .apply-deposit button {border:2px solid #1b87c9; background-color:#1b87c9; color:#fff; width:200px; height:auto; border-radius:40px; font-weight:bold; font-size:18px; padding:15px 0 10px 0;}
.lecture .apply .apply-deposit button:hover{border:2px solid #1b87c9; background-color:#fff; color:#212121;}
.lecture .apply .apply-question p{border:2px solid #fce000; background-color:#fce000; color:#212121 !important; width:200px; height:auto; border-radius:40px; color:#fff; font-weight:bold; font-size:18px; padding:10px 0;}
.lecture .apply .apply-question p:hover{border:2px solid #fce000; background-color:#fff; color:#212121 !important;}
.lecture .apply .apply-question p span{font-size:14px;}
.lecture .apply .btn-apply-cancle p{background-color:#ff7d7d; color:#efefef !important; width:200px; height:50px; border-radius:30px; color:#fff; font-weight:bold; font-size:18px; padding-top:12px;}
.font-color-666{color:#666;}
.point{color:#d8027c;}
.point1{color:#CE1417; font-size:18px;}
.point2{color:#ffacc9; font-size:18px;}
.thum_img{margin-bottom:40px; width:35%;}
.thum_video{margin-bottom:0px; width:100%; height:500px;}
.curriculum{margin:20px 0 65px 0; background-color:#eee; width:70%; height:auto; padding:50px 0 15px 0;}
.curriculum p{font-size:16px;}
.curriculum .title{font-size:22px; font-weight:bold; margin-bottom:20px;}
.curriculum .one, .two, .three, .four{font-size:16px; font-weight:bold; margin:35px 0;}
.professor-introduce{margin:30px 0 30px 0;}
.professor-introduce .line-1px{width:100%; height:1px; background-color:#2f8ecd;}
.mob-professor-con{display:none;}
.professor-introduce .web-professor-con{height:180px; border:solid 1px #2f8ecd; border-radius:10px; margin:20px 0; padding-top:20px;}
.web-professor-con .professor-intro{padding-top:20px;}
.web-professor-con .professor-intro p{height:16px;}
.web-professor-con .professor-sns img{margin:80px 0 0 5px;}
.lecture iframe{width:100% !important; height:100% !important;}
.finished{font-size:22px; color:#ff0000; font-weight:bold;}

/*신청 페이지 부분*/
.padding-0{padding:0 !important;}
.main-apply{background-color:#f4f4f4; width:100%; height:auto; padding:80px 0; margin-top:70px;}
.main-apply .title p{font-size:24px; font-weight:bold;}
.main-apply .line1{background-color:#1b87c9; width:300px; height:2px; margin-top:20px; margin-bottom:20px;}
.main-apply .price{font-size:36px; font-weight:bold; color:#FF0000;}
/*.apply .price input{ margin-right:10px;}*/
.main-apply .apply-btn-coupon button{background-color: initial; width:120px; height:35px; border-radius:2px; color:#1b87c9; font-weight:bold; font-size:16px; border:#1b87c9 1px solid; margin:20px; 0;}
.star1{color:#ff0000; margin-bottom:20px;}
.apply-input .row span .star{display:inline; color:#ff0000; margin-right:4px;}
.apply-input{font-size:16px; font-weight:bold;}
.apply-input .row{margin:50px 0; border:#cccccc 2px solid; margin-top:50px; padding:30px; width:70%;}
.apply-input .row span{display:inline-block; width:120px;}
.apply-input .name, .cell, .mail, .job{height:80px;}
.apply-input .name input{border:#1b87c9 1px solid; width:120px; height:30px; padding:5px; font-size:16px; border-radius:2px;}
.apply-input .cell input{border:#1b87c9 1px solid; width:70px; height:30px; padding:5px; font-size:16px; margin:0 10px; border-radius:2px;}
.apply-input .cell select{border:#1b87c9 1px solid; width:65px; height:30px; margin-right:10px; font-size:16px; border-radius:2px; color:#979797;}
.apply-input .mail input{border:#1b87c9 1px solid; height:30px; padding:5px; font-size:16px; width:130px; border-radius:2px;}
.apply-input .mail select{border:#1b87c9 1px solid; height:30px; font-size:16px; width:130px; border-radius:2px; color:#979797;}
.apply-input .mail .mail1{margin-right:10px;}
.apply-input .job input{border:#1b87c9 1px solid;  height:30px; padding:5px; font-size:16px; border-radius:2px;}
.apply-input .route input{border:#1b87c9 1px solid;  height:30px; padding:5px; font-size:16px; border-radius:2px;}
.apply-input .btn-apply{background-color:#1b87c9; width:150px; height:50px; border-radius:30px; color:#fff; font-weight:bold; font-size:18px; padding-top:12px; margin:50px 0;}
.apply-input .btn-apply a{color:#fff;}
.main-apply .deposit-account{font-size:30px; font-weight:bold; color:#212121; margin-top:30px; line-height:1.5em;}
.apply-cancle{border:#ececec 3px solid; width:600px; padding:30px 15px 15px 15px; font-size:16px; font-weight:bold; margin-bottom:50px;}
.apply-cancle .cancle-con{font-size:14px; color:#666;line-height:2.0em}
.privacy{width:600px; margin-bottom:100px; font-weight:bold; color:#FF0000;}
.privacy .privacy-title{font-size:18px; margin-top:20px;}
.privacy .privacy-con{font-size:16px; margin-top:20px; line-height:1.8em;}
.modal-title{color:#1b87c9;}
.modal-body{margin-top:20px;}
.modal-body input{border:#1b87c9 2px solid; height:50px; width:80%; border-top:none; border-left:none; border-right:none;}
.modal-body button{background-color:#1b87c9; width:55px; height:38px; border-radius:2px; color:#fff; font-weight:bold; font-size:16px; border:#1b87c9 1px solid; margin-left:10px;}
.modal-body p{font-size:16px; color:#f24646; margin:30px 0 20px 0; width:120px; height:auto; border-radius:15px; background-color:#ececec; padding:10px;}
.modal-lg{max-width:500px;}
.apply-cancel{background-color:#f4f4f4; width:100%; height:auto; padding:80px 0; font-size:24px; font-weight:bold;}
.apply-input-cancel .star1{color:#ff0000; margin-bottom:20px;}
.apply-input-cancel .row span .star{display:inline; color:#ff0000; margin-right:4px;}
.apply-input-cancel{font-size:16px; font-weight:bold;}
.apply-input-cancel .row{margin:50px 0; border:#cccccc 2px solid; margin-top:50px; padding:30px; width:70%;}
.apply-input-cancel .row span{display:inline-block; width:120px;}
.apply-input-cancel .num, .name, .cell{height:80px;}
.apply-input-cancel .num input{border:#1b87c9 1px solid; width:120px; height:30px; padding:5px; font-size:16px; border-radius:2px;}
.apply-input-cancel .name input{border:#1b87c9 1px solid; width:120px; height:30px; padding:5px; font-size:16px; border-radius:2px;}
.apply-input-cancel .cell input{border:#1b87c9 1px solid; width:70px; height:30px; padding:5px; font-size:16px; margin:0 10px; border-radius:2px;}
.apply-input-cancel .cell select{border:#1b87c9 1px solid; width:65px; height:30px; margin-right:10px; font-size:16px; border-radius:2px; color:#979797;}
.apply-input-cancel .btn-apply{background-color:#ff7d7d; width:150px; height:50px; border-radius:30px; color:#fff; font-weight:bold; font-size:18px; padding-top:12px; margin:50px 0;}
.apply-input-cancel .btn-apply a{color:#fff;}
.apply-input-cancel .reason div{padding:0;}
.apply-input-cancel .reason textarea{border:#1b87c9 1px solid; border-radius:2px; width:60%; height:100px; resize:none; margin-top:20px;}

/*할인쿠폰 페이지 부분*/
.sale{background-color:#f4f4f4; width:100%; height:auto; padding:170px 0;}
.sale .title p{font-size:24px; font-weight:bold;}
.sale .line1{background-color:#1b87c9; width:300px; height:2px; margin-top:20px; margin-bottom:20px;}
.sale .num img{width:100px; margin-top:50px;}
.sale .con img{width:70%; margin-top:50px; margin-bottom:80px;}
.btn-coupon{background-color:#1b87c9; width:200px; height:50px; border-radius:30px; color:#fff; font-weight:bold; font-size:18px; padding-top:12px; margin:20px 0;}

@media all and (max-width:1024px) {
body{font-family: 'Nanum Gothic', serif;}
.banner{margin-top:45px;}
p.main-title{
	display:block;
	font-family: "BMD", sans-serif;
    font-size: 16px;
    color: #1b87c9;
    margin:70px 0 5px 5px;
    }*/
.parallax2 {margin-top:45px; padding:50px 0; min-height:180px; }
/*.lecture-banner-in{border:2px solid #fff; padding:20px 0;}
.lecture-banner-in img{width:50px;}
.lecture-banner-in .title1{margin:10px 0; padding-bottom:10px; font-size:14px; border-bottom:2px solid #fff;}
.lecture-banner-in .title2{margin-top:20px; font-size:12px;}*/  
    
.lecture-banner-img img{width:100%; padding:0}    
    
.main-lecture .grid p{.margin-top:15px;}
.main-lecture ul.lecture-width{width:98%;}
.main-lecture ul .con{margin-bottom:20px;}
.main-lecture ul .con .date{padding:5px;}
.main-lecture ul .con .money{padding:16px 5px 0 0;}
.main-lecture ul .con .date p{margin-top:20px; font-size:12px;}
.main-lecture ul .con .money p{width:95px; height:auto; margin-top:0; margin-bottom:0; font-size:14px;}
.main-lecture .row .col-sm-4, .col-xs-6{padding:0 5px 0 5px;}

/*디테일 페이지 부분*/
.btn-finbook{margin:30px 0 0 0;}
.finimg{margin-bottom:30px;}
.like{margin:0 0 30px 0;}

.lecture{margin-top:0;}
.lecture .title p.finished{margin-top:80px;}
.lecture .title p{font-size:20px; line-height:1.8em; margin-top:20px;}
.lecture .line1{margin-top:0;}
.lecture .contents{margin:45px 0; line-height:2.0em;}
.lecture .contents .mob-img{display:block;}
.lecture .contents .web-img{display:none;}
.lecture .contents .con{font-size:14px; font-weight:900; width:98%; margin-top:0; padding:30px 0;}
.lecture .contents .q1{padding:40px 0;}
.lecture .contents .q1 .title{font-size:18px;}
.lecture .contents .q1 .con{}
.lecture .contents .q2{padding:40px 0;}
.lecture .contents .q2 .title{font-size:18px;}
.lecture .contents .q2 .con{}
.lecture .contents .q3{padding:40px 0;}
.lecture .contents .q3 .title{font-size:18px;}
.lecture .contents .q3 .con{}
.lecture .contents .q4{padding:40px 0;}
.lecture .contents .q4 .title{font-size:18px;}
.lecture .contents .q4 .con{}
.lecture .contents .q5{padding:40px 0;}
.lecture .contents .q5 .title{font-size:18px;}
.lecture .contents .q5 .con{}

/*강의2*/
.lecture .lec2-title{font-size:14px; padding:35px 0;}
.lecture .contents .lec2-question-main{padding:50px 0;}
.lecture .contents .lec2-question-main .title{font-size:24px;}
.lecture .contents .lec2-question-main .con{font-size:22px;}
.lecture .contents .lec2-question-main .qcon{width:85%;}
/*----*/

.lecture .apply{width:95%; border:#ececec 3px solid;}
.point{color:#d8027c;}
.point1{color:#CE1417; font-size:16px;}
.point2{color:#ffacc9; font-size:16px;}
.thum_img{width:80%}
.curriculum{width:98%; padding:50px 0 20px 0; line-height:1.8em;}
.curriculum p{font-size:14px;}
.curriculum .title{font-size:18px;}
.curriculum .one, .two, .three, .four{margin:20px 0; font-size:14px;}
.curriculum .two{font-size:14px;}
.curriculum .three{font-size:14px;}
.curriculum .four{font-size:14px;}
.web-professor-con{display:none;}
.mob-professor-con{display:block;}
.professor-introduce .mob-professor-con{height:auto; border:solid 1px #2f8ecd; border-radius:10px; margin:20px 0; padding:10px;}
.mob-professor-con .professor-intro{margin:10px 0 10px 0;}
.mob-professor-con .professor-sns img{margin-left:5px;}

/*신청 페이지 부분*/
.modal-lg{width:95%}
.modal-body{padding:2px !important;}
.modal-body input{width:220px;}
.main-apply{margin-top:55px;}
.main-apply .deposit-account{padding:0 10px 0 10px; font-size:22px;}
.main-apply .price{font-size:30px; font-weight:bold; color:#FF0000;}
/*.apply .price input{width:200px;}*/
.apply-cancle{width:95%;}
.privacy{width:95%}
.privacy .privacy-title{font-size:16px;}
.privacy .privacy-con{font-size:14px;}
.apply-input{width:100% !important; font-size:16px;}
.apply-input .row{margin:50px 5px 0 5px; padding:30px 5px; width:97%;}
.apply-input .row span{width:120px;}
.apply-input .name{height:70px;}
.apply-input .cell{height:100px;}
.apply-input .mail{height:130px;}
.apply-input .job{height:100px;}
.apply-input .route{height:100px;}
/*.apply-input .name span{display:block; margin-bottom:20px;}*/
.apply-input .cell span{display:block; margin-bottom:20px;}
.apply-input .cell input{margin:0 5px;}
.apply-input .mail span{display:block; margin-bottom:10px;}
/*.apply-input .mail input{width:110px;}*/
.apply-input .mail select{ margin-top:5px;}
.apply-input .mail .mail1{margin-right:5px;}
.apply-input .job span{display:block; margin-bottom:10px;}
.apply-input .route span{display:block; margin-bottom:10px;}
/*.apply-input .route input{width:50%}*/
.apply-input .btn-apply{margin-top:60px; margin-bottom:20px;}
.cancle p{width:95% !important;}
.apply-cancel{margin-top:55px;}
.apply-input-cancel .row{width:97%; padding:30px 5px;}
.apply-input-cancel .num{height:70px;}
.apply-input-cancel .name{height:70px;}
.apply-input-cancel .cell{height:100px;}
.apply-input-cancel .cell span{display:block; margin-bottom:20px;}
.apply-input-cancel .reason textarea{width:100%;}

/*할인쿠폰 페이지 부분*/
.sale{padding:100px 0;}
.sale .title p{margin-top:20px;}
.sale .num img{width:65px; margin-top:30px;}
.sale .con img{width:100%; margin-top:10px; margin-bottom:20px;}

}
