body{font-family: 'Nanum Gothic', serif;}
.mob_menu6_con{display:none;}
.parallax {
    /* The image used */
    background-image: url(http://i.imgur.com/wZSzkux.jpg);

    /* Set a specific height */
    min-height: 450px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom:20px;
}
.parallax .parallax-in{padding-top:130px; color:#fff; text-shadow: #444 0 1px 1px; font-weight:bold; font-size:24px;}
.parallax .parallax-in img{width:130px;}
#main {
  position:relative;
  background:#fff;
}
.menu6{margin:20px 0 40px 0;}
.menu6 p{font-weight:900; border:3px solid #1b87c9; border-radius:3px; padding:10px 5px; color:#808080;}
.menu6 a:hover p{background-color:#1b87c9; color:#fff;}
.line-3px{width:100%; height:2px; background-color:#ececec;}
.menu6_con div.new-con, div.popular-con, div.plan-con, div.podcast-con{padding:0 30px 20px 30px;}
.menu-title{margin-bottom:20px; font-weight:bold; padding:0 15px;}
.menu-title p.plus{color:#ff574a; margin:0 0 5px;}
.con-in .con-img{border:2px solid #ececec; border-radius:6px; margin-bottom:20px;}
.con-in .con-title
{
	overflow: hidden; 
	text-overflow: ellipsis;
	white-space: nowrap; 
	width: 96%;
	margin:8px 0;
	font-weight:bold;
	font-size:16px;
}
.con-in a:hover{color:#1b87c9;}
.error img.logo{margin:20px 0;}
.error .line{width:310px; height:1px; background-color:#1b87c9; margin:20px 0;}
.error p.sorry1{font-weight:bold; font-size:18px;}
.error p.sorry2{font-size:14px; margin-top:20px;}
.error .home{width:200px; height:auto; background-color:#1b87c9;
padding:10px 0; color:#fff; border-radius: 5px; font-size:16px; font-weight:bold;}

@media all and (max-width:1024px) {
.menu6_con{display:none;}
.mob_menu6_con{display:block;}
.parallax{display:none;}
.container-fluid{padding:0 !important;}
.menu6{margin:5px 0 10px 0;}
.menu6 p{border:2px solid #1b87c9; padding:6px 5px;}
.menu6 .col-xs-4{padding:0 2px; height:40px;}
.mob_menu6_con .menu-title{padding:0 10px; height:20px;}
.mob_menu6_con .con-in .con-title{font-size:12px;}
.error img.logo{margin-top:50px;}
}