body{/*font-family: 'Nanum Gothic', serif;*/}
.bg-blue{background-color:#1b87c9;}
.bg-white{background-color:#ffffff; box-shadow:0 8px 10px rgba(0, 0, 0, 0.8); padding-top:50px;}

.mob-main-banner{display:none;}
.team{color:#1b87c9;}
.team .title{margin-top:20px; font-size:26px;  margin-top:70px;}
.team .title span{font-size:22px; border-bottom:2px solid #ff574a; font-weight:900; padding-bottom:5px;}
.team .title p{font-size:18px; font-weight:bold; text-align:center; margin:50px 0 100px 0;}
.team .title p span{color:#ff574a; font-size:20px; border:none;}
.team .editor-intro{margin-bottom:100px;}
.team .editor-intro img.img-center {margin: 0 auto;}
.team .editor-intro .row div{margin-bottom:50px;}

.company{color:#1b87c9; padding-left:120px !important;}
.company .title{margin-top:20px; font-size:26px; margin-top:70px;}
.company .title span{font-size:22px; border-bottom:2px solid #ff574a; font-weight:900; padding-bottom:5px;}
.company .logo{margin:20px 0 20px 0;}
.company .contents{font-size:16px; font-weight:bold; line-height:2.0em; margin-bottom:250px;}
.company .contents span{font-size:18px; color:#1b87c9;}

.contact{color:#333;}
.contact .title{margin-top:20px; color:#2f8ecd; font-size:26px;  margin-top:70px;}
.contact .title span{font-size:22px; border-bottom:2px solid #ff574a; font-weight:900; padding-bottom:5px;}
/*.contact .map #googleMap{margin:20px 0 20px 0;}*/
.contact .contents{font-size:16px; font-weight:900; line-height:3.0em; color:#2f8ecd; width:60%; margin-bottom:100px;}
.contact .contents .title{font-size:22px;}
.contact .contents p{margin-bottom:-14px;}
.contact .contents span{font-size:20px; color:#666666;}


@media all and (max-width:1024px) {
.bg-blue{margin-top:0 !important; height:100%;}	
.bg-white{padding-top:80px;}
	
.main-menu{display:none;}
.web-main-banner{display:none;}
.mob-main-banner{display:block;}
.team{text-align:center;}
.team .title {margin-top:0;}
.team .title p{font-size:14px; font-weight:bold; text-align:center; margin:50px 0 100px 0; line-height:1.5em;}
.team .title p span{font-size:16px; border:none;}

.company{text-align:center; padding-left:5px !important; padding-right:5px;}
.company .title{margin-top:0;}

.contact .contents{width:100%; margin-top:50px;}
.contact .contents .Contact-Mail, .Report-Mail{margin-bottom:20px;}
.contact .title{text-align:center;  margin-top:0;}
}