body{/*font-family: 'Nanum Gothic', serif;*/}
.appbanner{display:none;}
.appbanner-bg{position:relative; background-image:url(http://i.imgur.com/5mXAWvJ.jpg); background-repeat:no-repeat; background-size:100%; width:100%; height:auto; max-width:2000px; max-height:700px;}
.appbanner-bg .ul-place{width:100%; height:auto; position:absolute; z-index:100; right:12%; bottom:6%;}
.appbanner-bg ul li{ width:22%; text-align:center; float:right; list-style:none;}
.appbanner-bg ul li img{width:100%; max-width:427px;}
.main-menu{background:url(http://i.imgur.com/9jD6LU4.jpg); background-size: cover;
 background-position: center; font-family: "BMD", sans-serif; color:#FFFFFF; width:100% !important; height:700px; margin-top:70px;}
.main-menu .mainlogoimg img{padding-top:120px;}
.main-menu p{font-size:38px; text-align:center; margin:60px 0 60px 0;}
.main-menu p span{color:#1B87C9;}
.main-menu .menu p{margin:10px 0 10px 0; font-size:28px;}
.main-menu .menu img{height:120px;}
.main-menu .menu img:hover{height:140px;}
.menu p a{color:#fff;}
.main-banner{margin-bottom:50px;}
.main-banner p{font-family: "BMD", sans-serif; font-size:16px; color:#1b87c9; margin:80px 0 10px 0;}
.contents{font-size:16px; text-align:center; font-weight:bold;}
.contents div div{margin:10px 0 10px 0;}
.contents div div p{margin-top:20px;}
.contents .icon-plus_con{margin:60px 0 50px 0;}
.contents_detail-mob_menu {display:none;}
/*.con-img{background-color:#000;}*/
.con-img img{width:100%;}
.icon-plus_con img{width:40px; margin-bottom:100px;}
.error img.logo{margin:20px 0;}
.error .line{width:310px; height:1px; background-color:#1b87c9; margin:20px 0;}
.error p.sorry1{font-weight:bold; font-size:18px;}
.error p.sorry2{font-size:14px; margin-top:20px;}
.error .home{width:200px; height:auto; background-color:#1b87c9;
	padding:10px 0; color:#fff; border-radius: 5px; font-size:16px; font-weight:bold;}

@media all and (max-width:1024px) {
.contents_detail-mob_menu {display:block;}
.main-menu{display:none;}
.appbanner{display:block; margin-bottom:10px;}
.appbanner-bg{background-image:url(http://i.imgur.com/gQIZCI8.jpg);}
.appbanner-bg .ul-place{left:50%; bottom:8%;}
.appbanner-bg ul li{width:42%; float:none;}
.main-banner{margin-bottom:10px;}
.main-banner p{font-family: "BMD", sans-serif; font-size:16px; color:#1b87c9; margin:20px 0 5px 5px;}
.contents div div{margin:10px 0 10px 0;}
.contents div div p{margin-top:10px;}
.contents .icon-plus_con{margin:10px 0 30px 0;}
.contents .icon-plus_con img{height:80px;}
.contents .row .col-sm-4, .col-xs-6{padding:0 5px 0 5px;}
.icon-plus_con img{width:35px; margin-bottom:40px;}
.error img.logo{margin-top:50px;}

}