body{font-family: 'Nanum Gothic', serif;}
.discuss-main{margin-top:100px;}
.discuss-main .title{font-size:20px; font-weight:bold; border:2px solid #ececec; padding:50px 0}
.discuss-con .mg-bot{margin-bottom:20px; padding-left:10px; padding-right:10px;}
.discuss-con .dis-title{width:100%; position:absolute; z-index:4; font-size:18px; font-weight:bold; top:30%; color:#fff; padding-left:0; line-height:1.5em;}
.discuss-con .dis-title p{width:65%;}
.discuss-con .dis-img{position:absolute; z-index:3; color:#fff; font-size:18px; bottom:5px; font-weight:bold; padding-left:0;}
.discuss-con .dis-img .dis-icon{border-top:2px solid #fff; padding:8px 20px 0 0;}
.discuss-con .dis-img .dis-icon p{margin-bottom:0;}
.discuss-con .dis-img img{width:30px; margin:0 5px 0 10px;}
.discuss-con .dis-bg-img{padding-left:0; padding-right:0;}
.discuss-con .dis-bg-img .dis-black-box{width:100%; height:100%; position:absolute; z-index:2; background-color:rgba(0,0,0,0.5); border-radius:6px;}
.discuss-con .dis-bg-img img{width:100%; position:relative; z-index:1; border:0 solid; border-radius:6px;}
@media all and (max-width:1024px) {

.discuss-con .dis-title{font-size:16px; padding-left:0; line-height:1.5em; top:30%}
.discuss-con .dis-title p{width:60%;}
.discuss-con .dis-img{font-size:14px;}
.discuss-con .dis-img img{width:25px;}

}

