@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@font-face {
    font-family: 'seoulhangangregular';
    src: url('../font/SeoulHangang.eot');
    src: url('../font/SeoulHangang.eot?#iefix') format('embedded-opentype'),
         url('../font/SeoulHangang.woff2') format('woff2'),
         url('../font/SeoulHangang.woff') format('woff'),
         url('../font/SeoulHangang.ttf') format('truetype'),
         url('../font/SeoulHangang.svg#seoulhangangregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
html{
  font-family: "Noto Sans Japanese", sans-serif;
  line-height:2.0em
}
.white{
  background-color: #0e0e0e !important;
  position: fixed;
  z-index: 1000;
}

nav ul a,
nav .brand-logo {
  color: #ffffff;
}

.side-nav a{
  padding: 0 30px;
  height: 50px;
  line-height:50px;
}

p {
  line-height: 2.5rem;
}

.button-collapse {
  color: #ffffff;
}
.button-collapse-home{float: right; position: relative; z-index: 1; color: #ffffff !important; }

.parallax-container {
  min-height: 500px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

/*----------스터디버젼2top----------*/
ul.sub li{width:120px; background-color:#000;}
ul.sub li:hover{background-color:#272d39;}
nav ul a:hover{background-color:rgba(0,0,0,0)}


/*----------스터디버젼2메인----------*/
.web-n{display:none}

body{color:#2b323f}
h4, h5, h6{line-height:1.5em}
.section0 h1{font-family: seoulhangangregular !important;}
.section0 h5 span{font-family: seoulhangangregular !important; border-bottom:1px solid #fff; padding-bottom:2px}
.section0 h6{line-height:1.5em}
.bg-color1{background-color:#2b323f; padding:100px 0}
.bg-color2{background-color:#f4f4f4; padding:100px 0 0 0}
.bg-color3{background-color:#f4f4f4; padding:100px 0}
.t-color1{color:#999}
.t-color2{color:#fff}

#section1 a{color:#fff}
#section1 span{border-radius:40px; display:inline-block; padding:2px 20px; margin-top:20px}
#menu-le, #menu-st, #menu-bo{border:4px solid #fff; opacity:0.6; width:31%; padding:40px 0 40px 80px; margin:40px 10px 20px 10px}
#menu-le:hover{border:4px solid #81afdc; opacity:1.0}
#menu-st:hover{border:4px solid #73c7a6; opacity:1.0}
#menu-bo:hover{border:4px solid #f58f8e; opacity:1.0}
.btn-more1{border:2px solid #81afdc;}
.btn-more2{border:2px solid #73c7a6;}
.btn-more3{border:2px solid #f58f8e;}

#section2 p{margin:40px 0}
#section2 .btn-cidermain{background-color:#0aa0f6; border:2px solid #0aa0f6; padding:10px 20px; color:#fff; display:inline-block;}
#section2 .btn-cidermain:hover{background-color:#f4f4f4; border:2px solid #0aa0f6; color:#0aa0f6;}
#section2 .img-section2{margin:100px 0 -9px 0}

#section3 a{color:#fff}
.btn-more4{border:2px solid #fff; padding:10px 50px; display:inline-block; margin-top:30px}
.btn-more4:hover{border:2px solid #0aa0f6;}
.point0{background-color:#0aa0f6; color:#80afdb; padding:5px 8px}
.point1{color:#80afdb; line-height:1.4em}
.point2{color:#73c7a6; line-height:1.4em}
.point3{color:#f58f8d; line-height:1.4em}
#section3 .m12 .row{margin-top:80px}
#section3 .s12 h5.text{margin-top:80px}

#section4, #section6{padding:100px 0}
#section4 img{margin-top:50px;}

#section5{padding:50px 0}
#section5 p{font-size:20px}
#section5 h5{font-size:20px; margin-bottom:60px}
#section5 img{margin:60px 0 30px 0}
#section5-1 h5.t-color2{margin-top:100px}
#leader-info .btn-more5{color:#fff; border:1px solid #0aa0f6; border-radius:6px; padding:10px 20px}
#leader-info .btn-more5:hover{background-color:#0aa0f6;}
#leader-info h5{font-size:20px; color:#0aa0f6; margin:20px 0}
#leader-info h5 span{font-size:26px; font-weight:bold}
#leader-info h6{color:#fff; margin-bottom:50px}


/*리더소개 슬라이드*/
#leader-info .m2{height:600px; padding-top:250px}
.slider {
  width: 500px;
  height: auto;
  overflow: hidden;
}
.slide-container {
  width: 1000px;
  height: auto;
}
.slide {
  float: left;
  width: 500px;
  height: auto;
  padding:20px 0;
  margin-top:40px;
  transition: transform 0.5s ease;
}



#section6 .text{margin-top:100px}

#section8 h5{margin-top:100px; line-height:2.0em}
#section8 span{color:#fff; border:2px solid #0aa0f6; padding:10px 30px; display:inline-block; margin-top:40px}
#section8 span:hover{background-color:#0aa0f6}
#section8-1{padding:100px 0 50px 0}
#section8-1 .img-space4{display:none;}
#section8-1 h5{margin-top:50px}

#section9{padding:100px 0}
#section9 h4{margin-bottom:100px}
#section9 span{border:2px solid #0aa0f6; border-radius:5px; padding:20px 40px; display:inline-block; margin-top:100px}

#section10 h4{margin-bottom:60px}
#section10 .margin1{margin:0 0 20px 0}
#section10 .m6{padding:0 20px}
#section10 .padding1{padding:0 30px; margin-top:40px}


@media only screen and (max-width : 1220px) {
#menu-le, #menu-st, #menu-bo{padding:20px 0 20px 20px; margin:20px 5px 10px 5px}

#section2 .img-section2{margin:300px 0 -9px 0}
}

@media only screen and (max-width : 1024px) {
h4{font-size:24px}
h5{font-size:18px}

#section1 span{margin-top:0}

#section2 .img-section2{margin:400px 0 -9px 0; opacity:0.2}


/*리더소개 슬라이드*/
.slider {
  width: 300px;
}
.slide-container {
  width: 600px;
}
.slide {
  width: 300px;
}

}

@media only screen and (max-width : 768px) {
.mob-n{display:none}
.web-n{display:block}

#parallax0 .parallax-container{min-height:450px; padding-top:25px}
#parallax0 .section0 h1{font-size:34px;}
.bg-color1{padding:50px 0}
.bg-color2{padding:50px 0 0 0}
.bg-color3{padding:50px 0}

#m-menu-le, #m-menu-st, #m-menu-bo{padding:10px 10px 25px 10px}
#section1 #m-menu-le{background-color:#384556; border-top:1px solid #fff; margin-top:40px}
#section1 #m-menu-st{background-color:#36484e; border-top:1px solid #fff; border-bottom:1px solid #fff;}
#section1 #m-menu-bo{background-color:#49404b; border-bottom:1px solid #fff; margin-bottom:-70px}
#section1 span{padding:0 20px}

#section2 p{margin:20px 0}
#section2 .img-section2{margin:350px 0 -9px 0;}

#section3 .m4 img{width:120px}
#section3 .m12 .row{margin-top:50px}
.btn-more4{padding:5px 30px; margin-top:10px}
#section3 .s12 h5.text{margin-top:40px;}

#section4, #section6{padding:50px 0}
#section4 img{margin-top:30px; margin-bottom:30px}

#parallax1 .parallax-container{min-height:1150px;}
#parallax1 .section.no-pad-bot{margin-top:0;}

#section5 p{font-size:16px}
#section5 h5{margin-top:40px}
#section5 img{margin:20px 0}
#section5 img.web-n{width:40%}
#section5-1 h4{font-size:20px}
#section5-1 h5.t-color2{margin-top:50px}
#leader-info{height:450px}
#leader-info h6{margin-bottom:30px}
#leader-info .btn-more5{font-size:14px;}

/*리더소개 슬라이드*/
#leader-info .m2{height:500px; padding-top:200px}
.slider {
  width: 200px;
}
.slide-container {
  width: 400px;
}
.slide {
  width: 200px;
  margin-top:20px; 
}

#section6 .text{margin-top:50px; font-size:20px}

#section8 h5{margin-top:40px}
#section8 span{margin-top:30px}
#section8-1{padding:40px 0 20px 0}
#section8-1 h5{margin-top:30px; font-size:16px}

#section9{padding:50px 0}
#section9 h4{margin-bottom:40px}
#section9 span{font-weight:bold; padding:15px 35px; display:inline-block; margin-top:20px}
#section9 img{margin-bottom:10px;}

#section10 .width1{height:80px}
#section10 h4{margin-bottom:30px; margin-top:-5px}
#section10 .margin1{margin:0 0 20px 0}
#section10 .margin2{margin-top:40px}
#section10 .m6{padding:0}
#section10 .padding1{padding:0 5px; margin-top:20px}

}

@media only screen and (max-width : 767px) {
#section2 .img-section2{margin:-390px 0 -9px 0;}

#section5 img.web-n{width:70%}

#section8-1 .img-space4{display:block;}	

/*리더소개 슬라이드*/
#leader-info .m2{height:400px; padding-top:180px}
.slider {
  width: 150px;
}
.slide-container {
  width: 300px;
}
.slide {
  width: 150px;
}


}
/*------스터디버젼2메인--------끝------*/




	/*희아가추가*/
	.map-bg{background-color:#f4f4f4; padding-bottom:100px}
	.map-title img{margin-top:80px;}
	.map-title h4{margin:0 0 50px 0}
	.place img{margin-bottom:20px}
	.place1{margin-top:50px}
	.map-margin1{margin:50px 0 30px 0}
	.event h5{line-height:2.0em;}
	.schedule .img1{width:60%; margin-top:50px;}
	.schedule .img2{margin-bottom:50px;}
	.img-event{margin:50px 0 50px 0; width:100%;}
	.header1{margin-top:60px;}

@media only screen and (max-width : 992px) {

	/*희아가추가*/
	.map-bg{padding-bottom:50px}
	.map-title img{height:80px; margin-top:30px;}
	.map-title h4{margin:0 0 30px 0}
	.map-margin1{margin:30px 0 0 0}
	.event h5{line-height:2.0em; font-size:16px;}
	.schedule .img1{width:100%; margin-top:30px;}
	.img-event{margin:30px 0 50px 0;}
	.header1{margin-top:0;}


	.parallax-container .section {
	  position: absolute;
	}
	#index-banner .section {
	  top: 10%;
	}
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

/* Main logo css */
@media only screen and (max-width : 600px) {
  nav .brand-logo {
    display: none;
  }
}
nav .brand-logo2{
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;;
  font-size: 2.1rem;
  padding: 0;
  white-space: nowrap;
}
@media only screen and (min-width : 600px) {
  nav .brand-logo2 {
    display: none;
  }
}


/* Main big text */

.ml4 {
  position: relative;
  font-weight: 500;
  font-size: 4.5em;
}
.ml4 .letters {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0.3em;
  right: 0;
  opacity: 0; 
}

/* main study list more btn center */
div #cent { position:relative; }
      #cm { position:absolute; }
      .hc { width:200px; left:0; right:0; margin-left:auto; margin-right:auto; } /* 가로 중앙 정렬 */
      .vc { height:40px; top: 0; bottom:130px; margin-top:auto; margin-bottom:auto; } /* 세로 중앙 정렬 */

@media only screen and (max-width : 600px) {
  .hc {left:40px;} /* 가로 중앙 정렬 */
  .vc {bottom:50px;}
}



/* side menu css */
.side-nav .user-view,.side-nav .userView{position:relative;padding:32px 32px 0;}
.side-nav .user-view .background, .side-nav .userView .background
{overflow:hidden;position:absolute;top:0;right:0;bottom:0;left:0;z-index:-1}
.divider{ height: 1px; overflow: hidden; background-color: #ddd; }


/*study list */
.card-name{
  color: #fff;
  position: absolute;
  bottom: 0;
  left:0px;
  padding: 20px;
}

.card-btn{
  color: #fff;
  position: absolute;
  bottom: 10px;
  right:10px;
  padding: 10px;
}

/*study index page list */
  .carousel{
    height: 500px;
  }
  .carousel .carousel-item{
      width: 500px;
    }
  @media only screen and (max-width : 600px) {
    .carousel .carousel-item{
      width: 300px;
    }
    .carousel{
     height: 300px;
    }
  }
  .carousel-content{
    background-color: #fff;
    padding: 20px;
  }
  .carousel-btn{
    color: #fff;
    position: absolute;
    top: 15px;
    right:10px;
  }
  .carousel-more{
    color: #fff;
    position: absolute;
    bottom: 15px;
    right:10px;
  }
  .carousel-title{
    color: #fff;
    position: absolute;
    top: 25px;
    left: 0px;
    padding: 20px;
    font-size: 22px;
    font-weight: 300;
  }
  .carousel-name{
    color: #fff;
    position: absolute;
    top: 95px;
    left:0px;
    padding: 20px;
  }
  .carousel-date{
    color: #fff;
    position: absolute;
    top: 125px;
    left:0px;
    padding: 20px;
  }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.teal{
  background-color:#0e0e0e !important;
}

/* FAQ collapsible popout */
.collapsible-body{
  padding:20px;
}
   .input-field input[type=text]:focus + label {
     color: #0288d1;
   }
      /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #0288d1;
     box-shadow: 0 1px 0 0 #000;
   }
   /* label focus color */
   .input-field input[type=email]:focus + label {
     color: #0288d1;
   }
      /* label underline focus color */
   .input-field input[type=email]:focus {
     border-bottom: 1px solid #0288d1;
     box-shadow: 0 1px 0 0 #000;
   }


/* study intro */

@media(max-width: 992px){
  #memshipweb{
    display: none;
  }
}
@media(min-width: 992px){
  #memshipmob{
    display: none;
  }
}





.gototop {
  padding:3px;
  display: block;
  z-index: 2;
  position: fixed;
  bottom: 37px;
  right: 5%;
  height: 50px;
  width: 50px;
}