<!DOCTYPE html>
<html>
  <head>
    <title>Cidermics admin</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel='stylesheet' href='/css/materialize.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/materialize.js"></script>
    
    <link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

  </head>
  <body>
  	<% var data= CP; %>
    <% include ../include/nav.ejs %>
    
    <div class="container">
    	<div class="button-area">
	    	<a href="/adm/lecture/insert" class="waves-effect waves-light btn">강의 등록</a>
	    	<a href="/adm/lecture/list" class="waves-effect waves-light btn">등록 명단</a>
	    	<!--a href="/adm/contents/delete" class="waves-effect waves-light btn">삭제</a-->
	    	<!--a href="/adm/contents/insert2" class="waves-effect waves-light btn">더미만들기</a>  
    	</div-->
    </div>
    
    
      
      
  </body>
</html>
