
<!--JS-->

<script src="/js/materialize.js"></script>

<script type="text/javascript">
  (function($){
  $(function(){ 

    $('.button-collapse').sideNav();
    $('.parallax').parallax();

  }); // end of document ready
})(jQuery); // end of jQuery name space

 // $('.fixed-action-btn').openFAB();
 // $('.fixed-action-btn').closeFAB();
 // $('.fixed-action-btn.toolbar').openToolbar();
 // $('.fixed-action-btn.toolbar').closeToolbar();
</script>

<style>
@media only screen and (min-width: 601px){
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i{
  line-height:60px;
}
}
</style>

<script>
$(function(){
    $("ul.sub").hide();
	 $("ul.menu li").hover(function(){
	    $("ul:not(:animated)",this).slideDown("fast");
		},
		function(){
		   $("ul",this).slideUp("fast");

		});
});	
 

$(document).ready(function(){
$('.community_menu').click(function(e){
      e.preventDefault();
      if($(this).is('.on')){
         $(this).removeClass('on');
         $('.community_sub_menu').slideDown();
         $('.community_menu').attr("src","/page_imgs/fixed_img/mob-menu-icons/mob-menu-down.png");
      }else{
         $(this).addClass('on');
         $('.community_sub_menu').slideUp();
         $('.community_menu').attr("src","/page_imgs/fixed_img/mob-menu-icons/mob-menu-up.png");  
      }
});
});

$(document).ready(function(){
	$('.community_menu1').click(function(e){
	   e.preventDefault();
	   if($(this).is('.on')){
	      $(this).removeClass('on');
	      $('.community_sub_menu1').slideDown();
	      $('.community_menu1').attr("src","/page_imgs/fixed_img/mob-menu-icons/mob-menu-down.png");
	   }else{
	      $(this).addClass('on');
	      $('.community_sub_menu1').slideUp();
	      $('.community_menu1').attr("src","/page_imgs/fixed_img/mob-menu-icons/mob-menu-up.png");  
	}
});
});

$(document).ready(function(){
	$('.community_menu2').click(function(e){
	   e.preventDefault();
	   if($(this).is('.on')){
	      $(this).removeClass('on');
	      $('.community_sub_menu2').slideDown();
	      $('.community_menu2').attr("src","/page_imgs/fixed_img/mob-menu-icons/mob-menu-down.png");
	   }else{
	      $(this).addClass('on');
	      $('.community_sub_menu2').slideUp();
	      $('.community_menu2').attr("src","/page_imgs/fixed_img/mob-menu-icons/mob-menu-up.png");  
	}
});
});
</script>

<!--구글 애널리틱스 -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82643610-1', 'auto');
  ga('send', 'pageview');

</script>

<!--amplitude -->
<script type="text/javascript">
  (function(e,t){var n=e.amplitude||{_q:[],_iq:{}};var r=t.createElement("script")
  ;r.type="text/javascript";r.async=true
  ;r.src="https://cdn.amplitude.com/libs/amplitude-4.1.0-min.gz.js"
  ;r.onload=function(){if(e.amplitude.runQueuedFunctions){
  e.amplitude.runQueuedFunctions()}else{
  console.log("[Amplitude] Error: could not load SDK")}}
  ;var i=t.getElementsByTagName("script")[0];i.parentNode.insertBefore(r,i)
  ;function s(e,t){e.prototype[t]=function(){
  this._q.push([t].concat(Array.prototype.slice.call(arguments,0)));return this}}
  var o=function(){this._q=[];return this}
  ;var a=["add","append","clearAll","prepend","set","setOnce","unset"]
  ;for(var u=0;u<a.length;u++){s(o,a[u])}n.Identify=o;var c=function(){this._q=[]
  ;return this}
  ;var l=["setProductId","setQuantity","setPrice","setRevenueType","setEventProperties"]
  ;for(var p=0;p<l.length;p++){s(c,l[p])}n.Revenue=c
  ;var d=["init","logEvent","logRevenue","setUserId","setUserProperties","setOptOut","setVersionName","setDomain","setDeviceId","setGlobalUserProperties","identify","clearUserProperties","setGroup","logRevenueV2","regenerateDeviceId","logEventWithTimestamp","logEventWithGroups","setSessionId"]
  ;function v(e){function t(t){e[t]=function(){
  e._q.push([t].concat(Array.prototype.slice.call(arguments,0)))}}
  for(var n=0;n<d.length;n++){t(d[n])}}v(n);n.getInstance=function(e){
  e=(!e||e.length===0?"$default_instance":e).toLowerCase()
  ;if(!n._iq.hasOwnProperty(e)){n._iq[e]={_q:[]};v(n._iq[e])}return n._iq[e]}
  ;e.amplitude=n})(window,document);

  amplitude.getInstance().init("bcda8248e089fcb637408ede604e0ad7");
</script>

<!-- 모달창 -->
<script>
$(document).ready(function(){
    $('.modal-trigger').leanModal();
});
</script>	
<style>
	.modal{width:400px;}
	.modal .modal-footer{background-color:#0aa0f5; padding-top:12px; color:#fff}	
	@media(max-width: 760px){
	.modal{width:90%;}
	}
</style>

				  
				  	
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <!--a href="/" class="button-collapse-home" style="line-height:0px;"><i class="material-icons center" style="font-size: 1.8rem; height:37px; line-height:42px;">home</i><span style="font-size:11px;">사이다경제 홈</span></a-->
      <a id="logo-container" href="" class="brand-logo"><img class="img-responsive" src="/page_imgs/study_img/logo-study.svg" width="80" style="padding-top:10px;"></a>
      <a id="logo-container" href="" class="brand-logo2"><img class="img-responsive" src="/page_imgs/study_img/logo-study.svg" width="70" style="padding-top:8px;"></a>
      <ul class="menu right hide-on-med-and-down">
		<li style="width:120px"><p><a href="/study">경매</a></p></li>
        <li style="width:120px"><a class="menu">부동산</a>
        	<ul class="sub">
             <li><p><a href="/study">행복주택</a></p></li>
        	 <li><p><a href="/study">부동산투자</a></p></li>
        	</ul>
        </li>
		<li style="width:120px"><p><a href="/study">회계</a></p></li>
        <li style="width:120px"><a class="menu">암호화폐</a>
        	<ul class="sub">
             <li><p><a href="/study">스팀잇</a></p></li>
        	 <li><p><a href="/study">블록체인</a></p></li>
        	</ul>
        </li>
        <li style="width:120px"><a class="menu">주식</a>
        	<ul class="sub">
             <li><p><a href="/study">왕초보주식</a></p></li>
        	 <li><p><a href="/study">중급</a></p></li>
        	 <li><p><a href="/study">미국주식</a></p></li>
        	</ul>
        </li>
	  </ul>
      

      <ul id="nav-mobile" class="side-nav">
        <div class="user-view">
        <div class="background">
        <img src="/page_imgs/study_img/background9.jpg">
        </div>
        <div align="center">
        <a href=""><img class="circle" src="/page_imgs/fixed_img/logo.svg" style="border-radius:10%;"></a>
        <!--a href="#!name"><span class="white-text name">John Doe</span></a-->
        <a href="#" style="padding:0px 0px; height:75px; line-height:95px;"><span class="white-text site">프리미엄스터디<b>경이로움</b></span></a>
        </div>
        </div>
        <li><p><a href="/study">경매</a></p></li>
        <div class="divider"></div>
        <li><a><b>부동산</b>
        <img class="community_menu" style="cursor:pointer; margin-left:10px; width:12px; display:inline-block" src="/page_imgs/fixed_img/mob-menu-icons/mob-menu-down.png">
        </a></li>
		<div class="community_sub_menu">
			<ul>
	            <li><p><a href="/study">행복주택</a></p></li>
	        	<li><p><a href="/study">부동산투자</a></p></li>
			</ul>
		</div>
        <div class="divider"></div>
        <li><p><a href="/study">회계</a></p></li>
        <div class="divider"></div>
        <li><a><b>암호화폐</b>
        <img class="community_menu1" style="cursor:pointer; margin-left:10px; width:12px; display:inline-block" src="/page_imgs/fixed_img/mob-menu-icons/mob-menu-down.png">
        </a></li>
		<div class="community_sub_menu1">
			<ul>
	            <li><p><a href="/study">스팀잇</a></p></li>
	        	<li><p><a href="/study">블록체인</a></p></li>
			</ul>
		</div>
        <div class="divider"></div>
        <li><a><b>주식</b>
        <img class="community_menu2" style="cursor:pointer; margin-left:10px; width:12px; display:inline-block" src="/page_imgs/fixed_img/mob-menu-icons/mob-menu-down.png">
        </a></li>
		<div class="community_sub_menu2">
			<ul>
	            <li><p><a href="/study">왕초보주식</a></p></li>
	        	<li><p><a href="/study">중급</a></p></li>
	        	<li><p><a href="/study">미국주식</a></p></li>
			</ul>
		</div>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse" style="margin:0px;"><i class="material-icons">menu</i></a>
      
    </div>
  </nav>