<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>사이다경제 스터디</title>
    
    <!--CSS -->
    <link rel='stylesheet' href='/css/materialize.css' />
    <link href="/css/std_style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--JS-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--script src="/js/materialize.js"></script-->

    <!-- 메인 문구 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

    <!-- 네이버 -->
    <meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- favicon -->
    <link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
    <link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

 

  <script src="/js/gotoup.js"></script>
  </head>
  <body>

  <div id="but_top"><a class="btn btn-floating  blue-grey darken-4"><i class="material-icons">arrow_upward</i></a></div>
  <% include std_top %>

  <style type="text/css">
  @media(max-width: 992px){
    #memshipweb{
      display: none;
    }
  }
  @media(min-width: 992px){
    #memshipmob{
      display: none;
    }
  }
  </style>


  <div class="parallax-container valign-wrapper" style="min-height: 300px;">
    <div class="section no-pad-bot" style="padding-top:75px; top:20%;">
      <div class="container" >
        <div class="row center">
          <h5 class="header col s12 light" style="font-weight: 500; font-size: 1.4rem;">한 달에 한 번 나는 경이롭게 달라진다</h5>
          <h4 class="header col s12 light" style="font-weight: 500; font-size: 1.4rem;">경이로움 스터디</h4>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/page_imgs/study_img/background5.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <div class="container" id="memshipweb">

    <div class="row center">
      <div class="col s12">
        <img class="responsive-img" src="/page_imgs/study_img/memi_img1.jpg">
      </div>
    </div>

    <div class="row">
      <div class="col s6">
        <img class="responsive-img" src="/page_imgs/study_img/memi_1.jpg">
      </div>
      <div class="col s6">
        <img class="responsive-img" src="/page_imgs/study_img/memi_1_1.jpg">
      </div>
    </div>

    <div class="row">
      <div class="col s6">
        <img class="responsive-img" src="/page_imgs/study_img/memi_2_1.jpg">
      </div>
      <div class="col s6">
        <img class="responsive-img" src="/page_imgs/study_img/memi_2.jpg">
      </div>
    </div>

    <div class="row">
      <div class="col s6">
        <img class="responsive-img" src="/page_imgs/study_img/memi_3.jpg">
      </div>
      <div class="col s6">
        <img class="responsive-img" src="/page_imgs/study_img/memi_3_1.jpg">
      </div>
    </div>

    <div class="row">
      <div class="col s6">
        <img class="responsive-img" src="/page_imgs/study_img/memi_4_1.jpg">
      </div>
      <div class="col s6">
        <img class="responsive-img" src="/page_imgs/study_img/memi_2.jpg">
      </div>
    </div>

    <div class="row">
      <div class="col s6">
        <img class="responsive-img" src="/page_imgs/study_img/memi_5.jpg">
      </div>
      <div class="col s6">
        <img class="responsive-img" src="/page_imgs/study_img/memi_5_1.jpg">
      </div>
    </div>

    <div class="row">
      <div class="col s6">
        <img class="responsive-img" src="/page_imgs/study_img/memi_6_1.jpg">
      </div>
      <div class="col s6">
        <img class="responsive-img" src="/page_imgs/study_img/memi_6.jpg">
      </div>
    </div>

    <div class="row">
      <div class="col s6">
        <img class="responsive-img" src="/page_imgs/study_img/memi_7.jpg">
      </div>
      <div class="col s6">
        <img class="responsive-img" src="/page_imgs/study_img/memi_7_1.jpg">
      </div>
    </div>

  </div>

  <div class="container" id="memshipmob">

    <div class="row center">
      <div class="col s12">
        <img class="responsive-img" src="/page_imgs/study_img/memi_img1m.jpg">
      </div>
    </div>


    <div class="row">
      <div class="col s12">
        <img class="responsive-img" src="/page_imgs/study_img/memi_1_1m.jpg">
      </div>
      <div class="col s12">
        <img class="responsive-img" src="/page_imgs/study_img/memi_1.jpg">
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <img class="responsive-img" src="/page_imgs/study_img/memi_2_1m.jpg">
      </div>
      <div class="col s12">
        <img class="responsive-img" src="/page_imgs/study_img/memi_2.jpg">
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <img class="responsive-img" src="/page_imgs/study_img/memi_3_1m.jpg">
      </div>
      <div class="col s12">
        <img class="responsive-img" src="/page_imgs/study_img/memi_3.jpg">
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <img class="responsive-img" src="/page_imgs/study_img/memi_4_1m.jpg">
      </div>
      <div class="col s12">
        <img class="responsive-img" src="/page_imgs/study_img/memi_2.jpg">
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <img class="responsive-img" src="/page_imgs/study_img/memi_5_1m.jpg">
      </div>
      <div class="col s12">
        <img class="responsive-img" src="/page_imgs/study_img/memi_5.jpg">
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <img class="responsive-img" src="/page_imgs/study_img/memi_6_1m.jpg">
      </div>
      <div class="col s12">
        <img class="responsive-img" src="/page_imgs/study_img/memi_6.jpg">
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <img class="responsive-img" src="/page_imgs/study_img/memi_7_1m.jpg">
      </div>
      <div class="col s12">
        <img class="responsive-img" src="/page_imgs/study_img/memi_7.jpg">
      </div>
    </div>

  </div>




  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"><b>내 삶이 경이로워지는 순간</b></h5>
          <h4 class="header col s12 light"><b>"경이로움"</b></h4>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/page_imgs/study_img/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>



  <% include std_bottom %>
</body>

</html>
