<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>사이다경제 경이로움 오시는길</title>
    
    <!--CSS -->
    <link rel='stylesheet' href='/css/materialize.css' />
    <link href="/css/std_style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--JS-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--script src="/js/materialize.js"></script-->

    <!-- 메인 문구 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <!-- 네이버 -->
    <meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- favicon -->
    <link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
    <link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
	
<!-- 구글맵 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApL28eYOAjGJwdSdWc90TGTQtQ0PZuov4" type="text/javascript"></script>
<script>
      function initialize() {

         var Y_point         = 37.5109643;      // Y 좌표
         var X_point         = 127.0648511;      // X 좌표

         var Y_point2         = 37.5042191;      // Y 좌표
         var X_point2         = 127.0384090;      // X 좌표

         var zoomLevel      = 17;                  // 지도의 확대 레벨 : 숫자가 클수록 확대정도가 큼

         var markerTitle      = "혜성빌딩";            // 현재 위치 마커에 마우스를 오버을때 나타나는 정보
         var markerTitle2      = "하나금융투자 Club1 금융센터"; 
         var markerMaxWidth   = 300;                  // 마커를 클릭했을때 나타나는 말풍선의 최대 크기

         // 말풍선 내용
         //var contentString   = '<div>' +
         //'<h5>경이로움 스터디</h5>'+
         //'<span>사이다경제가 운영하는 스터디를 통해<br />' +
         //   '경제로 놀고 말하고 즐겨보세요!</span><br /><br />' +
         //'<a href="http://www.cidermics.com/study" target="_blank">http://www.cidermics.com/study</a>'+ //링크도 넣을 수 있음
         //'</div>';

         var myLatlng = new google.maps.LatLng(Y_point, X_point);
         var mapOptions = {
                        zoom: zoomLevel,
                        center: myLatlng,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
         }
         var map = new google.maps.Map(document.getElementById('map_view'), mapOptions);

         var marker = new google.maps.Marker({
                                       position: myLatlng,
                                       map: map,
                                       title: markerTitle
         });


         var myLatlng2 = new google.maps.LatLng(Y_point2, X_point2);
         var mapOptions2 = {
                        zoom: zoomLevel,
                        center: myLatlng2,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
         }
         var map2 = new google.maps.Map(document.getElementById('map_view1'), mapOptions2);

         var marker2 = new google.maps.Marker({
                                       position: myLatlng2,
                                       map: map2,
                                       title: markerTitle2
         });



         var infowindow = new google.maps.InfoWindow(
                                          {
                                             content: contentString,
                                             maxWidth: markerMaxWidth
                                          }
         );

         google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map, marker);
         });
         
      }
</script>
 

  <script src="/js/gotoup.js"></script>
  </head>
  <body onload="initialize()">

  <div id="but_top"><a class="btn btn-floating  blue-grey darken-4"><i class="material-icons">arrow_upward</i></a></div>

  <% include std_top %>


  <div class="parallax-container valign-wrapper" style="min-height: 300px;">
    <div class="section no-pad-bot" style="padding-top:65px; top:20%;">
      <div class="container" >
        <div class="row center">
          <h5 class="header col s12 light" style="font-weight:500;">경이로움으로</h5>
          <h6 class="header col s12 light">오시는길</h6>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/page_imgs/study_img/backgroundm3.jpg" alt="Unsplashed background img 1"></div>
  </div>
  
 <div class="map-bg"> 
  	<div align="center" class="map-title">
		<div><img class="responsive-img width1" src="/page_imgs/study_img/img-map-icon.jpg"></div>
		<h4><b>①역삼센터</b> 오시는길</h4>
	 </div>
	<div align="center">
		<img class="responsive-img mob-n margin1" src="/page_imgs/study_img/img-section10-title1.jpg">
		<img class="responsive-img web-n margin1" src="/page_imgs/study_img/m-img-section10-title1.jpg">
 	</div> 
	<div class="googleMap" align="center">
	  <div id="map_view1" style="height:400px;"></div>
	  <div align="right" style="margin:10px 10px 0 0">
	    <span>서울특별시 강남구 테헤란로 33길 39 1층 세미나실<br>[지번]서울특별시 강남구 역삼동 671-32</span>
	  </div>
	</div>
	<div class="container">
	  <div align="center">
			<img class="responsive-img padding1 map-margin1" src="/page_imgs/study_img/img-section10-1.jpg">
      <img class="responsive-img padding1 map-margin1" src="/semi/seminar-map.jpg">
	  </div>
	</div>

<div class="container" align="center">
  <div class="row center">
    <h5 class="place1">시설 소개</h5>
  </div>
  <div class="row place" style="margin-bottom:0">
    <div class="col l3 s6"><img class="materialboxed responsive-img" data-caption="시설" src="/semi/yeoksam1.jpg"></div>
    <div class="col l3 s6"><img class="materialboxed responsive-img" data-caption="시설" src="/semi/yeoksam2.jpg"></div>
    <div class="col l3 s6"><img class="materialboxed responsive-img" data-caption="시설" src="/semi/yeoksam3.jpg"></div>
    <div class="col l3 s6"><img class="materialboxed responsive-img" data-caption="시설" src="/semi/yeoksam4.jpg"></div>
  </div>
</div>
	

  	 <div align="center" class="map-title">
		<div><img class="responsive-img width1" src="/page_imgs/study_img/img-map-icon.jpg"></div>
		<h4><b>②삼성센터</b> 오시는길</h4>
	 </div>
	
	 <div align="center">
		<img class="responsive-img mob-n margin1" src="/page_imgs/study_img/img-section10-title2.jpg">
		<img class="responsive-img web-n margin1 margin2" src="/page_imgs/study_img/m-img-section10-title2.jpg">
	 </div>
	 
	 <div class="googleMap" align="center">
		<div id="map_view" style="height:400px;"></div>
		<div align="right" style="margin:10px 10px 0 0">
		  <span>서울특별시 강남구 영동대로96길 26<br>[지번]서울특별시 강남구 삼성동 169-8</span>
		</div>
	</div>
	<div class="container">
		<div align="center">
			<img class="responsive-img padding1 map-margin1" src="/page_imgs/study_img/img-section10-2.jpg">
		</div>
	</div>

<div class="container" align="center">
  <div class="row center">
    <h5 class="place1">시설 소개</h5>
  </div>
  <div class="row place" style="margin-bottom:0">
    <div class="col l3 s6"><img class="materialboxed responsive-img" data-caption="시설" src="/page_imgs/study_img/hana1.jpg"></div>
    <div class="col l3 s6"><img class="materialboxed responsive-img" data-caption="시설" src="/page_imgs/study_img/hana8.jpg"></div>
    <div class="col l3 s6"><img class="materialboxed responsive-img" data-caption="시설" src="/page_imgs/study_img/hana2.jpg"></div>
    <div class="col l3 s6"><img class="materialboxed responsive-img" data-caption="시설" src="/page_imgs/study_img/hana3.jpg"></div>
    <div class="col l3 s6"><img class="materialboxed responsive-img" data-caption="시설" src="/page_imgs/study_img/hana4.jpg"></div>
    <div class="col l3 s6"><img class="materialboxed responsive-img" data-caption="시설" src="/page_imgs/study_img/hana5.jpg"></div>
    <div class="col l3 s6"><img class="materialboxed responsive-img" data-caption="시설" src="/page_imgs/study_img/hana6.jpg"></div>
    <div class="col l3 s6"><img class="materialboxed responsive-img" data-caption="시설" src="/page_imgs/study_img/hana7.jpg"></div> 
  </div>
</div>
<div class="container" align="center">
  <div class="row center" style="margin-bottom:0">
    <br>
    <h5 style="margin-bottom:0">시설 후원</h5>
  </div>
  <div class="row">
    <div class="col s12"><img class="responsive-img" src="/page_imgs/study_img/hanalogo.png"></div>
  </div>
</div>

<!-- div class="container" align="center">
  <div class="row center">
    <h5 class="place1">시설 소개</h5>
  </div>
  <div class="row">
    <div class="col l3 s6"><img class="materialboxed responsive-img" data-caption="시설" src="/page_imgs/study_img/sb10.jpg"></div>
    <div class="col l3 s6"><img class="materialboxed responsive-img" data-caption="시설" src="/page_imgs/study_img/sb8.jpg"></div>
    <div class="col l3 s6"><img class="materialboxed responsive-img" data-caption="시설" src="/page_imgs/study_img/sb9.jpg"></div>
    <div class="col l3 s6"><img class="materialboxed responsive-img" data-caption="시설" src="/page_imgs/study_img/sb7.jpg"></div>
  </div>
  <div class="row">
    <div class="col l3 s6"><img class="materialboxed responsive-img" data-caption="시설" src="/page_imgs/study_img/sb6.jpg"></div>
    <div class="col l3 s6"><img class="materialboxed responsive-img" data-caption="시설" src="/page_imgs/study_img/sb2.jpg"></div>
    <div class="col l3 s6"><img class="materialboxed responsive-img" data-caption="시설" src="/page_imgs/study_img/sb4.jpg"></div>
    <div class="col l3 s6"><img class="materialboxed responsive-img" data-caption="시설" src="/page_imgs/study_img/sb3.jpg"></div>
  </div>
</div -->
</div>


<div class="container" style="margin: 50px auto;">
  <div class="row">
    <div class="col s12 center">
      <h3><i class="mdi-content-send brown-text"></i></h3>
      <h4>Inquiry 문의</h4>
      <p>궁금하신 사항을 아래</p><p>이메일, 카톡 플러스 친구, 신청폼 등으로 문의주시면,</p>
      <p>빠른시일 이내 답변을 드리겠습니다!</p>
      <br>
      <p class="center-align light">Contact Email : contact@cidermics.com</p>
      <p>빠른 답변 : 카카오 플러스친구<a href="https://pf.kakao.com/_mpxdIu">(@사이다경제)<i class="material-icons">forum</i></a></p>
      <p>Call : 02-2088-5754</p>
      <p>통화 문의 가능 시간 월~금 (11:00~20:00)</p>
    </div>
  </div>
  <div class="row">
    <form class="col s12" action="/study/ask" method="post" name="stdask">
      <div class="row">
        <div class="input-field col s12">Q&A</div>
        <div class="input-field col s12">
        <select name="stda_cate">
          <option value="" disabled selected>문의 카테고리</option>
          <option value="1">스터디</option>
          <option value="2">신청/환불</option>
          <option value="3">이벤트</option>
          <option value="3">기타</option>
        </select>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="name" type="text" class="validate" name="stda_name">
          <label for="name">이름</label>
        </div>
        <div class="input-field col s6">
          <input id="email" type="email" class="validate" name="stda_email">
          <label for="email">연락처</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="title" type="text" class="validate" name="stda_title">
          <label for="title">제목</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" name="stda_textarea"></textarea>
          <label for="textarea1">문의 내용</label>
        </div>
      </div>
      <button class="waves-effect waves-light btn light-blue darken-2" type="submit" name="action"><i class="material-icons left">send</i>보내기</button>
    </form>
  </div>
</div>

  <div class="container">
    <div class="input-field col s12">FAQ</div>
    <div class="row">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="material-icons">live_help</i>경이로움을 결제한 후에 무엇을 해야 하나요?</div>
          <div class="collapsible-body"><span>원하는 경이로움 강의를 결제하시면 담당 매니저가 수강 시작 1주일 ~ 3일 전에 단체 톡방에 초대해드립니다. 모임 당일에는 담당자가 다시 한번 장소와 시간을 안내해드립니다.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">live_help</i>경이로움 카페가 무엇인가요?</div>
          <div class="collapsible-body"><span>경이로움 카페<a href="https://cafe.naver.com/ciderstudy">(https://cafe.naver.com/ciderstudy)</a>에 가입하시면 본인이 참석하는 게시판에서 질문 및 다양한 정보를 얻어가실 수 있습니다. 과제가 있을 경우 모임전 과제를 확인하고 기간 내에 작성해서 업로드해야 합니다.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">live_help</i>인원은 몇 명인가요?</div>
          <div class="collapsible-body"><span>최소 5명에서 최대 30명까지입니다. 최소 인원을 채우지 못한 강의는 폐강되며 결제 금액은 환불됩니다. </span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">live_help</i>릴레이 세미나가 무엇인가요?</div>
          <div class="collapsible-body"><span>릴레이 세미나는 사이다경제가 매주(변동 없을 시 토요일 2시~4시) 매번 다른 주제로 진행하는 세미나입니다. 유료 결제 시 1~3만 원이며, 경이로움을 이용하시는 멤버분들은 강의 해당 기간 동안 무료로 이용하실 수 있습니다. <a href="https://cafe.naver.com/ciderstudy">https://cafe.naver.com/ciderstudy</a> 신청은 경이로움 카페의 '릴레이 세미나 신청' 게시판에서 하실 수 있습니다. *일정은 변동될 수 있습니다.<a href="http://www.cidermics.com/seminar">세미나 목록 보러가기 -> GO</a></span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">live_help</i>릴레이 세미나는 어떻게 신청하나요?</div>
          <div class="collapsible-body"><span> <a href="https://cafe.naver.com/ciderstudy">https://cafe.naver.com/ciderstudy</a> 경이로움 해당 카페의 '릴레이 세미나 신청' 게시판에서 참가 신청을 할 수 있습니다. 또는 단체 토크방에서 안내해드립니다.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">live_help</i>1+1 혜택이 무엇인가요?</div>
          <div class="collapsible-body"><span> <a href="https://cafe.naver.com/ciderstudy">https://cafe.naver.com/ciderstudy</a> 듣고 싶은 스터디가 또는 강의가 하나가 더 있다면 1(정가)+1(20%할인가) 혜택을 얻으실 수 있습니다. 또는 친구와 함께 신청한다면 한명은 20% 할인 혜택을 받을 수 있습니다. </span></div>
        </li>
        <!--li>
          <div class="collapsible-header"><i class="material-icons">live_help</i>경이로움 더하기는 어떻게 신청하나요?</div>
          <div class="collapsible-body">
            <span>정규 스터디를 결제하면 개별적으로 '카페' 주소가 전달됩니다. 해당 카페의 '경이로움 더하기 신청' 게시판에 글을 남겨주시기 바랍니다. 경이로움 더하기로 참여하려는 스터디가 15명 미만인 경우 1회 참가 신청이 완료되며 이후 참여 방법은 담당자가 개별적으로 안내해드립니다.</span>
            <p>[경이로움 더하기 운영방식]</p>
            <span>정규 스터디 결제를 완료하신 분에 한해서 다른 스터디에 참여할 수 있는 '경이로움 더하기' 기회가 제공됩니다. 경이로움 더하기 기회는 총 3번 제공되며 1개의 스터디에 3번을 참여하거나, 서로 다른 3개의 스터디에 1번씩 참여할 수 있습니다. 단, 정규 스터디 과제를 수행하지 않으면 경이로움 더하기를 신청할 수 없습니다.또한 경이로움 더하기로 신청한 스터디의 과제도 기간 내에 제출해야 스터디에 참여할 수 있습니다. </span></div>
        </li-->
        <li>
          <div class="collapsible-header"><i class="material-icons">live_help</i>환불 신청을 어떻게 하나요?</div>
          <div class="collapsible-body"><span>위의 [문의하기]에서 '신청/환불' 카테고리를 선택하시고 환불 요청글을 남겨주세요. </span>
            <p>[경이로움 환불 규정]</p>
          <p>1. 신청 강의 오픈 3일 전: 100% 환불</p>
          <p>2. 신청 강의 오픈 2일 전 ~ 정규 2회 참여 전까지: 금액의 3/4(강의) 환불 (카드,핸드폰 결제 수수료 포함 계산된 가격)</p>
          <p>3. 정규 강의 2회 참여 이후: 환불 불가</p>
          </div>
        </li>
      </ul>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"><b>내 삶이 경이로워지는 순간</b></h5>
          <h4 class="header col s12 light"><b>"경이로움"</b></h4>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/page_imgs/study_img/backgroundm3.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <% include std_bottom %>

</body>

</html>
