<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">사이다경제</h5>
        <p class="grey-text text-lighten-4">사이다경제는 어려운 경제를
              쉽고 시원하게 풀어드리는 뉴미디어를 지향합니다.
              경제에 대한 관심을 이끌고 금융지식을 전파하며
              건전한 금융생태계를 만들기 위해 앞장서고 있습니다.</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="http://cidermics.com/contact">사이다경제 문의</a></li>
          <li><a class="white-text" href="http://cidermics.com/study/map">경이로움 오시는 길</a></li>
          <li><a class="white-text" href="http://cidermics.com/study/faq">경이로움 관련 문의</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="http://m.post.naver.com/my.nhn?memberNo=31543081">네이버 포스트</a></li>
          <li><a class="white-text" href="https://1boon.daum.net/cidermics">카카오 1boon</a></li>
          <li><a class="white-text" href="https://www.facebook.com/cidermics">사이다경제 페이스북</a></li>
          <li><a class="white-text" href="https://pf.kakao.com/_mpxdIu">카카오 플러스친구</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright" style="height:180px; line-height:20px; padding:20px 0">
    <div class="container">
      <div class="row"> 
        <div class="col l4 s12">
        <span>(주)폴트 |  대표 김의현  | 02) 2088 - 5754 </span><br>
        <span> 사업자 등록번호 : 586-81-00920 <span>
        </div>
        <div class="col l4 s12">
        <span>파트너 제휴문의 : contact@cidermics.com</span><br>
        <span>사울특별시 강남구 테헤란로 33길 39 혜성빌딩 1층</span>
        </div>
        <div class="col l4 s12">
        <span> <a class="brown-text text-lighten-3" href="/personalinfo" style="color: #82878b;">개인정보처리방침</a> | <a class="brown-text text-lighten-3" href="/personalinfo" style="color: #82878b;">이용약관</a> </span><br>
        <span><a class="brown-text text-lighten-3" href="http://cidermics.com">사이다경제 웹사이트</a></span>
        </div>
      </div>
    </div>
  </div>
</footer>

