<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>사이다경제 스터디</title>
    
    <!--CSS -->
    <link rel='stylesheet' href='/css/materialize.css' />
    <link href="/css/std_style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--JS-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--script src="/js/materialize.js"></script-->

    <!-- 메인 문구 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

    <!-- 네이버 -->
    <meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- favicon -->
    <link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
    <link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

 

  </head>
  <body>
  <% include std_top %>

<style type="text/css">
    .screen-container4{background-color:#333; text-align:center; color: #fff; padding: 50px;}
    .section2{padding-top: 12rem; font-family:seoulhangangregular !important;}
  @media only screen and (max-width : 600px) {
    #h4title {
    font-size: 1.45rem !important;
     }
    }

  @media(max-width: 992px){
    #memshipweb{
      display: none;
    }
  }
  @media(min-width: 992px){
    #memshipmob{
      display: none;
    }
  }

</style>



  <div class="parallax-container valign-wrapper" style="min-height: 500px;">
    <div class="section no-pad-bot" style="padding-top:0px;">
      <div class="container" >
        <div class="row center">

          <h5 class="header col s12 light" style="font-weight: 500; font-size: 1.4rem;">경이로움이란 무엇인가?</h5>
          <h4 class="header col s12 light" style="font-weight: 500; ">"경제+이로움, 경이로움"</h4>
          <h4 class="header col s12 light" id="h4title" style="font-weight: 500; ">한 달에 한 번 나는 경이롭게 달라진다</h4>
          <h5 class="header col s12 light" style="font-weight: 500; font-size: 1.4rem;">사이다경제 스터디</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/page_imgs/study_img/background8.jpg" alt="Unsplashed background img 1"></div>
  </div>




  <div class="container" id="memshipweb">
    <div class="row center" style="margin:60px 0 60px;">
        <img class="responsive-img" src="/page_imgs/study_img/membgwebimg1.jpg">
        <a class="waves-effect waves-light btn light-blue darken-2">일정표 보기</a>
        <img class="responsive-img" src="/page_imgs/study_img/membgwebimg2.jpg">
    </div>
  </div>
  <div class="container" id="memshipmob">
    <div class="row center" style="margin:60px 0 60px;">
        <img class="responsive-img" src="/page_imgs/study_img/membgmobimg1.jpg">
        <a class="waves-effect waves-light btn light-blue darken-2">일정표 보기</a>
        <img class="responsive-img" src="/page_imgs/study_img/membgmobimg2.jpg">
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot" style="top:20%;">
      <div class="container">
        <div class="row center">
          <h4 class="header col s12 light"><b>경이로움 운영방식</b></h4>
          <h6 class="header col s12 light" style="font-size: 1.4rem; line-height: 160%;">1. 3개월 단위 시즌제로 운영됩니다. ‘스터디’에 신청하면 시즌 멤버십과 함께 추가 스터디 참여권과 릴레이 세미나 수강 기회가 무료로 제공됩니다.</h6>
          <h6 class="header col s12 light" style="font-size: 1.4rem; line-height: 160%;">2. 모든 멤버십 회원들은 ‘사모임’과 BIG 소셜파티 등에 참석해 특별한 네트워킹을 만들 수 있습니다.</h6>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/page_imgs/study_img/introback4.jpg" alt="Unsplashed background img 2"></div>
  </div>



<!--div class="screen-container4">
  <div class="row">
    <div class="col s12 m4">
      <div><h4>핵심 가치</h4></div>
      
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons">device_hub</i></h2>
        <h5 class="center">실용</h5>

        <p class="light">사이다경제는 경제를 이롭게하자는 이름 아래 재미있는 스터디를 하고자 노력하고 있습니다. 그냥 아무말이나 우선 적도록 하겠습니다. 사이다경제는 맛있다 배고프다.</p>
      </div>
    </div>

    <div class="col s12 m4" style="margin: 30px auto;">
      <div class="icon-block">
        <div class="divider"></div>
        <br>
        <h2 class="center light-blue-text"><i class="material-icons">accessibility</i></h2>
        <h5 class="center">만남</h5>

        <p class="light">스터디는 처음에 몇개할지는 모르겠고 우선 적어야한다. 스터디 리스트 방식으로 할지 모임으로 할지 세미나로 할지 뭐 정해진게 없는데 우선 작성하자 빨리 만들어야한다.</p>
      </div>
    </div>

    <div class="col s12 m4" style="margin: 30px auto;">
      <div class="icon-block">
        <div class="divider"></div>
        <br>
        <h2 class="center light-blue-text"><i class="material-icons">audiotrack</i></h2>
        <h5 class="center">즐거움</h5>

        <p class="light">사이다경제는 카테고리별로 스터디를 만들어서 각 전문가들과 같이 상담하면서 얘기하고 토론하고 밥도 먹고 번개도 하고 사모임도 하고 뭐 이것저것 하면서 친목도 다지고 경제적인 지식도 얻고 참 좋다아</p>
      </div>
    </div>
  </div>
</div-->



  <% include std_bottom %>

</html>
