<!DOCTYPE html>
<html lang="ko">
<head>
  <title>경이로움 일정표</title>
  <meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <link href='/css/calendar/fullcalendar.min.css' rel='stylesheet' />
  <link href='/css/calendar/fullcalendar.print.min.css' rel='stylesheet' media='print' />
  <script src='/js/calendar/moment.min.js'></script>
  <script src='/js/calendar/fullcalendar.min.js'></script>
  <script src='/js/calendar/locale-all.js'></script>

      <!--CSS -->
    <link rel='stylesheet' href='/css/materialize.css' />
    <link href="/css/std_style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    

    <!-- favicon -->
    <link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
    <link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>


  <script>
      var eventList = [];
      var defaultView = 'month';
      $(document).ready(function() {
          var w = window.innerWidth;

          if(w <= 768){
              defaultView = 'listWeek';
          }
          getCalendar();
          // getCalendar2();
      });

      function getCalendar(){
          $('#calendar').fullCalendar('destroy');
          var initialLocaleCode = 'ko';
          var d = new Date(),
              month = '' + (d.getMonth() + 1),
              day = '' + d.getDate(),
              year = d.getFullYear();

          if (month.length < 2) month = '0' + month;
          if (day.length < 2) day = '0' + day;

          var today = [year, month, day].join('-');

          $('#calendar').fullCalendar({
              header: {
                  left: 'prev,next today',
                  center: 'title',
                  right: 'listDay,listWeek,month'
              },
              // customize the button names,
              // otherwise they'd all just say "list"
              views: {
                  listDay: { buttonText: '일간' },
                  listWeek: { buttonText: '주간' },
                  month: { buttonText: '월간' }
              },
              locale: initialLocaleCode,
              defaultView: defaultView,
              defaultDate: today,
              navLinks: true, // can click day/week names to navigate views
              editable: false,
              eventLimit: true, // allow "more" link when too many events
              events: function (start, end, timezone, callback){
                  $.ajax({
                      url: '/adm/getSchList',
                      type: "POST",
                      async : false,
                      contentType: "application/json",
                      data: JSON.stringify({"schCateNo" : 1}),
                      success: function(data) {
                          var events = [];
                          $(data.schList).each(function() {
                              events.push({
                                  id: $(this).attr('schNo'),
                                  title: $(this).attr('schTitle'),
                                  start: $(this).attr('startTime'),
                                  end: $(this).attr('endTime'),
                                  url: $(this).attr('schLink')
                              });
                          });
                          callback(events);
                      }
                  })
              }
          });
      }
      // function getCalendar2(){
      //     $('#calendar2').fullCalendar('destroy');
      //     var initialLocaleCode = 'ko';
      //     var d = new Date(),
      //         month = '' + (d.getMonth() + 1),
      //         day = '' + d.getDate(),
      //         year = d.getFullYear();
      //
      //     if (month.length < 2) month = '0' + month;
      //     if (day.length < 2) day = '0' + day;
      //
      //     var today = [year, month, day].join('-');
      //
      //     $('#calendar2').fullCalendar({
      //         header: {
      //             left: 'prev,next today',
      //             center: 'title',
      //             right: 'listDay,listWeek,month'
      //         },
      //         // customize the button names,
      //         // otherwise they'd all just say "list"
      //         views: {
      //             listDay: { buttonText: '일간' },
      //             listWeek: { buttonText: '주간' },
      //             month: { buttonText: '월간' }
      //         },
      //         locale: initialLocaleCode,
      //         defaultView: defaultView,
      //         defaultDate: today,
      //         navLinks: true, // can click day/week names to navigate views
      //         editable: false,
      //         eventLimit: true, // allow "more" link when too many events
      //         events: function (start, end, timezone, callback){
      //             $.ajax({
      //                 url: '/adm/getSchList',
      //                 type: "POST",
      //                 async : false,
      //                 contentType: "application/json",
      //                 data: JSON.stringify({"schCateNo" : 2}),
      //                 success: function(data) {
      //                     var events = [];
      //                     $(data.schList).each(function() {
      //                         events.push({
      //                             id: $(this).attr('schNo'),
      //                             title: $(this).attr('schTitle'),
      //                             start: $(this).attr('startTime'),
      //                             end: $(this).attr('endTime'),
      //                             url: $(this).attr('schLink')
      //                         });
      //                     });
      //                     callback(events);
      //                 }
      //             })
      //         }
      //     });
      // }

  </script>
<style>


  #calendar {
    max-width: 1280px;
    margin: 30px auto;
  }
  #calendar2 {
    max-width: 1280px;
    margin: 30px auto;
  }

  .fc-scroller{
    height: auto !important;
  }

  .fc-center h2{
    font-size: 24px;
  }

</style>

<style>
/*h5, h4{font-family: seoulhangangregular !important; border-bottom:2px solid #ecce6b; padding-bottom:5px;}*/
</style>

  <script src="/js/gotoup.js"></script>
  </head>
  <body>

  <div id="but_top"><a class="btn btn-floating  blue-grey darken-4"><i class="material-icons">arrow_upward</i></a></div>

  	<% include std_top %>

  <div class="parallax-container valign-wrapper" style="min-height: 300px;">
    <div class="section no-pad-bot" style="padding-top:65px; top:20%;">
      <div class="container" >
        <div class="row center">
          <h5 class="header col s12 light" style="font-weight:500;">경이로움 일정</h5>
          <h6 class="header col s12 light">경이로움 일정 확인 후 열심히 참여합니다<br class="web-n"></h6>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/page_imgs/study_img/backgroundm8.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <div id='calendar'></div>
  <!--<div id='calendar2'></div>-->

   <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"><b>내 삶이 경이로워지는 순간</b></h5>
          <h4 class="header col s12 light"><b>"경이로움"</b></h4>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/page_imgs/study_img/backgroundm8.jpg" alt="Unsplashed background img 2"></div>
  </div>
  
   <% include std_bottom %> 
</body>
</html>
