<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>사이다경제 스터디</title>
  <!-- 메인 문구 -->
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css'>

  <!-- 네이버 -->
    <meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- favicon -->
    <link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
    <link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

    <!--CSS -->
    <link rel='stylesheet' href='/css/materialize.css' />
    <link href="/css/std_style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--JS-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--script src="/js/materialize.js"></script-->

    

<style type="text/css">
    /* just for jsfiddle */

  .material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
  }

  .middle-indicator{
   position:absolute;
   top:50%;
   }
  .middle-indicator-text{
   font-size: 4.2rem;
  }
  a.middle-indicator-text{
    color:white !important;
  }
  .content-indicator{
    width: 64px;
    height: 64px;
    background: none;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px; 
  }

  .indicators{
    visibility: hidden;
  }

  p{
    line-height: 2rem;
  }

  .detail2{
    background-color: #fbfbfb;
    width: 100%;
    max-width:1700px;
    padding: 40px 0 20px;
  }

  .divider2{
    height: 5px; overflow: hidden; background-color: #039be5;
  }
  .divider3{
    margin-top: 3px;
    height: 1px; overflow: hidden; background-color: #039be5;
  }

  .textfont{
    font-family: seoulhangangregular !important;
    font-weight: normal;
    font-size: 2.2rem;
    letter-spacing: 2px;
  }

  .textfont2{
    font-family: seoulhangangregular !important;
    font-weight: 550;
    font-size: 1.8rem;
    letter-spacing: 2px;
  }

  .textfont3{
    font-family: seoulhangangregular !important;
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 1px;
  }

</style>

  
</head>

<body>

    <% include std_top %>

  <div class="parallax-container valign-wrapper" style="min-height: 500px;">
    <div class="section no-pad-bot" style="padding-top:0px;">
      <div class="container" >
        <div class="row center">
          <h4 class="header col s12 light" style="font-weight: 500; ">"경제신문 바로 읽기"</h4>
        </div>
        <div class="row center" style="margin-bottom:80px;">
          <div class="divider"></div>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/page_imgs/study_img/detailbg1.jpg"></div>
  </div>


<div class="container" style="margin: 50px auto;">
  <div class="row">
    <div class="col s12">
      <h4 class="textfont">#1 스터디를 알고 싶어요!</h4>
      <div class="divider2" style="width: 30%"></div>
    </div>
  </div>
  <div class="row">
        <div class="col s12">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h5 class="textfont2">경제신문 바로 읽기</h5>
          <p class="light textfont3">경제 지식을 바로 읽고 뜯고 즐기면서 재미있게 즐길 수 있는 경제 신문 바로 읽기!</p>
        </div>
  </div>
  <div class="row">
      <div class="col s12">
          <p class="textfont2" style="line-height: 0rem;">스터디 세줄 소개 <span style="font-size: 1.4rem; letter-spacing: 0px;">3 lines</span></p>
      </div>
      <div class="col s12 m4"><p class="light textfont3">1. 특별합니다. 새로운 즐거움 만세는 확장성에 맞지 않는다.</p><div class="divider" style="width: 50%;"></div></div>
      <div class="col s12 m4"><p class="light textfont3">2. 아침 점심 저녁 먹고 룰루랄라 경이로움 모임 아이오아이 평범하고 일상 숲과 같은</p><div class="divider" style="width: 50%;"></div></div>
      <div class="col s12 m4"><p class="light textfont3">3. 컨텐츠 접근제어 문제 쇼핑몰 플러그인 무겁고, 향후 컨텐츠 비즈니스 모델이다.</p><div class="divider" style="width: 50%;"></div></div>
  </div>
  <div class="row">
      <div class="col s12">
          <p class="textfont2">스터디 핵심 가치 <span style="font-size: 1.4rem; letter-spacing: 0px;">Points</span></p>
      </div>
      <div class="col s4 center">
        <div><img src="/page_imgs/study_img/point1.png" width="110"><!--i class="large material-icons">accessibility</i--></div>
         <p>만남</p>
      </div>
      <div class="col s4 center">
         <div><img src="/page_imgs/study_img/point3.png" width="110"><!--i class="large material-icons">airplay</i--></div>
         <p>정보</p>
      </div>
      <div class="col s4 center">
         <div><img src="/page_imgs/study_img/point2.png" width="110"><!--i class="large material-icons">audiotrack</i--></div>
         <p>즐거움</p>
      </div>
  </div>
</div>


<div class="container" style="margin: 0px auto 50px;">
  <div class="carousel carousel-slider center " data-indicators="true">
    <div class="carousel-fixed-item center middle-indicator">
     <div class="left">
      <a href="Previo" class="movePrevCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="material-icons left  middle-indicator-text">chevron_left</i></a>
     </div>
     
     <div class="right">
     <a href="Siguiente" class=" moveNextCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="material-icons right middle-indicator-text">chevron_right</i></a>
     </div>
    </div>


    <style type="text/css">
      .a1{
        background:url("/page_imgs/study_img/detailbg1.jpg") no-repeat center top;
        background-size:auto 100%;
      }
    </style>

    <div class="carousel-item a1 white-text" href="#one!">
      <h2>First Panel</h2>
      <p class="white-text">This is your first panel</p>

    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <h2>Second Panel</h2>
      <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h2>Third Panel</h2>
      <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>
  
  </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js'></script>

<script type="text/javascript">
$(function(){ $('.carousel.carousel-slider').carousel({fullWidth: true,
      indicators: false}); });




   // move next carousel
   $('.moveNextCarousel').click(function(e){
      e.preventDefault();
      e.stopPropagation();
      $('.carousel').carousel('next');
   });

   // move prev carousel
   $('.movePrevCarousel').click(function(e){
      e.preventDefault();
      e.stopPropagation();
      $('.carousel').carousel('prev');
   });
</script>

<div class="divider"></div>

<div class="detail2">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h4 class="textfont">#2 리더를 알고 싶어요!</h4>
        <div class="divider2" style="width: 30%"></div>
      </div>
    </div>
    <div class="row">
          <div class="col s12">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h5 class="textfont2">리더 소개 <span style="font-size: 1.4rem; letter-spacing: 0px;">Introduction</span></h5>
            <p class="light textfont3">임현우</p>
          </div>
    </div>
    <div class="row">
        <div class="col s12">
            <p class="textfont2">리더 매력어필 <span style="font-size: 1.4rem; letter-spacing: 0px;">Appeal</span></p>
            <p class="textfont3">어릴 적부터 궁금한 게 많았다. 철든 후에는 어떻게 더불어 잘살 수 있을까 고민했고, 세상과 인간에 대한 앎의 추구로 이어졌다.</p>
            <p class="textfont3">2008-9년 미국 워싱턴DC 존스홉킨스대 국제대학원(SAIS) 객원연구원으로 있는 동안 오바마의 당선을 지켜봤고, 아이폰, 킨들, 구글, 트위터, 페이스북으로 이어지는 디지털 빅뱅을 목도했다</p>
        </div>
    </div>
  </div>
</div>



<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light"><b>내 삶이 경이로워지는 순간</b></h5>
        <h4 class="header col s12 light"><b>"경이로움"</b></h4>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/page_imgs/study_img/background2.jpg" alt="Unsplashed background img 2"></div>
</div>


<% include std_bottom %>



</body>
</html>
