<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>경이로움 구성</title>
    
    <!--CSS -->
    <link rel='stylesheet' href='/css/materialize.css' />
    <link href="/css/std_style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--JS-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--script src="/js/materialize.js"></script-->

    <!-- 메인 문구 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

    <!-- 네이버 -->
    <meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- favicon -->
    <link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
    <link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

 

  <script src="/js/gotoup.js"></script>

  <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.scrollspy');
      var instances = M.ScrollSpy.init(elems, options);
    });

    // Or with jQuery

    $(document).ready(function(){
      $('.scrollspy').scrollSpy();
    });
        
  </script>
  </head>
  <body>

  <div id="but_top"><a class="btn btn-floating  blue-grey darken-4"><i class="material-icons">arrow_upward</i></a></div>
  <% include std_top %>

  <style type="text/css">
  #scrollspy{
    position: fixed;
    z-index: 2;
    right: -4%;
  }
  @media only screen and (max-width : 1024px) {
   #scrollspy{
    display:none
  }
  .process{width:100%}

  @media(max-width: 992px){
    #memshipweb{
      display: none;
    }
  }
  @media(min-width: 992px){
    #memshipmob{
      display: none;
    }
  }
  </style>


<script>
$(document).ready(function(){
    $('.modal-trigger').leanModal();
});
</script>

<style>
	.modal{width:400px;}
	.modal .modal-footer{background-color:#0aa0f5; padding-top:12px; color:#fff}
	.btn-more1, .btn-more2, .btn-more3{padding:0 20px; border-radius:40px; display:inline-block; margin-top:10px; color:#2b323f;}
	.proimg1 img{margin-top:100px;}
	@media(max-width: 760px){
	.row{margin-bottom:0}
	.modal{width:90%;}
	.proimg1 img{margin-top:10px; width:150px;}
	.proimg2 img{width:90%;}
	}
</style>



  <div class="parallax-container valign-wrapper" style="min-height: 200px;">
    <div class="section no-pad-bot" style="padding-top:65px; top:5%;">
      <div class="container" >
        <div class="row center">
          <h5 class="header col s12 light" style="font-weight:500;">경이로워지는 순간</h5>
          <h6 class="header col s12 light">다양한 경이로움을 한눈에 파악하고 <br class="web-n">스터디를 보다 흥미롭게 즐겨보세요</h6>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/page_imgs/study_img/backgroundm6.jpg" alt="Unsplashed background img 1"></div>
  </div>


<div class="container process">
  <div class="row">
    <div class="col s12 m9 l12">
      <div id="introduction" class="section scrollspy">

          <div class="row center">
            <div class="col s12">
                <img class="responsive-img" src="/page_imgs/study_img/n_web.png">
            </div>
          </div>

        <div class="row" align="center">
          <div class="col s12 m5 proimg1">
            <img class="responsive-img" src="/page_imgs/study_img/process-icon-le.png"><br>
            <a href="/study/lecture"><span class="btn-more1"><b>자세히보기</b></span></a>
          </div>
          <div class="col s12 m7 proimg2">
            <img class="responsive-img" src="/page_imgs/study_img/n_web1.png">
          </div>
        </div>

      </div>

      <div id="structure" class="section scrollspy" style="background: #f4f4f4;">
        <div class="row" align="center">
          <div class="col s12 m5 proimg1">
            <img class="responsive-img" src="/page_imgs/study_img/process-icon-st.png"><br>
            <a href="/study/list"><span class="btn-more2"><b>자세히보기</b></span></a>
          </div>
          <div class="col s12 m7 proimg2">
            <img class="responsive-img" src="/page_imgs/study_img/n_web2.png">
          </div>
        </div>
      </div>

      <div id="initialization" class="section scrollspy">
        <div class="row" align="center">
          <div class="col s12 m5 proimg1">
            <img class="responsive-img" src="/page_imgs/study_img/process-icon-bo.png"><br>
            <a href="#modal1" class="modal-trigger"><span class="btn-more3"><b>자세히보기</b></span></a>
          </div>
          <div class="col s12 m7 proimg2">
            <img class="responsive-img" src="/page_imgs/study_img/n_web3.png">
          </div>
        </div>
      </div>

      <div id="stdprocess" class="section scrollspy">

          <div class="container" id="memshipweb">

            <div class="row center">
              <div class="col s12">
                <img class="responsive-img" src="/page_imgs/study_img/n_web4.png">
              </div>
            </div>

            <div class="row">
              <div class="col s6">
                <img class="responsive-img" src="/page_imgs/study_img/memi_1.jpg">
              </div>
              <div class="col s6">
                <img class="responsive-img" src="/page_imgs/study_img/memi_1_1.jpg">
              </div>
            </div>

            <div class="row">
              <div class="col s6">
                <img class="responsive-img" src="/page_imgs/study_img/memi_2_1.jpg">
                <a href="http://cafe.naver.com/ciderstudy" target="_blank">http://cafe.naver.com/ciderstudy</a>
              </div>
              <div class="col s6">
                <img class="responsive-img" src="/page_imgs/study_img/memi_2.jpg">
              </div>
            </div>

            <div class="row">
              <div class="col s6">
                <img class="responsive-img" src="/page_imgs/study_img/memi_3.jpg">
              </div>
              <div class="col s6">
                <img class="responsive-img" src="/page_imgs/study_img/memi_3_1.jpg">
              </div>
            </div>

            <div class="row">
              <div class="col s6">
                <img class="responsive-img" src="/page_imgs/study_img/memi_4_1.jpg">
                <a href="http://cafe.naver.com/ciderstudy" target="_blank">http://cafe.naver.com/ciderstudy</a>
              </div>
              <div class="col s6">
                <img class="responsive-img" src="/page_imgs/study_img/memi_5.jpg">
              </div>
            </div>

            <div class="row">
              <div class="col s6">
                <img class="responsive-img" src="/page_imgs/study_img/memi_6.jpg">
              </div>
              <div class="col s6">
                <img class="responsive-img" src="/page_imgs/study_img/memi_5_1.jpg">
              </div>
            </div>

        </div>

      </div>
    </div>




    <div id="scrollspy" class="col s11 m3 l2">
      <ul class="section table-of-contents">
        <li><a href="#introduction">스페셜 강의</a></li>
        <li><a href="#structure">경이로움 스터디</a></li>
        <li><a href="#initialization">독서클럽</a></li>
        <li><a href="#stdprocess">스터디 프로세스</a></li>
      </ul>
    </div>

  </div>




  <div id="memshipmob" align="center">

    <div class="row center" style="margin-bottom:0">
      <div class="col s12">
        <img class="responsive-img" src="/page_imgs/study_img/n_web4.png">
      </div>
    </div>


    <div class="row">
      <div class="col s12">
        <img class="responsive-img" src="/page_imgs/study_img/memi_1_1m.jpg">
      </div>
      <div class="col s12">
        <img class="responsive-img" src="/page_imgs/study_img/memi_1.jpg">
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <img class="responsive-img" src="/page_imgs/study_img/memi_2_1m.jpg">
        <a href="http://cafe.naver.com/ciderstudy" target="_blank">http://cafe.naver.com/ciderstudy</a>
      </div>
      <div class="col s12">
        <img class="responsive-img" src="/page_imgs/study_img/memi_2.jpg">
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <img class="responsive-img" src="/page_imgs/study_img/memi_3_1m.jpg">
      </div>
      <div class="col s12">
        <img class="responsive-img" src="/page_imgs/study_img/memi_3.jpg">
      </div>
    </div>

    <!--div class="row">
      <div class="col s12">
        <img class="responsive-img" src="/page_imgs/study_img/memi_4_1m.jpg">
      </div>
      <div class="col s12">
        <img class="responsive-img" src="/page_imgs/study_img/memi_2.jpg">
      </div>
    </div-->

    <div class="row">
      <div class="col s12">
        <img class="responsive-img" src="/page_imgs/study_img/memi_4_1m.jpg">
        <a href="http://cafe.naver.com/ciderstudy" target="_blank" style="display:inline-block; margin-top:20px">http://cafe.naver.com/ciderstudy</a>
      </div>
      <div class="col s12">
        <img class="responsive-img" src="/page_imgs/study_img/memi_5.jpg">
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <img class="responsive-img" src="/page_imgs/study_img/memi_5_1m.jpg">
      </div>
      <div class="col s12">
        <img class="responsive-img" src="/page_imgs/study_img/memi_6.jpg">
      </div>
    </div>

    <!--div class="row">
      <div class="col s12">
        <img class="responsive-img" src="/page_imgs/study_img/memi_7_1m.jpg">
      </div>
      <div class="col s12">
        <img class="responsive-img" src="/page_imgs/study_img/memi_7.jpg">
      </div>
    </div-->

  </div>
</div>



  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"><b>내 삶이 경이로워지는 순간</b></h5>
          <h4 class="header col s12 light"><b>"경이로움"</b></h4>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/page_imgs/study_img/backgroundm6.jpg" alt="Unsplashed background img 2"></div>
  </div>



  <% include std_bottom %>
</body>

</html>
