<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>사이다경제 스터디</title>
    
    <!--CSS -->
    <link rel='stylesheet' href='/css/materialize.css' />
    <link href="/css/std_style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--JS-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--script src="/js/materialize.js"></script-->

    <!-- 메인 문구 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script>var ml = { timelines: {}};</script>

    <!-- 네이버 -->
    <meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- favicon -->
    <link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
    <link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

 

  </head>
  <body>
  <% include std_top %>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot" style="padding-bottom:100px;">
      <div class="container" >
        <div class="row center">
          <h5 class="header col s12 light" style="font-weight: 500; font-size: 1.4rem;">한 달에 한 번 나는 경이롭게 달라진다</h5>
        </div>
        <div class="row center">
          <h1 class="ml4 center">
            <span class="letters letters-1">경제+이로움</span>
            <span class="letters letters-2">경이로움</span>
            <span class="letters letters-3">OPEN</span>
          </h1>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/page_imgs/study_img/background4.jpg" alt="Unsplashed background img 1"></div>
  </div>

 
  <script type="text/javascript">
   $(document).ready(function(){
      $('.carousel').carousel();
    });
  </script>

  <script type="text/javascript">
    var a = Math.floor(Math.random() * 3) + 1;
  </script>

<div class="container" style="margin: 50px auto;">
  <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>STUDY GROUPS</h4>
          <p class="center-align light">경제 지식을 물고 뜯고 맛보고 즐기며 내 것으로 만드는 놀이터! 경이로운 스터디 모임</p>
        </div>
    </div>
  <div class="row">
    <div class="carousel">
      <div class="carousel-item z-depth-1">
          <div class="carousel-image waves-effect waves-block waves-light" >
            <img src="/page_imgs/study_img/1234555.jpg">
            <span class="carousel-btn"><a class="waves-effect waves-light btn light-blue darken-1" style="border-radius: 20px; height: 25px; line-height: 25px; padding: 0 1rem; font-size: 10px;">18시즌 2</a></span>
            <span class="carousel-title"><b>경제신문 바로 읽기</b></span>
            <span class="carousel-name">모임장 임현우</span>
            <span class="carousel-date"><i class="material-icons left">today</i>2018년 4월 21일 토요일</span>
            <span class="carousel-more"><a class="waves-effect waves-light btn light-blue darken-2" onclick="Materialize.toast('현재 '+a+'명의 구독자가 이 글을 확인 중입니다.', 1000,'',function(){window.location='#';})">자세히 보기</a></span>
          </div>
      </div>
      <div class="carousel-item z-depth-1">
          <div class="carousel-image waves-effect waves-block waves-light" >
            <img src="/page_imgs/study_img/12345.jpg">
            <span class="carousel-btn"><a class="waves-effect waves-light btn light-blue darken-1" style="border-radius: 20px; height: 25px; line-height: 25px; padding: 0 1rem; font-size: 10px;">18시즌 2</a></span>
            <span class="carousel-title"><b>전자공시로 주식하기</b></span>
            <span class="carousel-name">모임장 이래학</span>
            <span class="carousel-date"><i class="material-icons left">today</i>2018년 4월 21일 토요일</span>
            <span class="carousel-more"><a class="waves-effect waves-light btn light-blue darken-2" onclick="Materialize.toast('현재 '+a+'명의 구독자가 이 글을 확인 중입니다.', 1000,'',function(){window.location='#';})">자세히 보기</a></span>
          </div>
      </div>
      <div class="carousel-item z-depth-1">
          <div class="carousel-image waves-effect waves-block waves-light" >
            <img src="/page_imgs/study_img/123455.jpg">
            <span class="carousel-btn"><a class="waves-effect waves-light btn light-blue darken-1" style="border-radius: 20px; height: 25px; line-height: 25px; padding: 0 1rem; font-size: 10px;">18시즌 2</a></span>
            <span class="carousel-title"><b>사회초년생 재테크</b></span>
            <span class="carousel-name">모임장 이성헌</span>
            <span class="carousel-date"><i class="material-icons left">today</i>2018년 4월 21일 토요일</span>
            <span class="carousel-more"><a class="waves-effect waves-light btn light-blue darken-2" onclick="Materialize.toast('현재 '+a+'명의 구독자가 이 글을 확인 중입니다.', 1000,'',function(){window.location='#';})">자세히 보기</a></span>
          </div>
      </div>
      <div class="carousel-item z-depth-1">
          <div class="carousel-image waves-effect waves-block waves-light" >
            <img src="/page_imgs/study_img/1234.jpg">
            <span class="carousel-btn"><a class="waves-effect waves-light btn light-blue darken-1" style="border-radius: 20px; height: 25px; line-height: 25px; padding: 0 1rem; font-size: 10px;">18시즌 2</a></span>
            <span class="carousel-title"><b>빌딩 투자</b></span>
            <span class="carousel-name">모임장 김윤수</span>
            <span class="carousel-date"><i class="material-icons left">today</i>2018년 4월 21일 토요일</span>
            <span class="carousel-more"><a class="waves-effect waves-light btn light-blue darken-2" onclick="Materialize.toast('현재 '+a+'명의 구독자가 이 글을 확인 중입니다.', 1000,'',function(){window.location='#';})">자세히 보기</a></span>
          </div>
      </div>
      <!--div class="carousel-item z-depth-1">
          <div class="carousel-image waves-effect waves-block waves-light" >
            <img src="/page_imgs/study_img/1234.jpg">
            <span class="carousel-btn"><a class="waves-effect waves-light btn light-blue darken-1" style="border-radius: 20px; height: 25px; line-height: 25px; padding: 0 1rem; font-size: 10px;">18시즌 2</a></span>
            <span class="carousel-title"><b>경제신문 바로 읽기</b></span>
            <span class="carousel-name">모임장 임현우</span>
            <span class="carousel-date"><i class="material-icons left">today</i>2018년 4월 21일 토요일</span>
            
          </div>
          <div class="carousel-content">

            <p>아무렇게나 읽는 거 아냐! 경제신문, 제대로 읽어야 '내 것'이 된다. '경제신문' 이름만 들어도 왠지 어려울 것 같고, 거부감이 느껴진</p>
            <div class="divider"></div>
            <p><a class="waves-effect waves-light btn light-blue darken-2" onclick="Materialize.toast('현재 '+a+'명의 구독자가 이 글을 확인 중입니다.', 1000,'',function(){window.location='#';})">MORE</a></p>
          </div>
      </div-->
    </div>
  </div>
</div>
      

<!--div class="container" style="margin: 50px auto;">
  <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>STUDY GROUPS</h4>
          <p class="center-align light">경제 지식을 물고 뜯고 맛보고 즐기며 내 것으로 만드는 놀이터! 경이로운 스터디 모임</p>
        </div>
    </div>
    <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light" >
          <img src="/page_imgs/study_img/1234.jpg">
          <span class="card-btn"><a class="waves-effect waves-light btn light-blue darken-1" style="border-radius: 20px; height: 25px; line-height: 25px; padding: 0 1rem; font-size: 10px;">18시즌 2</a></span>
          <span class="card-title" style="bottom: 30px;"><b>경제신문 바로 읽기</b></span>
          <span class="card-name">모임장 임현우</span>
          
        </div>
        <div class="card-content">
          <p><i class="material-icons left">today</i>2018년 4월 21일 토요일</p>
          <div class="divider"></div>
          <p>아무렇게나 읽는 거 아냐! 경제신문, 제대로 읽어야 '내 것'이 된다. '경제신문' 이름만 들어도 왠지 어려울 것 같고, 거부감이 느껴진다면 주목!</p>
          <p><a class="waves-effect waves-light btn light-blue darken-2" onclick="Materialize.toast('현재 '+a+'명의 구독자가 이 글을 확인 중입니다.', 1000,'',function(){window.location='#';})">MORE</a></p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light" >
          <img src="/page_imgs/study_img/123.jpg">
          <span class="card-btn"><a class="waves-effect waves-light btn light-blue darken-1" style="border-radius: 20px; height: 25px; line-height: 25px; padding: 0 1rem; font-size: 10px;">18시즌 2</a></span>
          <span class="card-title" style="bottom: 30px;"><b>전자공시로 주식하기</b></span>
          <span class="card-name">모임장 이래학</span>
          
        </div>
        <div class="card-content">
          <p><i class="material-icons left">today</i>2018년 4월 21일 토요일</p>
          <div class="divider"></div>
          <p>주식투자, 전자공시부터 똑바로 보자! (DART 분석) 공시 속에 기업의 본심이 숨어 있다. 핵심 내용만 쉽게 풀어 쓴, 주식투자자를 위한 전자공시 활용법</p>
          <p><a class="waves-effect waves-light btn light-blue darken-2" onclick="Materialize.toast('현재 '+a+'명의 구독자가 이 글을 확인 중입니다.', 1000,'',function(){window.location='#';})">MORE</a></p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light" >
          <img src="/page_imgs/study_img/12345.jpg">
          <span class="card-btn"><a class="waves-effect waves-light btn light-blue darken-1" style="border-radius: 20px; height: 25px; line-height: 25px; padding: 0 1rem; font-size: 10px;">18시즌 2</a></span>
          <span class="card-title" style="bottom: 30px;"><b>사회초년생 재테크</b></span>
          <span class="card-name">모임장 이성헌</span>
          
        </div>
        <div class="card-content">
          <p><i class="material-icons left">today</i>2018년 4월 21일 토요일</p>
          <div class="divider"></div>
          <p> 재테크의 가장 손쉬운 시작이 적금이란 것은 잘 안다. 하지만 너무나 깨기 쉽다는 것은 함정. 적금 한번 타본 적 없어도 가입할 때는 여기저기 은행</p>
          <p><a class="waves-effect waves-light btn light-blue darken-2" onclick="Materialize.toast('현재 '+a+'명의 구독자가 이 글을 확인 중입니다.', 1000,'',function(){window.location='#';})">MORE</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light" >
          <img src="/page_imgs/study_img/123455.jpg">
          <span class="card-btn"><a class="waves-effect waves-light btn light-blue darken-1" style="border-radius: 20px; height: 25px; line-height: 25px; padding: 0 1rem; font-size: 10px;">18시즌 2</a></span>
          <span class="card-title" style="bottom: 30px;"><b>빌딩 투자</b></span>
          <span class="card-name">모임장 김윤수</span>
          
        </div>
        <div class="card-content">
          <p><i class="material-icons left">today</i>2018년 4월 21일 토요일</p>
          <div class="divider"></div>
          <p>대한민국에서 빌딩의 지위는 특별하다. 흔히 입버릇처럼 저승에 가더라도 평생 굶지 않도록 해주기 위해 부모가 물려줘야 하는 항목 1순위는 생활력이나 삶의 혜안이 아닌 '빌딩 한 채'라는 이야기</p>
          <p><a class="waves-effect waves-light btn light-blue darken-2" onclick="Materialize.toast('현재 '+a+'명의 구독자가 이 글을 확인 중입니다.', 1000,'',function(){window.location='#';})">MORE</a></p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light" >
          <img src="/page_imgs/study_img/1234555.jpg">
          <span class="card-btn"><a class="waves-effect waves-light btn light-blue darken-1" style="border-radius: 20px; height: 25px; line-height: 25px; padding: 0 1rem; font-size: 10px;">18시즌 2</a></span>
          <span class="card-title" style="bottom: 30px;"><b>차트로 주식하기</b></span>
          <span class="card-name">모임장 이지연</span>
          
        </div>
        <div class="card-content">
          <p><i class="material-icons left">today</i>2018년 4월 21일 토요일</p>
          <div class="divider"></div>
          <p>월스트리트의 위대한 금융거래인이 들려주는 주식투자의 지혜! '갠 이론(Gann Theory)'으로 유명한 윌리엄 D. 갠. 그는 20세기 초 전설적인 금융계의 예언자로 금융거래인들 사이에서 큰 명성을 얻었다. </p>
          <p><a class="waves-effect waves-light btn light-blue darken-2" onclick="Materialize.toast('현재 '+a+'명의 구독자가 이 글을 확인 중입니다.', 1000,'',function(){window.location='#';})">MORE</a></p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light" >
          <img src="/page_imgs/study_img/12345555.jpg">
          <span class="card-btn"><a class="waves-effect waves-light btn light-blue darken-1" style="border-radius: 20px; height: 25px; line-height: 25px; padding: 0 1rem; font-size: 10px;">18시즌 2</a></span>
          <span class="card-title" style="bottom: 30px;"><b>주식 중급</b></span>
          <span class="card-name">모임장 이동규</span>
          
        </div>
        <div class="card-content">
          <p><i class="material-icons left">today</i>2018년 4월 21일 토요일</p>
          <div class="divider"></div>
          <p>돈이 움직이는 주식시장에서는 희망 과 공포 등으로 인해 자신의 원칙을 지키기가 생각보다 어 렵다. 그래서 중급 이하의 실력이라면 무조건 원칙을 기계 적으로 따라야 한다.</p>
          <p><a class="waves-effect waves-light btn light-blue darken-2" onclick="Materialize.toast('현재 '+a+'명의 구독자가 이 글을 확인 중입니다.', 1000,'',function(){window.location='#';})">MORE</a></p>
        </div>
      </div>
    </div>
  </div>
</div-->



  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"><b>내 삶이 경이로워지는 순간</b></h5>
          <h4 class="header col s12 light"><b>"경이로움"</b></h4>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/page_imgs/study_img/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container"  style="margin: 50px auto;">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <img class="img-responsive" src="/page_imgs/fixed_img/mob_menu_icon_logo.svg">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4></h4>
          <div class="divider"></div>
          <p class="left-align light">언제까지 경제 지식을 ‘눈으로 보기’만 할 건가요?
          딱딱한 경제 지식을 일방적으로 보고 듣는 것이 아니라
          소통하고 싶은 전문가와 함께 경제 지식을 물고 뜯고 맛보고 즐기며
          내 것으로 만드는 놀이터와 같은 공동체에 참여하세요. 
          ’즐거움’만 강조되어 있다. “수평”적인 관계와 “실용성” 강조해서 보강할 것
          </p>
        </div>
      </div>

      <div class="video-container">
        <iframe width="600" height="400" src="https://www.youtube.com/embed/900X9fDFLc4" frameborder="0" allowfullscreen></iframe>
      </div>

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">device_hub</i></h2>
            <h5 class="center">실용</h5>

            <p class="light">사이다경제는 경제를 이롭게하자는 이름 아래 재미있는 스터디를 하고자 노력하고 있습니다. 그냥 아무말이나 우선 적도록 하겠습니다. 사이다경제는 맛있다 배고프다.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">accessibility</i></h2>
            <h5 class="center">만남</h5>

            <p class="light">스터디는 처음에 몇개할지는 모르겠고 우선 적어야한다. 스터디 리스트 방식으로 할지 모임으로 할지 세미나로 할지 뭐 정해진게 없는데 우선 작성하자 빨리 만들어야한다.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">audiotrack</i></h2>
            <h5 class="center">즐거움</h5>

            <p class="light">사이다경제는 카테고리별로 스터디를 만들어서 각 전문가들과 같이 상담하면서 얘기하고 토론하고 밥도 먹고 번개도 하고 사모임도 하고 뭐 이것저것 하면서 친목도 다지고 경제적인 지식도 얻고 참 좋다아</p>
          </div>
        </div>
      </div>

    </div>
  </div>




  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"><b>경제에 목이 말랐던 사람들을 위한</b></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/page_imgs/study_img/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <% include std_bottom %>

  <div class="fixed-action-btn horizontal click-to-toggle">
    <a class="btn-floating btn-large light-blue darken-2">
      <i class="material-icons">menu</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>

<script>
$('.ml14').each(function(){
 $(this).html($(this).text().replace(/([^\x00-\x80]|\w)/g, "<span class='letter-2'>$&</span>"));
});
var ml4 = {};
ml4.opacityIn = [0,1];
ml4.durationIn = 1500;
ml4.durationOut = 600;
ml4.delay = 500;

ml.timelines["ml4"] = anime.timeline({loop: true})
  .add({
    targets: '.ml4 .letters-1',
    opacity: ml4.opacityIn,
    duration: ml4.durationIn
  }).add({
    targets: '.ml4 .letters-1',
    opacity: 0,
    duration: ml4.durationOut,
    easing: "easeInExpo",
    delay: ml4.delay
  }).add({
    targets: '.ml4 .letters-2',
    translateX: [-30,0],
    translateZ: 0,
    opacity: [0,1],
    easing: "easeOutExpo",
    duration: 1500,
    delay: function(el, i) {
      return 500 + 30 * i;
    }
  }).add({
    targets: '.ml4 .letters-2',
    translateX: [0,-30],
    opacity: [1,0],
    easing: "easeInExpo",
    duration: 1100,
    delay: function(el, i) {
      return 200 + 30 * i;
    }
  }).add({
    targets: '.ml4 .letters-3',
    opacity: ml4.opacityIn,
    duration: ml4.durationIn
  }).add({
    targets: '.ml4 .letters-3',
    opacity: 0,
    duration: ml4.durationOut,
    easing: "easeInExpo",
    delay: ml4.delay
  }).add({
    targets: '.ml4',
    opacity: 0,
    duration: 300,
    delay: 100
  });
</script>

</html>
