<!DOCTYPE html>
<html lang="ko">
<head>
  <title>경이로움 일정표</title>
  <meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <link href='/css/calendar/fullcalendar.min.css' rel='stylesheet' />
  <link href='/css/calendar/fullcalendar.print.min.css' rel='stylesheet' media='print' />
  <script src='/js/calendar/moment.min.js'></script>
  <script src='/js/calendar/fullcalendar.min.js'></script>
  <script src='/js/calendar/locale-all.js'></script>

      <!--CSS -->
    <link rel='stylesheet' href='/css/materialize.css' />
    <link href="/css/std_style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    

    <!-- favicon -->
    <link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
    <link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>


  <script>
      var eventList = [];
      var defaultView = 'listWeek';
      $(document).ready(function() {
          if(mobilecheck) {
              defaultView = 'month'
          }
          // getCalendar();
          getCalendar2();
      });

     /* function getCalendar(){
          $('#calendar').fullCalendar('destroy');
          var initialLocaleCode = 'ko';
          var d = new Date(),
              month = '' + (d.getMonth() + 1),
              day = '' + d.getDate(),
              year = d.getFullYear();

          if (month.length < 2) month = '0' + month;
          if (day.length < 2) day = '0' + day;

          var today = [year, month, day].join('-');

          $('#calendar').fullCalendar({
              header: {
                  left: 'prev,next today',
                  center: 'title',
                  right: 'listDay,listWeek,month'
              },
              // customize the button names,
              // otherwise they'd all just say "list"
              views: {
                  listDay: { buttonText: '일간' },
                  listWeek: { buttonText: '주간' },
                  month: { buttonText: '월간' }
              },
              locale: initialLocaleCode,
              defaultView: defaultView,
              defaultDate: today,
              navLinks: true, // can click day/week names to navigate views
              editable: false,
              eventLimit: true, // allow "more" link when too many events
              events: function (start, end, timezone, callback){
                  $.ajax({
                      url: '/adm/getSchList',
                      type: "POST",
                      async : false,
                      contentType: "application/json",
                      data: JSON.stringify({"schCateNo" : 1}),
                      success: function(data) {
                          var events = [];
                          $(data.schList).each(function() {
                              events.push({
                                  id: $(this).attr('schNo'),
                                  title: $(this).attr('schTitle'),
                                  start: $(this).attr('startTime'),
                                  end: $(this).attr('endTime'),
                                  url: $(this).attr('schLink')
                              });
                          });
                          callback(events);
                      }
                  })
              }
          });
      }*/
      function getCalendar2(){
          $('#calendar2').fullCalendar('destroy');
          var initialLocaleCode = 'ko';
          var d = new Date(),
              month = '' + (d.getMonth() + 1),
              day = '' + d.getDate(),
              year = d.getFullYear();

          if (month.length < 2) month = '0' + month;
          if (day.length < 2) day = '0' + day;

          var today = [year, month, day].join('-');

          $('#calendar2').fullCalendar({
              header: {
                  left: 'prev,next today',
                  center: 'title',
                  right: 'listDay,listWeek,month'
              },
              // customize the button names,
              // otherwise they'd all just say "list"
              views: {
                  listDay: { buttonText: '일간' },
                  listWeek: { buttonText: '주간' },
                  month: { buttonText: '월간' }
              },
              locale: initialLocaleCode,
              defaultView: defaultView,
              defaultDate: today,
              navLinks: true, // can click day/week names to navigate views
              editable: false,
              eventLimit: true, // allow "more" link when too many events
              events: function (start, end, timezone, callback){
                  $.ajax({
                      url: '/adm/getSchList',
                      type: "POST",
                      async : false,
                      contentType: "application/json",
                      data: JSON.stringify({"schCateNo" : 2}),
                      success: function(data) {
                          var events = [];
                          $(data.schList).each(function() {
                              events.push({
                                  id: $(this).attr('schNo'),
                                  title: $(this).attr('schTitle'),
                                  start: $(this).attr('startTime'),
                                  end: $(this).attr('endTime'),
                                  url: $(this).attr('schLink')
                              });
                          });
                          callback(events);
                      }
                  })
              }
          });
      }
      window.mobilecheck = function() {
          var check = false;
          (function(a){if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0,4))) check = true;})(navigator.userAgent||navigator.vendor||window.opera);
          return check;
      };
  </script>
<style>


  #calendar {
    max-width: 1280px;
    margin: 30px auto;
  }
  #calendar2 {
    max-width: 1280px;
    margin: 30px auto;
  }

  .fc-scroller{
    height: auto !important;
  }

</style>

<style>
/*h5, h4{font-family: seoulhangangregular !important; border-bottom:2px solid #ecce6b; padding-bottom:5px;}*/
</style>

  <script src="/js/gotoup.js"></script>
  </head>
  <body>

  <div id="but_top"><a class="btn btn-floating  blue-grey darken-4"><i class="material-icons">arrow_upward</i></a></div>

  	<% include std_top %>

  <div class="parallax-container valign-wrapper" style="min-height: 300px;">
    <div class="section no-pad-bot" style="padding-top:65px; top:20%;">
      <div class="container" >
        <div class="row center">
          <h5 class="header col s12 light" style="font-weight:500;">경이로움 스터디 일정</h5>
          <h6 class="header col s12 light">스터디 일정이 나와있습니다:)<br class="web-n"></h6>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/page_imgs/study_img/backgroundm8.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <!--<div id='calendar'></div>-->
  <div id='calendar2'></div>

   <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"><b>내 삶이 경이로워지는 순간</b></h5>
          <h4 class="header col s12 light"><b>"경이로움"</b></h4>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/page_imgs/study_img/backgroundm8.jpg" alt="Unsplashed background img 2"></div>
  </div>
  
   <% include std_bottom %> 
</body>
</html>
