<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>사이다경제 스터디</title>
    
    <!--CSS -->
    <link rel='stylesheet' href='/css/materialize.css' />
    <link href="/css/std_style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--JS-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--script src="/js/materialize.js"></script-->

    <!-- 메인 문구 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

    <!-- 네이버 -->
    <meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- favicon -->
    <link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
    <link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

 

  </head>
  <body>
  <% include std_top %>

  <style type="text/css">
  @media(max-width: 992px){
    #memshipweb{
      display: none;
    }
  }
  @media(min-width: 992px){
    #memshipmob{
      display: none;
    }
  }
  </style>


  <div class="parallax-container valign-wrapper" style="min-height: 200px;">
    <div class="section no-pad-bot" style="padding-top:0px;">
      <div class="container" >
        <div class="row center">
          <h5 class="header col s12 light" style="font-weight: 500; font-size: 1.4rem;">한 달에 한 번 나는 경이롭게 달라진다</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/page_imgs/study_img/background4.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <div class="container" id="memshipweb">
    <div class="row center" style="margin:60px 0 60px;">
        <img class="responsive-img" src="/page_imgs/study_img/membgwebimg1.jpg">
        <a class="waves-effect waves-light btn light-blue darken-2">일정표 보기</a>
        <img class="responsive-img" src="/page_imgs/study_img/membgwebimg2.jpg">
    </div>
  </div>
  <div class="container" id="memshipmob">
    <div class="row center" style="margin:60px 0 60px;">
        <img class="responsive-img" src="/page_imgs/study_img/membgmobimg1.jpg">
        <a class="waves-effect waves-light btn light-blue darken-2">일정표 보기</a>
        <img class="responsive-img" src="/page_imgs/study_img/membgmobimg2.jpg">
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"><b>내 삶이 경이로워지는 순간</b></h5>
          <h4 class="header col s12 light"><b>"경이로움"</b></h4>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/page_imgs/study_img/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>



  <% include std_bottom %>

</html>
