<!DOCTYPE html>
<html lang="ko">
<head>
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>사이다재무란? - 사이다경제 | 재무</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_finance.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script src="/js/gotoup.js"></script>

<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

<meta property="og:title" content="사이다재무 오픈!" />	
<meta property="og:site_name" content="사이다재무 오픈!">
<meta property="og:type" content="article">
<meta property="og:url" content="http://www.cidermics.com/finance/" />
<meta property="og:description" content="현재 무료로 운영하고 있으니 많이 신청해주세요 :)" />
<meta property="og:image" content="http://cidermics.com/page_imgs/finance_img/finance_thum.png" />

</head>
<body>
<!--위로가기 버튼-->
<div id="but_top"><img class="gototop" src="/page_imgs/fixed_img/btn_gotoup.svg"></div>	
<% include ../top %>

<div class="line"></div>

<% include cid_finance_menu %>

<div class="finance" align="center">
<div class="finance_1"><p>1</p><img class="img-responsive" src="http://i.imgur.com/XiVm7eS.png"></div>
<div class="finance_2"><p>2</p><img class="img-responsive" src="http://i.imgur.com/VDDPPno.png"></div>
<div class="finance_3"><p>3</p><img class="img-responsive" src="http://i.imgur.com/r5AB7xW.png"></div>
<a href="/finance/apply/"><div class="btn-apply-in" align="center" style="margin:40px 0;">상담 신청하기</div></a>
<!--a href="#" onClick="alert('이번 달 무료 재무상담이 마감되었습니다. 다음 달에 더 좋은 상담으로 찾아뵙겠습니다.')"><div class="btn-apply-in" align="center" style="margin-top:40px;">상담 신청하기</div></a-->
</div>




	

<% include ../bottom %>
</body>
</html>

