<!DOCTYPE html>
<html lang="ko">
<head>
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>이런분들은 꼭! - 사이다경제 | 재무</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_finance.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script src="/js/gotoup.js"></script>

<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

<link href='http://fonts.googleapis.com/css?family=Terminal+Dosis:400,700' rel='stylesheet' type='text/css'>

<meta property="og:title" content="사이다재무 오픈!" />	
<meta property="og:site_name" content="사이다재무 오픈!">
<meta property="og:type" content="article">
<meta property="og:url" content="http://www.cidermics.com/finance/necessary" />
<meta property="og:description" content="현재 무료로 운영하고 있으니 많이 신청해주세요 :)" />
<meta property="og:image" content="http://cidermics.com/page_imgs/finance_img/finance_thum.png" />


<style>
body { padding-right: 0px !important }
.menu1{
	background-image:url("http://i.imgur.com/ZF82M79.jpg");
	height:400px;
}
.menu2{
	background-image:url("http://i.imgur.com/L4a7Ld1.jpg");
	height:400px;
}
img{
	margin:0px;
}
.background1{
	font-size:medium;
	left:150px;
	margin:0px 0px 0px 0px;
	padding: 60px;
	color:#fff;
}
@media all and (max-width:1024px) {

.background1{
	margin-top:20px;
	padding: 40px;
}
}
</style>

</head>
<body>
	 
	<!--위로가기 버튼-->
<div id="but_top"><img class="gototop" src="/page_imgs/fixed_img/btn_gotoup.svg"></div>
	
<% include ../top %>

<div class="line"></div>
<!--div class="mob-banner">
<img class="img-responsive" src="/page_imgs/finance_img/mob_banner_finance.jpg">
</div-->

<% include cid_finance_menu %>
<div class="finance-menu-web">
<div class="finance" align="center">
	<div class="finance_1" style="font-size:14px; line-height:1.8em;">"<span style="color:#1b87c9; font-size:16px;"><B>사이다경제</B></span>는 어떤 금융기관에도 소속되지 않은 <span style="color:#1b87c9; font-size:14px;">경제콘텐츠 회사</span>로<br>올바른 경제/금융 지식을 전파하고자 사이다재무 서비스를 기획했습니다."</div>
</div>
</div>
<div class="finance-menu-mob">
<div class="finance" align="center">
	<div class="finance_1" style="font-size:14px; line-height:1.8em;">"<span style="color:#1b87c9; font-size:16px;"><B>사이다경제</B></span>는 어떤 금융기관에도<br>소속되지 않은 <span style="color:#1b87c9; font-size:14px;">경제콘텐츠 회사</span>로<br>올바른 경제/금융 지식을 전파하고자<br>사이다재무 서비스를 기획했습니다."</div>
</div>
</div>
<div style="background-color:#ececec;"> 
<div class="row container">
<div class="col-lg-4 col-xs-12 menu1">
	<div class="background1" align="center">
		<img class="img-responsive" src="http://i.imgur.com/zsx4OAC.png" data-toggle="modal" data-target="#coupon-modal1" data-backdrop="static">
		<img class="img-responsive" src="http://i.imgur.com/BnV2ESL.png">
	</div>
</div>
<div class="col-lg-4 col-xs-12 menu2">
	<div class="background1" align="center">
		<img class="img-responsive" src="http://i.imgur.com/r3OwnFq.png" data-toggle="modal" data-target="#coupon-modal2" data-backdrop="static">
		<img class="img-responsive" src="http://i.imgur.com/JbXFYEt.png">
	</div>
</div>
<div class="col-lg-4 col-xs-12 menu1">
	<div class="background1" align="center">
		<img class="img-responsive" src="http://i.imgur.com/yElcE28.png" data-toggle="modal" data-target="#coupon-modal3" data-backdrop="static">
		<img class="img-responsive" src="http://i.imgur.com/cKViYpE.png">
	</div>
</div>
</div>
</div>

<div class="finance-menu-web">
	<div class="finance" align="center">
		<div class="finance_1" style="font-size:14px; line-height:1.8em;">
			"<span style="color:#1b87c9; font-size:16px;"><B>사이다경제</B></span> 재무상담은 이외에도 상담이 필요하신 <span style="color:#1b87c9; font-size:14px;">"모든 분들"</span>에게 열려있습니다."
		<a href="/finance/apply/"><div class="btn-apply-in" align="center" style="margin-top:40px;">상담 신청하기</div></a>
		<!--a href="#" onClick="alert('이번 달 무료 재무상담이 마감되었습니다. 다음 달에 더 좋은 상담으로 찾아뵙겠습니다.')"><div class="btn-apply-in" align="center" style="margin-top:40px;">상담 신청하기</div></a-->
		</div>
	</div>
</div>

<div class="finance-menu-mob">
	<div class="finance" align="center" style="font-size:14px; line-height:1.8em;">
		<div class="finance_1" style="font-size:14px; line-height:1.8em;">
			"<span style="color:#1b87c9; font-size:16px;"><B>사이다경제</B></span> 재무상담은 이외에도<br>상담이 필요하신<span style="color:#1b87c9; font-size:14px;">"모든 분들"</span>에게 열려있습니다."
		<a href="/finance/apply/"><div class="btn-apply-in" align="center">상담 신청하기</div></a>
		<!--a href="#" onClick="alert('이번 달 무료 재무상담이 마감되었습니다. 다음 달에 더 좋은 상담으로 찾아뵙겠습니다.')"><div class="btn-apply-in" align="center">상담 신청하기</div></a-->
		</div>
	</div>
</div>
			<div id="coupon-modal1" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" align="center" style="">
       			 <div class="modal-dialog modal-lg">
           		  <div class="modal-content">
                	 <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                     <h4 class="modal-title"><b>사회초년생 사례</b></h4>
                	 </div>
                	 
                	 <div class="modal-body">
                   	<p style="font-size: 10pt;">작년에 취직을 했습니다.<br>
			처음으로 돈을 벌다 보니 취직한지<br>
			1년이 다 되어가는데 다 쓰고 모아둔 돈이 없네요.<br>
			<br>
			무작정 모으면 되는 건지, 쓰기도 부족한데<br>
			재무설계가 뭔지도 잘 모르겠고요.<br>
			요만큼 버는 저도 돈을 관리하는 게<br>
			맞나 싶어서 여쭤봅니다..<br>
			저같은 사회 초년생도 재무설계 받아도 되나요?<br>
					</p>
                   		<a href="#" data-dismiss="modal"><p style="color:#000; margin:30px 0 20px 0; width:120px; height:auto; border-radius:15px; background-color:#e0e0e0; padding:10px;">닫기</p></a>
                 	 </div>
           		  </div>
        		 </div>
			</div>
			
			<div id="coupon-modal2" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" align="center" style="">
       			 <div class="modal-dialog modal-lg">
           		  <div class="modal-content">
                	 <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                     <h4 class="modal-title"><b>사회초년생 사례</b></h4>
                	 </div>
                	 
                	 <div class="modal-body">
                   	<p style="font-size: 10pt;">내년 결혼을 앞두고 있습니다.<br>
			날짜도 잡았고 약 1년 정도 남아있는 상태인데요.<br><br>
			얼마 전에 적금이 만기가 됐습니다.<br>
			요즘은 은행이율이 너무 낮아서..<br>
			어디다 잠깐 두어야 할지 모르겠네요..<br><br>
			근데 또 아는 친구가 보험 일을 하는데요..<br>
			얼마 전에 저희 보험을 보더니<br>
			부족한 보장이 많다고<br>
			결혼 전에 들어두라며 종신보험을 추천했습니다.<br><br>
			문제는 저희가 그전에 부모님이 들어준 보험도<br>
			결혼 후에는 직접 관리하기로 해서<br>
			보험료를 대충 계산해보니 둘이 합쳐<br>
			한 달에 70만 원 가량은 되는 거 같더군요..<br>
			보통 다른 사람들도 결혼하면 이정도 내나요??<br>
			제 생각엔 너무 많은 거 같아서요..<br>
			좀 보험료를 필요한 거 위주로만 해서<br>
			줄이는 방법은 없을까요?<br>
			목돈 넣어둘 곳도 같이 추천해서 좀 결혼하기 전에<br>
			어떻게 하는 게 좋은지 같이 알려주시면 좋겠습니다..<br>
					</p>
                   		<a href="#" data-dismiss="modal"><p style="color:#000; margin:30px 0 20px 0; width:120px; height:auto; border-radius:15px; background-color:#e0e0e0; padding:10px;">닫기</p></a>
                 	 </div>
           		  </div>
        		 </div>
			</div>
			
			<div id="coupon-modal3" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" align="center" style="">
       			 <div class="modal-dialog modal-lg">
           		  <div class="modal-content">
                	 <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                     <h4 class="modal-title"><b>사회초년생 사례</b></h4>
                	 </div>
                	 
                	 <div class="modal-body">
                   	<p style="font-size: 10pt;">저는 30대 남자인데요 이제 막 결혼을 했습니다.<br>
					현재 전세로 살고있는데 빨리 내집마련도 하고싶고..<br>
					내년이면 아이가 태어날텐데 아이앞으로 필요한<br>
					돈들은 어떻게 준비해야 할지 막막합니다.<br><br>
					막상 은행에 모으기는 하지만 <br>
					솔직히 이자가 너무 없어서<br>
					이게 잘하고 있는건가 싶기도하고..<br><br>
					주식이나 펀드는 무섭기도 하고요 돈관리를 어떻게 해야 하는지<br>
					여러가지 현실적인 도움을 받고 싶습니다~~
					</p>
                   		<a href="#" data-dismiss="modal"><p style="color:#000; margin:30px 0 20px 0; width:120px; height:auto; border-radius:15px; background-color:#e0e0e0; padding:10px;">닫기</p></a>
                 	 </div>
           		  </div>
        		 </div>
			</div>


<% include ../bottom %>
</body>
</html>

