<html>
<body>

<div class="main-banner" align="center">
	<p class="title">사이다재무</p>
		<% var result = result; %>
			<!--재무 신청 오픈>
			<p class="apply_no" align="center">이번 달 현재 <span style="color:#ff574a;">"<%= finance[0].appno%>"</span>건의 재무상담이 신청되었습니다.</p -->
			<!--재무 신청 마감-->
			<!--p class="apply_no" align="center">이번 달 <span style="color:#ff574a;">선착순 50명</span> 무료 재무상담 신청이 모두 마감되었습니다.</p-->
			<p>저희 사이다경제는 상담후기를 통해 더 나은 상담을 위해 항상 노력하고 있습니다:)</p>
			
			<!--재무 신청 오픈-->
			<a href="/finance/apply/"><div class="btn-apply-in" align="center"><h5><b>상담 신청</b></h5></div></a>
			<!--재무 신청 마감-->
			<!-- a href="#" onClick="alert('이번 달 무료 재무상담 신청이 마감되었습니다. 다음 달에 더 좋은 상담으로 찾아뵙겠습니다.')"><div class="btn-apply-in" align="center">상담 신청하기</div></a-->
	<div class="black-box">
		<a href="/finance"><img src="/page_imgs/finance_img/btn-menu1-in.png"></a>
		<a href="/finance/review/"><img src="/page_imgs/finance_img/btn-menu2-in.png"></a>
		<a href="/finance/contents/"><img src="/page_imgs/finance_img/btn-menu3-in.png"></a>
	</div>
</div>

</body>
</html>