<!DOCTYPE html>
<html lang="ko">
<head>
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>상담 프로세스 - 사이다경제 | 재무</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_finance.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script src="/js/gotoup.js"></script>

<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

</head>
<body>
	<!--위로가기 버튼-->
<div id="but_top"><img class="gototop" src="/page_imgs/fixed_img/btn_gotoup.svg"></div>
	
<% include ../top %>

<div class="line"></div>
<!--div class="mob-banner">
<img class="img-responsive" src="/page_imgs/finance_img/mob_banner_finance.jpg">
</div-->

<% include cid_finance_menu %>
		<div class="process container">
				<p class="main-title" align="center">" 건전하고 올바른 금융생태계 구축을 위해 노력하겠습니다. "</p>
				<div class="row">
						<div class="col-lg-4 col-sm-6" align="center"> <img class="img-responsive img-center" src="/page_imgs/finance_img/finance-icon-process-step1.svg" alt="">
								<p class="title">사전 인터뷰</p>
								<p>사이다재무팀 담당 상담사가 전화통화로<br> 사전 인터뷰를 진행합니다.</p>
						</div>
						<div class="col-lg-4 col-sm-6" align="center"> <img class="img-responsive img-center" src="/page_imgs/finance_img/finance-icon-process-step2.svg" alt="">
								<p class="title">1차미팅</p>
								<p>소득, 지출, 저축, 보험 등 세부내역을<br>분석하여 현 재무상태를 파악합니다.</p>
						</div>
						<div class="col-lg-4 col-sm-6" align="center"> <img class="img-responsive img-center" src="/page_imgs/finance_img/finance-icon-process-step3.svg" alt="">
								<p class="title">2차미팅</p>
								<p>파악된 현 재무상태를 토대로<br>작성된 재무설계안을 제시합니다.</p>
						</div>
						<div class="col-lg-4 col-sm-6" align="center"> <img class="img-responsive img-center" src="/page_imgs/finance_img/finance-icon-process-step4.svg" alt="">
								<p class="title">재무설계안 실행</p>
								<p></p>
						</div>
						<div class="col-lg-4 col-sm-6" align="center"> <img class="img-responsive img-center" src="/page_imgs/finance_img/finance-icon-process-step5.svg" alt="">
								<p class="title">지속적인 모니터링</p>
								<p>1년 주기로 재무 리모델링,<br>5년 주기로 보장자산 리모델링<br>서비스를 제공합니다.</p>
						</div>
				</div>
		</div>
	

<% include ../bottom %>
</body>
</html>

