<!DOCTYPE html>
<html lang="ko">
<head>
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>설계사 프로필 - 사이다경제 | 재무</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_finance.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script src="/js/gotoup.js"></script>

<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

<!--구글 애널리틱스 -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82643610-1', 'auto');
  ga('send', 'pageview');

</script>

</head>
<body>
	<!--위로가기 버튼-->
<div id="but_top"><img class="gototop" src="/page_imgs/fixed_img/btn_gotoup.svg"></div>
	
<% include ../top %>

<div class="line"></div>

<!--div class="mob-banner">
<img class="img-responsive" src="/page_imgs/finance_img/mob_banner_finance.jpg">
</div-->

<% include cid_finance_menu %>

		<div class="planner-intro container">
				<div class="row">
						<div class="col-lg-4 col-sm-6 text-center"> <img class="img-circle img-responsive img-center" src="/page_imgs/employee_profile/planner2.jpg" alt="">
								<h3>안민관 <small>재무상담사</small> </h3>
								<p class="blue">“저금리 대안! 실전 투자 전문가!<br>목표설정부터 목표달성까지 함께하겠습니다.”</p>
								<p>재무 상담 경력 5년<br>주식 투자 경력 7년<br>증권사 투자권유 대행인<br>펀드투자상담사<br>생명보험 / 손해보험 / 변액보험<br>세무 / 회계 자격 보유</p>

						</div>
						<div class="col-lg-4 col-sm-6 text-center"> <img class="img-circle img-responsive img-center" src="/page_imgs/employee_profile/planner1.jpg" alt="">
								<h3>임동운 <small>재무상담사</small> </h3>
								<p class="blue">“재무적으로 지금보다 확실히 더욱 행복한 삶을 살 수 있는 방법을 알려드리겠습니다.”</p>
								<p>금융경력 7년<br>국제공인재무설계사(CFP)<br>투자권유대행인<br>생명보험 및 손해보험 설계사<br>변액보험판매관리사<br>종합자산관리사(IFP)</p>
						</div>
						<div class="col-lg-4 col-sm-6 text-center"> <img class="img-circle img-responsive img-center" src="/page_imgs/employee_profile/planner3.jpg" alt="">
								<h3>정우혁 <small>재무상담사</small> </h3>
								<p class="blue">“양심적으로 설계하겠습니다”</p>
								<p>경영학 학사<br>삼성증권 근무<br>생명보험 손해보험 설계사<br>변액보험 판매관리사<br>재테크 모임/ 주식투자 모임 운영<br>변액보험 전문과 과정 수료</p>
						</div>
						
				</div>
		</div>
	

<% include ../bottom %>
</body>
</html>

