<div class="web-banner" align="center">
	<div class="border-box container">
		<p class="title">재무설계 상담</p>
		<div class="line3"></div>
		<p class="con">내 월급은 통장을 스칠 뿐?<br>
		<span style="color:#1b87c9">사이다경제</span>가 당신을 위해 준비한 <span style="color:#ff574a;">재무설계!</span></p>
		<div class="apply-bg">
			<div class="but-apply"><a href="/finance/apply/"><div class="btn-apply-in" align="center">상담 신청하기</div></a></div>
			<!--div class="but-apply"><a href="#" onClick="alert('이번 달 무료 재무상담이 마감되었습니다. 다음 달에 더 좋은 상담으로 찾아뵙겠습니다.')"><div class="btn-apply-in" align="center">상담 신청하기</div></a></div-->
		</div>
	</div>
</div>
<% var result = result; %>
<p class="apply_no" align="center">이번 달 현재 <span style="color:#ff574a;">"<%= finance[0].appno%>"</span>건의 재무상담이 신청되었습니다.</p>
<!--p class="apply_no" align="center">이번 달 <span style="color:#ff574a;">선착순 30명</span> 무료 재무상담이 모두 마감되었습니다.</p-->
<div class="finance-menu-web">
<div class="row container" align="center">
<!--p class="title">Consulting</p-->
<div class="col-lg-2 col-xs-6 menu"><a href="/finance/necessary"><img class="img-responsive" src="http://i.imgur.com/0LHnFvg.png"><p>이런 분들은 꼭!</p></a></div>
<div class="col-lg-2 col-xs-6 menu"><a href="/finance/"><img class="img-responsive" src="http://i.imgur.com/eX4q9b1.png"><p>사이다재무란?</p></a></div>
<div class="col-lg-2 col-xs-6 menu"><a href="/finance/process"><img class="img-responsive" src="http://i.imgur.com/hc9jDRz.png"><p>상담 프로세스</p></a></div>
<div class="col-lg-2 col-xs-6 menu"><a href="/finance/review/"><img class="img-responsive" src="http://i.imgur.com/pPYqWmm.png"><p>생생 후기</p></a></div>
<div class="col-lg-2 col-xs-6 menu"><a href="/finance/contents/"><img class="img-responsive" src="http://i.imgur.com/DAj9b26.png"><p>금융콘텐츠</p></a></div>
<div class="col-lg-2 col-xs-6 menu"><a href="/finance/apply"><!--a href="#" onClick="alert('이번 달 무료 재무상담이 마감되었습니다. 다음 달에 더 좋은 상담으로 찾아뵙겠습니다.')"--><img class="img-responsive" src="http://i.imgur.com/HqXfbs7.png"><p>상담 신청하기</p></a></div>
</div>
</div>

<div class="row finance-menu-mob" align="center">
	
<div class="col-xs-6 menu padding5"><div class="row"><a href="/finance/necessary">
<div class="col-xs-2 padding5"><img src="http://i.imgur.com/0LHnFvg.png">
</div><div class="col-xs-10 padding5"><p>이런 분들은 꼭!</p></div></a></div></div>
	
<div class="col-xs-6 menu padding5"><div class="row"><a href="/finance/">
<div class="col-xs-2 padding5"><img src="http://i.imgur.com/eX4q9b1.png">
</div><div class="col-xs-10 padding5"><p>사이다재무란?</p></div></a></div></div>

<div class="col-xs-6 menu padding5"><div class="row"><a href="/finance/process">
<div class="col-xs-2 padding5"><img src="http://i.imgur.com/hc9jDRz.png">
</div><div class="col-xs-10 padding5"><p>상담 프로세스</p></div></a></div></div>

<div class="col-xs-6 menu padding5"><div class="row"><a href="/finance/review/">
<div class="col-xs-2 padding5"><img src="http://i.imgur.com/pPYqWmm.png">
</div><div class="col-xs-10 padding5"><p>생생 후기</p></div></a></div></div>

<div class="col-xs-6 menu padding5"><div class="row"><a href="/finance/contents/">
<div class="col-xs-2 padding5"><img src="http://i.imgur.com/DAj9b26.png">
</div><div class="col-xs-10 padding5"><p>금융콘텐츠</p></div></a></div></div>

<div class="col-xs-6 menu padding5"><div class="row"><a href="/finance/apply">
<div class="col-xs-2 padding5"><img src="http://i.imgur.com/HqXfbs7.png">
</div><div class="col-xs-10 padding5"><p>상담 신청하기</p></div></a></div></div>

</div>