<!DOCTYPE html>
<html lang="ko">
<head>

<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>사이다재무란? - 사이다경제 | 재무</title>

<link href="/css/cid_finance.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link href="/css/bootstrap.min.css" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/gotoup.js"></script>
<script src="/js/modernizr.custom.js"></script>

<meta property="fb:app_id" content="116627908812749">
<meta property="og:title" content="사이다재무 오픈!" />	
<meta property="og:site_name" content="사이다재무 오픈!">
<meta property="og:type" content="article">
<meta property="og:url" content="http://www.cidermics.com/finance/" />
<meta property="og:description" content="현재 무료로 운영하고 있으니 많이 신청해주세요 :)" />
<meta property="og:image" content="http://cidermics.com/page_imgs/finance_img/finance_thum.png" />

<style>
.modal{color:#212121;}
.modal .modal-lg{max-width:500px !important;}
body{padding-right:0px !important;}
.con_border{border: 1px solid #ececec; border-radius: 6px;}
</style>

</head>
<body style="overflow:scroll;">
<!--위로가기 버튼-->
<div id="but_top"><img class="gototop" src="/page_imgs/fixed_img/btn_gotoup.svg"></div>	

<% include ../top %>
<% include cid_finance_menu %>

<div class="container info" align="center">
	<img class="img-responsive info-text1" src="/page_imgs/finance_img/img-info-text1.png">
	<img class="img-responsive info-text2" src="/page_imgs/finance_img/img-info-text2.png">
</div>

<div class="process" align="center">
	<span>상담 프로세스</span>
	<img class="img-responsive process-img" src="/page_imgs/finance_img/process.png">
	<!--재무 신청 오픈-->
	<a href="/finance/apply/"><div class="btn-apply-in1" align="center"><h5><b>상담 신청</b></h5></div></a>
	<!--재무 신청 마감-->
	<!-- a href="#" onClick="alert('이번 달 무료 재무상담 신청이 마감되었습니다. 다음 달에 더 좋은 상담으로 찾아뵙겠습니다.')"><div class="btn-apply-in1" align="center">상담 신청하기</div></a-->
</div>

<div class="nesessary" align="center">
	<span>누구에게 필요할까?</span>
	<div class="container nesessary-con row">
		<div class="col-xs-6 col-sm-3 padding-10">
			<img class="img-responsive" src="/page_imgs/finance_img/nesessary/img-ne-part1.png">
			<!-- span data-toggle="modal" data-target="#myModal1" style="cursor:pointer">사례보기</span -->
			<p><b>취업 후 소득이 발생하기 시작<br>(소비, 지출, 관리, 인생전반의 이해)</b></p>
		</div>
				<!-- div class="modal fade" id="myModal1" role="dialog" align="center">
       			<div class="modal-dialog">
           		<div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title"><b>사회초년생 사례</b></h4>
                </div>
                <div class="modal-body">
                <p style="font-size: 10pt;"><b>상담자 실제 신청 사례 1</b><br><br>내년 결혼을 앞두고 있습니다.
					날짜도 잡았고 약 1년 정도 남아있는 상태인데요.<br><br>
					얼마 전에 적금이 만기가 됐습니다.<br>
					요즘은 은행이율이 너무 낮아서..
					어디다 잠깐 두어야 할지 모르겠네요..<br><br>
					근데 또 아는 친구가 보험 일을 하는데요..
					얼마 전에 저희 보험을 보더니<br>
					부족한 보장이 많다고
					결혼 전에 들어두라며 종신보험을 추천했습니다.<br><br>
					문제는 저희가 그전에 부모님이 들어준 보험도 
					결혼 후에는 직접 관리하기로 해서<br>
					보험료를 대충 계산해보니 둘이 합쳐
					한 달에 70만 원 가량은 되는 거 같더군요..<br><br>

					보통 다른 사람들도 결혼하면 이정도 내나요??<br>
					제 생각엔 너무 많은 거 같아서요..<br>
					좀 보험료를 필요한 거 위주로만 해서
					줄이는 방법은 없을까요?<br>
					목돈 넣어둘 곳도 같이 추천해서 좀 결혼하기 전에
					어떻게 하는 게 좋은지 같이 알려주시면 좋겠습니다..<br><br>
				</p>
				<p style="font-size: 10pt;"><b>상담자 실제 신청 사례 2</b><br><br>
					결혼을 준비중인 6년차 회사원입니다.<br>

					결혼을 대비해 재테크를 어떻게 해야 될지 궁금합니다.<br>

					결혼 한 이후에도 마찬가지구요.<br><br>

					집을 전세로 구할 예정인데

					전세자금 대출의 적정 대출자금이 얼마인지도 궁금하구요.<br><br>

					현재는 제가 펀드 및 cma 에 월 200
					개인연금 50만원
					적금 20만원
					기타 보험료 15만원<br>

					이렇게 하고 있는데요<br>

					모아놓은 돈은 결혼하면서 모두 전세 마련자금으로 빠질거 같은데<br>

					결혼해서 다시 처음부터 모아야 하는데 
					어떻게 재태크를 하는게 좋을지 궁금하네요<br>
				</p>
                </div>
                <p data-dismiss="modal" style="width:120px; color:#24babc; font-weight:bold; border:2px solid #24babc; margin:10px 0 30px 0; padding:10px; border-radius:20px; cursor:pointer">닫기</p>
           		</div>
        		</div>
				</div -->
		
		<div class="col-xs-6 col-sm-3 padding-10">
			<img class="img-responsive" src="/page_imgs/finance_img/nesessary/img-ne-part2.png">
			<!-- span data-toggle="modal" data-target="#myModal2" style="cursor:pointer">사례보기</span -->
			<p><b>결혼적령기 혹은 신혼부부<br>(기본적인 재무구조 진단,<br>차후 자녀에게 들어갈 자금 설계)</b></p>
		</div>
				<!-- div class="modal fade" id="myModal2" role="dialog" align="center">
       			<div class="modal-dialog">
           		<div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title"><b>사회초년생 사례</b></h4>
                </div>
                <div class="modal-body">
                <p style="font-size: 10pt;"><b>상담자 실제 신청 사례 1</b><br><br>내년 결혼을 앞두고 있습니다.
					날짜도 잡았고 약 1년 정도 남아있는 상태인데요.<br><br>
					얼마 전에 적금이 만기가 됐습니다.<br>
					요즘은 은행이율이 너무 낮아서..
					어디다 잠깐 두어야 할지 모르겠네요..<br><br>
					근데 또 아는 친구가 보험 일을 하는데요..
					얼마 전에 저희 보험을 보더니<br>
					부족한 보장이 많다고
					결혼 전에 들어두라며 종신보험을 추천했습니다.<br><br>
					문제는 저희가 그전에 부모님이 들어준 보험도 
					결혼 후에는 직접 관리하기로 해서<br>
					보험료를 대충 계산해보니 둘이 합쳐
					한 달에 70만 원 가량은 되는 거 같더군요..<br><br>

					보통 다른 사람들도 결혼하면 이정도 내나요??<br>
					제 생각엔 너무 많은 거 같아서요..<br>
					좀 보험료를 필요한 거 위주로만 해서
					줄이는 방법은 없을까요?<br>
					목돈 넣어둘 곳도 같이 추천해서 좀 결혼하기 전에
					어떻게 하는 게 좋은지 같이 알려주시면 좋겠습니다..<br><br>
				</p>
				<p style="font-size: 10pt;"><b>상담자 실제 신청 사례 2</b><br><br>
					결혼을 준비중인 6년차 회사원입니다.<br>

					결혼을 대비해 재테크를 어떻게 해야 될지 궁금합니다.<br>

					결혼 한 이후에도 마찬가지구요.<br><br>

					집을 전세로 구할 예정인데

					전세자금 대출의 적정 대출자금이 얼마인지도 궁금하구요.<br><br>

					현재는 제가 펀드 및 cma 에 월 200
					개인연금 50만원
					적금 20만원
					기타 보험료 15만원<br>

					이렇게 하고 있는데요<br>

					모아놓은 돈은 결혼하면서 모두 전세 마련자금으로 빠질거 같은데<br>

					결혼해서 다시 처음부터 모아야 하는데 
					어떻게 재태크를 하는게 좋을지 궁금하네요<br>
				</p>
                </div>
                <p data-dismiss="modal" style="width:120px; color:#24babc; font-weight:bold; border:2px solid #24babc; margin:10px 0 30px 0; padding:10px; border-radius:20px; cursor:pointer">닫기</p>
           		</div>
        		</div>
				</div -->
				
		<div class="col-xs-6 col-sm-3 padding-10">
			<img class="img-responsive" src="/page_imgs/finance_img/nesessary/img-ne-part3.png">
			<!-- span data-toggle="modal" data-target="#myModal3" style="cursor:pointer">사례보기</span -->
			<p><b>자녀의 육아/교육기를 지나<br>부부의 재산을 저축해야할 시기,<br>자리잡기, 재무구조 변화</b></p>
		</div>
				<!-- div class="modal fade" id="myModal3" role="dialog" align="center">
       			<div class="modal-dialog">
           		<div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title"><b>사회초년생 사례</b></h4>
                </div>
                <div class="modal-body">
                <p style="font-size: 10pt;"><b>상담자 실제 신청 사례 1</b><br><br>내년 결혼을 앞두고 있습니다.
					날짜도 잡았고 약 1년 정도 남아있는 상태인데요.<br><br>
					얼마 전에 적금이 만기가 됐습니다.<br>
					요즘은 은행이율이 너무 낮아서..
					어디다 잠깐 두어야 할지 모르겠네요..<br><br>
					근데 또 아는 친구가 보험 일을 하는데요..
					얼마 전에 저희 보험을 보더니<br>
					부족한 보장이 많다고
					결혼 전에 들어두라며 종신보험을 추천했습니다.<br><br>
					문제는 저희가 그전에 부모님이 들어준 보험도 
					결혼 후에는 직접 관리하기로 해서<br>
					보험료를 대충 계산해보니 둘이 합쳐
					한 달에 70만 원 가량은 되는 거 같더군요..<br><br>

					보통 다른 사람들도 결혼하면 이정도 내나요??<br>
					제 생각엔 너무 많은 거 같아서요..<br>
					좀 보험료를 필요한 거 위주로만 해서
					줄이는 방법은 없을까요?<br>
					목돈 넣어둘 곳도 같이 추천해서 좀 결혼하기 전에
					어떻게 하는 게 좋은지 같이 알려주시면 좋겠습니다..<br><br>
				</p>
				<p style="font-size: 10pt;"><b>상담자 실제 신청 사례 2</b><br><br>
					결혼을 준비중인 6년차 회사원입니다.<br>

					결혼을 대비해 재테크를 어떻게 해야 될지 궁금합니다.<br>

					결혼 한 이후에도 마찬가지구요.<br><br>

					집을 전세로 구할 예정인데

					전세자금 대출의 적정 대출자금이 얼마인지도 궁금하구요.<br><br>

					현재는 제가 펀드 및 cma 에 월 200
					개인연금 50만원
					적금 20만원
					기타 보험료 15만원<br>

					이렇게 하고 있는데요<br>

					모아놓은 돈은 결혼하면서 모두 전세 마련자금으로 빠질거 같은데<br>

					결혼해서 다시 처음부터 모아야 하는데 
					어떻게 재태크를 하는게 좋을지 궁금하네요<br>
				</p>
                </div>
                <p data-dismiss="modal" style="width:120px; color:#24babc; font-weight:bold; border:2px solid #24babc; margin:10px 0 30px 0; padding:10px; border-radius:20px; cursor:pointer">닫기</p>
           		</div>
        		</div>
				</div -->
				
		<div class="col-xs-6 col-sm-3 padding-10">
			<img class="img-responsive" src="/page_imgs/finance_img/nesessary/img-ne-part4.png">
			<!-- span data-toggle="modal" data-target="#myModal4" style="cursor:pointer">사례보기</span -->
			<p><b>자녀 출가, 소득감소,<br>노동력 상실을 대비한<br>나의 노후 준비</b></p>
		</div>
				<!-- div class="modal fade" id="myModal4" role="dialog" align="center">
       			<div class="modal-dialog">
           		<div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title"><b>사회초년생 사례</b></h4>
                </div>
                <div class="modal-body">
                <p style="font-size: 10pt;"><b>상담자 실제 신청 사례 1</b><br><br>내년 결혼을 앞두고 있습니다.
					날짜도 잡았고 약 1년 정도 남아있는 상태인데요.<br><br>
					얼마 전에 적금이 만기가 됐습니다.<br>
					요즘은 은행이율이 너무 낮아서..
					어디다 잠깐 두어야 할지 모르겠네요..<br><br>
					근데 또 아는 친구가 보험 일을 하는데요..
					얼마 전에 저희 보험을 보더니<br>
					부족한 보장이 많다고
					결혼 전에 들어두라며 종신보험을 추천했습니다.<br><br>
					문제는 저희가 그전에 부모님이 들어준 보험도 
					결혼 후에는 직접 관리하기로 해서<br>
					보험료를 대충 계산해보니 둘이 합쳐
					한 달에 70만 원 가량은 되는 거 같더군요..<br><br>

					보통 다른 사람들도 결혼하면 이정도 내나요??<br>
					제 생각엔 너무 많은 거 같아서요..<br>
					좀 보험료를 필요한 거 위주로만 해서
					줄이는 방법은 없을까요?<br>
					목돈 넣어둘 곳도 같이 추천해서 좀 결혼하기 전에
					어떻게 하는 게 좋은지 같이 알려주시면 좋겠습니다..<br><br>
				</p>
				<p style="font-size: 10pt;"><b>상담자 실제 신청 사례 2</b><br><br>
					결혼을 준비중인 6년차 회사원입니다.<br>

					결혼을 대비해 재테크를 어떻게 해야 될지 궁금합니다.<br>

					결혼 한 이후에도 마찬가지구요.<br><br>

					집을 전세로 구할 예정인데

					전세자금 대출의 적정 대출자금이 얼마인지도 궁금하구요.<br><br>

					현재는 제가 펀드 및 cma 에 월 200
					개인연금 50만원
					적금 20만원
					기타 보험료 15만원<br>

					이렇게 하고 있는데요<br>

					모아놓은 돈은 결혼하면서 모두 전세 마련자금으로 빠질거 같은데<br>

					결혼해서 다시 처음부터 모아야 하는데 
					어떻게 재태크를 하는게 좋을지 궁금하네요<br>
				</p>
                </div>
                <p data-dismiss="modal" style="width:120px; color:#24babc; font-weight:bold; border:2px solid #24babc; margin:10px 0 30px 0; padding:10px; border-radius:20px; cursor:pointer">닫기</p>
           		</div>
        		</div>
				</div -->
				
	</div>
	<!--재무 신청 오픈-->
	<a href="/finance/apply/"><div class="btn-apply-in2" align="center"><h5><b>상담 신청</b></h5></div></a>
	<!--재무 신청 마감-->
	<!-- a href="#" onClick="alert('이번 달 무료 재무상담 신청이 마감되었습니다. 다음 달에 더 좋은 상담으로 찾아뵙겠습니다.')"><div class="btn-apply-in2" align="center">상담 신청하기</div></a-->
</div>

<div class="review" align="center">
	<a href="/finance/review"><span>재무상담 생성후기</span></a>
	
	<!-- review 시작 -->
	<div class="container" style="margin:30px 0 20px 0">
		<!-- 상담후기1 -->
		<div class="col-xs-6 col-sm-3">
			<p class="text-click">Click!</p>
			<img class="img-responsive" src="/page_imgs/finance_img/review/170409.jpg" data-toggle="modal" data-target="#coupon-modal" style="cursor:pointer">
			<p><b>박XX / 20대</b></p>
		</div>
				<div id="coupon-modal" class="modal fade" role="dialog" align="center">
       			 <div class="modal-dialog modal-lg">
           		  <div class="modal-content">
                	 <div class="modal-header">
                     <h4 class="modal-title"><b>생생 후기</b></h4><h6 align="left" style="margin-bottom: 0px;">상담 날짜 : 2017-04-11</h6>
                	 </div>
                	 <div class="modal-body">
                   		<img class="img-responsive" src="/page_imgs/finance_img/review/170409.jpg">
                   		<img class="img-responsive" src="/page_imgs/finance_img/review/Q1.png">
                   		<div class="modal-paper" style="color:#000; margin-top:10px;" align="left">
                   		경제에 어느정도 관심이 있다고 생각했다. 저축을 통해 자금을 모으기 보다는 그 돈을 어디에 소비할 지를 고민했다. 은행은 돈을 모아주기보다는 이율이라는 미끼를 통해 저축을 유도한다고 생각했다. 안정적인 투자보다는 공격적인 투자가 좋다고 생각했다.
                   		</div>
                   		<img class="img-responsive" src="/page_imgs/finance_img/review/Q2.png">
                   		<div class="modal-paper" style="color:#000; margin-top:10px;" align="left">
                   		어렴풋이 알고 있던 상식들을 자세히 설명 해주셔서 좋았다. 특히 채권에 대해 모르는 부분이 많았는데 자세히 알려주셔서 좋았다. 공격적인 투자가 많은 수익을 얻을 확률이 많아서 그 방법이 재태크에서는 최고라고 생각했는데 안정적인 투자로도 시간이 지나면 많은 수익을 올릴 수 있다는 새로운 시각을 경험할 수 있어서 좋았다.
                   		</div>
                   		<h5 class="modal-title" style="color:#000; margin-top:10px;"></h5>
                   		<a href="#" data-dismiss="modal"><p style="width:120px; color:#24babc; font-weight:bold; border:2px solid #24babc; margin:30px 0 20px 0; padding:10px; border-radius:20px; cursor:pointer">닫기</p></a>
                 	 </div>
           		  </div>
        		 </div>
    		    </div>
		<!-- 상담후기2 -->
		<div class="col-xs-6 col-sm-3">
			<p class="text-click">Click!</p>
			<img class="img-responsive" src="/page_imgs/finance_img/review/170312.jpg" data-toggle="modal" data-target="#coupon-modal2" style="cursor:pointer">
			<p><b>송XX / 20대</b></p>
		</div>
				<div id="coupon-modal2" class="modal fade" role="dialog" align="center">
       			 <div class="modal-dialog modal-lg">
           		  <div class="modal-content">
                	 <div class="modal-header">
                     <h4 class="modal-title"><b>생생 후기</b></h4><h6 align="left" style="margin-bottom: 0px;">상담 날짜 : 2017-03-19</h6>
                	 </div>
                	 <div class="modal-body">
                   		<img class="img-responsive" src="/page_imgs/finance_img/review/170312.jpg">
                   		<img class="img-responsive" src="/page_imgs/finance_img/review/Q1.png">
                   		<div class="modal-paper" style="color:#000; margin-top:10px;" align="left">
                   		재무에 대한 지식이 전무해서 조금이라도 얻어가자는 생각이었습니다. 기본적인 경제 지식이나 현재 경제 상황 등.
                   		</div>
                   		<img class="img-responsive" src="/page_imgs/finance_img/review/Q2.png">
                   		<div class="modal-paper" style="color:#000; margin-top:10px;" align="left">
                   		일단 너무 친절하시고 최대한 저에게 맞춰주셔서 감사했습니다. 전반적으로 기본적인 지식 얻은 것 같아 만족스럽고 나중에 제가 더 공부해보고 알아봐서 더 세세한 부분까지 상담받고 싶다는 생각이 들었어요 이런 좋은 기회 주셔서 감사하고 사이다경제 힘내세요! 특히 고객의 입장에서 상품 가입할 때 주의할 부분 지적해주신게 좋았습니다. 판매 목적이 아니라 어찌보면 순수하게 조언해주신거니까요! 감사합니다^^
                   		</div>
                   		<h5 class="modal-title" style="color:#000; margin-top:10px;"></h5>
                   		<a href="#" data-dismiss="modal"><p style="width:120px; color:#24babc; font-weight:bold; border:2px solid #24babc; margin:30px 0 20px 0; padding:10px; border-radius:20px; cursor:pointer">닫기</p></a>
                 	 </div>
           		  </div>
        		 </div>
    		    </div>
    	<!-- 상담후기3 -->	    
		<div class="col-xs-6 col-sm-3">
			<p class="text-click">Click!</p>
			<img class="img-responsive" src="/page_imgs/finance_img/review/17014.jpg" data-toggle="modal" data-target="#coupon-modal3" style="cursor:pointer">
			<p><b>윤XX / 30대</b></p>
		</div>
				<div id="coupon-modal3" class="modal fade" role="dialog" align="center">
       			 <div class="modal-dialog modal-lg">
           		  <div class="modal-content">
                	 <div class="modal-header">
                     <h4 class="modal-title"><b>생생 후기</b></h4><h6 align="left" style="margin-bottom: 0px;">상담 날짜 : 2017-01-13</h6>
                	 </div>
                	 <div class="modal-body">
                   		<img class="img-responsive" src="/page_imgs/finance_img/review/17014.jpg">
                   		<img class="img-responsive" src="/page_imgs/finance_img/review/Q1.png">
                   		<div class="modal-paper" style="color:#000; margin-top:10px;" align="left">
                   		취업한지 딱 1년이 되었는데 1년동안 모은 돈을 어찌 해야 할지 몰라 예금으로만 쌓아 두고 있었습니다.
                   		</div>
                   		<img class="img-responsive" src="/page_imgs/finance_img/review/Q2.png">
                   		<div class="modal-paper" style="color:#000; margin-top:10px;" align="left">
                   		금융 지식에 대해 너무 모르는 상태에서 상담을 받았음에도 이해가 쏙쏙 되게 설명해 주셔서 좋았습니다. 가장 마음에 든 점은 인생의 전반적인 사이클에 따른 재무 설계 방법을 이해 할 수 있어서 좋았고, 앞으로도 금융, 관련해서 조언해 줄 수 있는 멘토가 생긴 것 같아 좋았습니다.
                   		</div>
                   		<h5 class="modal-title" style="color:#000; margin-top:10px;"></h5>
                   		<a href="#" data-dismiss="modal"><p style="width:120px; color:#24babc; font-weight:bold; border:2px solid #24babc; margin:30px 0 20px 0; padding:10px; border-radius:20px; cursor:pointer">닫기</p></a>
                 	 </div>
           		  </div>
        		 </div>
    		    </div>	
		<!-- 상담후기4 -->
		<div class="col-xs-6 col-sm-3">
			<p class="text-click">Click!</p>
			<img class="img-responsive" src="/page_imgs/finance_img/review/17013.jpg" data-toggle="modal" data-target="#coupon-modal4" style="cursor:pointer">
			<p><b>천XX / 40대</b></p>
		</div>
				<div id="coupon-modal4" class="modal fade" role="dialog" align="center">
       			 <div class="modal-dialog modal-lg">
           		  <div class="modal-content">
                	 <div class="modal-header">
                     <h4 class="modal-title"><b>생생 후기</b></h4><h6 align="left" style="margin-bottom: 0px;">상담 날짜 : 2017-01-13</h6>
                	 </div>
                	 <div class="modal-body">
                   		<img class="img-responsive" src="/page_imgs/finance_img/review/17013.jpg">
                   		<img class="img-responsive" src="/page_imgs/finance_img/review/Q1.png">
                   		<div class="modal-paper" style="color:#000; margin-top:10px;" align="left">
                   		돈을 조금 버는 것 같지는 않은데, 늘 돈은 모자라고... 어디서부터 손을 대야 할 지 몰라서, 고민만 하던 차에 좋은 기회가 생겨서 신청을 하게 되었습니다. 나름 정리를 해서 지출한다고 생각은 했지만, 어디가 잘못되어있는지 몰라서 고민만 하고 있었지요.
                   		</div>
                   		<img class="img-responsive" src="/page_imgs/finance_img/review/Q2.png">
                   		<div class="modal-paper" style="color:#000; margin-top:10px;" align="left">
                   		현재 가입되어 있는 상품과 소비 패턴을 꼼꼼하게 살펴봐 주시고, 현재 상태에 대한 진단과 앞으로 관리해야 할 방향성에 대해서도 현재의 트렌트를 잘 반영하여 알기 쉽게 잘 설명해주셔서 이해가 잘되었습니다. 제가 시간이 별로 없어서 상담을 길게 받지 못해 너무 아쉬웠네요.
                   		</div>
                   		<h5 class="modal-title" style="color:#000; margin-top:10px;"></h5>
                   		<a href="#" data-dismiss="modal"><p style="width:120px; color:#24babc; font-weight:bold; border:2px solid #24babc; margin:30px 0 20px 0; padding:10px; border-radius:20px; cursor:pointer">닫기</p></a>
                 	 </div>
           		  </div>
        		 </div>
    		    </div>		  
	</div>
	<!-- review 끝 -->
	
	<p style="color:#24babc"><b>본 후기는 현장에서 상담받는 고객들이<br>직접 자필로 작성해주셨으며,<br>허위없이 캡쳐해 내용 그대로를 공유합니다.</b></p>
	
</div>

<div class="review-plus-btn" align="center">
	<a href="/finance/review/"><span>더 많은 후기 보러가기</span></a>
</div>

<div class="contents" align="center">
	<a href="/finance/contents"><span>금융 콘텐츠</span></a>
	
<!--콘텐츠 들어갈 자리-->
<style type="text/css">
	.con_border{
		border: 1px solid #ececec;
		border-radius: 6px;
	}
</style>
<div class="contents-finance container">
	<ul class="grid effect-2" id="grid">
	<% for(var i=0; i<contents.length; i++) { %>
	<li>
		<div class="con_border">
			<a href="/contents/detail/<%= contents[i].con_no %>" style="margin-top:0">
			<div class="con-img" align="center" style="margin-top:0"><img class="img-responsive" src="<%= contents[i].con_photo %>"></div></a>
			<p><a href="/contents/detail/<%= contents[i].con_no %>">
			<%= contents[i].con_title %></a></p>
		</div>
	</li>
	<% } %>
	</ul>
</div>
<script src="/js/contents_js/masonry.pkgd.min.js"></script>
<script src="/js/contents_js/imagesloaded.js"></script>
<script src="/js/contents_js/classie.js"></script>
<script src="/js/contents_js/AnimOnScroll.js"></script>
<script>
new AnimOnScroll( document.getElementById( 'grid' ), {
minDuration : 0.4,
maxDuration : 0.7,
viewportFactor : 0.2
} );
</script>

	<!--재무 신청 오픈-->
	<a href="/finance/apply/"><div class="btn-apply-in1" align="center"><h5><b>상담 신청</b></h5></div></a>
	<!--재무 신청 마감-->
	<!-- a href="#" onClick="alert('이번 달 무료 재무상담 신청이 마감되었습니다. 다음 달에 더 좋은 상담으로 찾아뵙겠습니다.')"><div class="btn-apply-in1" align="center">상담 신청하기</div></a-->
</div>



<% include ../bottom %>
</body>
</html>

