<!DOCTYPE html>
<html lang="ko">
<head>
	
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1"-->


<script language='javascript'> 
function after_load() 
{ 
setTimeout("alert('잘못된 경로입니다.');window.location.href = 'http://cidermics.com';", 100); 
//setTimeout("alert('네트워크 오류가 발생하였습니다. 다시 시도해주세요.');history.back();", 100); 
	//setTimeout("history.back();", 100); 
} 
</script> 
<body onload="after_load();">

</body>
</html>
