<!DOCTYPE html>
<html lang="ko">
<head>
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>사이다경제 | 스마트폰 알림설정 방법</title>
<link href="/css/cid_appdownload.css" rel="stylesheet">
<link href="/css/swiper.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/modernizr.custom.js"></script>
<script src="/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container appdownload" align="center">
		<div class="col-xs-12 btn-main1"><a href="/"  style="text-decoration:none"><p>메인으로 ></p></a></div>
	<div class="icon1"><img src="page_imgs/fixed_img/icon-apppushset.svg"></div>
	<div class="title"><P>스마트폰 알림설정 방법</P></div>
	<div class="downimg row">
	<div class="col-xs-12" align="center">
		<div class="row align="center">	
			<div class="menu-title">	
			<ul class="nav nav-tabs row" style="margin-right:0; margin-left:0;">
		    	<li class="active col-xs-6"><a data-toggle="tab" href="#home_1" style="padding:10px 1px; color:#212121;">Android</a></li>
		    	<li class="col-xs-6"><a data-toggle="tab" href="#menu_1" style="padding:10px 1px; color:#212121;">iOS</a></li>
		  	</ul>
			</div>
		 </div>
		 <div class="tab-content" style="margin-top:15px;">
		 	<div id="home_1" class="con-in row tab-pane fade in active">
				<div class="col-md-6 col-xs-12"><img src="/page_imgs/fixed_img/alarm/apppush_android1.jpg"></div>
				<div class="col-md-6 col-xs-12"><img src="/page_imgs/fixed_img/alarm/apppush_android2.jpg"></div>
				<div class="col-md-6 col-xs-12"><img src="/page_imgs/fixed_img/alarm/apppush_android3.jpg"></div>
				<div class="col-md-6 col-xs-12"><img src="/page_imgs/fixed_img/alarm/apppush_android4.jpg"></div>
		    </div>
		    <div id="menu_1" class="con-in row tab-pane fade">
				<div class="col-md-6 col-xs-12"><img src="/page_imgs/fixed_img/alarm/apppush_iOS1.jpg"></div>
				<div class="col-md-6 col-xs-12"><img src="/page_imgs/fixed_img/alarm/apppush_iOS2.jpg"></div>
				<div class="col-md-6 col-xs-12"><img src="/page_imgs/fixed_img/alarm/apppush_iOS3.jpg"></div>
				<div class="col-md-6 col-xs-12"><img src="/page_imgs/fixed_img/alarm/apppush_iOS4.jpg"></div>
		    </div>
		</div>
	</div>
		<div class="col-xs-12 btn-main"><a href="/"  style="text-decoration:none"><p>메인으로 ></p></a></div>
	</div>
</div>
</body>
</html>