<!DOCTYPE html>
<html lang="ko">
<head>
	
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<!--meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1"-->
<!--link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_top_bottom.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/cid_top_bottom.js"></script-->

<script language="javascript" type="text/javascript">  

function openWin(){  
    window.open("http://blog.naver.com/cidermics");  
}
function openWinTS(){  
    window.open("http://cidermics.tistory.com/");  
}
function openWinFB(){  
    window.open("https://www.facebook.com/cidermics");  
}
function openWinKA(){  
    window.open("http://plus.kakao.com/home/@%EC%82%AC%EC%9D%B4%EB%8B%A4%EA%B2%BD%EC%A0%9C");  
}
</script>


</head>
<body>

<div class="web-footer">
		<div class="container">
				<div class="row">
						<div class="col-sm-1 logo"> <img src="/page_imgs/fixed_img/logo.svg"> </div>
						<div class="col-sm-5 intro"><span>사이다경제는 알고는 싶지만 어려운 경제를<br>
								쉽고 시원하게 풀어드리는 뉴미디어를 지향합니다.<br>
								경제에 대한 관심을 이끌고 금융지식을 전파하며<br>
								건전한 금융생태계를 만들기 위해 앞장서고 있습니다.</span> </div>
						<div class="col-sm-3 about">
								<p>ABOUT</p>
								<div class="line-about"></div>
								<div class="about-con">
										<p><a href="/our_company">Our Company</a></p>
										<p><a href="/our_team">Our Team</a></p>
										<p><a href="/contact">Contact Us</a></p>
								</div>
						</div>
						<div class="col-sm-3 ourworks">
								<p>OUR WORKS</p>
								<div class="line-about"></div>
								<div class="ourworks-con">
										<p><a href="#" onClick="javascript:openWin();">NAVER blog</a></p>
										<p><a href="#" onClick="javascript:openWinTS();">Tistory blog</a></p>
										<p><a href="#" onClick="javascript:openWinFB();">Facebook page</a></p>
										<p><a href="#" onClick="javascript:openWinKA();">카카오톡 플러스친구</a></p>
								</div>
						</div>
				</div>
				<div class="line-1px"></div>
				<div class="row company-con">
						<div class="col-sm-2">
								<p>ⓒFORTT Co., Ltd.</p>
						</div>
						<div class="col-sm-4">
								<p>대표 : 김의현 <br>개인정보책임 : 김의현</p>
						</div>
						<div class="col-sm-3">
								<p>파트너 제휴문의 : contact@cidermics.com<br>주소 : 서울특별시 영등포구 당산로 45길 7 502<br>전화번호 : 02) 2088 - 5754</p>
						</div>
						<div class="col-sm-3">
								<p>사업자등록번호 : 386-05-00291</p>
								<p>cider-3 ver</p>
						</div>		
				</div>
		</div>
</div>
<div class="mob-footer">
		<div class="logo" align="center"><a href="/main3"><img src="/page_imgs/fixed_img/mob_icon_footer_logo.svg"></a></div>
		<p>파트너 제휴문의 : contact@cidermics.com<br>
		전화번호 : 02) 2088 - 5754<br>
		개인정보책임 : 김의현<br>
		서울특별시 영등포구 당산로 45길 7 502<br>
		사업자등록번호 : 386-05-00291</p>
</div>
</body>
</html>
