<!--<!DOCTYPE html>-->
<html lang="ko">
<head>

<meta charset="utf-8">
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
<!--페이스북 관련 -->
<meta property="fb:admins" content="{jkhhihi@naver.com}"/><!--페이스북 슈퍼아이디-->
<!--공유 meta tags-->
<meta name="title" content="사이다경제" />
<meta property="og:image"  content="http://www.cidermics.com/page_imgs/fixed_img/thum_img.jpg" />
<meta property="og:title"  content="사이다경제" />	
<meta property="og:site_name"  content="사이다경제"/ >
<meta property="og:type"  content="article">
<meta property="og:url"  content="http://www.cidermics.com/" />
<meta property="og:description" content="경제/금융을 쉽고 시원하게 풀어드리겠습니다!" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>사이다경제</title>

<link href="/css/cid_main2.css" rel="stylesheet">
<link href="/css/swiper.css" rel="stylesheet">
<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


<script src="/js/modernizr.custom.js"></script>
<script language="javascript" type="text/javascript">
function openWinFB(){  
    window.open("https://www.facebook.com/cidermics");
}
function openWinKA(){
    window.open("http://plus.kakao.com/home/@%EC%82%AC%EC%9D%B4%EB%8B%A4%EA%B2%BD%EC%A0%9C");  
}
</script>

</head>
<body>
<% include top %>

<div class="contents_detail-mob_menu"><img src="http://i.imgur.com/iW4DMcC.png" height="50"></div>
<script type="text/javascript">
  function setCookie( name, value, expiredays ) { 
   var todayDate = new Date(); 
    todayDate.setDate( todayDate.getDate() + expiredays ); 
    document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + todayDate.toGMTString() + ";" 
   }
  function closePop() { 
   if ( document.pop_form.chkbox.checked ){ 
    setCookie( "maindiv", "done" , 1 ); 
   } 
   document.all['pop'].style.visibility = "hidden";
   document.all['info-wrap'].style.visibility = "hidden";
  }
  
  $(function () {
    $('.button-checkbox').each(function () {

        // Settings
        var $widget = $(this),
            $button = $widget.find('button'),
            $checkbox = $widget.find('input:checkbox'),
            color = $button.data('color'),
            settings = {
                on: {
                    icon: 'glyphicon glyphicon-check'
                },
                off: {
                    icon: 'glyphicon glyphicon-unchecked'
                }
            };

        // Event Handlers
        $button.on('click', function () {
            $checkbox.prop('checked', !$checkbox.is(':checked'));
            $checkbox.triggerHandler('change');
            updateDisplay();
        });
        $checkbox.on('change', function () {
            updateDisplay();
        });

        // Actions
        function updateDisplay() {
            var isChecked = $checkbox.is(':checked');

            // Set the button's state
            $button.data('state', (isChecked) ? "on" : "off");

            // Set the button's icon
            $button.find('.state-icon')
                .removeClass()
                .addClass('state-icon ' + settings[$button.data('state')].icon);

            // Update the button's color
            if (isChecked) {
                $button
                    .removeClass('btn-default')
                    .addClass('btn-' + color + ' active');
            }
            else {
                $button
                    .removeClass('btn-' + color + ' active')
                    .addClass('btn-default');
            }
        }

        // Initialization
        function init() {

            updateDisplay();

            // Inject the icon if applicable
            if ($button.find('.state-icon').length == 0) {
                $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
            }
        }
        init();
    });
});
</script>

<!-- 메인 팝업 창 -->
<!--div id="info-wrap">
		<div id="pop">
			 <div>
  				<a href="/finance/necessary"><img class="img-responsive" src="http://i.imgur.com/ul8mTak.jpg"></a>
 			 </div>
 			 
			<div class="close1" style="opacity:.98;">
  				<form name="pop_form" id="pdtop">
  					<span class="button-checkbox">
        				<button type="button" class="btn">하루동안 보지 않기</button>
        				<input type="checkbox" name="chkbox" value="checkbox" class="hidden" checked />
    				</span>
    				<span class="button-close">
        				<button type="button" class="btn" onclick="closePop();">닫기</button>
    				</span>
  				</form>
 			</div>
			
		</div>
</div-->
 
<script language="Javascript">
  cookiedata = document.cookie;    
  if ( cookiedata.indexOf("maindiv=done") < 0 ){      
   document.all['pop'].style.visibility = "visible";
   
   } 
   else {
    document.all['pop'].style.visibility = "hidden";
    document.all['info-wrap'].style.visibility = "hidden";
  }
</script>

<!-- 메인이미지 -->
<script>
$(document).ready(function(){
    $('.parallax').parallax();
  });
</script>
<div class="parallax">
	<div class="parallax-in container" align="center">
		<img src="/page_imgs/fixed_img/bg-no-logo.png" style="border-radius:6px;">
		<p>경제의 첫걸음,사이다경제와 함께!</p>
	</div>
</div>

<!-- 슬라이드 배너 -->
<div id="myCarousel" class="container carousel slide" data-ride="carousel" style="margin-top:5px;">
  <!-- Indicators> 
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol -->
  <!-- Wrapper for slides -->


  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <a href="/lecture/detail/4"><img class="img-responsive" src="http://i.imgur.com/6J7HCrK.jpg" onclick="ga('send','event','삼박자투자법','버튼클릭','삼박자메인' );"></a>
    </div>
    <div class="item">
      <a href="/finance/necessary"><img class="img-responsive" src="http://i.imgur.com/QkOUVl7.jpg"></a>
    </div>
    <div class="item">
      <a href="/appdown"><img class="img-responsive" src="http://i.imgur.com/qIhfF54.jpg"></a>
    </div>
  </div>
  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<!-- 메인에 6개 메뉴 -->
<div class="menu6 container row" align="center">
	<a href="/contents"><div class="col-md-2 col-xs-4"><p>인기 콘텐츠</p></div></a>
	<a href="/project"><div class="col-md-2 col-xs-4"><p>기획 콘텐츠</p></div></a>
	<a href="/podcast"><div class="col-md-2 col-xs-4"><p>팟캐스트</p></div></a>
	<a href="/finance/necessary"><div class="col-md-2 col-xs-4"><p>사이다재무</p></div></a>
	<a href="/discuss"><div class="col-md-2 col-xs-4"><p>사이다토론</p></div></a>
	<a href="/lecture"><div class="col-md-2 col-xs-4"><p>사이다강의</p></div></a>
</div>
	
	


</div>	
	<script src="/js/swiper.js"></script>
	<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView: 3,
        paginationClickable: true,
        spaceBetween: 2,
        freeMode: true
        
    });
    </script>
	


<% include bottom %>


</body>
</html>
