<!DOCTYPE html>
<html lang="ko">
<head>	
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/css/cid_survey.css" rel="stylesheet">
<link href="/css/materialize.css" rel="stylesheet">
<script src="/js/materialize.min.js"></script>
</head>


<body>

<div class="" align="center">
	<a href="/"><p class="btn-home">홈으로</p></a>
	<div class="main-banner">
		<img src="/page_imgs/main_img/survey-icon.svg">
		<p>
			오프라인 강의 콘텐츠 제작에 앞서<br>
			구독자 분들이 관심있는 분야를 알기 위해<br>
			온라인 설문을 준비해보았습니다.
		</p>
	</div>
	<div class="container">
		<p align="left" style="color:#333;">
			<span style="color:#ff574a;">*</span> 아메리카노 쿠폰도 준비했으니<br>
			많은 참여 부탁드리겠습니다~~! (총 10개)
		</p>
		<div class="survey">
			<div class="title"><p style="color:#ff574a; font-size:20px;"> < 오프라인 강의 분야 설문조사 > </p></div>
			<div class="q1">
				<p>01. 나이는 어떻게 되나요?</p>
				 <form action="#">
			     	<p>
			     		<input class="with-gap" name="group1" type="radio" id="test3"  />
			     		<label for="test3">Green</label>
			     	</p>
			     </form>
			</div>
			<div class="q2"></div>
			<div class="q3"></div>
			<div class="q4"></div>
			<div class="q5"></div>
			<div class="q6"></div>
			
		</div>
	</div>	
</div>

</body>
</html>
