<!--<!DOCTYPE html>-->
<html lang="ko">
<head>

<meta charset="utf-8">
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
<!--페이스북 관련 -->
<meta property="fb:admins" content="{jkhhihi@naver.com}"/><!--페이스북 슈퍼아이디-->
<!--공유 meta tags-->
<meta name="title" content="사이다경제" />
<meta property="og:image"  content="http://www.cidermics.com/page_imgs/fixed_img/thum_img.jpg" />
<meta property="og:title"  content="사이다경제" />	
<meta property="og:site_name"  content="사이다경제"/ >
<meta property="og:type"  content="article">
<meta property="og:url"  content="http://www.cidermics.com/" />
<meta property="og:description" content="경제/금융을 쉽고 시원하게 풀어드리겠습니다!" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>사이다경제</title>

<link href="/css/cid_main2.css" rel="stylesheet">
<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="/js/modernizr.custom.js"></script>
<script language="javascript" type="text/javascript">
function openWinFB(){  
    window.open("https://www.facebook.com/cidermics");
}
function openWinKA(){
    window.open("http://plus.kakao.com/home/@%EC%82%AC%EC%9D%B4%EB%8B%A4%EA%B2%BD%EC%A0%9C");  
}
</script>

<style>
.menu-wrap::-webkit-scrollbar { 
    display: none; 
}
</style>

</head>

<body>
<% include top %>
<script type="text/javascript">
  function setCookie( name, value, expiredays ) { 
   var todayDate = new Date(); 
    todayDate.setDate( todayDate.getDate() + expiredays ); 
    document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + todayDate.toGMTString() + ";" 
   }
  function closePop() { 
   if ( document.pop_form.chkbox.checked ){ 
    setCookie( "maindiv", "done" , 1 ); 
   } 
   document.all['pop'].style.visibility = "hidden";
   document.all['info-wrap'].style.visibility = "hidden";
  }
  
  $(function () {
    $('.button-checkbox').each(function () {

        // Settings
        var $widget = $(this),
            $button = $widget.find('button'),
            $checkbox = $widget.find('input:checkbox'),
            color = $button.data('color'),
            settings = {
                on: {
                    icon: 'glyphicon glyphicon-check'
                },
                off: {
                    icon: 'glyphicon glyphicon-unchecked'
                }
            };

        // Event Handlers
        $button.on('click', function () {
            $checkbox.prop('checked', !$checkbox.is(':checked'));
            $checkbox.triggerHandler('change');
            updateDisplay();
        });
        $checkbox.on('change', function () {
            updateDisplay();
        });

        // Actions
        function updateDisplay() {
            var isChecked = $checkbox.is(':checked');

            // Set the button's state
            $button.data('state', (isChecked) ? "on" : "off");

            // Set the button's icon
            $button.find('.state-icon')
                .removeClass()
                .addClass('state-icon ' + settings[$button.data('state')].icon);

            // Update the button's color
            if (isChecked) {
                $button
                    .removeClass('btn-default')
                    .addClass('btn-' + color + ' active');
            }
            else {
                $button
                    .removeClass('btn-' + color + ' active')
                    .addClass('btn-default');
            }
        }

        // Initialization
        function init() {

            updateDisplay();

            // Inject the icon if applicable
            if ($button.find('.state-icon').length == 0) {
                $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
            }
        }
        init();
    });
});
</script>


<!-- 메인 팝업 창-->
<div id="info-wrap">
		<div id="pop">
			 <div>
  				<a href="/finance"><img class="img-responsive" src="https://i.imgur.com/Xs1zgiF.jpg"></a>
 			 </div>
			<div class="close1" style="opacity:.98;">
  				<form name="pop_form" id="pdtop">
  					<span class="button-checkbox">
        				<button type="button" class="btn">하루동안 보지 않기</button>
        				<input type="checkbox" name="chkbox" value="checkbox" class="hidden" checked />
    				</span>
    				<span class="button-close">
        				<button type="button" class="btn" onclick="closePop();">닫기</button>
    				</span>
  				</form>
 			</div>
		</div>
</div>
<script language="Javascript">
  cookiedata = document.cookie;    
  if ( cookiedata.indexOf("maindiv=done") < 0 ){      
   document.all['pop'].style.visibility = "visible";  
   } 
   else {
    document.all['pop'].style.visibility = "hidden";
    document.all['info-wrap'].style.visibility = "hidden";
  }
</script>

<!-- 메인이미지 -->

<div class="parallax" style="margin-bottom:0;">
	<div class="parallax-in container" align="center">
		<img src="/page_imgs/fixed_img/bg-no-logo.png" style="border-radius:6px;">
		<p>경제의 첫걸음,사이다경제와 함께!</p>
	</div>
</div>


<% include bottom %>
</body>
</html>
