<!DOCTYPE html>
<html lang="ko">
<head>

<meta charset="utf-8">
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
<!--페이스북 관련 -->
<meta property="fb:admins" content="{jkhhihi@naver.com}"/><!--페이스북 슈퍼아이디-->
<!--공유 meta tags-->
<meta name="title" content="사이다경제" />
<meta property="og:image"  content="http://www.cidermics.com/page_imgs/fixed_img/thum_img.jpg" />
<meta property="og:title"  content="사이다경제" />	
<meta property="og:site_name"  content="사이다경제"/ >
<meta property="og:type"  content="article">
<meta property="og:url"  content="http://www.cidermics.com/" />
<meta property="og:description" content="경제/금융을 쉽고 시원하게 풀어드리겠습니다!" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>사이다경제</title>

<link href="/css/cid_main_temp.css" rel="stylesheet">
<link href="/css/swiper.css" rel="stylesheet">
<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="/js/modernizr.custom.js"></script>
<script src="/js/gotoup.js"></script>
<script language="javascript" type="text/javascript">
function openWinFB(){  
    window.open("https://www.facebook.com/cidermics");  
}
function openWinKA(){
    window.open("http://plus.kakao.com/home/@%EC%82%AC%EC%9D%B4%EB%8B%A4%EA%B2%BD%EC%A0%9C");  
}
</script>
<script>
var now = new Date(); 
var todayAtMidn = new Date(now.getFullYear(), now.getMonth(), now.getDate(),now.getHours());
 
// Set specificDate to a specified date at midnight.
var specificDate = new Date("2016/8/20/2");
 
// Compare the two dates by comparing the millisecond
// representations.
if (todayAtMidn.getTime() == specificDate.getTime())
{
    location.href="cid_main";
}
</script>
<style>
#info-wrap {
	color:#fff;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.55);
	z-index: 999999;
}
.info-close {
	border: 2px solid #fff;
	color: #fff;
	background: none;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0.5em 0.5em;
	letter-spacing: 1px;
	margin: 1em 0 0 0;
}
@media screen and (max-width: 70em) {
	.mockup-width--forth {
		width: 50%;
	}
}
@media screen and (max-width: 60em) {
	.mockup-width--third {
		width: 100%;
	}
}
@media screen and (max-width: 50em) {
	.customizer {
		top: 0;
		width: 100%;
		height: auto;
		padding: 30px 0;
		-webkit-transform: none;
		transform: none;
		border-radius: 0;
	}
	.color-tool {
		-webkit-flex-direction: row;
		flex-direction: row;
		-webkit-justify-content: center;
		justify-content: center;
	}
	.color-tool li {
		margin: 3px;
	}
	.content {
		padding: 1em 0;
	}
	.mockup-section {
		padding: 40px 0;
	}
	.mockup-content {
		padding: 0 10px;
	}
	.mockup-width--forth,
	.mockup-width--half {
		width: 100%;
	}
	.mockup-logo,
	.mockup-nav {
		width: 100%;
		text-align: center;
	}
	.mockup-nav {
		line-height: 1.5;
		padding: 20px 0 0;
	}
	.mockup-heading--large {
		font-size: 2.25em;
	}
	.mockup-blockquote {
		font-size: 1.5em;
	}
}
</style>
<style>
	.ui-datepicker-calendar {
    display: none;
    }
</style>
<!-- 팝업창 -->
<style type="text/css">
.button-checkbox .btn{height:45px; padding:0 10px; background-color:#025F96; color:#fff; font-size:14px; border-radius:2px;}
.button-checkbox .btn:focus, .btn:hover{background-color:#025F96; color:#fff;}
.button-close .btn{height:45px; padding:0 10px; background-color:#ececec; color:#025F96; font-size:14px; border-radius:2px;}
#pop{
  	width: 90%;
 	height:auto;
	max-width: 500px;
	max-height: 580px;
	background: #fff;
	padding: 1em 1em;
	line-height: 1.5;
	text-align: center;
	box-shadow: 0 0 30px rgba(0,0,0,0.2);
	left:50%;
	padding:10px 10px;
}
.close1 div{float:left; text-align:right; }
#pdtop{padding-top:10px;}

@media(max-width: 760px){
#pop{
  	height:auto;
	max-height: 580px;
	padding:10px 10px;
}  
}
</style>
</head>

<body>

<!--위로가기 버튼-->
<div id="but_top"><img class="gototop" src="/page_imgs/fixed_img/btn_gotoup.svg"></div>
<% include top %>
<div class="contents_detail-mob_menu"><img src="http://i.imgur.com/iW4DMcC.png" height="50"></div>
<script type="text/javascript">
  function setCookie( name, value, expiredays ) { 
   var todayDate = new Date(); 
    todayDate.setDate( todayDate.getDate() + expiredays ); 
    document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + todayDate.toGMTString() + ";" 
   }
  function closePop() { 
   if ( document.pop_form.chkbox.checked ){ 
    setCookie( "maindiv", "done" , 1 ); 
   } 
   document.all['pop'].style.visibility = "hidden";
   document.all['info-wrap'].style.visibility = "hidden";
  }
  
  $(function () {
    $('.button-checkbox').each(function () {

        // Settings
        var $widget = $(this),
            $button = $widget.find('button'),
            $checkbox = $widget.find('input:checkbox'),
            color = $button.data('color'),
            settings = {
                on: {
                    icon: 'glyphicon glyphicon-check'
                },
                off: {
                    icon: 'glyphicon glyphicon-unchecked'
                }
            };

        // Event Handlers
        $button.on('click', function () {
            $checkbox.prop('checked', !$checkbox.is(':checked'));
            $checkbox.triggerHandler('change');
            updateDisplay();
        });
        $checkbox.on('change', function () {
            updateDisplay();
        });

        // Actions
        function updateDisplay() {
            var isChecked = $checkbox.is(':checked');

            // Set the button's state
            $button.data('state', (isChecked) ? "on" : "off");

            // Set the button's icon
            $button.find('.state-icon')
                .removeClass()
                .addClass('state-icon ' + settings[$button.data('state')].icon);

            // Update the button's color
            if (isChecked) {
                $button
                    .removeClass('btn-default')
                    .addClass('btn-' + color + ' active');
            }
            else {
                $button
                    .removeClass('btn-' + color + ' active')
                    .addClass('btn-default');
            }
        }

        // Initialization
        function init() {

            updateDisplay();

            // Inject the icon if applicable
            if ($button.find('.state-icon').length == 0) {
                $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
            }
        }
        init();
    });
});
</script>

<!-- 메인 팝업 창 -->
<div id="info-wrap">
		<div id="pop">
			 <div>
  				<a href="/finance/necessary"><img class="img-responsive" src="http://i.imgur.com/FzstPqS.jpg"></a>
 			 </div>
 			 
			<div class="close1" style="opacity:.98;">
  				<form name="pop_form" id="pdtop">
  					<span class="button-checkbox">
        				<button type="button" class="btn">하루동안 보지 않기</button>
        				<input type="checkbox" name="chkbox" value="checkbox" class="hidden" checked />
    				</span>
    				<span class="button-close">
        				<button type="button" class="btn" onclick="closePop();">닫기</button>
    				</span>
  				</form>
 			</div>
			
		</div>
</div>
 
<script language="Javascript">
  cookiedata = document.cookie;    
  if ( cookiedata.indexOf("maindiv=done") < 0 ){      
   document.all['pop'].style.visibility = "visible";
   
   } 
   else {
    document.all['pop'].style.visibility = "hidden";
    document.all['info-wrap'].style.visibility = "hidden";
  }
</script>

<!-- 메인이미지 -->
<script>
$(document).ready(function(){
    $('.parallax').parallax();
  });
</script>
<div class="parallax">
	<div class="parallax-in container" align="center">
		<img src="/page_imgs/fixed_img/bg-no-logo.png" style="border-radius:6px;">
		<p>경제의 첫걸음,사이다경제와 함께!</p>
	</div>
</div>


<!-- 슬라이드 배너 -->
<div id="myCarousel" class="container carousel slide" data-ride="carousel">
  <!-- Indicators>
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol -->
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <a href="/finance/necessary"><img class="img-responsive" src="http://i.imgur.com/QkOUVl7.jpg"></a>
    </div>
    <div class="item">
      <a href="/appdown"><img class="img-responsive" src="http://i.imgur.com/qIhfF54.jpg"></a>
    </div>
  </div>
  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<!-- 메인에 6개 메뉴 -->
<div class="menu6 container row" align="center">
	<a href=""><div class="col-md-2 col-xs-4"><p>최신 콘텐츠</p></div></a>
	<a href="/contents"><div class="col-md-2 col-xs-4"><p>인기 콘텐츠</p></div></a>
	<a href="/project"><div class="col-md-2 col-xs-4"><p>기획 콘텐츠</p></div></a>
	<a href="/podcast"><div class="col-md-2 col-xs-4"><p>팟캐스트</p></div></a>
	<a href="/finance/review"><div class="col-md-2 col-xs-4"><p>재무 리얼후기</p></div></a>
	<a href="/discuss"><div class="col-md-2 col-xs-4"><p>토론 게시판</p></div></a>
</div>
	
<!-- 콘텐츠 -->
<div class="menu6_con container row">
	<div class="new-con col-md-6 col-xs-12">
		<div class="menu-title row" >
			<div class="col-xs-8 padding-0">최신 콘텐츠</div><div class="col-xs-4 padding-0" align="right"><a href="#"></a><a href="#"><p class="plus">더보기 ></p></a></a></div>
			<div class="line-3px col-xs-12"></div>
		</div>
		<!-- 콘텐츠 뿌림 시작 -->		
		<div class="con-in row" align="center">
			<div class="col-md-6 col-xs-4">
				<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
				<div class="thumnail">
					<a href="/contents">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/5.png"></div>
					</div>
					<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
					</a>
				</div>			
			</div>
			<div class="col-md-6 col-xs-4">
				<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
				<div class="thumnail">
					<a href="/contents">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/3.png"></div>
					</div>
					<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
					</a>
				</div>			
			</div>
			<div class="col-md-6 col-xs-4">
				<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
				<div class="thumnail">
					<a href="/contents">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/1.png"></div>
					</div>
					<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
					</a>
				</div>			
			</div>
			<div class="col-md-6 col-xs-4">
				<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
				<div class="thumnail">
					<a href="/contents">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/7.png"></div>
					</div>
					<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
					</a>
				</div>			
			</div>									
		</div>
		<!-- 콘텐츠 뿌림 끝 -->
	</div>
	<div class="popular-con col-md-6 col-xs-12">
		<div class="menu-title row">
			<div class="col-xs-8 padding-0">인기 콘텐츠</div><div class="col-xs-4 padding-0" align="right"><a href="/contents"><p class="plus">더보기 ></p></a></div>
			<div class="line-3px col-xs-12"></div>
		</div>
		<!-- 콘텐츠 뿌림 시작 -->		
		<div class="con-in row" align="center">
			<div class="col-md-6 col-xs-4">
				<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
				<div class="thumnail">
					<a href="/contents">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/5.png"></div>
					</div>
					<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
					</a>
				</div>			
			</div>
			<div class="col-md-6 col-xs-4">
				<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
				<div class="thumnail">
					<a href="/contents">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/3.png"></div>
					</div>
					<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
					</a>
				</div>			
			</div>
			<div class="col-md-6 col-xs-4">
				<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
				<div class="thumnail">
					<a href="/contents">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/1.png"></div>
					</div>
					<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
					</a>
				</div>			
			</div>
			<div class="col-md-6 col-xs-4">
				<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
				<div class="thumnail">
					<a href="/contents">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/7.png"></div>
					</div>
					<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
					</a>
				</div>			
			</div>									
		</div>
		<!-- 콘텐츠 뿌림 끝 -->
	</div>
	<div class="plan-con col-md-6 col-xs-12">
		<div class="menu-title row">
			<div class="col-xs-8 padding-0">기획 콘텐츠</div><div class="col-xs-4 padding-0" align="right"><a href="/project"><p class="plus">더보기 ></p></a></div>
			<div class="line-3px col-xs-12"></div>
		</div>
		<!-- 콘텐츠 뿌림 시작 -->		
		<div class="con-in row" align="center">
			<div class="col-md-6 col-xs-4">
				<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
				<div class="thumnail">
					<a href="/contents">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/1.png"></div>
					</div>
					<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
					</a>
				</div>			
			</div>
			<div class="col-md-6 col-xs-4">
				<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
				<div class="thumnail">
					<a href="/contents">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/7.png"></div>
					</div>
					<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
					</a>
				</div>			
			</div>
		</div>
		<!-- 콘텐츠 뿌림 끝 -->
	</div>
	<div class="podcast-con col-md-6 col-xs-12">
		<div class="menu-title row">
			<div class="col-xs-8 padding-0">팟캐스트</div><div class="col-xs-4 padding-0" align="right"><a href="/podcast"><p class="plus">더보기 ></p></a></div>
			<div class="line-3px col-xs-12"></div>
		</div>
		<!-- 콘텐츠 뿌림 시작 -->		
		<div class="con-in row" align="center">
			<div class="col-md-6 col-xs-4">
				<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
				<div class="thumnail">
					<a href="/contents">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/1.png"></div>
					</div>
					<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
					</a>
				</div>			
			</div>
			<div class="col-md-6 col-xs-4">
				<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
				<div class="thumnail">
					<a href="/contents">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/8.png"></div>
					</div>
					<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
					</a>
				</div>			
			</div>
		</div>
		<!-- 콘텐츠 뿌림 끝 -->
	</div>
	<div class="col-md-6 col-xs-12"><!-- 재무리얼후기,콘텐츠카테고리별 -->
		<div class="review-con row">
			<div class="menu-title row">
				<div class="col-xs-8 padding-0">재무 리얼후기</div><div class="col-xs-4 padding-0" align="right"><a href="/finance/review"><p class="plus">더보기 ></p></a></div>
				<div class="line-3px col-xs-12"></div>
			</div>
			<!-- 콘텐츠 뿌림 시작 -->		
			<div id="text-carousel" class="carousel slide" data-ride="carousel">
		    <!-- Wrapper for slides -->
		    <div class="con-in row" align="center" style="margin-right:0; margin-left:0">
		    	<div class="col-xs-12 border-box">
			        <ol class="carousel-indicators">
			          <li data-target="#text-carousel" data-slide-to="0" class="active"></li>
			          <li data-target="#text-carousel" data-slide-to="1"></li>
			          <li data-target="#text-carousel" data-slide-to="2"></li>
			        </ol>		    	
		            <div class="carousel-inner" role="listbox">
		                <div class="item active">
						    <p><B>후기1 : 현재 가입되어 있는 상품과 <br> 소비 패턴을 꼼꼼하게 ...<span>+</span></B></p>
						    <p>신상 : 홍XX / 40대 / 대기업 직원</P>
		                </div>
		                <div class="item">
						    <p><B>후기2 : 현재 가입되어 있는 상품과 <br> 소비 패턴을 꼼꼼하게 ...<span>+</span></B></p>
							<p>신상 : 홍XX / 40대 / 대기업 직원</P>
		                </div>
		                <div class="item">
						    <p><B>후기3 : 현재 가입되어 있는 상품과 <br> 소비 패턴을 꼼꼼하게 ...<span>+</span></B></p>
							<p>신상 : 홍XX / 40대 / 대기업 직원</P>
		                </div>
		            </div>
			    </div>
		    </div>
		    <!-- Controls --> 
		    <a class="left carousel-control" href="#text-carousel" role="button" data-slide="prev">
		    	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
   				<span class="sr-only">Previous</span>
		  	</a>
			<a class="right carousel-control" href="#text-carousel" role="button" data-slide="next">
		    	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
   				<span class="sr-only">Next</span>
		    </a>
			<!-- 콘텐츠 뿌림 끝 -->	
			</div>
		</div>
		<!-- 경제 금융 기업 주식 카테고리별 콘텐츠 나오는것 -->		
		
		<!-- script type="text/javascript">
			$(document).ready(function(){
				$("#menu1").click(function(){	
					$("#menu1").attr("src","/page_imgs/main_img/icon-con-menu1.png")
				}
			});
		</script -->
		
		<div class="main-con row" align="center" style="margin-right:0; margin-left:0">	
			<div class="menu-title col-xs-12">	
			<ul class="nav nav-tabs row">
		    	<li id="menu1" class="active col-xs-3"><a data-toggle="tab" href="#home"><img class="img-responsive menu1" src="/page_imgs/main_img/icon-con-menu1n.png" onclick="changeImg()">경제</a></li>
		    	<li id="menu2" class="col-xs-3"><a data-toggle="tab" href="#menu1"><img class="img-responsive menu2" src="/page_imgs/main_img/icon-con-menu2n.png" onclick="changeImg()">금융</a></li>
		    	<li id="menu3" class="col-xs-3"><a data-toggle="tab" href="#menu2"><img class="img-responsive menu3" src="/page_imgs/main_img/icon-con-menu3n.png" onclick="changeImg()">기업</a></li>
		    	<li id="menu4" class="col-xs-3"><a data-toggle="tab" href="#menu3"><img class="img-responsive menu4" src="/page_imgs/main_img/icon-con-menu4n.png" onclick="changeImg()">주식</a></li>
		  	</ul>
			</div>
		 </div>
		 <div class="tab-content col-xs-12">
		 	<div id="home" class="con-in row tab-pane fade in active">
				<div class="col-md-6 col-xs-4">
					<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
					<div class="thumnail">
						<a href="/contents">
						<div class="con-img">
							<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/8.png"></div>
						</div>
						<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
						</a>
					</div>			
				</div>
				<div class="col-md-6 col-xs-4">
					<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
					<div class="thumnail">
						<a href="/contents">
						<div class="con-img">
							<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/8.png"></div>
						</div>
						<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
						</a>
					</div>			
				</div>
		    </div>
		    <div id="menu1" class="con-in row tab-pane fade">
				<div class="col-md-6 col-xs-4">
					<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
					<div class="thumnail">
						<a href="/contents">
						<div class="con-img">
							<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/8.png"></div>
						</div>
						<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
						</a>
					</div>			
				</div>
				<div class="col-md-6 col-xs-4">
					<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
					<div class="thumnail">
						<a href="/contents">
						<div class="con-img">
							<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/8.png"></div>
						</div>
						<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
						</a>
					</div>			
				</div>
		    </div>
		    <div id="menu2" class="con-in row tab-pane fade">
				<div class="col-md-6 col-xs-4">
					<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
					<div class="thumnail">
						<a href="/contents">
						<div class="con-img">
							<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/8.png"></div>
						</div>
						<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
						</a>
					</div>			
				</div>
				<div class="col-md-6 col-xs-4">
					<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
					<div class="thumnail">
						<a href="/contents">
						<div class="con-img">
							<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/8.png"></div>
						</div>
						<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
						</a>
					</div>			
				</div>
		    </div>
		  	<div id="menu3" class="con-in row tab-pane fade">
				<div class="col-md-6 col-xs-4">
					<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
					<div class="thumnail">
						<a href="/contents">
						<div class="con-img">
							<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/8.png"></div>
						</div>
						<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
						</a>
					</div>			
				</div>
				<div class="col-md-6 col-xs-4">
					<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
					<div class="thumnail">
						<a href="/contents">
						<div class="con-img">
							<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/8.png"></div>
						</div>
						<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
						</a>
					</div>			
				</div>
		    </div>
		</div>
	</div>
	<div class="discuss-con col-md-6 col-xs-12">
		<div class="menu-title row">
			<div class="col-xs-8 padding-0">토론 게시판</div><div class="col-xs-4 padding-0" align="right"><a href="/discuss"><p class="plus">더보기 ></p></a></div>
			<div class="line-3px col-xs-12"></div>
		</div>
		<!-- 콘텐츠 뿌림 시작 -->		
		<div class="con-in row" align="center" style="margin-left:0; margin-right:0">
			<div class="col-xs-12 mg-bot">
				<div class="row">
					<a href="/discuss"><div class="dis-title col-xs-12"><p>"서울메트로와 도시철도공사는 통합해야 하나"</p></div></a>
					<div class="dis-img col-xs-12" align="right">
						<div class="dis-icon row">
							<!-- img style="display:inline-block;" src="/page_imgs/main_img/icon-discuss-like.png" ><p style="display:inline-block;">52</p -->
							<img style="display:inline-block;" src="/page_imgs/main_img/icon-discuss-comment1.svg" ><p style="display:inline-block;">39</p>	
						</div>	
					</div>
					<div class="dis-bg-img col-xs-12"><div class="dis-black-box"></div><img class="img-responsive" src="/page_imgs/main_img/img2.jpg"></div>	
				</div>
			</div>
			<div class="col-xs-12 mg-bot">
				<div class="row">
					<a href="/discuss"><div class="dis-title col-xs-12"><p>"서울메트로와 도시철도공사는 통합해야 하나"</p></div></a>
					<div class="dis-img col-xs-12" align="right">
						<div class="dis-icon row">
							<!-- img style="display:inline-block;" src="/page_imgs/main_img/icon-discuss-like.png" ><p style="display:inline-block;">52</p -->
							<img style="display:inline-block;" src="/page_imgs/main_img/icon-discuss-comment1.svg" ><p style="display:inline-block;">39</p>	
						</div>	
					</div>
					<div class="dis-bg-img col-xs-12"><div class="dis-black-box"></div><img class="img-responsive" src="/page_imgs/main_img/img2.jpg"></div>	
				</div>
			</div>					
		</div>
	</div>
		<!-- 콘텐츠 뿌림 끝 -->		
</div>


	
	
<!----------------------- 모바일 콘텐츠 ----------------------------->
<div class="mob_menu6_con container row">
	<div class="new-con swiper-container col-md-6 col-xs-12">
		<div class="menu-title row" >
			<div class="col-xs-8 padding-0">최신 콘텐츠</div><div class="col-xs-4 padding-0" align="right"><a href="#"><p class="plus">더보기 ></p></a></div>
		</div>
		<!-- 콘텐츠 뿌림 시작 -->
		<div class="con-in swiper-wrapper" align="center">
			<div class="swiper-slide">
				<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
				<div class="thumnail">
					<a href="/contents">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/8.png"></div>
					</div>
					<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
					</a>
				</div>					
			</div>
			<div class="swiper-slide">
				<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
				<div class="thumnail">
					<a href="/contents">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/2.png"></div>
					</div>
					<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
					</a>
				</div>	
			</div>
			<div class="swiper-slide">
				<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
				<div class="thumnail">
					<a href="/contents">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/1.png"></div>
					</div>
					<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
					</a>
				</div>	
			</div>
			<div class="swiper-slide">
				<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
				<div class="thumnail">
					<a href="/contents">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/7.png"></div>
					</div>
					<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
					</a>
				</div>	
			</div>
		</div>
		<!-- 콘텐츠 뿌림 끝 -->
	</div>
	
	
	<div class="section-line col-xs-12"></div>
	<div class="popular-con swiper-container col-md-6 col-xs-12">
		<div class="menu-title row" >
			<div class="col-xs-8 padding-0">인기 콘텐츠</div><div class="col-xs-4 padding-0" align="right"><a href="/contents"><p class="plus">더보기 ></p></a></div>
		</div>
		<!-- 콘텐츠 뿌림 시작 -->		
		<div class="con-in swiper-wrapper" align="center">
			<div class="swiper-slide">
				<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
				<div class="thumnail">
					<a href="/contents">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/8.png"></div>
					</div>
					<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
					</a>
				</div>					
			</div>
			<div class="swiper-slide">
				<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
				<div class="thumnail">
					<a href="/contents">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/2.png"></div>
					</div>
					<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
					</a>
				</div>	
			</div>
			<div class="swiper-slide">
				<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
				<div class="thumnail">
					<a href="/contents">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/1.png"></div>
					</div>
					<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
					</a>
				</div>	
			</div>
			<div class="swiper-slide">
				<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
				<div class="thumnail">
					<a href="/contents">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/7.png"></div>
					</div>
					<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
					</a>
				</div>	
			</div>
		</div>
		<!-- 콘텐츠 뿌림 끝 -->
	</div>
	<div class="section-line col-xs-12"></div>	
	<div class="plan-con swiper-container col-md-6 col-xs-12">
		<div class="menu-title row" >
			<div class="col-xs-8 padding-0">기획 콘텐츠</div><div class="col-xs-4 padding-0" align="right"><a href="/project"><p class="plus">더보기 ></p></a></div>
		</div>
		<!-- 콘텐츠 뿌림 시작 -->		
		<div class="con-in swiper-wrapper" align="center">
			<div class="swiper-slide">
				<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
				<div class="thumnail">
					<a href="/contents">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/8.png"></div>
					</div>
					<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
					</a>
				</div>					
			</div>
			<div class="swiper-slide">
				<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
				<div class="thumnail">
					<a href="/contents">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/2.png"></div>
					</div>
					<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
					</a>
				</div>	
			</div>
			<div class="swiper-slide">
				<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
				<div class="thumnail">
					<a href="/contents">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/1.png"></div>
					</div>
					<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
					</a>
				</div>	
			</div>
			<div class="swiper-slide">
				<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
				<div class="thumnail">
					<a href="/contents">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/7.png"></div>
					</div>
					<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
					</a>
				</div>	
			</div>
		</div>
		<!-- 콘텐츠 뿌림 끝 -->
	</div>	
		<!-- 재무리얼후기 모바일 -->
	<div class="section-line col-xs-12"></div>		
	<div class="col-md-6 col-xs-12">
		<div class="review-con row">
			<div class="menu-title row" >
				<div class="col-xs-8 padding-0">재무 리얼후기</div><div class="col-xs-4 padding-0" align="right"><a href="/finance/review"><p class="plus">더보기 ></p></a></div>
			</div>
			<!-- 콘텐츠 뿌림 시작 -->		
			<div id="text-carousel2" class="carousel slide" data-ride="carousel">
		    <!-- Wrapper for slides -->
		    <div class="con-in row" align="center" style="margin-left:0; margin-right:0;">
		    	<div class="col-xs-12 border-box">
			        <ol class="carousel-indicators">
			          <li data-target="#text-carousel2" data-slide-to="0" class="active"></li>
			          <li data-target="#text-carousel2" data-slide-to="1"></li>
			          <li data-target="#text-carousel2" data-slide-to="2"></li>
			        </ol>		    	
		            <div class="carousel-inner" role="listbox">
		                <div class="item active">
						    <p><B>후기1 : 현재 가입되어 있는 상품과 <br> 소비 패턴을 꼼꼼하게 ...<span>+</span></B></p>
						    <p>신상 : 홍XX / 40대 / 대기업 직원</P>
		                </div>
		                <div class="item">
						    <p><B>후기2 : 현재 가입되어 있는 상품과 <br> 소비 패턴을 꼼꼼하게 ...<span>+</span></B></p>
							<p>신상 : 홍XX / 40대 / 대기업 직원</P>
		                </div>
		                <div class="item">
						    <p><B>후기3 : 현재 가입되어 있는 상품과 <br> 소비 패턴을 꼼꼼하게 ...<span>+</span></B></p>
							<p>신상 : 홍XX / 40대 / 대기업 직원</P>
		                </div>
		            </div>
			    </div>
		    </div>
		    <!-- Controls --> 
		    <a class="left carousel-control" href="#text-carousel2" role="button" data-slide="prev">
		    	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
   				<span class="sr-only">Previous</span>
		  	</a>
			<a class="right carousel-control" href="#text-carousel2" role="button" data-slide="next">
		    	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
   				<span class="sr-only">Next</span>
		    </a>
			<!-- 콘텐츠 뿌림 끝 -->	
			</div>
		</div>
	</div>
	<div class="section-line col-xs-12"></div>	
	<div class="podcast-con swiper-container col-md-6 col-xs-12">
		<div class="menu-title row" >
			<div class="col-xs-8 padding-0">팟캐스트</div><div class="col-xs-4 padding-0" align="right"><a href="/podcast"><p class="plus">더보기 ></p></a></div>
		</div>
		<!-- 콘텐츠 뿌림 시작 -->		
		<div class="con-in swiper-wrapper" align="center">
			<div class="swiper-slide">
				<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
				<div class="thumnail">
					<a href="/contents">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/8.png"></div>
					</div>
					<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
					</a>
				</div>					
			</div>
			<div class="swiper-slide">
				<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
				<div class="thumnail">
					<a href="/contents">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/2.png"></div>
					</div>
					<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
					</a>
				</div>	
			</div>
			<div class="swiper-slide">
				<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
				<div class="thumnail">
					<a href="/contents">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/1.png"></div>
					</div>
					<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
					</a>
				</div>	
			</div>
			<div class="swiper-slide">
				<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
				<div class="thumnail">
					<a href="/contents">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/7.png"></div>
					</div>
					<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
					</a>
				</div>	
			</div>
		</div>
		<!-- 콘텐츠 뿌림 끝 -->
	</div>
	<div class="section-line col-xs-12"></div>	
	<div class="discuss-con col-md-6 col-xs-12">
		<div class="menu-title row" >
			<div class="col-xs-8 padding-0">토론 게시판</div><div class="col-xs-4 padding-0" align="right"><a href="/discuss"><p class="plus">더보기 ></p></a></div>
		</div>
		<!-- 콘텐츠 뿌림 시작 -->		
		<div class="con-in row" align="center" style="margin-left:0; margin-right:0">
			<div class="col-xs-12 mg-bot">
				<div class="row">
					<a href="/discuss"><div class="dis-title col-xs-12"><p>"서울메트로와 도시철도공사는 통합해야 하나"</p></div></a>
					<div class="dis-img col-xs-12" align="right">
						<div class="dis-icon row">
							<!-- img style="display:inline-block;" src="/page_imgs/main_img/icon-discuss-like.png" ><p style="display:inline-block;">52</p -->
							<img style="display:inline-block;" src="/page_imgs/main_img/icon-discuss-comment1.svg" ><p style="display:inline-block;">39</p>	
						</div>	
					</div>
					<div class="dis-bg-img col-xs-12"><div class="dis-black-box"></div><img class="img-responsive" src="/page_imgs/main_img/img2.jpg"></div>	
				</div>
			</div>
			<div class="col-xs-12 mg-bot">
				<div class="row">
					<a href="/discuss"><div class="dis-title col-xs-12"><p>"서울메트로와 도시철도공사는 통합해야 하나"</p></div></a>
					<div class="dis-img col-xs-12" align="right">
						<div class="dis-icon row">
							<!-- img style="display:inline-block;" src="/page_imgs/main_img/icon-discuss-like.png" ><p style="display:inline-block;">52</p -->
							<img style="display:inline-block;" src="/page_imgs/main_img/icon-discuss-comment1.svg" ><p style="display:inline-block;">39</p>	
						</div>	
					</div>
					<div class="dis-bg-img col-xs-12"><div class="dis-black-box"></div><img class="img-responsive" src="/page_imgs/main_img/img2.jpg"></div>	
				</div>
			</div>					
		</div>
		<!-- 콘텐츠 뿌림 끝 -->
	</div>
	<div class="section-line col-xs-12"></div>	
	

	<div class="col-xs-12" align="center">
	
		<!-- 경제 금융 기업 주식 카테고리별 콘텐츠 나오는것 -->
		<div class="main-con row" align="center">	
			<div class="menu-title">	
			<ul class="nav nav-tabs row" style="margin-right:0; margin-left:0;">
		    	<li class="active col-xs-3"><a data-toggle="tab" href="#home_1"><img class="img-responsive" src="/page_imgs/main_img/icon-con-menu1.png">경제</a></li>
		    	<li class="col-xs-3"><a data-toggle="tab" href="#menu_1"><img class="img-responsive" src="/page_imgs/main_img/icon-con-menu2n.png">금융</a></li>
		    	<li class="col-xs-3"><a data-toggle="tab" href="#menu_2"><img class="img-responsive" src="/page_imgs/main_img/icon-con-menu3n.png">기업</a></li>
		    	<li class="col-xs-3"><a data-toggle="tab" href="#menu_3"><img class="img-responsive" src="/page_imgs/main_img/icon-con-menu4n.png">주식</a></li>
		  	</ul>
			</div>
		 </div>
		 <div class="tab-content">
		 	<div id="home_1" class="con-in row tab-pane fade in active">
				<div class="col-xs-6">
					<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
					<div class="thumnail">
						<a href="/contents">
						<div class="con-img">
							<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/8.png"></div>
						</div>
						<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
						</a>
					</div>			
				</div>
				<div class="col-xs-6">
					<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
					<div class="thumnail">
						<a href="/contents">
						<div class="con-img">
							<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/8.png"></div>
						</div>
						<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
						</a>
					</div>			
				</div>
		    </div>
		    <div id="menu_1" class="con-in row tab-pane fade">
				<div class="col-xs-6">
					<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
					<div class="thumnail">
						<a href="/contents">
						<div class="con-img">
							<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/8.png"></div>
						</div>
						<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
						</a>
					</div>			
				</div>
				<div class="col-xs-6">
					<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
					<div class="thumnail">
						<a href="/contents">
						<div class="con-img">
							<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/8.png"></div>
						</div>
						<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
						</a>
					</div>			
				</div>
		    </div>
		    <div id="menu_2" class="con-in row tab-pane fade">
				<div class="col-xs-6">
					<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
					<div class="thumnail">
						<a href="/contents">
						<div class="con-img">
							<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/8.png"></div>
						</div>
						<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
						</a>
					</div>			
				</div>
				<div class="col-xs-6">
					<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
					<div class="thumnail">
						<a href="/contents">
						<div class="con-img">
							<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/8.png"></div>
						</div>
						<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
						</a>
					</div>			
				</div>
		    </div>
		  	<div id="menu_3" class="con-in row tab-pane fade">
				<div class="col-xs-6">
					<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
					<div class="thumnail">
						<a href="/contents">
						<div class="con-img">
							<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/8.png"></div>
						</div>
						<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
						</a>
					</div>			
				</div>
				<div class="col-xs-6">
					<div class="new-mark"><img class="img-responsive" src="/page_imgs/main_img/new_mark4.svg"></div>
					<div class="thumnail">
						<a href="/contents">
						<div class="con-img">
							<div class="con-thumbnail"><img class="img-responsive" src="/page_imgs/contents_img/8.png"></div>
						</div>
						<div class="con-title">중국의 '사드 몽니'란? 너만 모르는 시사경제용어</div>
						</a>
					</div>			
				</div>
		    </div>
		</div>
	</div>		
</div>	
	<script src="/js/swiper.js"></script>
	<script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 3,
        spaceBetween:3
    });
    </script>
	


<!--datePicker and contents JQUERY-->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



<!--form name="doneform" method="post" action="/selectDate">
<div>
    <label for="startDate">Date :</label>
    <input name="startDate" id="startDate" class="date-picker" />
</div>
</form-->
<!--script> 
jQuery.datepicker._hideDatepicker = function() {
	alert(month);
  		/*$.ajax({
    		url : '',
    		data : '{year : year, month : month}',
    		method : 'post',
    		success : function (data){
    			 alert("통신데이터 값 : " + data);
            	}
			});*/
		};
</script-->

<% include bottom %>


</body>
</html>
