<% if (proPhoto == null){ %>
<!--a href="/login">로그인</a> | <a href="/join">회원가입</a--><br>
<a href="/mem_login" style="color: #228bcb;">로그인</a> <!--a onclick="location.href='/auth/facebook'">페이스북 회원가입</a-->
<% } else {%>
 <img src="<%= proPhoto %>" width='50' height='50'>

 <!--button onclick="location.href='/auth/facebook'">페이스북 로그인</button-->
 <a onclick="location.href='/logout'">로그아웃</a>
 <a onclick="location.href='/mypage'">mypage</a>
  <br>
  <br>
 <!--button onclick="location.href='/mypage'"">mypage</button-->
<% } %>
