<!DOCTYPE html>
<html>

<script src="https://www.w3schools.com/lib/w3data.js"></script>
<body>


	<div w3-include-html="/topLogin" class="col-md-5" align="right"></div>
		<!-- top include url링크로 -->
		<script>
		w3IncludeHTML();
		</script>
		<!-- top include url 끝 -->

	<div w3-include-html="/topLogin" class="col-md-5" align="right"></div>
		<!-- top include url링크로 -->
		<!-- top include url 끝 -->
</body>
<html>