<!DOCTYPE html>
<html lang="ko">
<head>
<link href="https://cdn.rawgit.com/singihae/Webfonts/master/style.css" rel="stylesheet" type="text/css" />	
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<!--meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1"-->

<!--meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" /-->

<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_top_bottom.css" rel="stylesheet">
<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

<link href="https://cdn.rawgit.com/singihae/Webfonts/master/style.css" rel="stylesheet" type="text/css" />


<!--구글 애널리틱스 -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82643610-1', 'auto');
  ga('send', 'pageview');

</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {
    $(document).bind("contextmenu", function(e){
        alert("무단 복제를 막기위해 우클릭을 금지합니다.");
        return false;
    });
 
    $('img').bind("contextmenu",function(e){ 
        alert("무단 복제를 막기위해 우클릭 금지합니다."); 
        return false; 
    }); 
 
    $('img').bind("selectstart",function(e){ 
        alert("무단 복제를 막기위해 우클릭 금지합니다."); 
        return false;  
    }); 
});
document.oncontextmenu=function(){return false;} // 우클릭 방지
document.onselectstart=function(){return false;} // 드래그 방지
document.ondragstart=function(){return false;} // 선택 방지
//document.onmousedown=function(){return false;}


$(document).ready(function(){
    $('#search').click(function(){ // ID가 toggleButton인 요소를 클릭하면
        var state = $('.web-search-box').css('display'); // state 변수에 ID가 moreMenu인 요소의 display의 속성을 '대입'
        if(state == 'none'){ // state가 none 상태일경우 
            $('.web-search-box').show(); // ID가 moreMenu인 요소를 show();
            $('.web-search-box-img').show();
        }else{ // 그 외에는
            $('.web-search-box').hide();
            $('.web-search-box-img').hide(); // ID가 moreMenu인 요소를 hide();         
        }
    });
    
    
    $('#mob-search').click(function(){ // ID가 toggleButton인 요소를 클릭하면
        var state = $('.mob-search-box').css('display'); // state 변수에 ID가 moreMenu인 요소의 display의 속성을 '대입'
        var state2 = $('.mob-search-box-img').css('display'); // state 변수에 ID가 moreMenu인 요소의 display의 속성을 '대입'
        if(state == 'none' && state2 == 'none'){ // state가 none 상태일경우 
            $('.mob-search-box').show(); // ID가 moreMenu인 요소를 show();
            $('.mob-search-box-img').show(); // ID가 moreMenu인 요소를 show();
        }else{ // 그 외에는
            $('.mob-search-box').hide(); // ID가 moreMenu인 요소를 hide();     
            $('.mob-search-box-img').hide(); // ID가 moreMenu인 요소를 hide();     
        }
    });    
    
});

function search_submit(){
	if(document.search_box.keyword.value==""){
	 alert("검색어를 입력해 주세요.");
	document.search_box.keyword.focus();
	  return;
	}
	 	document.search_box.submit();
}
function search_submit_mob(){
	if(document.search_box_mob.keyword.value==""){
	 alert("검색어를 입력해 주세요.");
	document.search_box_mob.keyword.focus();
	  return;
	}
	 	document.search_box_mob.submit();
}

//$('.dropdown-toggle').dropdown()
</script>

<script>
$(function(){

	     $("ul.sub").hide();

		 $("ul.menu li").hover(function(){

		    $("ul:not(:animated)",this).slideDown("fast");

			},

			function(){

			   $("ul",this).slideUp("fast");

			});
 });	
 


$(document).ready(function(){
$('.contents_menu').click(function(e){
      e.preventDefault();
      if($(this).is('.on')){
         $(this).removeClass('on');
         $('.contents_sub_menu').slideUp();
         $('.contents_menu').text("▼");
      }else{
         $(this).addClass('on');
         $('.contents_sub_menu').slideDown();
         $('.contents_menu').text("▲");
      }
});
});


</script>

<style>

.menu-bar .menu {
  display: inline-block;
  width: 100%;
  margin: 0; padding: 0;
}
.menu-bar .menu li {
  float: left;
  list-style:none;
  position: relative;
}
.menu-bar .menu li:hover>a { color:#1b87c9; }
.menu-bar .menu a {
  color:#333333;
  display: block;
  padding:26px 32px 0 10px;
}
.menu-bar .menu ul {
  background-color:#fff;
  display: none;
  padding: 0;
  position: absolute;
  left: 0;
  top: 100%;
  width:180px;
  z-index:99;
}
.menu-bar .menu li ul{
padding:20px 0 20px 10px;
}
</style>



<script src="/js/bootstrap.min.js"></script>
<script src="/js/cid_top_bottom.js"></script>
<body>
<div class="mob-header">
		<header class="container-fulid">
				<div class="mob-menu" align="left"><img class="img-responsive" src="/page_imgs/fixed_img/mob_icon_menu.svg"></div>
				<div class="mob-logo" align="center"><a href="/"><img class="img-responsive" src="/page_imgs/fixed_img/mob_icon_logo.svg"></a></div>
				
				
				<div id="mob-search" class="mob-search" align="right"><img src="/page_imgs/fixed_img/mob_icon_search.svg"></div>
				
				<form name="search_box_mob" action="/search/process" method="post" align="center" style="margin-bottom: 0px;">
					<div class="input"><input type="text" class="form-control mob-search-box" placeholder="search"  name="keyword" value=''>
						<a onClick="search_submit_mob()" style="cursor:pointer" class="mob-search-box-img" >검색<!--img src="../../page_imgs/fixed_img/search_btn.png"--></a></div>
					</form>
		</header>
</div>



<div id="menu">
		<div class="close"></div>
		<div class="nav">
		<div class="view">
		<div class="scrollBlind">
				
						<div class="logo" align="center"><a href="/"><img src="/page_imgs/fixed_img/mob_icon_logo.svg" style="width:80px; margin:20px 0"></a></div>
						<div class="tab-menu row">
							<div class="tab-menu1 col-xs-6" align="center" style="cursor:pointer;">Sections</div>
							<div class="tab-menu2 col-xs-6" align="center" style="cursor:pointer;">Company Info</div>
						</div>
						<div id="tab-menu1-contents" align="left">
								<ul class="menu">
									<li><a href="/finance/necessary"><img src="/page_imgs/fixed_img/mob_icon_menu_finance.svg">사이다재무</a></li>
    								<li><a href="/lecture"><img src="/page_imgs/fixed_img/mob_icon_menu_lecture.svg">사이다강의</a></li>
    								<li><a href="/discuss"><img src="/page_imgs/fixed_img/mob_icon_menu_discuss.svg">사이다토론</a></li>
    								
						    		<li><a href="/contents/all"><img src="/page_imgs/fixed_img/mob_icon_menu_contents.svg">사이다콘텐츠</a>
						    		<span class="contents_menu" style="cursor:pointer; margin-left:10px;">▲</span></li>
								<div class="contents_sub_menu">
									<ul style="margin-left:10px;">
							   	 		<li><a href="/contents/1"> 경제이야기</a></li>
	    								<li><a href="/contents/2"> 금융이야기</a></li>
	    								<li><a href="/contents/3"> 기업이야기</a></li>
	    								<li><a href="/contents/4"> 주식이야기</a></li>
	    								<li><a href="/project">기획콘텐츠</a></li>
									    <li><a href="/podcast">팟캐스트</a></li>
									    <li><a href="/books">사이다Books</a></li>
									    <li><a href="/contents/8">사이다BEST</a></li>
	    							</ul>
	    						</div>
	    							
    							</ul>
    					</div>	
    					<div id="tab-menu2-contents" align="center">
								<ul>	
									<a href="/our_company"><li><span>Our Company</span></li></a>
									<a href="/our_team"><li><span>Our Team</span></li></a>
									<a href="/contact"><li><span>Contact Us</span></li></a>
								</ul>
						</div>	
		</div>
			<div class="link row">
			 <div class="col-xs-5"><a href="https://www.facebook.com/cidermics/">FACEBOOK</a></div>
			 <div class="col-xs-2">|</div>
			 <div class="col-xs-5"><a href="http://plus.kakao.com/home/@%EC%82%AC%EC%9D%B4%EB%8B%A4%EA%B2%BD%EC%A0%9C">KAKAO</a></div>
			</div>
		</div>
		</div>
		<div onClick="history.back();" class="page_cover"></div>
		<div onClick="history.back();" class="close"></div>  
		
		
</div>




<div class="header">
		<header class="container">
				<div class="logo" style="width:10%;"><a href="/"><img src="/page_imgs/fixed_img/logo.svg"></a></div>
					
				
<div class="dropdown" style="width:50%;">

<div class='menu-bar'>
  <ul class="menu">
  	<li><a href="/finance/necessary">사이다재무</a></li>
   	<li><a href="/lecture">사이다강의</a></li>
    <li><a href="/contents/all">사이다콘텐츠</a>
      <ul class="sub">
		<li><a href="/contents/1">경제이야기</a></li>
    	<li><a href="/contents/2">금융이야기</a></li>
    	<li><a href="/contents/3">기업이야기</a></li>
    	<li><a href="/contents/4">주식이야기</a></li>
    	<li><a href="/project">기획콘텐츠</a></li>
	    <li><a href="/podcast">팟캐스트</a></li>
	    <li><a href="/books">사이다Books</a></li>
	    <li><a href="/contents/8">사이다BEST</a></li>
      </ul>
    </li>
    <li><a href="/discuss">사이다토론</a></li>
  </ul>
</div>
</div>
<% include facebooklogin_test %>
				<form name="search_box" action="/search/process" method="post">
				<div class="login" style="width:35%;" align="right"><!--a href="/login">로그인</a> | <a href="/join">회원가입</a-->
				<input type="text" class="form-control web-search-box" placeholder="search" name="keyword" value=''>
				<a onClick="search_submit()" style="cursor:pointer" class="web-search-box-img">검색<!--img src="../../page_imgs/fixed_img/search_btn.png"--></a></div>
				<div id="search" class="search" style="width:5%;"><img src="/page_imgs/fixed_img/icon_search.svg" ></div>
				</form>
				
		</header>
		
</div>



</body>
</html>
