	<% if (proPhoto == null){ %>
	<div id="login1">
		<a href="/mem_login" style="color: #228bcb; padding-top:5px;">로그인 | 회원가입</a>
	</div>
		<% } else {%>
		<div class='menu-bar' >
		  <ul class="menu" style="font-size: 14px; font-weight:400;">
		  	<li><a href='/mypage' style="padding:1px;"><img src="<%= proPhoto %>" width='35' height='35' style="border-radius:100px;"></a></li>
			<li> <a onclick="location.href='/logout'" style="padding:7px; cursor:pointer;">로그아웃</a></li>
		  	<!--li><a onclick="location.href='/mypage'">mypage</a></li-->
		  </ul>
		</div>
	<% } %>