<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">

<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>사이다경제 | 세미나 장소</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_seminar.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.custom.js"></script>
<script src="/js/gotoup.js"></script>

<!--공유 meta tags-->
<meta name="title" content="사이다경제 | 세미나" />
<meta property="og:image" content="" />
<meta property="og:title" content="사이다경제" />	
<meta property="og:site_name" content="사이다경제" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://www.cidermics.com/lecture/" />
<meta property="og:description" content="사이다경제 세미나" />

<script language="javascript" type="text/javascript">  
function openWinKA(){  
    window.open("http://plus.kakao.com/home/@%EC%82%AC%EC%9D%B4%EB%8B%A4%EA%B2%BD%EC%A0%9C");  
}
</script>

</head>

<body>
<div id="but_top"><img class="gototop" src="/page_imgs/fixed_img/btn_gotoup.svg"></div>
<% include ../top %>

<div class="container"  align="center">
	<div class="row">
		<div class="col s12 center" style="padding: 11px;">
			<img class="img-responsive" src="https://i.imgur.com/oqoK88V.jpg">
		</div>
	</div>
</div>

<div class="container" align="center">
	<div class="row">
		<div class="col-xs-12"><B><h2>상세 주소<br><span>서울특별시 강남구 논현2동 언주로 625 선민빌딩(라펠리체 아트홀지하 1층)</span></h2></B></a></div>
		<div class="col-xs-12"><B><h3>학동역 1번 출구 도보 7분</span></h3></B></a></div>

		<div class="btn-apply"><a href="/seminar"><button style="width: 350px; margin: 0px 0 50px 0; border-radius: 12px;">세미나 목록보기</button></a></div>

		<div class="col-xs-12 btn-kakao-plus"><a href="#" onClick="javascript:openWinKA();"><p>카톡문의<br><span>플러스친구:@사이다경제</span></p></a></div>

		<div class="col-xs-12"><B><h1>매니저 문의<br><span>010-2302-4026</span></h1></B></a></div>
	</div>
</div>

<% include ../bottom %>

</body>
</html>