<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">

<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<!--공유 meta tags-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:image" content="https://i.imgur.com/2RZRMoF.jpg" />
<meta property="og:url"  content="http://www.cidermics.com/lecture/detail/5" />
<meta property="og:description" content="핀북 스터디 : '내 월급으로 집 사기'프로젝트" />

<title>사이다경제 | 세미나</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_seminar.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.custom.js"></script>
<script src="/js/gotoup.js"></script>




<script language="javascript" type="text/javascript">  
function openWinKA(){  
    window.open("http://plus.kakao.com/home/@%EC%82%AC%EC%9D%B4%EB%8B%A4%EA%B2%BD%EC%A0%9C");  
}
</script>



</head>
<body>
<!--위로가기 버튼-->
<div id="but_top"><img class="gototop" src="/page_imgs/fixed_img/btn_gotoup.svg"></div>

<% include ../top %>

<div class="line"></div>


<div class="contents-img container" align="center">
	<img class="img-responsive" src="https://i.imgur.com/9gNxng7.jpg">
</div>

<div class="container" align="center">
	<div class="row seminar-info">
		<div class="col-lg-3 col-xs-4" align="left"><p><b>일시</b></p></div>
		<div class="col-lg-9 col-xs-8" align="left"><p class="border-left">2018.02.24(수) PM 15:00</p></div>
		<div class="col-lg-3 col-xs-4" align="left"><p><b>신청기간</b></p></div>
		<div class="col-lg-9 col-xs-8" align="left"><p class="border-left">2018.02.24(수) - 2018.02.22(목)</p></div>
		<div class="col-lg-3 col-xs-4" align="left"><p><b>장소</b></p></div>
		<div class="col-lg-9 col-xs-8" align="left"><p class="border-left">서울시 강남구 테헤란로 33길 39 혜성빌딩 세미나실</p></div>
		<div class="col-lg-3 col-xs-4" align="left"><p><b>인원</b></p></div>
		<div class="col-lg-9 col-xs-8" align="left"><p class="border-left">30명</p></div>
		<div class="col-lg-3 col-xs-4" align="left"><p><b>참가비</b></p></div>
		<div class="col-lg-9 col-xs-8" align="left"><p class="border-left">30,000원</p></div>
		<div class="col-lg-3 col-xs-4" align="left"><p><b>강연자</b></p></div>
		<div class="col-lg-9 col-xs-8" align="left"><p class="border-left">최석길 대표 (누보리치 트레이딩 그룹)</p></div>				
	
		<div class="col-xs-12 btn-apply"><a href="#"><p>신청하기</p></a></div>
		<div class="col-xs-12 btn-kakao-plus"><a href="#" onClick="javascript:openWinKA();"><p>카톡문의<br><span>옐로우ID:@사이다경제</span></p></a></div>
	
	</div>
</div>





<% include ../bottom %>

</body>
</html>
