<!DOCTYPE html>
<html lang="ko">
<head>
  <title>경이로움 일정표</title>
  <meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <link href='/css/calendar/fullcalendar.min.css' rel='stylesheet' />
  <link href='/css/calendar/fullcalendar.print.min.css' rel='stylesheet' media='print' />
  <script src='/js/calendar/moment.min.js'></script>
  <script src='/js/calendar/fullcalendar.min.js'></script>
  <script src='/js/calendar/locale-all.js'></script>
  <script src="/js/materialize.js"></script>

      <!--CSS -->
    <link rel='stylesheet' href='/css/materialize.css' />
    <link href="/css/std_style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    

    <!-- favicon -->
    <link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
    <link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>


  <script>
  var eventList = [];
  $(document).ready(function() {
      $(".button-collapse").sideNav();
      getCalendar();

      $("#sch_cate_no").on("change",function (){
          getCalendar();
      });
  });

  function schInsert(){
      location.href = "/adm/schInsert";
  }
  function getCalendar(){
      $('#calendar').fullCalendar('destroy');
      var initialLocaleCode = 'ko';
      var d = new Date(),
          month = '' + (d.getMonth() + 1),
          day = '' + d.getDate(),
          year = d.getFullYear();

      if (month.length < 2) month = '0' + month;
      if (day.length < 2) day = '0' + day;

      var today = [year, month, day].join('-');

      var schCateNo = $("#sch_cate_no").val();

      $('#calendar').fullCalendar({
          header: {
              left: 'prev,next today',
              center: 'title',
              right: 'listDay,listWeek,month'
          },
          // customize the button names,
          // otherwise they'd all just say "list"
          views: {
              listDay: { buttonText: '일간' },
              listWeek: { buttonText: '주간' },
              month: { buttonText: '월간' }
          },
          locale: initialLocaleCode,
          defaultView: 'month',
          defaultDate: today,
          navLinks: true, // can click day/week names to navigate views
          editable: false,
          eventLimit: true, // allow "more" link when too many events
          events: function (start, end, timezone, callback){
              $.ajax({
                  url: '/adm/getSchList',
                  type: "POST",
                  async : false,
                  contentType: "application/json",
                  data: JSON.stringify({"schCateNo" : schCateNo}),
                  success: function(data) {
                      var events = [];
                      $(data.schList).each(function() {
                          events.push({
                              id: $(this).attr('schNo'),
                              title: $(this).attr('schTitle'),
                              start: $(this).attr('startTime'),
                              end: $(this).attr('endTime')
                              // url: $(this).attr('schLink')
                          });
                      });
                      callback(events);
                  }
              })
          },eventClick: function (event, jsEvent, view){
              var schNo = event.id;
              location.href = "/adm/schUpdate/"+schNo;
          }
      });
  }
</script>
<style>
  .container-calendar {
    max-width: 1280px;
    margin: 30px auto;
  }
  .fc-scroller{
    height: auto !important;
  }
</style>

<style>
/*h5, h4{font-family: seoulhangangregular !important; border-bottom:2px solid #ecce6b; padding-bottom:5px;}*/
</style>

  <script src="/js/gotoup.js"></script>
  </head>
  <body>
  <% var data= CP; %>
  <% include ../include/nav.ejs %>

  <div id="but_top"><a class="btn btn-floating  blue-grey darken-4"><i class="material-icons">arrow_upward</i></a></div>

  <div class="container-calendar">
    <div class="right-align">
        <button class="btn light-blue darken-1" onclick="javascript:schInsert();">일정등록</button>
        <select id="sch_cate_no">
            <% for(var i = 0; i < cateList.length; i++) { %>
                <option value="<%= cateList[i].cateNo %>"><%= cateList[i].cateNm %>%></option>
            <% }%>
        </select>
    </div>
  </div>
  <div id="calendar" class="container-calendar"></div>

</body>
</html>
