<!DOCTYPE html>
<html lang="ko">
<head>
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>사이다경제 | 포도재무</title>
<link href="/css/podo.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<script src="/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="header" align="center"><a href="/podo"><img class="img-responsive" src="/page_imgs/podo_img/podo-logo.jpg"></a></div>
<div class="parallax5" align="left">
	<div class="container">
	<img class="img-responsive" src="/page_imgs/podo_img/main-text-img.png">
	</div>
	<div class="black-box" align="center"><h4 class="btn-apply"><a href="/podo_apply">상담신청</a></h4></div>
</div>
<div class="consultation-fee" align="center">
	<h4><b>상담료</b></h4>
	<div class="line1"></div>
	<div class="container">
	<div class="row">
		<div class="col-sm-4"><img class="img-responsive" src="/page_imgs/podo_img/consultation-fee-img1.png"></div>
		<div class="col-sm-4"><img class="img-responsive" src="/page_imgs/podo_img/consultation-fee-img2.png"></div>
		<div class="col-sm-4"><img class="img-responsive" src="/page_imgs/podo_img/consultation-fee-img3.png"></div>
	</div>
	</div>
</div>
<div class="parallax6" align="center">
	<div class="container alliance">
		<img class="img-responsive" src="/page_imgs/podo_img/icon-alliance.png">
		<p><b>* 본인의 직장이 포도재무설계와 제휴되어있다면<br><span style="color:#ffc000">제휴사가 직접 비용을 지불</span>합니다.<br><br>
		포도재무설계와 <span style="color:#ffc000">제휴 관계인 회사</span>를 확인하시려면<br>아래 버튼을 클릭해주세요 :)</b></p>
		<h4 class="btn-check"><a href="/podo_alliance" target="_blank">제휴사 확인></a></h4>
	</div>
</div>
<div class="container podo-qa">
	<p style="color:#064e91; margin-left:8px;"><br><b>* 질문을 click하시면 답변을 보실 수 있습니다 :)</b></p>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" align="center">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          1. <span class="text-point1">무엇을</span> 상담하나요?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <img class="img-responsive" src="/page_imgs/podo_img/qa-text1.jpg">
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          2. 포도의 재무상담은 무엇이 <span class="text-point1">다른가요</span>?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <img class="img-responsive" src="/page_imgs/podo_img/qa-text2.jpg">
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          3. <span class="text-point1">어떻게</span> 상담을 하나요?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
         <img class="img-responsive" src="/page_imgs/podo_img/qa-text3.jpg">
      </div>
    </div>
  </div>
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingfour">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
          4. 무엇이 <span class="text-point1">좋아지나요</span>?
        </a>
      </h4>
    </div>
    <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
      <div class="panel-body">
        <img class="img-responsive" src="/page_imgs/podo_img/qa-text4.jpg">
      </div>
    </div>
  </div>
</div>
<div align="center"><h4 class="btn-apply2"><a href="/podo_apply">상담신청</a></h4></div>
</div>
<div class="diagnosis" align="center">
	<a href="#"><div class="bg">
		<div class="text">
		<p><b>온라인 진단</b></p>
		<span>click</span>
		</div>
	</div></a>
</div>
<div class="review" align="center">
	<a href="#"><div class="bg">
		<div class="text">
		<p><b>상담 후기</b></p>
		<span>click</span>
		</div>
	</div></a>
</div>
<div class="sns" align="center">
	<div class="container">
		<div class="row">
			<div class="col-xs-3"><a href="http://www.podofp.com/support/branch/index.php" target="_blank"><img class="img-responsive" src="/page_imgs/podo_img/sns-icon1.png"></a></div>
			<div class="col-xs-3"><a href="https://www.facebook.com/podofp/" target="_blank"><img class="img-responsive" src="/page_imgs/podo_img/sns-icon2.png"></a></div>
			<div class="col-xs-3"><a href="http://plus.kakao.com/home/i9scw0nq" target="_blank"><img class="img-responsive" src="/page_imgs/podo_img/sns-icon3.png"></a></div>
			<div class="col-xs-3"><a href="http://blog.naver.com/bestplan4you" target="_blank"><img class="img-responsive" src="/page_imgs/podo_img/sns-icon4.png"></a></div>
		</div>
	</div>
</div>
<div class="footer" align="center">
	<h4><b>바른사람들 포도</b></h4>
	<p style="color:#aaa;"><b>주소 : 서울 강남구 논현로 76길11,302호<br>
대표전화 : 02-2088-8802<br>
사업자 등록번호 : 610-81-47927<br>
대표자 : 라의형</b></p>
</div>
</body>
</html>