<!DOCTYPE html>
<html lang="ko">
<head>
	
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>사이다경제 | 포도재무</title>

<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_finance.css" rel="stylesheet">
<link href="/css/swiper.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.custom.js"></script>
<script src="/js/gotoup.js"></script>

<!--공유 meta tags-->
<meta name="title" content="사이다경제 | 콘텐츠" />
<meta property="og:image" content="http://cidermics.com/page_imgs/fixed_img/thum_img.jpg" />
<meta property="og:title" content="사이다경제" />	
<meta property="og:site_name" content="사이다경제">
<meta property="og:type" content="article">
<meta property="og:url" content="http://www.cidermics.com/contents/" />
<meta property="og:description" content="사이다경제 경제,금융,주식,기업 콘텐츠" />

<!--구글 애널리틱스 -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82643610-1', 'auto');
  ga('send', 'pageview');



</script>

</head>
<body>
<!--위로가기 버튼-->
<div id="but_top"><img class="gototop" src="/page_imgs/fixed_img/btn_gotoup.svg"></div>
<% include ../../top %>

<div class="finance-apply" align="center">
<img class="img-responsive" src="/page_imgs/finance_img/icon-apply-done.png">
</div>

<div class="apply-input-done container" align="center" >
<P class="star1" align="right">신청해주셔서 감사합니다:)</P>
		<div class="row" align="left">
				<div class="d_num col-xs-12 col-lg-12"><p>신청번호</p>
				<div class="input"><%=row[0].pd_no%></div>
				</div>
				<div class="d_name col-xs-12 col-lg-12"><p>신청자명</p>
				<div class="input"><%=row[0].pd_name%></div>
				</div>
				<div class="d_cell col-xs-12 col-lg-12"><p>휴대전화</p>
				<div class="input"><%=row[0].pd_phone%></div>
				</div>
				<div class="d_mail col-xs-12 col-lg-12"><p>이메일</p>
				<div class="input"><%=row[0].pd_email%></div>
				</div>
		</div>
		<a href="/finance" style="cursor:pointer"><img class="img-responsive" src="/page_imgs/finance_img/btn-apply-home.png"></a>
</div>


<% include ../../bottom %>


</body>
</html>
