<!DOCTYPE html>
<html lang="ko">
<head>
	
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>사이다경제 | 강의</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_lecture.css" rel="stylesheet">
<link href="/css/swiper.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="/css/component.css" />
<script src="/js/modernizr.custom.js"></script>

<script src="/js/gotoup.js"></script>

<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

<!--공유 meta tags-->
<meta name="title" content="사이다경제 | 콘텐츠" />
<meta property="og:image" content="http://cidermics.com/page_imgs/fixed_img/thum_img.jpg" />

<meta property="og:title" content="사이다경제" />	
<meta property="og:site_name" content="사이다경제">
<meta property="og:type" content="article">
<meta property="og:url" content="http://www.cidermics.com/contents/" />
<meta property="og:description" content="사이다경제 경제,금융,주식,기업 콘텐츠" />


<script>
//$('#coupon-modal').modal(options)
function numberWithCommas(lec_price) {
	    return lec_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	    console.log(lec_price);
	}
	

	
function next_submit(){
	if(document.applyform.app_name.value==""){
	 alert("입금자명을 입력해 주세요.");
	document.applyform.app_name.focus();
	  return;
	}
	if(document.applyform.app_phone2.value==""){
	 alert("휴대전화 번호를 입력해 주세요.");
	document.applyform.app_phone2.focus();
	  return;
	}
	if(document.applyform.app_phone3.value==""){
	 alert("휴대전화 번호를 입력해 주세요.");
	document.applyform.app_phone3.focus();
	  return;
	}
	if(document.applyform.app_phone2.value.length<=3){
	 alert("휴대전화 번호를 정확히 입력해 주세요.");
	document.applyform.app_phone2.focus();
	return;
	 }
	if(document.applyform.app_email1.value==""){
	 alert("이메일 아이디를 입력해 주세요.");
	document.applyform.app_email1.focus();
	  return;
	}
	if(document.applyform.app_email2.value==""){
	 alert("이메일를 입력해 주세요.");
	document.applyform.app_email2.focus();
	  return;
	}
	for (i=0; i<document.applyform.app_email1.value.length; i++)
        {
         var ch = document.applyform.app_email1.value.charAt(i);//문자를 반환(정수형), 범위 검사 가능
	if ( ( ch < "a" || ch > "z") && (ch < "A" || ch > "Z") && (ch < "0" || ch > "9" ) )
    	{
            alert("이메일은 영문 소문자로만 입력 가능 합니다!");
            document.applyform.app_email1.focus();
            return;
         }
		}
	
	
	for (i=0; i<document.applyform.app_phone2.value.length; i++)
     {
     	 var ch = document.applyform.app_phone2.value.charAt(i);//문자를 반환(정수형), 범위 검사 가능
		if ( ch < "0" || ch > "9" )
    	 {
            alert("휴대폰 번호는 숫자로만 입력 가능 합니다!");
            document.applyform.app_phone2.focus();
            return;
         }
      }
	 
	 	document.applyform.submit();
}
</script>
<style>
	body { padding-right: 0 !important }
</style>

<script language="javascript">

</script>

</head>
<body>
<!--위로가기 버튼-->
<div id="but_top"><img class="gototop" src="/page_imgs/fixed_img/btn_gotoup.svg"></div>
<% include ../top %>
<% var lprice = lec_price; %>

<form name="writeForm" method="post" action="/lecture/apply/codeapply">
<div class="main-apply" align="center">
		<div class="title">
				<p>수강료</p>
		</div>
		<div class="line1"></div>
		<div class="price">\<input type="text" name="lec_price" size="7" value="<%=lprice%>" style="background-color:transparent; border:none;" readonly>원
				<div class="apply-btn-coupon"><button type="button" data-toggle="modal" data-target="#coupon-modal" data-backdrop="static">쿠폰입력</button></div>
				
				<div id="coupon-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
       				 <div class="modal-dialog modal-lg">
           			 <div class="modal-content">
                	 <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                     <h4 class="modal-title">쿠폰번호를 입력하세요.</h4>
                	 </div>
                	 <div class="modal-body">
                   		<input type="text" name="coup_code" style="color:#212121;"><button type="submit" class="btn-sale-ok btn-primary">입력</button>
                   		<a href="/lecture/sale/"><p>할인쿠폰받기</p></a>
                 	 </div>
           		     </div>
        			 </div>
    		   </div>
		</div>
		<div class="deposit-account">입금계좌  :  100-031-739780 신한 김의현(사이다경제) </div>
</div>
</form>

<form name="applyform" method="post" action="/lecture/done/insert">
<div class="apply-input container" align="center" >
		<div class="row" align="left">
				<P class="star1">*항목은 필수로 작성해주세요.</P>
				<div class="name col-xs-12 col-lg-12 padding-0"><span><span class="star">(*)</span>입금자명 : </span>
				<input type="text" name="fi_app_name" maxlength=5 style="IME-MODE: active;">
				</div>
				<div class="cell col-xs-12 col-lg-12 padding-0"><span><span class="star">(*)</span>휴대폰 번호 : </span>
				   <select id="cell" title="select cell" name="fi_app_phone1">
       				 <option selected="selected">010</option>
       				 <option>011</option>
       				 <option>016</option>
       				 <option>017</option>
       				 <option>018</option>
       				 <option>019</option>
				   </select>
    			-<input type="text" name="fi_app_phone2" maxlength=4 style="text-align:center;IME-MODE:disabled;" onkeyPress="if ((event.keyCode<48) || (event.keyCode>57)) event.returnValue=false;" >-
    			<input type="text" name="fi_app_phone3" maxlength=4 style="text-align:center;IME-MODE:disabled;" onkeyPress="if ((event.keyCode<48) || (event.keyCode>57)) event.returnValue=false;" >
				</div>
				<div class="mail col-xs-12 col-lg-12 padding-0"><span><span class="star">(*)</span>이메일 주소 : </span>
				<input type="text" name="fi_app_email1" class="mail1" style="IME-MODE: disabled" maxlength=20>@ 
				<input type="text" name="fi_app_email2" class="mail2" size="11" style="IME-MODE: disabled">
				<select id="email" title="select email"  name="emaillist" onchange="this.form.fi_app_email2.value=this[this.selectedIndex].value;">
       				 <option selected="selected">메일 선택</option>
       				 <option value="naver.com">naver.com</option>
       				 <option value="daum.net">daum.net</option>
       				 <option value="nate.com">nate.com</option>
       				 <option value="hotmail.com">hotmail.com</option>
       				 <option value="yahoo.com">yahoo.com</option>
       				 <option value="empas.com">empas.com</option>
       				 <option value="korea.com">korea.com</option>
       				 <option value="dreamwiz.com">dreamwiz.com</option>
       				 <option value="gmail.com">gmail.com</option>
       				 <option value="">직접입력</option>
				   </select>
				</div>
				<div class="job col-xs-12 col-lg-12 padding-0"><span>소속 및 직무 : </span>
				<input type="text" name="fi_app_job" style="IME-MODE: disabled">
				<!--select id="email" title="select email" name="fi_app_email3">
       				 <option selected="selected">소속 및 직무 선택</option>
       				 <option value="직장인">직장인</option>
       				 <option value="직장인">학생</option>
       				 <option value="etc">기타(직접입력)</option>
				   </select-->
				</div>
				<div class="route col-xs-12 col-lg-12 padding-0"><span>신청경로 : </span>
				<input type="text" name="fi_app_path" style="IME-MODE: disabled">
				</div>
		</div>
		
		<a onClick="next_submit()" style="cursor:pointer"><div class="btn-apply">신청하기</div></a>
		<input type="hidden" name="lec_price" value="<%=lprice%>">
		
</div>
</form>
<div class="container cancle" align="center">
		<a href="/lecture/sale"><p style="font-size:16px; font-weight:bold; color:#FF0000; width:600px; margin-top:50px; margin-left:15px;" align="left">※취소 및 환불규정</p></a>
		<div class="apply-cancle" align="center">
				<div class="cancle-con" align="left">
						<p>1. 강연 환불 기준</p>
						<p style="margin-left:18px;">강연 개시 1주전 100%<br>
								72시간전 70%<br>
								48시간전 50%<br>
								48시간이내 0%</p>
						<p style="margin-top:30px;">2. 수강신청 취소 및 환불 방법</p>
						<p style="margin-left:18px;">사이다경제 사이트, 전화(02-2088-5754) 또는<br>
								이메일(contact@cidermics.com) 통해 가능합니다.</p>
				</div>
		</div>
		
		<div class="privacy" align="left">
			<div class="privacy-title">*개인정보취급</div>
			<div class="privacy-con"><p>1.수집된 개인정보는 본래의 목적 이외의 그 어떤 용도로도 사용되지 않으며 이용 목적이 변경될 시에는 사전 동의를 구하게 됩니다.</p>
							 <p>2.수집된 이용자의 개인정보는 원칙적으로 처리 목적이 달성되면 즉시 파기됩니다.</p>
			</div>
		</div>
</div>

<% include ../bottom %>


</body>
</html>
