<!DOCTYPE html>
<html lang="ko">
<head>
	
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>사이다경제 | 강의</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_lecture.css" rel="stylesheet">
<link href="/css/swiper.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="/css/component.css" />
<script src="/js/modernizr.custom.js"></script>

<script src="/js/gotoup.js"></script>


<!--공유 meta tags-->
<meta name="title" content="사이다경제 | 강의" />
<meta property="og:image" content="http://i.imgur.com/t7HVaAG.png" />

<meta property="og:title" content="사이다경제" />	
<meta property="og:site_name" content="사이다경제">
<meta property="og:type" content="article">
<meta property="og:url" content="http://www.cidermics.com/lecture/" />
<meta property="og:description" content="사이다경제 경제,금융,주식,기업 콘텐츠" />
</head>
<body>
<!--위로가기 버튼-->
<div id="but_top"><img class="gototop" src="/page_imgs/fixed_img/btn_gotoup.svg"></div>
<% include ../top %>

<!--배너뿌림-->

<div class="parallax2">
		<div class="lecture-banner-img" align="center"><img src="/page_imgs/lecture_img/lecture-main-img.png"></div>
		<!-- div class="lecture-banner container row" align="center">
			<div class="lecture-banner-in col-xs-12">
				<img src="/page_imgs/lecture_img/lecture-banner-icon.svg">
				<div class="title1">사이다강의</div>
				<div class="title2">
				아는 사람만 알고 아무도 알려주지 않은 강의!<br><br>
				당신의 삶의 질을 높여주는 실용적인 경제강의!
				</div>
			</div>
		</div -->
</div>

<!-- p class="main-title">사이다강의</p>
<div class="banner">
				<div class="swiper-container" align="center">
						<div class="swiper-wrapper">
								<div class="swiper-slide"><a href="#"><img class="img-responsive" src="/page_imgs/lecture_img/lecture2.jpg"></a></div>
								<div class="swiper-slide"><a href="/lecture/sale"><img class="img-responsive" src="/page_imgs/main_img/lecture_sale.jpg"></a></div>		
						</div>
						<div class="swiper-pagination"></div>
				</div>
				<div class="row">
					<div class="col-xs-3">kakaoplus</div>
					<div class="col-xs-3">facebooklike</div>
				</div>
</div-->


<!--script src="/js/swiper.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 10,
				//effect: 'fade',
        centeredSlides: true,
        autoplay: 5000,
        autoplayDisableOnInteraction: false
    });
</script-->


<!--콘텐츠뿌림-->
<div class="main-lecture container">
		<ul class="lecture-width grid effect-2" id="grid">
		
			<li>
				<div align="center">
					
					<a href="/lecture/detail/4">
					<img class="img-responsive" width="100%" src="http://i.imgur.com/Nk5dGQo.jpg"></a>
					
				</div>
				<div class="con row">	
					<p><a href="/lecture/detail/4">삼박자 투자법</a></p>	
					<div class="date col-xs-8 col-lg-6" align="left"><p></p></div>
					<div class="money col-xs-4 col-lg-6" align="right" ><p align="center" style = "height:33px;">무료</p></div>
				</div>
			</li>
		</ul>

		<ul class="lecture-width grid effect-2" id="grid">
		
			<li>
				<div align="center">
					
					<a href="/lecture/detail/3">
					<img class="img-responsive" width="100%" src="http://i.imgur.com/mUVyUsQ.jpg"></a>
					
				</div>
				<div class="con row">	
					<p><a href="/lecture/detail/3">그해, 역사가 바뀌다</a></p>	
					<div class="date col-xs-8 col-lg-6" align="left"><p>신청기간 : ~ 2017.03.20(월)</p></div>
					<div class="money col-xs-4 col-lg-6" align="right" ><p align="center" style = "height:33px;">무료</p></div>
				</div>
			</li>
		</ul>

		<ul class="lecture-width grid effect-2" id="grid">
		
			<li>
				<div align="center">
					
					<a href="/lecture/detail/2">
					<img class="img-responsive" width="100%" src="http://i.imgur.com/EwtchBS.png"></a>
					
				</div>
				<div class="con row">	
					<p><a href="/lecture/detail/2">부모님을 위한 경제/금융 세미나</a></p>	
					<div class="date col-xs-8 col-lg-6" align="left"><p>신청기간 : ~ 2016.11.17</p></div>
					<div class="money col-xs-4 col-lg-6" align="right" ><p align="center" style = "height:33px;">무료</p><h6>* 선착순</h6></div>
				</div>
			</li>
		</ul>
	   <ul class="lecture-width grid effect-2" id="grid">
		
				<li>
				<div align="center">
					
					<a href="/lecture/detail">
					<img class="img-responsive" width="100%" src="http://i.imgur.com/on7okMj.png"></a>
					
				</div>
				<div class="con row">	
					<p><a href="/lecture/detail">취준생이 꼭 알아야 하는 ‘기업 세계관’</a></p>	
					<div class="date col-xs-8 col-lg-6" align="left"><p>신청기간 : ~ 2016.10.09</p></div>
					<div class="money col-xs-4 col-lg-6" align="right"><p align="center"><span style="color: rgb(204, 204, 204);">\<strike>150,000</strike></span><br>\120,000</p><h6>* 쿠폰 적용가</h6></div>
				</div>
			</li>
		</ul>
</div>

<!--div class="icon-plus_con" align="center" onclick="addMore()"><img class="img-responsive" src="/page_imgs/fixed_img/icon_plus_con.svg" style="width:40px; margin-bottom:20px;"></div-->

		<script src="/js/contents_js/masonry.pkgd.min.js"></script>
		<script src="/js/contents_js/imagesloaded.js"></script>
		<script src="/js/contents_js/classie.js"></script>
		<script src="/js/contents_js/AnimOnScroll.js"></script>
		<script>
			new AnimOnScroll( document.getElementById( 'grid' ), {
				minDuration : 0.4,
				maxDuration : 0.7,
				viewportFactor : 0.2
			} );
		</script>


<% include ../bottom %>

</body>
</html>
