<!DOCTYPE html>
<html lang="ko">
<head>

<meta charset="utf-8">
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0" />
<!--페이스북 관련 -->
<meta property="fb:admins" content="{jkhhihi@naver.com}" /><!--페이스북 슈퍼아이디-->
<meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<!--공유 meta tags-->
<meta name="title" content="사이다경제" />
<meta property="og:image" content="http://www.cidermics.com/page_imgs/fixed_img/thum_img.jpg" />
<meta property="og:title" content="사이다경제 X CGV" />
<meta property="og:site_name" content="사이다경제 X CGV"/ >
<meta property="og:type" content="article">
<meta property="og:url" content="http://www.cidermics.com/cgv" />
<meta property="og:description" content="사이다경제와 CGV가 함께 합니다." />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>사이다경제 X CGV</title>

<link href="/css/cid_main2.css" rel="stylesheet">
<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="/js/modernizr.custom.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>


</head>

<style type="text/css">
	/*fab*/
	.fab {
	    z-index: 999;
	    background: #2196F3;
	    width: 50px;
	    height: 50px;
	    border-radius: 50%;
	    text-align: center;
	    color: #FFF;
	    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.25);
	    position: fixed;
	    bottom: 85px;
	    right: 27px;
	    font-size: 3.2rem;
	    display: inline-block;
	    cursor: pointer;
	}
	.fab span {
	    vertical-align: middle;
	}
	.fab span a {
	    line-height: 50px;
	    color: #fff;
	}
	.fab span a:hover{
	    color: #e4dddd;
	    text-decoration: none !important;
	}
	.fab.child {
	    z-index: 999;
	    right: 28px;
	    width: 50px;
	    height: 50px;
	    display: none;
	    opacity: 0;
	    font-size: 14px;
	}
	.backdrop {
	    position: fixed;
	    top: 200px;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    display: none;
	}
    /*fab end*/
</style>


<style type="text/css">

		#cgvmain{margin-top: 50px}
		#cgvmain img{width: 800px}
		.bg1{background-image:url(page_imgs/cgv_img/bg1.jpg); background-size: cover;}
		#leader{padding: 80px 0}
		#leader img{margin-top: 20px}
		#leader-info img{width: 800px}
		#leader-info div.h{height: 80px}
		.line{width: 100%; height: 1px; background-color: #ccc}
		#event img{width: 600px}
		.gototop {
		    padding: 5px;
		    display: block;
		    z-index: 2;
		    position: fixed;
		    bottom: 30px;
		    right: 35px;
		    height: 50px;
		    width: 45px;
		    border-radius: 0.25em;
		    background: rgba(255, 255, 255, 0.9);
		}


	@media all and (max-width:1024px) {
		#cgvmain{margin-top: 45px}
		#cgvmain img{width: 100%}
		#leader{padding: 40px 5px}
		#leader-info img{width: 100%}
		#leader-info div.h{height: 50px}
		#event img{width: 100%}
	}

</style>


<body>	

	<!--위로가기 버튼-->
	<div id="but_top"><a href="#but_top"><img class="gototop" src="/page_imgs/fixed_img/btn_gotoup.svg"></a></div>
	<a name="but_top">
	<% include ../top %>
	
    <!--fab>
    <div class="backdrop" id="backdrop"></div>
    <div class="fab child" data-subitem="1"><span><a class="" href="/seminar" onclick="ga('send','event','세미나','버튼클릭','detail페이지' );">세미나</a></span></div>
    <div class="fab child" data-subitem="2"><span><a class="" href="/study" onclick="ga('send','event','강의','버튼클릭','detail페이지' );">강의</a></span></div>
    <div class="fab child" data-subitem="3"><span><a class="" href="https://finance.cidermics.com/finance" onclick="ga('send','event','컨설팅','버튼클릭','detail페이지' );">컨설팅</a></span></div>
    <div class="fab child" data-subitem="4" style="background: #fff; padding:2px"><a href="http://bit.ly/2JK1TQI"  onclick="ga('send','event','CGV','CGV버튼클릭','CGV페이지' );"><img class="img-responsive" src="/page_imgs/main_img/cgvlogo.svg" style="height: 46px"></a></div>

    <div class="fab" id="masterfab"><span id="clickfab" onclick='var pcode="<i class=material-icons>add</i>"; var mcode="<i class=material-icons>close</i>"; if(backdrop.style.display=="none"){clickfab.innerHTML = mcode;}else{clickfab.innerHTML = pcode; }'><i class='material-icons'>add</i></span></div>
	<script>
	    $(function(){
	        $(".backdrop").fadeIn(125);
	        $(".fab.child").each(function(){
	            $(this)
	                .stop()
	                .show()
	                .animate({
	                    bottom	: (parseInt($("#masterfab").css("bottom")) + parseInt($("#masterfab").outerHeight()) + 60 * $(this).data("subitem") - $(".fab.child").outerHeight()) + "px",
	                    opacity	: 1
	                },125);
	        });
	        $(".fab,.backdrop").click(function(){
	            if($(".backdrop").is(":visible")){
	                $(".backdrop").fadeOut(125);
	                $(".fab.child")
	                    .stop()
	                    .animate({
	                        bottom	: $("#masterfab").css("bottom"),
	                        opacity	: 0
	                    },125,function(){
	                        $(this).hide();
	                    });
	            }else{
	                $(".backdrop").fadeIn(125);
	                $(".fab.child").each(function(){
	                    $(this)
	                        .stop()
	                        .show()
	                        .animate({
	                            bottom	: (parseInt($("#masterfab").css("bottom")) + parseInt($("#masterfab").outerHeight()) + 60 * $(this).data("subitem") - $(".fab.child").outerHeight()) + "px",
	                            opacity	: 1
	                        },125);
	                });
	            }
	        });
	    });

	</script-->

	<div id="cgvmain" align="center">
		<div class="row" style="margin-right: 0; margin-left: 0;">
			<div class="col-12">
				<div class="bg1"><img class="img-responsive" src="/page_imgs/cgv_img/1.png"></div>
			</div>
		</div>
	</div>

	<div style="background-color: #f9f9f9;">
		<div id="leader" class="container" align="center">
			<div class="row" style="margin-right: 0; margin-left: 0;">
				<div class="col-lg-3 col-xs-6"><a href="#01"> <img class="img-responsive" src="/page_imgs/cgv_img/01.png"></a></div>
				<div class="col-lg-3 col-xs-6"><a href="#02"> <img class="img-responsive" src="/page_imgs/cgv_img/02.png"></a></div>
				<div class="col-lg-3 col-xs-6"><a href="#03"> <img class="img-responsive" src="/page_imgs/cgv_img/03.png"></a></div>
				<div class="col-lg-3 col-xs-6"><a href="#04"> <img class="img-responsive" src="/page_imgs/cgv_img/04.png"></a></div>
				<div class="col-lg-3 col-xs-6"><a href="#05"> <img class="img-responsive" src="/page_imgs/cgv_img/05.png"></a></div>
				<div class="col-lg-3 col-xs-6"><a href="#06"> <img class="img-responsive" src="/page_imgs/cgv_img/06.png"></a></div>
				<div class="col-lg-3 col-xs-6"><a href="#07"> <img class="img-responsive" src="/page_imgs/cgv_img/07.png"></a></div>
				<div class="col-lg-3 col-xs-6"><a href="#08"> <img class="img-responsive" src="/page_imgs/cgv_img/08.png"></a></div>
				<div class="col-lg-3 col-xs-6"><a href="#09"> <img class="img-responsive" src="/page_imgs/cgv_img/09.png"></a></div>
				<div class="col-lg-3 col-xs-6"><a href="#10"> <img class="img-responsive" src="/page_imgs/cgv_img/10.png"></a></div>
			</div>
		</div>
	</div>

	<div id="leader-info" class="container" align="center">
		<div class="row" style="margin-right: 0; margin-left: 0;">
			<div class="col-12">
				<div id="01" class="h"></div>
				<img class="img-responsive" src="/page_imgs/cgv_img/01-1.jpg">
				<a href="http://bit.ly/2N9dMCv"><img class="img-responsive" src="/page_imgs/cgv_img/01-2.jpg"></a>
				<a href="http://bit.ly/2RiyA8K"><img class="img-responsive" src="/page_imgs/cgv_img/01-3.jpg"></a>
			</div>
			<div class="line"></div>
			<div class="col-12">
				<div id="02" class="h"></div>
				<img class="img-responsive" src="/page_imgs/cgv_img/02-1.jpg">
				<a href="http://bit.ly/2XUamnN"><img class="img-responsive" src="/page_imgs/cgv_img/02-2.jpg"></a>
			</div>
			<div class="line"></div>
			<div class="col-12">
				<div id="03" class="h"></div>
				<img class="img-responsive" src="/page_imgs/cgv_img/03-1.jpg">
				<a href="http://bit.ly/2KpNdq8"><img class="img-responsive" src="/page_imgs/cgv_img/03-2.jpg"></a>
			</div>
			<div class="line"></div>
			<div class="col-12">
				<div id="04" class="h"></div>
				<img class="img-responsive" src="/page_imgs/cgv_img/04-1.jpg">
				<a href="http://bit.ly/31FqnQU"><img class="img-responsive" src="/page_imgs/cgv_img/04-2.jpg"></a>
			</div>
			<div class="line"></div>
			<div class="col-12">
				<div id="05" class="h"></div>
				<img class="img-responsive" src="/page_imgs/cgv_img/05-1.jpg">
				<a href="http://bit.ly/31DFEBJ"><img class="img-responsive" src="/page_imgs/cgv_img/05-2.jpg"></a>
			</div>
			<div class="line"></div>
			<div class="col-12">
				<div id="06" class="h"></div>
				<img class="img-responsive" src="/page_imgs/cgv_img/06-1.jpg">
				<a href="http://bit.ly/2KV0BlG"><img class="img-responsive" src="/page_imgs/cgv_img/06-2.jpg"></a>
			</div>
			<div class="line"></div>
			<div class="col-12">
				<div id="07" class="h"></div>
				<img class="img-responsive" src="/page_imgs/cgv_img/07-1.jpg">
				<a href="http://bit.ly/2FdNmsv"><img class="img-responsive" src="/page_imgs/cgv_img/07-2.jpg"></a>
			</div>
			<div class="line"></div>
			<div class="col-12">
				<div id="08" class="h"></div>
				<img class="img-responsive" src="/page_imgs/cgv_img/08-1.jpg">
				<a href="http://bit.ly/31EPRhj"><img class="img-responsive" src="/page_imgs/cgv_img/08-2.jpg"></a>
				<a href="http://bit.ly/2MS1D4z"><img class="img-responsive" src="/page_imgs/cgv_img/08-3.jpg"></a>
				<a href="http://bit.ly/2XYGiYq"><img class="img-responsive" src="/page_imgs/cgv_img/08-4.jpg"></a>
			</div>
			<div class="line"></div>
			<div class="col-12">
				<div id="09" class="h"></div>
				<img class="img-responsive" src="/page_imgs/cgv_img/09-1.jpg">
				<a href="http://bit.ly/31Pymem"><img class="img-responsive" src="/page_imgs/cgv_img/09-2.jpg"></a>
				<a href="http://bit.ly/2ZvLNhm"><img class="img-responsive" src="/page_imgs/cgv_img/09-3.jpg"></a>
			</div>
			<div class="line"></div>
			<div class="col-12">
				<div id="10" class="h"></div>
				<img class="img-responsive" src="/page_imgs/cgv_img/10-1.jpg">
				<a href="http://bit.ly/2ZxzW2y"><img class="img-responsive" src="/page_imgs/cgv_img/10-2.jpg"></a>
			</div>
		</div>
	</div>

	<div id="cgvmain" align="center">
		<div class="row" style="margin-right: 0; margin-left: 0;">
			<div class="col-12">
				<div><img class="img-responsive" src="/page_imgs/cgv_img/2.png"></div>
			</div>
		</div>
	</div>

	<div id="event" align="center" style="background-image: linear-gradient(#fbe902 , #ffc000);">
		<a href="http://bit.ly/2rhUsI7"><img class="img-responsive" src="/page_imgs/cgv_img/event.jpg"></a>
	</div>




	<script type="text/javascript" src="/js/exentriq-bootstrap-material-ui.js"></script>


	<% include ../bottom %>
	<script type="text/javascript">

		/*var url = location.href;
		var hrefArr = url.split('#');
		var seq = hrefArr[1];
		/!*location.href = "#"+seq;
		history.replaceState(null,null,url);*!/
		self.location.hash=seq;*/


		$(document).ready(function(){

            setTimeout(function() {
                var url = location.href;
                var hrefArr = url.split('?');
                var seq = hrefArr[1];
                location.href = "#"+seq;
            }, 1000);

            /*var url = location.href;
            var hrefArr = url.split('#');
            var seq = hrefArr[1];
            location.href = "#"+seq;
            history.replaceState(null,null,url);*/
            //self.location.hash = seq;
            //history.replaceState(null,null,url);
		});
        function jump(h){
            var url = location.href;               //Save down the URL without hash.
            location.href = "#"+h;                 //Go to the target element.
            history.replaceState(null,null,url);   //Don't like hashes. Changing it back.
        }
        //self.location.hash='pos_top';







        /*$(window).ready(function (){
            var href = location.href;
            var hrefArr = href.split('?');
            var seq = hrefArr[1];

            //fnMove(seq);
            fnMove(seq);
        })
        function fnMove(seq){
            var offset = $("#div"+seq).offset();
            $(window).scrollTop(offset.top);
            //$('html, body').animate({scrollTop : offset.top}, 400);
        }
        function fnMove2(seq){
            var offset = $("#div3").offset();
            $(document).scrollTop(offset.top);
            //$('html, body').animate({scrollTop : offset.top}, 400);
        }*/
	</script>
</body>
</html>
