<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>사이다경제 | 토론 신고</title>

<!--글자수 제한 스크립트 -->
<script type="text/javascript">
    function chkword(obj, maxByte) {
 
        var strValue = obj.value;
        var strLen = strValue.length;
        var totalByte = 0;
        var len = 0;
        var oneChar = "";
        var str2 = "";
 
        for (var i = 0; i < strLen; i++) {
            oneChar = strValue.charAt(i);
            if (escape(oneChar).length > 4) {
                totalByte += 2;
            } else {
                totalByte++;
            }
 
            // 입력한 문자 길이보다 넘치면 잘라내기 위해 저장
            if (totalByte <= maxByte) {
                len = i + 1;
            }
        }
 
        // 넘어가는 글자는 자른다.
        if (totalByte > maxByte) {
            alert(maxByte + "자를 초과 입력 할 수 없습니다.");
            str2 = strValue.substr(0, len);
            obj.value = str2;
            chkword(obj, 4000);
        }
    }
</script>

<style type="text/css">
  .declaration{
    margin: 30px;
  }
</style>
       


</head>
<body style="font-family: 'Nanum Gothic', serif !important;">
<!--위로가기 버튼-->
<div id="but_top"><img class="gototop" src="/page_imgs/fixed_img/btn_gotoup.svg"></div>

<% include ../top %>

<div class="discuss_detail-mob_menu"><img src="/page_imgs/fixed_img/detail_line.png"></div>

<form method="post" action="/discuss/declaration">
<input type="hidden" name="comt_no" value="<%=comtlist[0].comt_no%>">
<input type="hidden" name="dis_no" value="<%=comtlist[0].dis_no%>">
<div class="declaration container">
  <div class="row">
     <div class="col-xs-1 col-md-2"></div>
        <div class="col-xs-11 col-md-8">
           <h2> 신고하기</h2>
           <p><b> 신고 댓글 내용 : <%=comtlist[0].comt_text%></b></p>
        </div>
     <div class="col-xs-0 col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <div class="form-group">
        <label for="exampleInputEmail1">사유 : </label>
        <textarea class="form-control" rows="6" name="comt_text"  placeholder="사유 내용" onkeyup="chkword(this, 500)")></textarea>
      </div>
    <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</div>
</form>

<script>
  $(document).ready(function(){
    $('.modal-trigger1').leanModal();
  });
</script>

          

<% include ../bottom %>

</body>
</html>
