<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>사이다경제 | 회원가입</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_join.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

</head>
<body>
<% include ../top %>

<div class="row" style="margin:0; padding:0">
		<div class="col-xs-12 main-join" style="padding-left:0; padding-right:0;" align="center">
				<div class="bg">
						<div class="row join">
								<div class="col-xs-12 join-step" align="right" style="padding:0;">
									<img src="/page_imgs/member_img/join_1.png">
									<img src="/page_imgs/member_img/join_2.png">
									<img src="/page_imgs/member_img/ch_join_3.png"></div>
								<div class="row step3">
								 <div class="col-xs-12 img"><img src="/page_imgs/member_img/success.png"></div>
								 <div class="col-xs-12 text">회원가입이 완료 되었습니다.</div>
								 <div class="col-xs-12 ok"><a href="/"><img src="/page_imgs/member_img/btn-ok.png"></a></div>
								</div>
						</div>
				</div>
		</div>
</div>
<% include ../bottom %>

</body>
</html>
