<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>사이다경제 | 회원가입</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_join.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

<script type="text/javascript">
	
	$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').focus()
})



function mem_join_next(){
	 if(document.mem_join.email1.value==""){
	 alert("이메일 아이디를 입력해 주세요.");
	document.mem_join.email1.focus();
	  return;
	}
	if(document.mem_join.email2.value==""){
	 alert("이메일을 정확히 입력해 주세요.");
	document.mem_join.email2.focus();
	  return;
	}
	if(document.mem_join.mem_pw.value!= document.mem_join.mem_pw2.value){
	  alert("비밀번호가 일치하지 않습니다.");
	 document.mem_join.mem_pw.focus();
	 return;
	 }
	
	 if(document.mem_join.mem_name.value==""){
	 alert("이름을 입력해 주세요.");
	document.mem_join.mem_name.focus();
	  return;
	}
	if(document.mem_join.mem_nick.value==""){
	 alert("닉네임을 입력해 주세요.");
	document.mem_join.mem_nick.focus();
	  return;
	}

	if(document.mem_join.nickchk.value.length > 1){
		 alert("중복된 닉네임입니다.");
		 document.mem_join.nickchk.focus();
		 return;
	}
	
	if(document.mem_join.mem_pw.value.length<=7){
	 alert("비밀번호는 8자리 이상 입력해 주세요.");
	document.mem_join.mem_pw.focus();
	return;
	 }
	 
	if(document.mem_join.mem_year.value==""){
	 alert("생년월일을 선택해주세요.");
	document.mem_join.mem_year.focus();
	  return;
	}

	if(document.mem_join.mem_sex.value==""){
	 alert("성별을 선택 주세요.");
	document.mem_join.mem_sex.focus();
	  return;
	}

	if(document.mem_join.idchk.value.length > 1){
		 alert("중복된 이메일 주소입니다.");
		 document.mem_join.idchk.focus();
		 return;
	}
	
	for (i=0; i<document.mem_join.email1.value.length; i++)
        {
         var ch = document.mem_join.email1.value.charAt(i);//문자를 반환(정수형), 범위 검사 가능
	if ( ( ch < "a" || ch > "z") && (ch < "A" || ch > "Z") && (ch < "0" || ch > "9" ) )
    	{
            alert("아이디는 영문, 숫자 조합으로만 입력 가능 합니다!");
            document.mem_join.email1.focus();
            return;
         }
		}
	 
	 	document.mem_join.submit();
}

function checkPwd(){
  var f1 = document.forms[0];
  var pw1 = document.mem_join.mem_pw.value;
  var pw2 = document.mem_join.mem_pw2.value;
  if(pw1!=pw2){
   document.getElementById('checkPwd').style.color = "red";
   document.getElementById('checkPwd').innerHTML = "  *패스워드가 다릅니다."; 
  }else{
   document.getElementById('checkPwd').style.color = "blue";
   document.getElementById('checkPwd').innerHTML = "  *패스워드가 확인 되었습니다.";   
  }  
 }



/* 아이디 중복확인 작업 */
/*$(function(){
	  $('#email2').blur(function(){
    	var email1 = document.mem_join.email1.value;
    	var email2 = document.mem_join.email2.value;

    	var email = email1+'@'+email2;
        $.ajax({
            url:'/idcheck/'+email,
            type:"POST",
            success:function(data){
            	//alert(data.emailchk);
                if($.trim(data.emailchk) == "YES"){
                    alert('사용불가');
                    $('#idchk').html('<b style="font-size:14px;color:#ff574a;">*이미 등록된 이메일 주소입니다.<input type="hidden" name="idexist" value="1"></b>');
                }else{
                    alert('사용가능');
                    $('#idchk').html('<b style="font-size:14px;color:#ff574a;">사용 가능한 이메일 주소입니다.</b>');
                    
                }
            }
        });
    });
});
*/
</script>
</head>
<body>
<% include ../top %>


<div class="row" style="margin:0; padding:0">
	<div class="col-xs-12 main-join" style="padding-left:0; padding-right:0;" align="center">
		<div class="bg">
			<div class="row join">
				<div class="col-xs-12 join-step" align="right" style="padding:0;"><img src="/page_imgs/member_img/join_1.png">
					<img src="/page_imgs/member_img/ch_join_2.png">
					<img src="/page_imgs/member_img/join_3.png">
				</div>
					<div class="row step2" align="left" style="margin-top:20px;">
						<form name="mem_join" action="/join_step_done" method="post" >
							<div class="col-xs-12 star padding-lr-0">*항목을 정확하게 입력해주세요.</div>
							<div class="col-xs-12 id padding-lr-0">
								<span class="width-80 id_title">아이디<span class="star">*</span></span>
							<input type="text" name="email1" id="email1" class="email" style="IME-MODE: disabled" maxlength=20   placeholder="이메일 주소">@ 
							<!-- <input type="text" name="email2" id="email2" class="email" size="11" style="IME-MODE: disabled">
							<select class="email" name="emaillist" onchange="this.form.email2.value=this[this.selectedIndex].value;">
			       				 <option selected="selected">메일 선택</option>
			       				 <option value="naver.com">naver.com</option>
			       				 <option value="daum.net">daum.net</option>
			       				 <option value="gmail.com">gmail.com</option>
			       				 <option value="nate.com">nate.com</option>
			       				 <option value="hotmail.com">hotmail.com</option>
			       				 <option value="yahoo.com">yahoo.com</option>
			       				 <option value="empas.com">empas.com</option>
			       				 <option value="korea.com">korea.com</option>
			       				 <option value="">직접입력</option>
							   </select> -->
							   <!-- <select class="email" name="email2" id="email2">
			       				 <option selected="selected">메일 선택</option>
			       				 <option value="naver.com">naver.com</option>
			       				 <option value="daum.net">daum.net</option>
			       				 <option value="gmail.com">gmail.com</option>
			       				 <option value="nate.com">nate.com</option>
			       				 <option value="hotmail.com">hotmail.com</option>
			       				 <option value="yahoo.com">yahoo.com</option>
			       				 <option value="empas.com">empas.com</option>
			       				 <option value="korea.com">korea.com</option>
			       				 <option value=""  onchange="this.form.email3.value=this[this.selectedIndex].value">직접입력</option>
							   </select>
							   <input type="text" name="email3" id="email2" class="email" size="11" style="IME-MODE: disabled"> -->
							<input type="text" name="email2" id="email2" class="email" size="11" style="IME-MODE: disabled" placeholder="cidermics.com">
							<a onclick="idChk()" style="cursor: pointer;"><span class="chkbtn">중복확인</span></a>
							<div id="idchk"></div>

							</div>
							<div class="col-xs-12 name padding-lr-0">
								<span class="width-80 name_title">이름<span class="star">*</span></span>
								<input name='mem_name' class="nicname1" type="text" id="name1" style="IME-MODE: disabled" size="12" placeholder="이름 입력">
							</div>
							<div class="col-xs-12 name padding-lr-0">
								<span class="width-80 name_title">닉네임<span class="star">*</span></span>
								<input name='mem_nick' class="nicname1" type="text" style="IME-MODE: disabled" size="12" placeholder="닉네임 입력"><a onclick="nickChk()" style="cursor: pointer;"><span class="chkbtn">중복확인</span></a>
								<div id="nickchk"><input type="hidden" name="nickchk" value=1></div>
							</div>
							<div class="col-xs-12 password padding-lr-0">
								<span class="width-80 password_title">비밀번호<span class="star">*</span></span>
								<input name='mem_pw' class="password1" type="password" style="IME-MODE: disabled" size="12" minlength="8" maxlength="20"  onKeyUp="checkPwd()"  placeholder="8~20자 입력"/>
							</div>
							<div class="col-xs-12 ch_password padding-lr-0">	
								<span class="width-80 ch_password_title">비밀번호 확인<span class="star">*</span></span>
								<input name='mem_pw2' class="password2" type="password" style="IME-MODE: disabled" size="12" minlength="8"  maxlength="20" onKeyUp="checkPwd()" />
								<div id="checkPwd" style="margin-left:80px; margin-top:5px;"></div>
							</div>
							<div class="col-xs-12 birth padding-lr-0">
								<span class="width-80 birth_title">생년월일<span class="star">*</span></span>
								<select name="mem_year" class="year">
									<option>1936</option>
									<option>1937</option>
									<option>1938</option>
									<option>1939</option>
									<option>1940</option>
									<option>1941</option>
									<option>1942</option>
									<option>1943</option>
									<option>1944</option>
									<option>1945</option>
									<option>1946</option>
									<option>1947</option>
									<option>1948</option>
									<option>1949</option>
									<option>1950</option>
									<option>1951</option>
									<option>1952</option>
									<option>1953</option>
									<option>1954</option>
									<option>1955</option>
									<option>1956</option>
									<option>1957</option>
									<option>1958</option>
									<option>1959</option>
									<option>1960</option>
									<option>1961</option>
									<option>1962</option>
									<option>1963</option>
									<option>1964</option>
									<option>1965</option>
									<option>1966</option>
									<option>1967</option>
									<option>1968</option>
									<option>1969</option>
									<option>1970</option>
									<option>1971</option>
									<option>1972</option>
									<option>1973</option>
									<option>1974</option>
									<option>1975</option>
									<option>1976</option>
									<option>1977</option>
									<option>1978</option>
									<option>1979</option>
									<option>1980</option>
									<option>1981</option>
									<option>1982</option>
									<option>1983</option>
									<option>1984</option>
									<option>1985</option>
									<option>1986</option>
									<option>1987</option>
									<option>1988</option>
									<option selected="selected">1989</option>
									<option>1990</option>
									<option>1991</option>
									<option>1992</option>
									<option>1993</option>
									<option>1994</option>
									<option>1995</option>
									<option>1996</option>
									<option>1997</option>
									<option>1998</option>
									<option>1999</option>
									<option>2000</option>
									<option>2001</option>
									<option>2002</option>
									<option>2003</option>
									<option>2004</option>
									<option>2005</option>
									<option>2006</option>
									<option>2007</option>
									<option>2008</option>
									<option>2009</option>
									<option>2010</option>
									<option>2011</option>
									<option>2012</option>
									<option>2013</option>
									<option>2014</option>
									<option>2015</option>
									<option>2016</option>
								</select>년 
								<select name="mem_month" class="month">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									<option>6</option>
									<option>7</option>
									<option>8</option>
									<option>9</option>
									<option>10</option>
									<option>11</option>
									<option>12</option>
								</select>월 
								<select name="mem_day" class="month">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									<option>6</option>
									<option>7</option>
									<option>8</option>
									<option>9</option>
									<option>10</option>
									<option>11</option>
									<option>12</option>
									<option>13</option>
									<option>14</option>
									<option>15</option>
									<option>16</option>
									<option>17</option>
									<option>18</option>
									<option>19</option>
									<option>20</option>
									<option>21</option>
									<option>22</option>
									<option>23</option>
									<option>24</option>
									<option>25</option>
									<option>26</option>
									<option>27</option>
									<option>28</option>
									<option>29</option>
									<option>30</option>
									<option>31</option>
								</select>일 
							</div>
							<div class="col-xs-12 sex padding-lr-0">
								<span class="width-80 sex_title">성별<span class="star">*</span></span>
									<div class="form-group" style="display:inline;">
    								<div class="btn-group" data-toggle="buttons">
										<label class="btn btn-info1 active" style="padding:5px 20px;">
											<input type="radio" name="mem_sex" value="남" id="option2" autocomplete="off">남
											<!--img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-man-64.png" width=20 height=20 alt=""-->
										</label>
										<label class="btn btn-info" style="padding:5px 20px;">
											<input type="radio" name="mem_sex" value="여" id="option1" autocomplete="off">여
											<!--img src="https://cdn1.iconfinder.com/data/icons/iconbeast-lite/30/woman-figure.png" width=20 height=20 alt=""-->
										</label>
									</div>
									</div>
							</div>
							<div class="row step2-btn">
								<div class="col-xs-6 cancle padding-lr-0" align="left"><img src="/page_imgs/member_img/btn-cancle.jpg"></div>
								<div class="col-xs-6 next padding-lr-0" align="right"><a onClick="mem_join_next()" style="cursor:pointer"><img src="/page_imgs/member_img/btn-next.jpg"></a></div>
							</div>
						</form>
					</div>		
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

/* 닉네임 중복확인 */
function idChk(){

	
    var email1 = document.mem_join.email1.value;
    var email2 = document.mem_join.email2.value;
    var email = email1+'@'+email2;
	//alert(nick);

        $.ajax({
            url:'/idcheck/',
            dataType: 'json',
				data:{
					'mem_email' : email,
				},

            method:"POST",
            success:function(data){
                if($.trim(data.success) == 0){
                    //alert('사용가능');
                    $('#idchk').html('<b style="font-size:16px;color:#1d87c9">사용 가능한 이메일입니다.<input type="hidden" name="idchk" value=0></b>');
                }else{
                    //alert('사용불가');
                    $('#idchk').html('<b style="font-size:16px;color:#ff574a">중복된 이메일이 있습니다.<input type="hidden" name="idchk" value=11></b>');
                }
            }
        });
}

/* 닉네임 중복확인 */
function nickChk(){

	var nick = document.mem_join.mem_nick.value;
	//alert(nick);

        $.ajax({
            url:'/nickcheck/',
            dataType: 'json',
				data:{
					'mem_nick' : nick,
				},

            method:"POST",
            success:function(data){
                if($.trim(data.success) == 0){
                    //alert('사용가능');
                    $('#nickchk').html('<b style="font-size:16px;color:#1d87c9">사용 가능한 닉네임입니다.<input type="hidden" name="nickchk" value=0></b>');
                }else{
                    //alert('사용불가');
                    $('#nickchk').html('<b style="font-size:16px;color:#ff574a">중복된 닉네임이 있습니다.<input type="hidden" name="nickchk" value=11></b>');
                }
            }
        });
}
</script>

<% include ../bottom %>

</body>
</html>
