<!DOCTYPE html>
<html lang="ko">
<head>
	
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1"-->
<title>사이다경제 | 회원탈퇴</title>
<link href="/css/cid_member.css" rel="stylesheet">

<script type="text/javascript">
	
function pSearch(){
	if(document.psearch.email1.value==""){
	 alert("이메일 주소를 입력해 주세요.");
	document.psearch.email1.focus();
	  return;
	}
	//alert(document.psearch.xxx);
	//alert(data.emailchk);

	if( xxx != null){
	}
	/*
	if(document.psearch.email2.value==""){
	 alert("이메일 주소를 입력해 주세요.");
	document.psearch.email2.focus();
	  return;
	}*/
	
	
	for (i=0; i<document.psearch.email1.value.length; i++)
        {
         var ch = document.psearch.email1.value.charAt(i);//문자를 반환(정수형), 범위 검사 가능
	if ( ( ch < "a" || ch > "z") && (ch < "A" || ch > "Z") && (ch < "0" || ch > "9" ) )
    	{
            alert("이메일 주소는 숫자, 영문으로만 입력 가능 합니다!");
            document.psearch.email1.focus();
            return;
         }
		}

	 	document.psearch.submit();
}



/* 아이디 중복확인 작업중 */
$(function(){
	  $('#email2').blur(function(){
    	var email1 = document.psearch.email1.value;
    	var email2 = document.psearch.email2.value;

    	var email = email1+'@'+email2;
    	alert(email + "아이디 체크");
        $.ajax({
            url:'/idcheck/'+email,
            type:"POST",
           /* data:{
                "email1": $('#email1').val()
            }, */
            success:function(data){
            	//alert(data.emailchk);
                if($.trim(data.emailchk) == "YES"){
                    //alert('사용가능');
                    $('#idchk').html('<b style="font-size:16px;color:#1d87c9">확인완료. 다음을 눌러주세요.<div id="xxx" value="1"></div></b>');
                }else{
                    //alert('사용불가');
                    $('#idchk').html('<b style="font-size:16px;color:#ff574a">아이디가 없습니다. 정확히 입력해주세요.</b>');
                }
            }
        });
    });
});

</script>

<body>

<% include ../top %>

<div class="mypage">
<div class="container" align="center" style="margin-top: 100px;">
	<div id="memdel" class="box" align="left">
		<div class="title"><span>회원탈퇴</span></div>
		<div class="line"></div>
		<!--div align="center"> <p>준비 중 입니다.</p></div-->

		<!--div class="pw"><p class="title2">비밀번호 입력</p><input name='mem_pw' class="nicname1" type="password" style="IME-MODE: disabled" size="12" minlength="8"  maxlength="20" onKeyUp="checkPwd()"></div>
		<div class="line"></div-->
		<!--div class="star" align="center" style="margin:10px 0;">*비밀번호 입력시 바로 탈퇴되며...</div-->
		<div align="center">
			<div class="btn-apply" style="cursor:pointer"><a href="/mypage/delete/<%= mem_id %>"><p>회원탈퇴</p></a></div>
			<div class="btn-cancel" style="cursor:pointer"><p>취소</p></div>
		</div>
	</div>
</div>
</div>

<% include ../bottom %>
</body>
</html>
