<!DOCTYPE html>
<html lang="ko">
<head>
	
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1"-->
<title>사이다경제 | 마이페이지</title>
<link href="/css/cid_member.css" rel="stylesheet">
<body>

<% include ../top %>

<div class="mypage">
<% include mypagetop %>



<script type="text/javascript">

//AJAX로 서브밋한 후에 메세지 넘기기 

  $(function () {

   $('#formMeg').on('submit', function (e) {

   	e.preventDefault();

	$.ajax({
 	url: 'mypage/update/',
 	type: "POST",
	//data: JSON.stringify(data),
	data: $('#formMeg').serialize(),
	success: function(response){
  	alert('주제 요청 등록이 완료되었습니다. 소중한 의견 감사합니다.');
  	//window.location.href="/discuss";
 	}
	});
   });
  });
</script>

<div class="container" align="center">
	<span class="enjoy-con-title">즐겨찾는 콘텐츠</span>
	<!-- 즐겨찾기한 콘텐츠 뿌림 -->
	<div class="con-in row" align="center">
			<% for(var i=0; i < clip.length; i++) { %>
			<div class="col-md-6 col-xs-4">
				<div class="thumnail">
					<a href="/contents/detail/<%= clip[i].con_no %>">
					<div class="con-img">
						<div class="con-thumbnail"><img class="img-responsive" src="<%= clip[i].con_photo %>"></div>
					</div>
					<div class="con-title"><%= clip[i].con_title %></div>
					</a>
				</div>			
			</div>
			<% } %>

		</div>
	<!-- 콘텐츠 뿌림 끝 -->
	
	<p class="con-plus">+ 더보기</p>
</div>
</div>

	<script src="/js/swiper.js"></script>
	<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView: 3,
        paginationClickable: true,
        spaceBetween: 2,
        freeMode: true
        
    });
    </script>

<% include ../bottom %>
</body>
</html>
