<!DOCTYPE html>
<html lang="ko">
<head>
	
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1"-->
<title>사이다경제 | 마이페이지</title>
<link href="/css/cid_member.css" rel="stylesheet">


<link rel="stylesheet" type="text/css" href="/css/component.css" />
<script src="/js/modernizr.custom.js"></script>


<style type="text/css">
	.con_border{
		border: 1px solid #ececec;
		border-radius: 6px;
		padding-bottom: 10px;
	}
</style>

<body>

<% include ../top %>

<div class="mypage">
<% include mypagetop %>



<script type="text/javascript">

//AJAX로 서브밋한 후에 메세지 넘기기 

  $(function () {

   $('#formMeg').on('submit', function (e) {

   	e.preventDefault();

	$.ajax({
 	url: 'mypage/update/',
 	type: "POST",
	//data: JSON.stringify(data),
	data: $('#formMeg').serialize(),
	success: function(response){
  	alert('주제 요청 등록이 완료되었습니다. 소중한 의견 감사합니다.');
  	//window.location.href="/discuss";
 	}
	});
   });
  });
</script>

<div class="container" align="center">
	<span class="enjoy-con-title">즐겨찾는 콘텐츠</span>
</div>



</div>

	<!-- 콘텐츠 뿌림 끝 -->
<div class="contents container" style="margin-bottom:50px;">
			<ul class="grid effect-2" id="grid">
				
				<% for(var i=0; i < clip.length; i++) { %>
				<li>
				<div class="con_border">
					<a href="/contents/detail/<%= clip[i].con_no %>" style="margin-top: 0px;">
					<div class="con-img" align="center"><img class="img-responsive" src="<%= clip[i].con_photo %>"></div></a>
					
					<p><a href="/contents/detail/<%= clip[i].con_no %>"  style="margin: 10px 10px;">
						<%= clip[i].con_title %></a></p>
				</div>
			</li>
			<% } %>
			</ul>
</div>

		<script src="/js/contents_js/masonry.pkgd.min.js"></script>
		<script src="/js/contents_js/imagesloaded.js"></script>
		<script src="/js/contents_js/classie.js"></script>
		<script src="/js/contents_js/AnimOnScroll.js"></script>
		<script>
			new AnimOnScroll( document.getElementById( 'grid' ), {
				minDuration : 0.4,
				maxDuration : 0.7,
				viewportFactor : 0.2
			} );
		</script>


<% include ../bottom %>
</body>
</html>
