<div class="profile" align="center" style="height:auto; padding:20px 0 10px 0; background-color:#ececec;">
	<div class="picture"><img src="<%=memVal[0].mem_profile%>"></div>
	<div class="pic-update"><a href="/chgpic"><span>사진변경</span></a></div>
	<div class="mem-name">
		<span><%=memVal[0].mem_name%>(<%=memVal[0].mem_nick%>)</span>
		<span><a href="memup"><img style="display:inline-block; width:55px;" src="/page_imgs/fixed_img/setting-icon.svg"><span>회원정보수정</span></a></span>
	</div>
</div>