<!DOCTYPE html>
<html lang="ko">
<head>
	
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1"-->
<title>마이페이지</title>
<link href="/css/cid_member.css" rel="stylesheet">

<body>

<% include ../top %>

<div class="mypage">
<div class="profile" align="center" style="height:auto; padding:20px 0 10px 0; background-color:#ececec;">
	<div class="picture"><img src="/page_imgs/fixed_img/profile-basic-pic.svg"></div>
	<div class="mem-name">
		<span>양희아</span>  님
		<a href="#"><img style="display:inline-block; width:15px;" src="/page_imgs/fixed_img/setting-icon.svg"></a>
	</div>
</div>
<div class="container" align="center">
	<span class="enjoy-con-title">즐겨찾는 콘텐츠</span>
	<!-- 즐겨찾기한 콘텐츠 뿌림 -->
	
	<p class="con-plus">+ 더보기</p>
</div>
</div>

<% include ../bottom %>
</body>
</html>
