<!DOCTYPE html>
<html lang="ko">
<head>
	
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1"-->
<title>사이다경제 | 비밀번호 변경</title>
<link href="/css/cid_member.css" rel="stylesheet">
<script type="text/javascript">
 function checkPwd(){
  var f1 = document.forms[0];
  var pw1 = document.passUpdate.mem_re_pw.value;
  var pw2 = document.passUpdate.mem_re_pw2.value;
  if(pw1!=pw2){
   document.getElementById('checkPwd').style.color = "red";
   document.getElementById('checkPwd').innerHTML = "  *패스워드가 다릅니다."; 
  }else{
   document.getElementById('checkPwd').style.color = "blue";
   document.getElementById('checkPwd').innerHTML = "  *패스워드가 확인 되었습니다.";   
  }  
 }

 function passupstm(){

 	if(document.passUpdate.mem_re_pw.value.length<=7){
		 alert("비밀번호는 8자리이상 입력해주세요.");
		 document.passUpdate.mem_re_pw.focus();
		 return;
		}

 	document.passUpdate.submit();
 }

</script>
<body>

<% include ../top %>

<div class="mypage">

<% include mypagetop %>

<form name="passUpdate" action="/mypage/passup" method="post" >
<div class="container" align="center">
	<div id="passup" class="box" align="left">
		<div class="title"><span>비밀번호 변경</span></div>
		<div class="line"></div>
		<!--div class="pw"><p class="title2">현재 비밀번호</p><input name='mem_pw' class="nicname1" type="password" style="IME-MODE: disabled" size="12" minlength="8"  maxlength="20" onKeyUp="checkPwd()"></div-->
		<div class="re-pw"><p class="title2">새 비밀번호</p><input name='mem_re_pw' class="nicname1" type="password" style="IME-MODE: disabled" size="12" minlength="8"  maxlength="20" onKeyUp="checkPwd()"></div>
		<div class="re-pw2"><p class="title2">새 비밀번호 확인</p><input name='mem_re_pw2' class="nicname1" type="password" style="IME-MODE: disabled" size="12" minlength="8"  maxlength="20" onKeyUp="checkPwd()"></div>
		<div id="checkPwd" style="margin-left:80px; margin-top:5px;"></div>
		<div class="line"></div>
		<div align="center">
			<div class="btn-apply" onclick="passupstm()"><p>변경</p></div>
			<div class="btn-cancel"><a href="/mypage"><p>취소</p></a></div>
		</div>
	</div>
</div>
</form>
</div>

<% include ../bottom %>
</body>
</html>
