<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>사이다경제 | 비밀번호 찾기</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_join.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script type="text/javascript">
	
function pSearch(){
	if(document.psearch.email1.value==""){
	 alert("이메일 주소를 입력해 주세요.");
	document.psearch.email1.focus();
	  return;
	}
	
	for (i=0; i<document.psearch.email1.value.length; i++)
        {
         var ch = document.psearch.email1.value.charAt(i);//문자를 반환(정수형), 범위 검사 가능
	if ( ( ch < "a" || ch > "z") && (ch < "A" || ch > "Z") && (ch < "0" || ch > "9" ) )
    	{
            alert("이메일 주소는 숫자, 영문으로만 입력 가능 합니다!");
            document.psearch.email1.focus();
            return;
         }
		}

	 	document.psearch.submit();
}
</script>

</head>
<body>
<% include ../top %>

<div class="row" style="margin:0; padding:0">
	<div class="col-xs-12 main-psearch" style="padding-left:0; padding-right:0;" align="center">
		<div class="bg">
			<div class="row" align="center">
				<div class="col-xs-12 title">
					<p style="margin:0 0 5px;">비밀번호 찾기</p>
				</div>
				<div class="col-xs-12 step-title">
					<p>회원님이 가입하신 이메일 계정을 입력해주세요.</p>
				</div>
				<form action="/psearch1" method="post" name="psearch">
				<div class="col-xs-12 id padding-lr-0">
					<input name='email1' class="email1" type="text" style="IME-MODE: disabled" size="11"> <span style="color:#1b87c9; margin:0 5px;">@</span>
					<input name='email2' class="email2" type="text" style="IME-MODE: disabled" size="11">
				</div>
				<div class="col-xs-12 psearch-btn">
					<div class="col-xs-6 cancle" align="left"><img src="/page_imgs/member_img/btn-cancle.jpg"></div>
					<div class="col-xs-6 next" align="right"><a onClick="pSearch()" style="cursor:pointer"><img src="/page_imgs/member_img/btn-next.jpg"></a></div>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>
<% include ../bottom %>

</body>
</html>
