<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>사이다경제 | 비밀번호 찾기</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_join.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>


</head>
<body>
<% include ../top %>

<script type="text/javascript">
	
function pSearch(){
	if(document.psearch.mem_email_code.value!= <%= passedVariable %> ){
	 alert("인증코드를 정확히 입력해주세요.");
	document.psearch.mem_email_code.focus();
	  return;
	}
	
	for (i=0; i<document.psearch.mem_email_code.value.length; i++)
        {
         var ch = document.psearch.mem_email_code.value.charAt(i);//문자를 반환(정수형), 범위 검사 가능
	if ( ( ch < "a" || ch > "z") && (ch < "A" || ch > "Z") && (ch < "0" || ch > "9" ) )
    	{
            alert("인증코드는 숫자, 영문으로만 입력 가능 합니다!");
            document.psearch.mem_email_code.focus();
            return;
         }
		}


	 	document.psearch.submit();
}
</script>

<div class="row" style="margin:0; padding:0">
	<div class="col-xs-12 main-psearch" style="padding-left:0; padding-right:0;" align="center">
		<div class="bg">
			<div class="row" align="center">
				<div class="col-xs-12 title">
					<p style="margin:0 0 5px;">비밀번호 찾기</p>
				</div>
				<div class="col-xs-12 step-title">
					<p>이메일에 전송된 인증코드를 입력해주세요.</p>
				</div>
				<form action="/pserach_chk" method="post" name="psearch">
				<div class="col-xs-12 id code padding-lr-0">
				
					<input name='mem_email_code' class="code" type="text" style="IME-MODE: disabled" size="20">
				</div>
				<div class="col-xs-12 psearch-btn">
					<div class="col-xs-6 cancle" align="left"><a href="/mem_login"><img src="/page_imgs/member_img/btn-cancle.jpg"></a></div>
					<div class="col-xs-6 next" align="right"><a onClick="pSearch()" style="cursor:pointer"><img src="/page_imgs/member_img/btn-next.jpg"></a></div>
				</div>
				<input type="hidden" name="sessionPass" value="<%= passedVariable %>">
				</form>
			</div>
		</div>
	</div>
</div>
<% include ../bottom %>

</body>
</html>
