body{font-family: 'Nanum Gothic', serif;}
.line{width:50px; height:2px; background-color:#000; margin:30px 0 70px 0;}
.line2{width:50px; height:2px; background-color:#fff; margin:30px 0 70px 0;}
.book-line{width:35px; height:2px; background-color:#000; margin:20px 0;}
.flip-book{width:100%; height:auto; padding:50px 0; background-image:url("/page_imgs/finbook_img/bg-flip-book.jpg"); background-repeat: no-repeat;}
.parallax3 {
	padding:60px 0;
    background-image:url("/page_imgs/finbook_img/finbook-main-img.jpg");
    min-height: 500px; 
    background-attachment: fixed;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:60px;
}
.parallax3 .text-img img{width:350px;}
.parallax4 {
	padding:60px 0;
    background-image:url("/page_imgs/finbook_img/finbook-img2.jpg"); 
    min-height: 500px; 
    background-attachment: fixed;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.book-info .web-info{display:block;}
.book-info .mob-info{display:none;}
.book-info{background-color:#f7f7f7; width:100%; height:auto; padding:100px 0; line-height:1.5em;}
.book-info h3 span{color:#3682be;}
.book-info .web-info div .left{padding-right:60px !important;}
.book-info .web-info div .right{padding-left:60px !important;}
.book-info .btn-purchase{width:200px; height:auto; background-color:#3682be; color:#fff; border:2px #3682be solid; border-radius:5px; padding:15px 0; font-size:16px; margin-top:80px;}
.book-info .btn-purchase:hover{background-color:#f7f7f7; color:#3682be; border:2px #3682be solid;}
.book-Sales{padding:80px 0; line-height:1.5em; width:800px !important;}
.book-Sales .mob{display:none;}
.book-Sales .btn-purchase{width:200px; height:auto; background-color:#3682be; color:#fff; border:2px #3682be solid; border-radius:5px; padding:15px 0; font-size:16px;}
.book-Sales .btn-purchase:hover{background-color:#fff; color:#3682be; border:2px #3682be solid;}
.book-process{width:100%; height:auto; padding:50px 0;}
.book-process h6{line-height:1.5em;}
.book-process div img{width:40px; margin-bottom:15px;}
.book-process .description{padding-top:80px}
.book-recommendation{color:#fff;}
.book-recommendation .info{width:50%; font-size:18px;}
.book-recommendation .info img{width:20px; margin:20px 10px;}
.book-recommendation .btn-purchase{width:200px; height:auto; border:2px #fff solid; border-radius:5px; padding:15px 0; margin-top:50px; font-size:16px;}
.book-recommendation .btn-purchase:hover{color:#3682be; border:2px #3682be solid;}
.book-recommendation a .btn-purchase{color:#fff;}
.book-interview{padding:50px 0;}
.book-interview .title{font-size:20px; background-color:#3682be; border-radius:6px; padding:20px 40px; margin:60px 0 20px 0; color:#fff;}
.book-interview .info{font-size:18px; line-height:1.8em; padding:0 40px;}

/*---------------�����ϱ�---------------*/

/*form��Ÿ��*/
#pur-form input.input-style1{border: 1px solid #eee; padding: 5px; margin:0 0 0 10px;}
#pur-form span.star{color:#f7293c; line-height:1.8em;}
#pur-form .form-box{height:350px;}
#pur-form .form-box .form-style{background-color:#fff; padding:30px 10px; border-bottom:1px solid #ddd; height:350px;}
#pur-form .form-box .form-style1{background-color:#fff; padding:30px 20px; border:2px solid #ddd; margin:20px 0 0 0;}
#pur-form .form-box .form-style1 p.care{color:#f7293c; line-height:1.8em;}
#pur-form .col-xs-12{margin:10px 0 0 0;}
#pur-form .col-xs-12 p.title{display:inline-block; width:90px;}
#pur-form .btn-style1{font-size:12px; display:inline-block; background-color:#f6f6f6; border:1px solid #ddd; border-radius:4px; padding:2px 4px; margin:0 0 0 6px; cursor:pointer}


#purchase .main-banner{margin-top:60px;}
/*#purchase .guide-down{margin:30px 0 20px 0;}
#purchase .guide-down img{margin-bottom:10px;}
#purchase .guide-up img{margin:30px 0 10px 0;}    �˻�������*/
#purchase .online-guide{margin-top:60px;}
#purchase .online-guide .step{margin:80px 0 20px 0;}
#purchase .online-guide .step .title{font-size:20px; border-top:4px solid #000; padding-top:10px;}
#purchase .online-guide .step h4{margin:30px 0; line-height:1.8em;}
#purchase p{line-height:1.8em;}
#purchase .online-guide .step .step2-info{width:500px; margin-top:30px;}
#purchase .online-guide .step3 {margin-top:60px; padding:60px 0 0 0; width:100%; height:auto; background-color:#dbc8c5;}
#purchase .step3 .step3-info{width:500px; margin-top:30px;}
#purchase .notice{width:100%; height:auto; background-color:#f2f2f2; padding:30px 0;}
/*#purchase .online-guide{display:none;}     �˻�������*/

#select-pay{background-color:#f6f6f6; width:100%; height:auto; /*margin-top:20px;   �˻�������*/}
#select-pay .title-box{background-color:#333; width:100%; height:auto; padding:25px 0;}
#select-pay .title-box .title{border-left:2px solid #fff; color:#fff; padding-left:5px; font-size:18px;}
#select-pay .user-def{margin:40px 0 50px 0;}
#select-pay .select-pay-in{width:650px; padding-bottom:80px;}
#select-pay .select-box{background-color:#fff; padding:15px 0; margin-top:20px;}
#select-pay .check-amount{background-color:#fff; border:2px solid #ddd; margin:20px 0 30px 0;}
#select-pay .check-amount .title{background-color:#3882be; color:#fff; padding:10px 0;}
#select-pay .check-amount .amount{padding:15px 0;}
#select-pay .payment-btn .payment{background-color:#f7293c; border-radius:4px; padding:10px 20px; color:#fff; margin-right:5px;}
#select-pay .payment-btn .back{background-color:#999; border-radius:4px; padding:10px 20px; color:#fff;}

#check-purchase{background-color:#f6f6f6; width:100%; height:auto; margin-top:60px;}
#check-purchase .title-box{background-color:#333; width:100%; height:auto; padding:25px 0;}
#check-purchase .title-box .title{border-left:2px solid #fff; color:#fff; padding-left:5px; font-size:18px;}
#check-purchase .check-purchase-in{width:650px; padding:40px 0 50px 0;}
#check-purchase .check-purchase-in .step .text{margin-top:55px; line-height:1.5em; color:#1b87c9; font-size:14px; padding-left:2px !important; padding-right:2px !important;}
#check-purchase .check-purchase-in .step .img{padding-left:2px !important; padding-right:2px !important;}
#check-purchase .check-purchase-in .stepimg{height:80px;}
#check-purchase .check-purchase-in .way{margin:50px 0 80px 0;}
#check-purchase .check-pincode{background-color:#fff; border:2px solid #ddd; margin-bottom:10px;}
#check-purchase .check-pincode .title{background-color:#3882be; color:#fff; padding:10px 0;}
#check-purchase .check-pincode .amount{padding:15px 0; line-height:1.5em;}
#check-purchase .inspection-btn{padding: 10px;}
#check-purchase .inspec-notice{color:#c12126; margin:30px 0 0 0;}

/*button.fincode-btn{height:auto; background-color:#3682be; color:#fff; border:2px #3682be solid; border-radius:5px; padding:15px 20px; font-size:16px; margin-top:20px;}
button.fincode-btn:hover{background-color:#fff; color:#3682be; border:2px #3682be solid;}*/

/*---------------���ڵ� ã��---------------*/
/*form스타일*/
#code-search input.input-style2{border-top:none; border-left:none; border-right:none; border-bottom: 1px solid #212121; padding: 5px; margin:0 0 0 10px;}
#code-search .form-style2{background-color:#fff; padding:80px 0; border-radius:4px;  width:600px; height:auto;}
#code-search .col-xs-12{margin:10px 0 0 0;}
#code-search .col-xs-12 p.title{display:inline-block; width:80px;}
#code-search .btn-style2{width:200px; height:auto; background-color:#eee; color:#666; border:2px #eee solid; border-radius:5px; padding:15px 20px; font-size:16px; cursor:pointer; margin-top:30px;}
#code-search .btn-style2:hover{background-color:#fff; color:#666; border:2px #666 solid;}
#code-search{background-color:background-color:#f6f6f6; width:100%; height:auto; padding:60px 0;}

@media all and (max-width:1024px) {
.line{margin:30px 0 40px 0;}
.line2{margin:30px 0 40px 0;}
h3{font-size:20px !important; line-height:1.5em !important;}
h4{font-size:14px !important;}
.flip-book{padding:20px 0 40px 0;}
.parallax3{padding:30px 0; min-height: 200px; margin-top:45px;}
.parallax3 .text-img img{width:200px;}
.parallax4{padding:30px 0; min-height: 200px;}
.parallax4 .text-img img{width:250px;}
.book-info .web-info{display:none;}
.book-info .mob-info{display:block;}
.book-info{padding:30px 0 50px 0;}
.book-info .mob-info .img1{margin:70px 0 20px 0}
.book-info .mob-info .img2{padding-left:20px}
.book-info .btn-purchase{margin-top:50px;}
.book-Sales{padding:30px 0; width:100% !important;}
.book-Sales .mob{display:block;}
.book-Sales .mob img{width:200px; margin-bottom:20px;}
.book-Sales .web{display:none;}
.book-process{padding:30px 0;}
.book-process div img{width:30px; margin-top:20px;}
.book-process .description{padding-top:40px}
.book-recommendation .info{width:100%; font-size:14px;}
.book-recommendation .info img{margin:10px 10px;}
.book-recommendation .btn-purchase{margin-top:20px; margin-bottom:20px;}
.book-interview .title{font-size:16px; padding:14px 16px; margin:20px 0 10px 0; line-height:1.8em;}
.book-interview .info{font-size:14px; padding:0 10px;}
.book-interview .icon-interview{width:80px;}

/*---------------�����ϱ�---------------*/

/*form스타일*/
#pur-form .form-box{height:320px;}
#pur-form .form-box .form-style{padding:15px 5px; height:320px;}
#pur-form .form-box .form-style1{padding:10px 10px 20px 10px;}
#pur-form .col-xs-12{padding-left:0 !important; padding-right:0 !important}

#purchase .main-banner{margin-top:46px;}
#purchase .online-guide .step{width:96%; margin:60px 0 20px 0;}
#purchase .online-guide .step .step2-info{width:95%;}
#purchase .online-guide .step3{padding:30px 0 0 0}
#purchase .step3 .step3-info{width:95%;}
#purchase .step3 img{width:180px;}
#purchase .online-guide .notice{padding:30px 5px;}
#purchase .online-guide{margin-top:40px;}

#select-pay .title-box .title{margin-left:10px; font-size:14px;}
#select-pay .user-def{margin:20px 0 30px 0;}
#select-pay .user-def img{width:100%;}
#select-pay .select-pay-in{width:98%; padding-bottom:40px;}
#select-pay .select-box{text-align:left;}

#check-purchase{margin-top:45px;}
#check-purchase .title-box .title{margin-left:10px; font-size:14px;}
#check-purchase .inspection-btn button{padding:8px 0; font-size:16px; width:140px; margin:0 5px;}
#check-purchase .check-purchase-in{width:98%; padding:0 0 50px 0;}
#check-purchase .check-purchase-in .way{margin:30px 0 60px 0}
#check-purchase .check-purchase-in .step .text{margin-top:30px; font-size:12px; padding-left:2px !important; padding-right:2px !important;}
#check-purchase .check-purchase-in .step .img{padding-left:2px !important; padding-right:2px !important;}
#check-purchase .check-purchase-in .stepimg{height:50px; margin-top:15px;}


/*---------------���ڵ� ã��---------------*/
/*form��Ÿ��*/
#code-search .form-style2{padding:40px 0; width:310px; height:auto;}
#code-search .col-xs-12 p.title{width:60px;}
#code-search .btn-style2{padding: 8px 0; font-size: 16px; width: 140px;}
#code-search{padding:5px 0;}

}
