body{font-family: 'Nanum Gothic', serif;}
.line{width:50px; height:2px; background-color:#000; margin:30px 0 70px 0;}
.line2{width:50px; height:2px; background-color:#fff; margin:30px 0 70px 0;}
.book-line{width:35px; height:2px; background-color:#000; margin:20px 0;}
.flip-book{margin-top:70px; width:100%; height:auto; padding:20px 0 50px 0; background-image:url("/page_imgs/finbook_img/bg-flip-book.jpg"); background-repeat: no-repeat;}
.parallax3 {
	padding:60px 0;
    background-image:url("/page_imgs/finbook_img/finbook-main-img.jpg");
    min-height: 500px; 
    background-attachment: fixed;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax3 .text-img img{width:350px;}
.parallax4 {
	padding:60px 0;
    background-image:url("/page_imgs/finbook_img/finbook-img2.jpg");
    min-height: 500px; 
    background-attachment: fixed;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.book-info .web-info{display:block;}
.book-info .mob-info{display:none;}
.book-info{background-color:#f7f7f7; width:100%; height:auto; padding:100px 0; line-height:1.5em;}
.book-info h3 span{color:#008ffb;}
.book-info .web-info div .left{padding-right:60px !important;}
.book-info .web-info div .right{padding-left:60px !important;}
/*.book-info .btn-purchase{width:200px; height:auto; border:2px #333 solid; border-radius:5px; padding:15px 0; margin-top:80px; font-size:16px;}
.book-info .btn-purchase:hover{color:#008ffb; border:2px #008ffb solid;}*/
.book-Sales{padding:80px 0 0 0; line-height:1.5em; width:800px !important;}
.book-Sales .mob{display:none;}
.book-Sales .btn-purchase{width:200px; height:auto; background-color:#008ffb; color:#fff; border:2px #008ffb solid; border-radius:5px; padding:15px 0; font-size:16px;}
.book-Sales .btn-purchase:hover{background-color:#fff; color:#008ffb; border:2px #008ffb solid;}
.book-process{width:100%; height:auto; padding:100px 0 20px 0;}
.book-process h6{line-height:1.5em;}
.book-process div img{width:40px; margin-bottom:15px;}
.book-process .description{padding-top:80px}
.book-recommendation{color:#fff;}
.book-recommendation .info{width:50%; font-size:18px;}
.book-recommendation .info img{width:20px; margin:20px 10px;}
.book-recommendation .btn-purchase{width:200px; height:auto; border:2px #fff solid; border-radius:5px; padding:15px 0; margin-top:50px; font-size:16px;}
.book-recommendation .btn-purchase:hover{color:#008ffb; border:2px #008ffb solid;}
.book-recommendation a .btn-purchase{color:#fff;}

/*---------------구매하기---------------*/
#purchase .main-banner{margin-top:70px;}
#purchase .guide-down{margin:30px 0 20px 0;}
#purchase .guide-down img{margin-bottom:10px;}
#purchase .guide-up img{margin:30px 0 10px 0;}
#purchase .online-guide{margin-top:60px;}
#purchase .online-guide .step{margin:80px 0 20px 0;}
#purchase .online-guide .step .title{font-size:20px; border-top:4px solid #000; padding-top:10px;}
#purchase .online-guide .step h4{margin:30px 0;}
#purchase p{line-height:1.8em;}
#purchase .online-guide .step .step2-info{width:500px; margin-top:30px;}
#purchase .online-guide .step3 {margin-top:60px; padding:60px 0 0 0; width:100%; height:auto; background-color:#dbc8c5;}
#purchase .step3 .step3-info{width:500px; margin-top:30px;}
#purchase .notice{width:100%; height:auto; background-color:#f2f2f2; padding:30px 0;}
#purchase .online-guide{display:none;}

#select-pay{background-color:#f6f6f6; width:100%; height:auto; margin-top:20px;}
#select-pay .title-box{background-color:#333; width:100%; height:auto; padding:25px 0;}
#select-pay .title-box .title{border-left:2px solid #fff; color:#fff; padding-left:5px; font-size:18px;}
#select-pay .user-def{margin:80px 0 50px 0;}
#select-pay .select-pay-in{width:650px; padding-bottom:80px;}
#select-pay .select-box{background-color:#fff; padding:15px 0; margin-top:20px;}
#select-pay .check-amount{background-color:#fff; border:2px solid #ddd; margin:20px 0;}
#select-pay .check-amount .title{background-color:#1b87c9; color:#fff; padding:10px 0;}
#select-pay .check-amount .amount{padding:15px 0;}
#select-pay .payment-btn .payment{background-color:#ff0000; border-radius:4px; padding:10px 20px; color:#fff; margin-right:5px;}
#select-pay .payment-btn .back{background-color:#999; border-radius:4px; padding:10px 20px; color:#fff;}

#check-purchase{background-color:#f6f6f6; width:100%; height:auto; margin-top:70px;}
#check-purchase .title-box{background-color:#333; width:100%; height:auto; padding:25px 0;}
#check-purchase .title-box .title{border-left:2px solid #fff; color:#fff; padding-left:5px; font-size:18px;}
#check-purchase .check-purchase-in{width:650px; padding:100px 0;}
#check-purchase .check-purchase-in .way{margin:50px 0 80px 0;}
#check-purchase .check-pincode{background-color:#fff; border:2px solid #ddd; margin:20px 0;}
#check-purchase .check-pincode .title{background-color:#1b87c9; color:#fff; padding:10px 0;}
#check-purchase .check-pincode .amount{padding:15px 0;}
#check-purchase .inspection-btn span{border:2px solid #212121; border-radius:4px; padding:10px 30px; color:#212121; font-size:18px;}

@media all and (max-width:1024px) {
.line{margin:30px 0 40px 0;}
.line2{margin:30px 0 40px 0;}
h3{font-size:20px !important; line-height:1.5em !important;}
h4{font-size:14px !important;}
.flip-book{margin-top:50px; padding:5px 0 35px 0;}
.parallax3{padding:30px 0; min-height: 200px;}
.parallax3 .text-img img{width:200px;}
.parallax4{padding:30px 0; min-height: 200px;}
.parallax4 .text-img img{width:250px;}
.book-info .web-info{display:none;}
.book-info .mob-info{display:block;}
.book-info{padding:30px 0;}
.book-info .mob-info .img1{margin:50px 0 10px 0}
.book-info .mob-info .img2{padding-left:20px}
/*.book-info .btn-purchase{margin-top:40px; margin-bottom:20px;}*/
.book-Sales{padding:50px 0 0 0; width:100% !important;}
.book-Sales .mob{display:block;}
.book-Sales .mob img{width:70%; margin-bottom:20px;}
.book-Sales .web{display:none;}
.book-process{padding:30px 0;}
.book-process div img{width:30px; margin-top:20px;}
.book-recommendation .info{width:100%; font-size:14px;}
.book-recommendation .info img{margin:10px 10px;}
.book-recommendation .btn-purchase{margin-top:20px; margin-bottom:20px;}

/*---------------구매하기---------------*/
#purchase .main-banner{margin-top:50px;}
#purchase .online-guide .step{width:96%;}
#purchase .online-guide .step .step2-info{width:95%;}
#purchase .online-guide .step3{padding:30px 0 0 0}
#purchase .step3 .step3-info{width:95%;}
#purchase .step3 img{width:180px;}
#purchase .online-guide .notice{padding:30px 5px;}

#select-pay .title-box .title{margin-left:10px; font-size:14px;}
#select-pay .user-def{margin:30px 0 40px 0;}
#select-pay .user-def img{width:90%;}
#select-pay .select-pay-in{width:98%; padding-bottom:40px;}
#select-pay .select-box{text-align:left;}

#check-purchase{margin-top:50px;}
#check-purchase .title-box .title{margin-left:10px; font-size:14px;}
#check-purchase .check-purchase-in{width:98%; padding:0 0 60px 0;}
#check-purchase .check-purchase-in .way{margin:30px 0 60px 0}

}
