<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">

<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<!--페이스북 관련 -->
<meta property="fb:admins" content="{jkhhihi@naver.com}"/><!--페이스북 슈퍼아이디-->


<!--공유 meta tags-->


<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>사이다경제 | 강의</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_lecture.css" rel="stylesheet">
<link href="/css/swiper.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<script src="/js/modernizr.custom.js"></script>

<script src="/js/gotoup.js"></script>

<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

<!--구글 애널리틱스 -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82643610-1', 'auto');
  ga('send', 'pageview');

</script>

<script language="javascript" type="text/javascript">  

function openWinFB(){  
    window.open("https://www.facebook.com/cidermics");  
}
function openWinKA(){  
    window.open("http://plus.kakao.com/home/@%EC%82%AC%EC%9D%B4%EB%8B%A4%EA%B2%BD%EC%A0%9C");  
}

function openSNSFB(){  
    window.open("https://www.facebook.com/kim.chungho?fref=ts");  
}
</script>

<style>
.youtubeWrap {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.youtubeWrap iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
</style>

</head>
<body>
<!--위로가기 버튼-->
<div id="but_top"><img class="gototop" src="/page_imgs/fixed_img/btn_gotoup.svg"></div>
<!--페이스북 연동 스크립트-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<% include ../top %>

<div class="lecture" >
		
		<div class="title container" align="center">
				<p class="finished">** 본 강의는 마감되었습니다 **<p>
				<p>취준생이 꼭 알아야 하는 ‘기업 세계관’</p>
				<div class="line1"></div>
		</div>
		<div class="contents" align="center">
		<div class="thum_img" align="center">
			<a href="/lecture/detail"><img class="img-responsive" src="/page_imgs/lecture_img/lec_poster_1.jpg"></a>
		</div>
		<div class="q2">
		<div class="container">
		<p class="title">" 이 강의 들은 사람, 꼭 뽑고 싶다! "</p>
		<p class="con">
		"제가 여러 기업 관계자랑 이야기를 하면서<br>
이런 강의를 준비하고 있다고 말하면<br>
하나같이 똑같은 말을 합니다.<br>
<span class="point2">'이 강의 들은 사람, 꼭 뽑고 싶다!'</span>고요."<br>
- 김정호 교수
		<!--img class="img-responsive" src="/page_imgs/lecture_img/1.png"--></p>
		</div>
		</div>
		
		<div class="q1">
		<div class="container">
		<p class="title">" Q1.&nbsp;&nbsp;<span class="point">누가</span> 들으면 좋을까요? "</p>
		<p class="con">
		<span class="point1">취업 준비생</span>들에게 강추합니다!
		<!--img class="img-responsive" src="/page_imgs/lecture_img/2.png"--></p>
		</div>
		</div>
		
		<div class="q2">
		<div class="container">
		<p class="title">" Q2.&nbsp;&nbsp;이 <span class="point">강의</span>는 어떤 강의죠? "</b></span></p>
		<p class="con">
		 '이런 질문에는 이렇게 답해라'<br>
		 '이런 상황에는 이렇게 해라' 등<br>
<span class="point2">수박 겉핥기 식</span> 상황 대처법만 알려주는<br>
무료 취업설명회는 다 못 갈 정도로 <span class="point2">많습니다.</span><br>
<br>
모든 취준생들이 똑같이 접하는<br>
이런 기계적,주입식 강의로는<br>
차별화가 될 수 없어 깊은 인상을 주기 어려우며,<br>
합격은 커녕 오히려 불합격의 요소가 될 수 있습니다.<br> 
<br>
'기업의 본질'과 '내 역할'을 알면<br>
그에 맞는 창의적이고<br>
최적화된 대처법은 자연스럽게 나오는 법!<br>
<br>
사이다경제는 <span class="point2">기존 강의와는 달리</span> 이 강의를 통해<br>
<span class="point2">진짜 '기업'과 '내 역할'을 알려드리며,</span><br>
여러분을 취업 면접뿐 아니라<br>
어느 곳에서도 <span class="point2">'함께 일하고 싶은 사람'</span>으로<br>
거듭날 수 있도록 도와드립니다.
		<!--img class="img-responsive" src="/page_imgs/lecture_img/3.png"--></p>
		</div>
		</div>
		
		<div class="q3">
		<div class="container">
		<p class="title">" Q3.&nbsp;&nbsp;이 <span class="point">강의</span>가 다른 취업 강의와 <span class="point">다른 점</span>은 무엇일까요? "</p>
		<p class="con">
		보통 <span class="point1">면접</span>에서 어떤 말을 하세요?<br>
<br>
'내가 얼마나 열심히 일할 수 있는지',<br>
'얼마나 입사하고 싶은지'<br>
만 이야기하고, 면접 준비를 위해 열심히 다닌<br>
학원이나 강의들은 말하지 않죠? 하지만,<br>
<br>
'기업의 본질'을 알려주는 이 강의는 수강했다는<br>
그 자체가 <span class="point1">무기</span>가 될 수 있습니다. <br>
<br>
이 강의는 <span class="point1">흔한 취업 강의가 아닙니다.</span><br>
<br>
여러 인사담당자들에게 자문을 구하고 강의 내용을<br>
준비하는 과정에서<br>
<span class="point1">'이 강의 듣고 온 사람은 꼭 뽑고 싶다'</span>는<br>
반응을 얻어낼 만큼 완성도가 높습니다.<br>
<br>
즉 <span class="point1">'기업들이 주목하고 있는 강의'</span>라는 것이죠!
		<!--img class="img-responsive" src="/page_imgs/lecture_img/4.png"--></p>
		</div>
		</div>
		
		<div class="q4">
		<div class="container">
		<p class="title">" Q4.&nbsp;&nbsp;그래서 이 강의는 <span class="point">무엇</span>을 알려주죠? "</b></span></p>
		<p class="con">
		이 강연은<br>
<br>
1. 내 업무가 회사에 어떻게 영향을 미치는지<br>
2. ('나'를 제외한) 전체 회사가 돌아가는 구도<br>
<br>
이 강의는 간단히 말씀드리자면<br>
 <span class="point2">‘내 역할’</span>과  <span class="point2">‘기업의 본질’</span>을 알려드립니다.<br>
<br>
또한 <span class="point2">4회</span>에 걸쳐 수강한 내용을 바탕으로<br>
어떻게 실전 면접을 진행할 지 연습하며,<br>
자신의 장점은 부각시키고 단점은 개선할 수 있도록<br>
교수님과의 <span class="point2">개별 멘토링</span>도 진행됩니다.
		<!--img class="img-responsive" src="/page_imgs/lecture_img/5.png"--></p>
		</div>
		</div>
		
		<div class="q5">
		<div class="container">
		<p class="title">" Q5.&nbsp;&nbsp;<span class="point">왜</span> 김정호 교수님인가요? "</b></span></p>
		<p class="con">
		김정호 교수님은 지난 10년간<br>
삼성, 현대 등 23개 기업(그룹)에서<br>
신입사원 교육을 담당하며<br>
철학과 지식, 강의력을 검증받았습니다.<br>
<br>
이를 통해 기업은 어떤 사람을 원하는지,<br>
<span class="point1">청년들의 강점과 보완해야 할 점은 무엇</span>인지<br>
단순히 지식을 전달하는게 아니라 젊은 감각으로<br>
누구보다도 잘 알려주시고<br>
소통하시는 분이기 때문입니다.
		<!--img class="img-responsive" src="/page_imgs/lecture_img/6.png"--></p>
		</div>
		</div>
		</div>
		
		<div class="container" align="center">
		<div class="curriculum">
		<p class="title">강의 커리큘럼</p>
<p class="one">제1강: 기업의 직원으로 살아가기</p>
 
<p class="two">제2강: 협동하고 싶은데 왜 경쟁하라는 거야?</p>
 
<p class="three">제3강: 나는 얼마를 받아야 하나?</p>
 
<p class="four">제4강: 오너가 있어도 전문경영인으로 성공할 수 있다.</p>
		</div>
		
		<a href="/lecture/sale/"><div class="btn-coupon">할인쿠폰받기</div></a>
		
		
		
<script type="text/javascript">

function CopyToClipboard ( tagToCopy, textarea ){ 

        textarea.parentNode.style.display = "block"; 

        var textToClipboard = ""; 
        if ( "value" in tagToCopy ){    textToClipboard = tagToCopy.value;    } 
        else {    textToClipboard = ( tagToCopy.innerText ) ? tagToCopy.innerText : tagToCopy.textContent;    } 

        var success = false; 

        if ( window.clipboardData ){ 
                window.clipboardData.setData ( "Text", textToClipboard ); 
                success = true; 
        } 
        else { 
                textarea.value = textToClipboard; 

                var rangeToSelect = document.createRange(); 

                rangeToSelect.selectNodeContents( textarea ); 

                var selection = window.getSelection(); 
                selection.removeAllRanges(); 
                selection.addRange( rangeToSelect ); 

                success = true; 

                try { 
                    if ( window.netscape && (netscape.security && netscape.security.PrivilegeManager) ){ 
                        netscape.security.PrivilegeManager.enablePrivilege( "UniversalXPConnect" ); 
                    } 

                    textarea.select(); 
                    success = document.execCommand( "copy", false, null ); 
                } 
                catch ( error ){ 
                    success = false; 
                    console.log( error ); 
                } 
        } 

        textarea.parentNode.style.display = "none"; 
        textarea.value = ""; 

        if ( success ){ alert( ' 클립보드에 복사되었습니다. \n "Ctrl+v"를 사용하여 원하는 곳에 붙여넣기 하세요. ' ); } 
        else {    alert( " 복사하지 못했습니다. " );    } 

} 

</script>
<!--div style="display: none;"><textarea id="myClipboard"></textarea></div>
<br>
<center>
이 글의 트랙백 주소 복사하기
<p onclick="CopyToClipboard( this, myClipboard )"> http://www.cidermics.com/lecture/detail</p></center-->
		<div class="contents container">
				<p>&nbsp;</p>
				<div class="row like" align="center">
					<div class="fb-like" data-href="http://www.cidermics.com/lecture/detail" data-layout="box_count" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
				</div>
		</div>
		
		<div class="row professor-introduce" style="padding:10px;">
				<div class="col-xs-12 mob-professor-con">
						<div class="row">
								<div class="col-xs-12 class="img-responsive" professor-picture" align="center"><img width="80" src="/page_imgs/lecture_img/C.H.KIM.jpg"></div>
								<div class="col-xs-12 professor-intro" align="left">
										<p>강사 : 김정호</p>
										<p>kim.chungho@gmail.com</p>
										<p>경제학 박사 / 법학 박사, 연세대학교 경제대학원 특임교수,</p>
										<p><대한민국 기업의 탄생>,<법, 경제를 만나다> 등 17권 책 저자</p>
								</div>
								<div class="col-xs-12 professor-sns" align="right"><a href="#" onClick="javascript:openSNSFB();"><img width="35" src="/page_imgs/lecture_img/icon_prof_facebook.png"></a></div>
						</div>
				</div>
				<div class="col-xs-12 web-professor-con">
						<div class="row">
								<div class="col-xs-2 class="img-responsive" professor-picture"><img height="135" src="/page_imgs/lecture_img/C.H.KIM.jpg"></div>
								<div class="col-xs-6 professor-intro" align="left">
										<p>강사 : 김정호</p>
										<p>kim.chungho@gmail.com</p>
										<p>경제학 박사 / 법학 박사, 연세대학교 경제대학원 특임교수,</p>
										<p><대한민국 기업의 탄생>,<법, 경제를 만나다> 등 17권 책 저자</p>
								</div>
								<div class="col-xs-4 professor-sns" align="right"><a href="#" onClick="javascript:openSNSFB();"><img src="/page_imgs/lecture_img/icon_prof_facebook.png"></a></div>
						</div>
				</div>
		</div>
		<div class="container apply" align="center">
				<div class="apply-date" align="left">
						<p>날짜</p>
						<div class="line2"></div>
						<p class="font-color-666">2016.10.10(월)  /  2016.10.13(목)  /  2016.10.17(월)  /  2016.10.20(목) 총 4회 진행</p>
				</div>
				<div class="line3"></div>
				<div class="apply-place" align="left">
				<p>장소</p>
						<div class="line2"></div>
						<p class="font-color-666">인지어스 커리어센터 (선릉역)</p>
						<div><img class="map img-responsive" src="/page_imgs/lecture_img/map1.jpg"></div>
				</div>
				<div class="line3"></div>
				<div class="apply-time" align="left">
				<p>강연시간</p>
						<div class="line2"></div>
						<p class="font-color-666">19:30 ~ 21:30 PM </p>
				</div>
				<div class="line3"></div>
				<div class="apply-money" align="left">
				<p>수강료</p>
						<div class="line2"></div>
						<p class="font-color-666">\150,000</p>
						<p class="font-color-666">(쿠폰할인가) \120,000</p>
				</div>
				<div class="line3"></div>
				<div class="apply-deposit">
				<p>무통장 입금</p>
				</div>
				
				<div class="line3"></div>
				<div class="apply-question">
				<a href="#" onClick="javascript:openWinKA();"><p>카톡문의<br><span>옐로우ID:@사이다경제</span></p></a>
				</div>
				
				<div class="line3"></div>
				<div class="btn-apply-cancle">
				<p>취소 및 환불</p>
				</div>
		</div>
		</div>
</div>



<% include ../bottom %>

</body>
</html>
