<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">

<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>


<!--공유 meta tags-->


<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:image" content="https://i.imgur.com/2RZRMoF.jpg" />
<meta property="og:url"  content="http://www.cidermics.com/lecture/detail/5" />
<meta property="og:description" content="핀북 스터디 : '내 월급으로 집 사기'프로젝트" />

<title>사이다경제 | 강의</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_lecture.css" rel="stylesheet">
<link href="/css/swiper.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<script src="/js/modernizr.custom.js"></script>

<script src="/js/gotoup.js"></script>

<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>


<script language="javascript" type="text/javascript">  

function openWinFB(){  
    window.open("https://www.facebook.com/cidermics");  
}
function openWinKA(){  
    window.open("http://plus.kakao.com/home/@%EC%82%AC%EC%9D%B4%EB%8B%A4%EA%B2%BD%EC%A0%9C");  
}

function openSNSFB(){  
    window.open("https://www.facebook.com/kim.chungho?fref=ts");  
}
</script>

<style>
.youtubeWrap {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.youtubeWrap iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.lecture .lec2-title{
	padding: 0px;
	color:#191111;
}
</style>

</head>
<body>
<!--위로가기 버튼-->
<div id="but_top"><img class="gototop" src="/page_imgs/fixed_img/btn_gotoup.svg"></div>
<!--페이스북 연동 스크립트-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<% include ../top %>
<div class="line"></div>

<div class="lecture">
		
		<div class="title container" align="center">
				<p class="finished" style="color:#000;">'내 월급으로 집 사기'프로젝트</p>
				<div class="line1"></div>
				<P style="font-size:16px; margin-top:10px;"><b>* 강의 신청이 마감되었습니다.</b></P>
		</div>

	<div class="contents" align="center">
			<div class="container">
				<img class="finimg img-responsive" src="https://i.imgur.com/hy0RwT1.jpg">
				<img class="finimg img-responsive" src="https://i.imgur.com/h499iGX.jpg">
				<img class="finimg img-responsive" src="https://i.imgur.com/OL1wfic.jpg">
				<a href="/finbook"><img class="finimg img-responsive" src="https://i.imgur.com/oBSmXEg.jpg"></a>
				<img class="img-responsive" src="https://i.imgur.com/9d6JVFK.jpg">
				<P style="font-size:16px; margin-top:10px;"><b>* 강의 신청이 마감되었습니다.</b></P>
				<!-- a href="/finbook"><img class="btn-finbook img-responsive" src="https://i.imgur.com/SlF89OD.png" onclick=""></a>
				<P style="font-size:16px; margin-top:10px;"><b>* 핀북을 구매하시면 수강신청이 완료됩니다.</b></P-->
			</div>
	</div>
		
<div class="container" align="center">
		<div class="contents container">
				<div class="row like" align="center">
					<div class="fb-like" data-href="http://www.cidermics.com/lecture/detail/5" data-layout="box_count" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
				</div>
		</div>
</div>	

<!-- Swiper JS -->
<script src="/js/swiper.js"></script>
<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 10,
				//effect: 'fade',
        centeredSlides: true,
        <!--autoplay: 9000,-->
        autoplayDisableOnInteraction: false
    });
</script>
<style type="text/css">
	.professor-introduce .web-professor-con{
		height: 360px;
	}
</style>

<% include ../bottom %>

</body>
</html>
