<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">

<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>


<!--공유 meta tags-->


<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:image" content="https://i.imgur.com/vREIz7x.jpg" />
<meta property="og:url"  content="http://www.cidermics.com/lecture/detail/6" />
<meta property="og:description" content="사이다경제 세미나 : '금리 인상에도 돈버는 주식투자법'" />

<title>사이다경제 | 세미나</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_lecture.css" rel="stylesheet">
<link href="/css/swiper.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<script src="/js/modernizr.custom.js"></script>

<script src="/js/gotoup.js"></script>

<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>


<script language="javascript" type="text/javascript">  

function openWinFB(){  
    window.open("https://www.facebook.com/cidermics");  
}
function openWinKA(){  
    window.open("http://plus.kakao.com/home/@%EC%82%AC%EC%9D%B4%EB%8B%A4%EA%B2%BD%EC%A0%9C");  
}

function openSNSFB(){  
    window.open("https://www.facebook.com/kim.chungho?fref=ts");  
}
</script>

<style>
.youtubeWrap {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.youtubeWrap iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.lecture .lec2-title{
	padding: 0px;
	color:#191111;
}
</style>

</head>
<body>
<!--위로가기 버튼-->
<div id="but_top"><img class="gototop" src="/page_imgs/fixed_img/btn_gotoup.svg"></div>
<!--페이스북 연동 스크립트-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<% include ../top %>
<div class="line"></div>

<div class="lecture">
		
		<div class="title container" align="center">
				<!-- p class="finished" style="color:#000;">"투자방향 진단하고 부자되자"</p -->
				<!-- div class="line2"></div -->
		</div>

	<div class="contents" align="center">
			<div class="container">
				<img class="img-responsive mob-img" src="https://i.imgur.com/9gNxng7.jpg">
				<img class="img-responsive web-img" src="https://i.imgur.com/06uXl6M.jpg">
			</div>
	</div>
		

<div class="container apply" align="center">
				<div class="apply-place" align="left">
				<p>일시</p>
						<div class="line2"></div>
						<p class="font-color-666">2018.02.24(토), 15:00 ~ 17:00</p>
				</div>
				<div class="line3"></div>
				
				<div class="apply-place" align="left">
				<p>신청기간</p>
						<div class="line2"></div>
						<p class="font-color-666">2018.02.14(수) - 2018.02.22(목)</p>
				</div>
				<div class="line3"></div>
				
				<div class="apply-place" align="left">
				<p>장소</p>
						<div class="line2"></div>
						<p class="font-color-666">서울시 강남구 테헤란로 33길 39 혜성빌딩 세미나실</p>
				</div>
				<div class="line3"></div>
				<div class="apply-time" align="left">
				<p>참가인원</p>
						<div class="line2"></div>
						<p class="font-color-666">30명 </p>
				</div>
				<div class="line3"></div>

				<div class="apply-money" align="left">
				<p>참가비</p>
						<div class="line2"></div>
						<!--p class="font-color-666">무료</p-->
						<p class="font-color-666">45,000원</p>
				</div>
				
				<div class="line3"></div>

				<div class="apply-money" align="left">
				<p>강연자</p>
						<div class="line2"></div>
						<!--p class="font-color-666">무료</p-->
						<p class="font-color-666">최석길 대표 (누보리치 트레이딩 그룹)</p>
				</div>
				

				<div class="line3"></div>

				<div class="apply-deposit">
				<form name="apply" method="get">
					<input type="hidden" name="subject" value="금리 인상에도 돈버는 주식투자법">
					<input type="hidden" name="cate" value="1">
					<input type="hidden" name="detailCate" value="1">
					<input type="hidden" name="price" value="45000">
					<p>신청마감</p>

				</form>
				<div class="line3"></div>
				<div class="apply-question">
				<a href="#" onClick="javascript:openWinKA();"><p>카톡문의<br><span>옐로우ID:@사이다경제</span></p></a>
				</div>
							
				</div>
</div>


<!-- Swiper JS -->
<script src="/js/swiper.js"></script>
<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 10,
				//effect: 'fade',
        centeredSlides: true,
        <!--autoplay: 9000,-->
        autoplayDisableOnInteraction: false
    });
</script>
<style type="text/css">
	.professor-introduce .web-professor-con{
		height: 360px;
	}
</style>

<% include ../bottom %>

</body>
</html>
