<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">

<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<!--페이스북 관련 -->
<meta property="fb:admins" content="{jkhhihi@naver.com}"/><!--페이스북 슈퍼아이디-->


<!--공유 meta tags-->


<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:image" content="http://i.imgur.com/t7HVaAG.png" />
<meta property="og:url"  content="http://www.cidermics.com/lecture/detail/3" />
<meta property="og:description" content="그해, 역사가 바뀌다" />

<title>사이다경제 | 강의</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_lecture.css" rel="stylesheet">
<link href="/css/swiper.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<script src="/js/modernizr.custom.js"></script>

<script src="/js/gotoup.js"></script>

<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>


<script language="javascript" type="text/javascript">  

function openWinFB(){  
    window.open("https://www.facebook.com/cidermics");  
}
function openWinKA(){  
    window.open("http://plus.kakao.com/home/@%EC%82%AC%EC%9D%B4%EB%8B%A4%EA%B2%BD%EC%A0%9C");  
}

function openSNSFB(){  
    window.open("https://www.facebook.com/kim.chungho?fref=ts");  
}
</script>

<style>
.youtubeWrap {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.youtubeWrap iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.lecture .lec2-title{
	padding: 0px;
	color:#191111;
}
</style>

</head>
<body>
<!--위로가기 버튼-->
<div id="but_top"><img class="gototop" src="/page_imgs/fixed_img/btn_gotoup.svg"></div>
<!--페이스북 연동 스크립트-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<% include ../top %>
<div class="line"></div>

<div class="lecture" >
		
		<div class="title container" align="center">
				<p class="finished" style="color:#000;">그해, 역사가 바뀌다</p>
				<div class="line1"></div>
				<p>"인류사의 결정적 순간을 살피고</p><br><p style="margin-top:0px; margin: 0px;">미래를 진단하다!"</p>
		</div>

	<div class="contents" align="center">
		<div class="lec2-title">
		<div class="container">
			<p class="title">과연 인간은 삶을 어떻게 혁신했으며,<br> 그해, 세계를 움직인 힘의 원천은 무엇일까요.<br> 역사에서 찾은 <b>4가지 결정적 순간</b>을 통해 <br>이후 문명의 방향을 탐문해보고자 합니다.</p><br></div>
			<div class="container">
				<img class="img-responsive" src="http://i.imgur.com/ei6xRUr.png">
			</div>
		</div>
		
	
	</div>
		
<div class="container" align="center">
		
		<!--a href="/lecture/sale/"><div class="btn-coupon">할인쿠폰받기</div></a-->
		
		
		<div class="contents container">
				<div class="row like" align="center">
					<div class="fb-like" data-href="http://www.cidermics.com/lecture/detail/3" data-layout="box_count" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
				</div>
		</div>
		
		
		
		
		
		<div class="banner">
		<div class="swiper-container">
						<div class="swiper-wrapper">
								<div class="swiper-slide"><a href="/finance"><img class="img-responsive" src="/page_imgs/fixed_img/banner/consulting.jpg"></a></div>
								<div class="swiper-slide"><a href="/appdown"><img class="img-responsive" src="/page_imgs/fixed_img/banner/appbanner.jpg"></a></div>
						</div>
						<!-- Add Pagination -->
						<div class="swiper-pagination"></div>
		</div>
		</div>
<!-- Swiper JS -->
<script src="/js/swiper.js"></script>
<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 10,
				//effect: 'fade',
        centeredSlides: true,
        <!--autoplay: 9000,-->
        autoplayDisableOnInteraction: false
    });
</script>


		<div class="row professor-introduce" style="padding:10px;">
				<div class="col-xs-12 mob-professor-con">
						<div class="row">
								<div class="col-xs-12 class="img-responsive" professor-picture" align="center"><img width="80" src="http://i.imgur.com/t7HVaAG.png"></div>
								<div class="col-xs-12 professor-intro" align="left" style="height:130px; padding-top:5px;">
										<p>주경철 교수</p>
										<p>서울대학교 교수<br>
										건명원(인문학 운영위원)
										<br>
										2015.03~ 건명원 인문학 운영위원 
										<br>
										2014~ 서울대학교 중세르네상스연구소 소장 
										<br>
										네이버 파워라이터 ON 8인의 학자
										</p>
								</div>
						</div>
				</div>
				<div class="col-xs-12 web-professor-con">
						<div class="row">
								<div class="col-xs-2 class="img-responsive" professor-picture"><img height="135" src="http://i.imgur.com/t7HVaAG.png"></div>
								<div class="col-xs-6 professor-intro" align="left" style="height:130px; padding-top:3px;">
										<p>주경철 교수</p>
										<p>서울대학교 교수<br>
										건명원(인문학 운영위원)
										<br>
										2015.03~ 건명원 인문학 운영위원 
										<br>
										2014~ 서울대학교 중세르네상스연구소 소장 
										<br>
										네이버 파워라이터 ON 8인의 학자
										</p>
								</div>
						</div>
				</div>
		</div>
		
		<div class="container apply" align="center">
				<div class="apply-date" align="left">
						<p>강의 일시</p>
						<div class="line2"></div>
						<p class="font-color-666">2017.03.23 (목)</p>
				</div>
				<div class="line3"></div>
				<div class="apply-place" align="left">
				<p>장소</p>
						<div class="line2"></div>
						<p class="font-color-666">상암동 에스플렉스센터 2층 다목적홀(디지털미디어 시티역 9번출구)</p>
						<div><img class="map img-responsive" src="http://i.imgur.com/9g8dvbM.png"></div>
				</div>
				<div class="line3"></div>
				<div class="apply-time" align="left">
				<p>강연시간</p>
						<div class="line2"></div>
						<p class="font-color-666"> 저녁 7시 30분 ~ 9시 </p>
				</div>
				<div class="line3"></div>

				<div class="apply-money" align="left">
				<p>접수기간</p>
						<div class="line2"></div>
						<!--p class="font-color-666">무료</p-->
						<p class="font-color-666">3월 20일 (월) 까지</p>
				</div>
				
				<div class="line3"></div>

				<div class="apply-money" align="left">
				<p>참석자 발표</p>
						<div class="line2"></div>
						<!--p class="font-color-666">무료</p-->
						<p class="font-color-666">3월 21일 (화)</p>
						<p class="font-color-666">*개별 문자 발송</p>
				</div>
				
				<div class="line3"></div>
<script type="text/javascript">
	function apply_detail3()
	{
		if(document.applyform.app_name.value==""){
		 alert("신청자명을 입력해 주세요.");
		document.applyform.app_name.focus();
		  return;
		}
		if(document.applyform.app_phone1.value==""){
		 alert("휴대폰 번호를 정확히 입력해 주세요.");
		document.applyform.app_phone1.focus();
		  return;
		}
		if(document.applyform.app_phone2.value==""){
		 alert("휴대폰 번호를 정확히 입력해 주세요.");
		document.applyform.app_phone2.focus();
		  return;
		}
		if(document.applyform.app_phone3.value==""){
		 alert("휴대폰 번호를 정확히 입력해 주세요.");
		document.applyform.app_phone3.focus();
		  return;
		}

		for (i=0; i<document.applyform.app_phone2.value.length; i++)
     {
     	 var ch = document.applyform.app_phone2.value.charAt(i);//문자를 반환(정수형), 범위 검사 가능
		if ( ch < "0" || ch > "9" )
    	 {
            alert("휴대폰 번호는 숫자로만 입력 가능 합니다!");
            document.applyform.app_phone2.focus();
            return;
         }
      }
      var ss=document.getElementById("app_checkbox").checked;
      if( ss == false){
		 alert("개인정보 동의를 선택해 주세요.");
		document.applyform.app_checkbox.focus();
		  return;
		}

	 	alert("강연회 신청이 완료되었습니다.")
	 	document.applyform.submit();
	}
</script>
<!--form name="applyform" method="post" action="/lecture/insert/3">
				<style> 
				input[type=text] {
				    padding: 3px 5px;
				    margin: 8px 0;
				    box-sizing: border-box;
				    border: 1px solid #1b87c9;
				    border-radius: 4px;
				}
				</style>
				<table>
				<tr>
				<td>
				<p>신청자명 : <input type="text" name="app_name" maxlength=5 size = "12"  style="IME-MODE: active;"></p>
				</td>
				</tr>
				<tr>
				<td>
				<p>연락번호 : <select id="cell" title="select cell" name="app_phone1" style="border: 1px solid #1b87c9;border-radius: 4px;padding: 3px 5px;">
       				 <option selected="selected">010</option>
       				 <option>011</option>
       				 <option>016</option>
       				 <option>017</option>
       				 <option>018</option>
       				 <option>019</option>
				   </select>
				-<input type="text" name="app_phone2" size = "6" maxlength=4 style="IME-MODE:disabled;" onkeyPress="if ((event.keyCode<48) || (event.keyCode>57)) event.returnValue=false;" >-
    			<input type="text" name="app_phone3" size = "6" maxlength=4 style="IME-MODE:disabled;" onkeyPress="if ((event.keyCode<48) || (event.keyCode>57)) event.returnValue=false;" >
    			</p>
    			</td>
    			</tr>

    			<tr>
    			<td><input type="checkbox" name="app_checkbox" id="app_checkbox">개인정보 수집,이용에 동의합니다.
    			</td>
    			</tr>


    			</table>

    			

    			<script>

    			function personalinfo()
    			{
    				$("#personalinfoid").toggle(100);
    			}
				</script>
				
			
				

				
				<div class="line3"></div>
				<div class="apply-deposit">
					<a style="cursor:pointer" onclick="apply_detail3()"><p>신청하기</p>
				</div>
</form-->			
				<div class="apply-deposit">
				<a href="#" onclick="alert('무료 세미나가 마감되었습니다. 더 좋은 세미나로 찾아뵙겠습니다.')"><p>신청하기</p>
				<div class="line3"></div>
				<div class="apply-question">
				<a href="#" onClick="javascript:openWinKA();"><p>카톡문의<br><span>옐로우ID:@사이다경제</span></p></a>
				</div>
				
				<div class="line3"></div>
				<div class="apply-question">
				<h5>*개인정보 취급 방침<br>
 
1. 수집된 개인정보는 본래의 목적 이외의 그 어떤 용도로도 사용되지 않으며 이용 목적이 변경될 시에는 사전 동의를 구하게 됩니다.<br>

2. 수집된 이용자의 개인정보는 원칙적으로 처리 목적이 달성되면 즉시 파기됩니다.<br>

3. 개인정보는 강연 주관사인 북이십일에 제공됩니다.<br><br>
<a onclick="personalinfo()">북이십일 개인정보 수집,이용 안내 보기</a></h5>

<div id="personalinfoid" style="display:none;">
    			< (주)북이십일 개인정보 수집ㆍ이용 안내 >

ο 본 방침은 : 2012 년 3 월 30 일 부터 시행됩니다.

■ 수집하는 개인정보 항목
   (주)북이십일 사이트는 회원가입, 원활한 고객상담, 각종 서비스 제공을 위해 필수정보와 선택정보를 구분하여 아래와 같은 
   최소한의 개인정보를 수집하고 있습니다.
   ① 홈페이지 회원 가입 및 관리 
      - 필수정보 : 이름, 닉네임, 이메일, 핸드폰, 아이디, 비밀번호, SMS수신동의 여부, 뉴스레터 수신동의 여부
      - 선택정보 : 직업, 생년월일, 성별, 결혼여부, 자택연락처(집전화, 집주소), 
                   직장연락처(직장명, 부서명, 직책, 회사 전화번호), 취미, 관심분야, 선호 도서 브랜드, 도서 구매 형태
   ② 강연회신청
      - 필수정보 : 이름, 연락처, 신청경로
      - 선택정보 : 성별, 연령대, 질문내용
   ③ 부가서비스 이용, 이벤트 응모, 기타 서비스(제안/제휴/고객센터) 이용시
      - 이름, 연락처, 이메일, 회사명, 관심분야
   그 외 서비스 이용과정에서 아래와 같은 정보들이 자동으로 생성되어 수집될 수 있습니다.
   - IP Address, 쿠키, 방문 일시, 서비스 이용 기록, 불량 이용 기록


■ 개인정보의 수집 및 이용목적

   회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다.

   ① 회원제 서비스 이용에 따른 본인확인, 개인식별, 가입의사 확인, 불량회원의 부정 이용 방지와 비인가 사용 방지, 
      불만처리 등 민원처리 , 고지사항 전달 
   ② 강연회 신청 및 이벤트 참여시 본인확인 및 경품제공정보 확인(연락처, 집주소등)
   ③ 제안/제휴 및 고객요청사항 처리 후 결과내용 전달


■ 개인정보의 보유 및 이용기간

   원칙적으로, 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다. 단, 관계법령의 규정에 의하여 
   보존할 필요가 있는 경우 회사는 아래와 같이 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다.
   보존 항목 : 결제기록
   보존 근거 : 계약 또는 청약철회 등에 관한 기록
   보존 기간 : 3년
   계약 또는 청약철회 등에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)
   대금결제 및 재화 등의 공급에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)
   소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 (전자상거래등에서의 소비자보호에 관한 법률)
    			</div>
				</div>
</div>

				
		</div>



<% include ../bottom %>

</body>
</html>
