<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">

<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>


<!--공유 meta tags-->


<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:image" content="https://i.imgur.com/2RZRMoF.jpg" />
<meta property="og:url"  content="http://www.cidermics.com/lecture/detail/5" />
<meta property="og:description" content="핀북 스터디 : '내 월급으로 집 사기'프로젝트" />

<title>사이다경제 | 강의</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_lecture.css" rel="stylesheet">
<link href="/css/swiper.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<script src="/js/modernizr.custom.js"></script>

<script src="/js/gotoup.js"></script>

<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>


<script language="javascript" type="text/javascript">  

function openWinFB(){  
    window.open("https://www.facebook.com/cidermics");  
}
function openWinKA(){  
    window.open("http://plus.kakao.com/home/@%EC%82%AC%EC%9D%B4%EB%8B%A4%EA%B2%BD%EC%A0%9C");  
}

function openSNSFB(){  
    window.open("https://www.facebook.com/kim.chungho?fref=ts");  
}
</script>

<style>
.youtubeWrap {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.youtubeWrap iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.lecture .lec2-title{
	padding: 0px;
	color:#191111;
}
</style>

</head>
<body>
<!--위로가기 버튼-->
<div id="but_top"><img class="gototop" src="/page_imgs/fixed_img/btn_gotoup.svg"></div>
<!--페이스북 연동 스크립트-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<% include ../top %>
<div class="line"></div>

<div class="lecture">
		
		<div class="title container" align="center">
				<p class="finished" style="color:#000;">"투자방향 진단하고 부자되자"</p>
				<div class="line2"></div>
		</div>

	<div class="contents" align="center">
			<div class="container">

			</div>
	</div>
		
<div class="container" align="center">
		<div class="contents container">
				<div class="row like" align="center">
					<div class="fb-like" data-href="http://www.cidermics.com/lecture/detail/6" data-layout="box_count" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
				</div>
		</div>
</div>

<div class="container apply" align="center">
				<div class="apply-place" align="left">
				<p>강의 일시 및 장소</p>
						<div class="line2"></div>
						<p class="font-color-666">서울,광주,부산,대전,대구</p>
						<div><img class="map img-responsive" src="http://i.imgur.com/K8D8Sl9.jpg"></div>
				</div>
				<div class="line3"></div>
				<div class="apply-time" align="left">
				<p>강연시간</p>
						<div class="line2"></div>
						<p class="font-color-666"> 14시 ~ 17시 </p>
				</div>
				<div class="line3"></div>

				<div class="apply-money" align="left">
				<p>접수기간</p>
						<div class="line2"></div>
						<!--p class="font-color-666">무료</p-->
						<p class="font-color-666">각 강연 일자 참조</p>
				</div>
				
				<div class="line3"></div>

				<div class="apply-money" align="left">
				<p>참석자 발표</p>
						<div class="line2"></div>
						<!--p class="font-color-666">무료</p-->
						<p class="font-color-666">*개별 문자 발송</p>
				</div>
				
				<div class="line3"></div>

				<div class="apply-deposit">
				<a href="http://www.balanceinvest.co.kr/new/bbs/book_request.php" onclick="ga('send','event','삼박자투자법','버튼클릭','삼박자신청2' );"><p>신청하기</p></a>
				<div class="line3"></div>
				<div class="apply-question">
				<a href="#" onClick="javascript:openWinKA();"><p>카톡문의<br><span>옐로우ID:@사이다경제</span></p></a>
				</div>	
							
				</div>
</div>


<!-- Swiper JS -->
<script src="/js/swiper.js"></script>
<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 10,
				//effect: 'fade',
        centeredSlides: true,
        <!--autoplay: 9000,-->
        autoplayDisableOnInteraction: false
    });
</script>
<style type="text/css">
	.professor-introduce .web-professor-con{
		height: 360px;
	}
</style>

<% include ../bottom %>

</body>
</html>
