<!DOCTYPE html>
<html lang="ko">
  <head>
  
  	<title>보비 메인</title>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link href="/css/bobby_css/b_main.css" rel="stylesheet">
	
    <!--JS-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!--script src="/js/materialize.js"></script-->
   
 	<style>
    	@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
    </style>
     
  </head>

<body>
	<% include b_top %>
	
	<div class="main-bg">
		<div class="container">
			<h2>나만의 보험비서를 만나다</h2>
			<h4>보험의 새로운 패러다임</h4>
			<h3 class="font1">
				인슈테크 기반으로 만들어진 보비를 통해<br>
				가입된 자신의 보험 혜택을 톡톡히 누려보세요!
			</h3>
		</div>
	</div>
	<div class="appdown-bg">
		<div class="container">
			<h5 align="center">
				가입된 보험 현황을 통한 맞춤 진단 컨설턴트!<br>
				채팅을 통해 부담 없이 원하는 상담을 받아보세요!
			</h5>
			<div class="col-xs-6" align="right"><img class="img-responsive" src="/page_imgs/bobby_img/app-android.png"></div>
			<div class="col-xs-6" align="left"><img class="img-responsive" src="/page_imgs/bobby_img/app-ios.png"></div>
		</div>
	</div>
	<div class="service-info">
		<div class="container info">
			<div class="col-sm-6" align="right"><img class="img-responsive" src="/page_imgs/bobby_img/main-phone1.jpg"></div>
			<div class="col-sm-6" align="left">
				<h3>보험정보 소개</h3>
				<p>언제 가입했는지 기억도 안나는<br>
				내 보험정보를 한눈에 볼 수 있어요!<br>
				텍스트를 더 늘려야 할듯!?
				</p>	
			</div>
		</div>
	</div>
	
	
	<div class="appdown-bg">
		<div class="container">
			<h3 align="center">App Download</h3>
			<p align="center">___</p>
			<h5 align="center">
				가입된 보험 현황을 통한 맞춤 진단 컨설턴트!<br>
				채팅을 통해 부담 없이 원하는 상담을 받아보세요!
			</h5>
			<div class="col-xs-6" align="right"><img class="img-responsive" src="/page_imgs/bobby_img/app-android.png"></div>
			<div class="col-xs-6" align="left"><img class="img-responsive" src="/page_imgs/bobby_img/app-ios.png"></div>
		</div>
	</div>
 	<% include b_bottom %> 
</body>
</html>
