<script>
$( document ).ready(function(){
	$(".button-collapse").sideNav();
})
</script>

<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper">
      <a href="/adm" class="brand-logo"><img class="img-responsive" src="/page_imgs/fixed_img/mob_icon_logo.svg" style="width:60px; margin-top:6px; margin-left:15px;"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li <% if(data == 0) { %> class="active" <% } %> > <a href="/adm/index">인기콘텐츠</a></li>
		<li <% if(data == 1) { %> class="active" <% } %> > <a href="/adm/contents">콘텐츠</a></li>
		<li <% if(data == 2) { %> class="active" <% } %> > <a href="/adm/lecture">강의</a></li>
		<li <% if(data == 3) { %> class="active" <% } %> > <a href="/adm/finance">재무</a></li>
		<li <% if(data == 4) { %> class="active" <% } %> > <a href="/adm/discuss">토론</a></li>
		<li <% if(data == 9) { %> class="active" <% } %> > <a href="/adm/consulting">TEST</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li <% if(data == 0) { %> class="active" <% } %> > <a href="/adm/index">인기콘텐츠</a></li>
		<li <% if(data == 1) { %> class="active" <% } %> > <a href="/adm/contents">콘텐츠</a></li>
		<li <% if(data == 2) { %> class="active" <% } %> > <a href="/adm/lecture">강의</a></li>
		<li <% if(data == 3) { %> class="active" <% } %> > <a href="/adm/finance">재무</a></li>
		<li <% if(data == 4) { %> class="active" <% } %> > <a href="/adm/discuss">토론</a></li>
		<li <% if(data == 9) { %> class="active" <% } %> > <a href="/adm/consulting">TEST</a></li>
      </ul>
    </div>
  </nav>

<!--nav  class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li <% if(data == 0) { %> class="active" <% } %> > <a href="/adm/index">인기콘텐츠</a></li>
		<li <% if(data == 1) { %> class="active" <% } %> > <a href="/adm/contents">콘텐츠</a></li>
		<li <% if(data == 2) { %> class="active" <% } %> > <a href="/adm/consulting">재무</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li <% if(data == 0) { %> class="active" <% } %> > <a href="/adm/contents">인기콘텐츠</a></li>
		<li <% if(data == 1) { %> class="active" <% } %> > <a href="/adm/contents">콘텐츠</a></li>
		<li <% if(data == 2) { %> class="active" <% } %> > <a href="/adm/consulting">재무</a></li>
      </ul>
    </div>
  </nav--> 


<!--nav class="light-blue lighten-1" role="navigation">
	<div class="nav-wrapper container">
		<a id="logo-container" href="#" class="brand-logo">Cidermics</a>
		<ul class="right hide-on-med-and-down">
			<li <% if(data == 0) { %> class="active" <% } %> > <a href="/adm/index">인기콘텐츠</a></li>
			<li <% if(data == 1) { %> class="active" <% } %> > <a href="/adm/contents">콘텐츠</a></li>
			<li <% if(data == 2) { %> class="active" <% } %> > <a href="/adm/consulting">재무</a></li>
		</ul>
	
		<ul id="nav-mobile" class="side-nav">
			<li <% if(data == 0) { %> class="active" <% } %> > <a href="/adm/contents">인기콘텐츠</a></li>
			<li <% if(data == 1) { %> class="active" <% } %> > <a href="/adm/contents">콘텐츠</a></li>
			<li <% if(data == 2) { %> class="active" <% } %> > <a href="/adm/consulting">재무</a></li>
		</ul>
	  	<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
	</div>
</nav-->