<!DOCTYPE html>
<html lang="ko">
<head>
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>사이다경제 | 핀북 구매하기</title>
<link href="/css/flipbook/finbook.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

<script src="/js/bootstrap.min.js"></script>
		
</head>

<body>

<% include ../../top %>

<div id="check-purchase">
	<div class="title-box">
	<div class="container">
		<span class="title"><b>구매내역 확인</b></span>
	</div>
	</div>
	<div class="check-purchase-in container" align="center">
		<div class="check-pincode row">
			<div class="col-xs-4" style="padding-left:0 !important; padding-right:0 !important;">
				<div class="title">주문일</div>
				<div class="amount">17.10.11 11:01</div>
			</div>
			<div class="col-xs-6" style="padding-left:0 !important; padding-right:0 !important; border-left:1px solid #ddd; border-right:1px solid #ddd;">
				<div class="title">핀코드</div>
				<div class="amount">123456789123</div>
			</div>
			<div class="col-xs-2" style="padding-left:0 !important; padding-right:0 !important;">
				<div class="title">수량</div>
				<div class="amount">1</div>
			</div>
		</div>
		<div class="way" align="left">
			<p>※ 구매내역 확인 방법</p>
			<p>회원 구매시 : >></p>
			<p>비회원 구매시 : >></p>
		</div>
		<div class="inspection-btn">
			<a href=""><span><b>검사하기</b></span></a>
		</div>
	</div>	
</div>

<% include ../../bottom %>

</body>
</html>