<!DOCTYPE html>
<html lang="ko">
<head>
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>사이다경제 | 핀북 구매하기</title>
<link href="/css/flipbook/finbook.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

<script src="/js/bootstrap.min.js"></script>
		
</head>

<body>

<% include ../../top %>

<div id="step2">
	<img alt="" class="img-responsive" src="/page_imgs/finbook_img/fin_step2/main-banner.jpg">
</div>

<% include ../../bottom %>

</body>
</html>