<!DOCTYPE html>
<html lang="ko">
<head>
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>사이다경제 | 핀북 구매하기</title>
<link href="/css/flipbook/finbook.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

<script src="/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script> 
$(document).ready(function(){
    $(".guide-down").click(function(){
        $(".online-guide").slideDown("slow");
        $(".guide-down").hide();
        $(".guide-up").show();
    });
});
$(document).ready(function(){
    $(".guide-up").click(function(){
        $(".online-guide").slideUp("slow");
        $(".guide-up").hide();
        $(".guide-down").show();
    });
});
</script>
		
</head>

<body>

<% include ../../top %>

<div id="purchase" align="center">
	<img alt="" class="main-banner img-responsive" src="/page_imgs/finbook_img/fin_step2/main-banner.jpg">
	<div class="guide-down" style="cursor:pointer"><img alt="" class="img-responsive" src="/page_imgs/finbook_img/fin_step2/click-down.png"><p>"검사안내 자세히 보기"</p></div>
	<div class="online-guide">
		<h4><b>온라인 검사 안내</b></h4>
		<div class="step">
			<span class="title"><b>Step.1</b></span>
			<p><b>인터넷 주소 입력란에 아래 주소를 넣고,<br>온라인 검사 화면으로 이동합니다</b></p>
			<img alt="" class="img-responsive" src="/page_imgs/finbook_img/fin_step2/step1-img.jpg">
		</div>
		<div class="step">
			<span class="title"><b>Step.2</b></span>
			<h4><b>핀북쿠폰 등록시 유의사항</b></h4>
			<img alt="" class="img-responsive" src="/page_imgs/finbook_img/fin_step2/step2-img.jpg">
			<div class="step2-info container" align="left">
				<p> 
				  <b>① 검사자의 이름, 이메일, 휴대전화 입력</b><br>
    			 - 검사 시 본인식별 정보로 활용<br><br>
				  <b>② 핀북쿠폰 입력</b><br>
   				 - 핀북구매를 통해 발급받은 고유쿠폰<br> 
    			 - 분실한 경우, http://finbook.co.kr/14 를 통해 문의하여 주시기 바랍니다.<br><br>
				  <b>③ 우편주소</b><br>
    			 - 보고서를 받으실 주소를 입력
    			</p> 
   			</div>
		</div>
		<div class="step">
			<span class="title"><b>Step.3</b></span>
			<h4><b>온라인 검사하기</b></h4>
			<img alt="" class="img-responsive" src="/page_imgs/finbook_img/fin_step2/step3-img.jpg">
		</div>
		<div class="step3" align="center">
			<h4><b>검사진행 유의사항</b></h4>
			<div class="step3-info container" align="left">
				<p>
					각 PART별 응답이 완료되면 이전 PART로는 돌아갈 수 없으며,<br>
					해당 PART 안에서는 [다음] 과 [이전] 버튼을 활용하여 이동이 가능합니다.<br><br>
					검사 중 [다음] 버튼을 누르면 자동으로 이전 검사는 저장이 됩니다.<br>
					검사를 중지하였다가 다시 진행을 할 경우,<br>
					상기 온라인검사 주소로 이동하여 검사하기 버튼을 클릭하고 진행을 하시면 됩니다.<br>
				</p>
			</div>
			<div class="container" align="left"><img alt="" class="img-responsive" src="/page_imgs/finbook_img/fin_step2/hand-book.png"></div>
		</div>
		<div class="notice">
			<img alt="" class="img-responsive" src="/page_imgs/finbook_img/fin_step2/notice-img.png">
		</div>
		<div class="guide-up" style="cursor:pointer"><img alt="" class="img-responsive" src="/page_imgs/finbook_img/fin_step2/click-up.png"><p>"검사안내 접기"</p></div>			
	</div>
</div>
<div id="select-pay">
	<div class="title-box">
	<div class="container">
		<span class="title"><b>구매하기</b></span>
	</div>
	</div>
	<div class="select-pay-in container" align="center">
		<div class="user-def"><img alt="" class="img-responsive" src="/page_imgs/finbook_img/fin_step2/user-definition.jpg"></div>
		<h4 class="how-pay" align="left"><span style="color:#1b87c9; margin-right:5px;">■</span><b>구매방법</b></h4>
		<div class="select-box row" align="center">
			<div class="col-sm-3 col-xs-6">
			<label style="cursor:pointer;"><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> 신용카드</label>
			</div>
			<div class="col-sm-3 col-xs-6">
			<label style="cursor:pointer"><input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> 실시간계좌이체</label>
			</div>
			<div class="col-sm-3 col-xs-6">
			<label style="cursor:pointer"><input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"> 핸드폰결제</label>
			</div>
			<div class="col-sm-3 col-xs-6">
			<label style="cursor:pointer"><input type="radio" name="optionsRadios" id="optionsRadios4" value="option4"> 무통장입금</label>
			</div>
		</div>
		<div class="check-amount row">
			<div class="col-xs-3" style="padding-left:0 !important; padding-right:0 !important;">
				<div class="title">상품금액</div>
				<div class="amount">50,000 원</div>
			</div>
			<div class="col-xs-3" style="padding-left:0 !important; padding-right:0 !important; border-left:1px solid #ddd; border-right:1px solid #ddd;">
				<div class="title">할인금액</div>
				<div class="amount">-0 원</div>
			</div>
			<div class="col-xs-6" style="padding-left:0 !important; padding-right:0 !important;">
				<div class="title">총 주문금액</div>
				<div class="amount">=<span style="color:#ff0000">50,000</span> 원</div>
			</div>
		</div>
		<div class="payment-btn" align="right">
			<a href="/finbook_ch"><span class="payment">결제하기</span></a><a href=""><span class="back">돌아가기</span></a>
		</div>
	</div>
</div>

<% include ../../bottom %>

</body>
</html>