<!DOCTYPE html>
<html lang="ko">
<head>
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>사이다경제 | 핀북 구매하기</title>
<link href="/css/flipbook/finbook.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

<script src="/js/bootstrap.min.js"></script>
		
</head>

<body>

<% include ../../top %>

<div id="check-purchase">
	<div class="title-box">
	<div class="container">
		<span class="title"><b>무통장 입금</b></span>
	</div>
	</div>
	<div id="purchase" align="center" style="padding-top: 30px">
		<span style="font-size: 25px; font-weight: 700;">
		입금할 금액을 확인 후 은행에 입금해주세요
		</span><br><br>
		<span>
		입금확인 완료 후 이메일로 쿠폰번호가 발송될 예정입니다. 이용해주셔서 감사합니다.
		</span>
	</div>
	<div class="check-purchase-in container" align="center" style="padding: 35px !important;">
		<div class="check-pincode row">
			<div class="col-xs-3" style="padding-left:0 !important; padding-right:0 !important;">
				<div class="title">입금자명</div>
				<div class="amount"><span><%= USERNAME %></span></div>
			</div>
			<div class="col-xs-6" style="padding-left:0 !important; padding-right:0 !important; border-left:1px solid #ddd; border-right:1px solid #ddd;">
				<div class="title">이메일주소</div>
				<div class="amount"><%= EMAIL %></div>
			</div>
			<div class="col-xs-3" style="padding-left:0 !important; padding-right:0 !important;">
				<div class="title">휴대폰 번호</div>
				<div class="amount"><%= TELNO %></div>
			</div>
		</div>
	</div>
	<div class="check-purchase-in container" align="center" style="padding: 35px !important;">
		<div class="check-pincode row">
			<div class="col-xs-3" style="padding-left:0 !important; padding-right:0 !important;">
				<div class="title">입금 금액</div>
				<div class="amount"><span style="color:#ff0000">50,000원</span></div>
			</div>
			<div class="col-xs-6" style="padding-left:0 !important; padding-right:0 !important; border-left:1px solid #ddd; border-right:1px solid #ddd;">
				<div class="title">입금계좌</div>
				<div class="amount">신한은행 100-031-739780<br> 예금주: 김의현(사이다경제)</div>
			</div>
			<div class="col-xs-3" style="padding-left:0 !important; padding-right:0 !important;">
				<div class="title">입금기한</div>
				<div class="amount"><%= limdate %>부터<br>1주일까지</div>
			</div>
		</div>
		<div class="way" align="left">
			<p>※ 무통장 진행 절차</p>
			<p>입금 확인 후 이메일로</p>
			<p>쿠폰 코드, 검사URL 전송</p>
		</div>
		<div class="inspection-btn">
			<a href=""><span><b>검사하기</b></span></a>
		</div>
	</div>	
</div>

<% include ../../bottom %>

</body>
</html>