<!DOCTYPE html>
<html lang="ko">
<head>
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>사이다경제 | 핀북 구매하기</title>
<link href="/css/flipbook/finbook.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

<script src="/js/bootstrap.min.js"></script>

<!--script type="text/javascript">
var requiredfrom = "http://ssl.daoupay.com/2.0/mobile/DaouMobileMng.jsp"; // required prev. page 
var requiredfrom2 = "https://ssl.daoupay.com/card/DaouCardMng.jsp.jsp"; // required prev. page 
if (document.referrer.indexOf(requiredfrom) == -1 && document.referrer.indexOf(requiredfrom) == -1) { 
alert("잘못된 접근입니다."); 
window.location=requiredfrom2; 
}
</script-->

<script type="text/javascript">
	function getCode(){

		if(document.getcode.USERNAME.value==""){
		 alert("검사자 성명을 입력해 주세요.");
		document.getcode.USERNAME.focus();
		  return;
		}
		if(document.getcode.EMAIL.value==""){
		 alert("이메일 주소를 입력해 주세요.");
		document.getcode.EMAIL.focus();
		  return;
		}
		if(document.getcode.TELNO.value==""){
		 alert("휴대번호 번호를 입력해 주세요.");
		document.getcode.TELNO.focus();
		  return;
		}
		for (i=0; i<document.getcode.TELNO.value.length; i++)
        {
         var ch = document.getcode.TELNO.value.charAt(i);//문자를 반환(정수형), 범위 검사 가능
		//if ( ( ch < "a" || ch > "z") || (ch < "A" || ch > "Z") || (ch < "0" || ch > "9" ) )
		if (ch < "0" || ch > "9" )
	    	{
	            alert("휴대폰 번호는 숫자만 입력 가능 합니다!");
	            document.getcode.TELNO.focus();
	            return;
	         }
		}

		document.getcode.submit();
		
	};
</script>

</head>

<body>

<% include ../../top %>

<div id="check-purchase">
	<div class="title-box">
	<div class="container">
		<span class="title"><b>주문번호 확인</b></span>
	</div>
	</div>
	<div class="check-purchase-in container" align="center">
		<p><b>주문번호 : </b> <span style="color:#1b87c9; font-size:18px;"><b> "<%=ORDERNO%>" </b></span><p>
		<div class="check-pincode row">
			<div class="col-xs-10" style="padding-left:0 !important; padding-right:0 !important;">
				<div class="title">주문일</div>
				<div class="amount"><%=date%></div>
			</div>
			<!--div class="col-xs-5" style="padding-left:0 !important; padding-right:0 !important; /*border-left:1px solid #ddd; border-right:1px solid #ddd;*/">
				<div class="title">결제 처리</div>
				<div class="amount">완료</div>
			</div-->
			<div class="col-xs-2" style="padding-left:0 !important; padding-right:0 !important;">
				<div class="title">수량</div>
				<div class="amount">1</div>
			</div>
		</div>
		<!--div class="way" align="left">
			<p>※ 구매내역 확인 방법</p>
			<p>회원 구매시 : >></p>
			<p>비회원 구매시 : >></p>
		</div-->
		
		<div id="pur-form" align="left">

			<form method="post" action="/finbook_ch_code/<%=ORDERNO%>" name="getcode">
			<input type="hidden" name="ORDERNO" value="<%=ORDERNO%>">
			<div class="form-box">
				<div class="row form-style">
					<span class="star"> * 결제 완료 후 핀코드 발급을 받으셔야 진행이 가능합니다.<br>* 정보 입력 후 하단 핀코드 발급 받기 버튼을 클릭하세요.</span>
					<div class="col-xs-12"><p class="title">검사자 성명<span class="star"> * </span></p> : <input class="input-style1" type=text name=USERNAME value=""></div>
					<div class="col-xs-12"><p class="title">이메일<span class="star"> * </span></p> : <input class="input-style1" type=text name=EMAIL size=20 value="" placeholder="예)cider@cider.com"></div>
					<div class="col-xs-12"><p class="title">휴대번호<span class="star"> * </span></p> : <input class="input-style1" type="text" name="TELNO" size="" maxlength="11" value="" placeholder="'-', 공백없이">예)01012345678</div>					
				</div>


				
			</div>

				<div class="inspection-btn" style="background-color: #fff; height: 80px;">

					<div class="col-xs-6 next padding-lr-0" >
					<button class="fincode-btn" onClick="nosmt()"><b>핀코드 발급 받기</b></button>
					<!-- >a onClick="getCode()" style="cursor:pointer"><img src="/page_imgs/finbook_img/fincodebtn.jpg"></a-->
					</div>

					<!--button onClick="nosmt()"><b>핀코드 발급 받기</b></button-->
					<!-- a href="/finbook_ch_code/"><span><b>핀코드 받기</b></span></a -->
				</div>
			
			</form>
		</div>
	</div>
</div>

<% include ../../bottom %>

</body>
</html>