<!DOCTYPE html>
<html lang="ko">
<head>
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>사이다경제 | 핀북 구매하기</title>
<link href="/css/flipbook/finbook.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

<script src="/js/bootstrap.min.js"></script>
		
</head>

<body>

<% include ../../top %>

<div id="check-purchase">
	<div class="title-box">
	<div class="container">
		<span class="title"><b>핀북코드 찾기</b></span>
	</div>
	</div>
	<div id="code-search" align="center">
	<form name="" action=""  accept-charset="EUC-KR">
	<div class="row form-style2">
		<div class="col-xs-12"><p class="title">이메일 </p> : <input class="input-style2" type=text name=EMAIL size=20 value=""></div>
		<div class="col-xs-12"><p class="title">고객ID</p> : <input class="input-style2" type=text name=USERID value=""></div>
		<div class="col-xs-12"><p class="title">고객명</p> : <input class="input-style2" type=text name=USERNAME value=""></div>
		<div class="col-xs-12"><p class="title">휴대번호</p> : <input class="input-style2" type="text" name="TELNO" size="" maxlength="50" value=""></div>
		<div class="col-xs-12"><p class="btn-style2"><b>찾기</b></p></div>
	</div>
	
	</form>
	</div>
	
</div>

<% include ../../bottom %>

</body>
</html>