<!DOCTYPE html>
<html lang="ko">
<head>

<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>사이다경제 | Our Team</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_about.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

</head>
<body>
	
<% include ../top %>

<div class="bg-blue">
	
<div class="container team bg-white" align="center">
		<div class="title"> <span>Our Team</span>
				<p>쉽게 읽는 경제 “사이다경제”의 <span>에디터팀</span>입니다!</p>
		</div>
		<div class="title" style="margin-top: 40px;"> <p style="text-align:center; font-size: 15px;">▣ 활동 중인 에디터</p>
		</div>
		<div class="editor-intro">
				<div class="row">
						<div class="col-lg-4 col-sm-6 text-center" style="margin-bottom: 10px;"><a href="/contents/editor/17"> <img class="img-circle img-responsive img-center" src="/page_imgs/employee_profile/editor17.jpg" alt=""></a>
								<h3><a href="/contents/editor/17">오혜미</a> <small>에디터</small> </h3>
								<p>"사이다경제 SNS소통지기를 맡고 있습니다.</p><p>'좋아요' 많이 눌러주시면 좋아요!"</p>
						</div>
						<!--div class="col-lg-4 col-sm-6 text-center"><a href="/contents/editor/9"><img class="img-circle img-responsive img-center" src="/page_imgs/employee_profile/editor9.jpg" alt=""></a>
								<h3><a href="/contents/editor/9">유토미</a> <small>에디터</small> </h3>
								<p>"일상 속 경제이슈를 쉽고 재밌게 알려드립니다!"</p>
						</div-->
						<div class="col-lg-4 col-sm-6 text-center" style="margin-bottom: 10px;"><a href="/contents/editor/13"> <img class="img-circle img-responsive img-center" src="/page_imgs/employee_profile/editor11.jpg" alt=""></a>
								<h3><a href="/contents/editor/13">연두</a> <small>에디터</small> </h3>
								<p>"투자에 관심이 많고,</p><p>실제로 직접투자를 계속 해오고 있습니다."</p>
						</div>
						<!--div class="col-lg-4 col-sm-6 text-center"><a href="/contents/editor/7"> <img class="img-circle img-responsive img-center" src="/page_imgs/employee_profile/editor8.jpg" alt=""></a>
								<h3><a href="/contents/editor/7">이동규</a> <small>에디터</small> </h3>
								<p>"함께 공부하는 경제이야기!"</p>
						</div-->
						<div class="col-lg-4 col-sm-6 text-center" style="margin-bottom: 60px;"><a href="/contents/editor/22"> <img class="img-circle img-responsive img-center" src="/page_imgs/employee_profile/editor22.jpg" alt=""></a>
								<h3><a href="/contents/editor/22">이창현</a> <small>에디터</small> </h3>
								<p>"회계로 보는 재미있는 세상"</p>
						</div>
				</div>
				<div class="row">
						<!--div class="col-lg-4 col-sm-6 text-center"><a href="/contents/editor/21"> <img class="img-circle img-responsive img-center" src="/page_imgs/employee_profile/editor21.jpg" alt=""></a>
								<h3><a href="/contents/editor/21">이지원</a> <small>에디터</small> </h3>
								<p>"Ready to bloom"</p>
						</div-->
						<div class="col-lg-4 col-sm-6 text-center"><a href="/contents/editor/19"> <img class="img-circle img-responsive img-center" src="/page_imgs/employee_profile/editor19.jpg" alt=""></a>
								<h3><a href="/contents/editor/19">류광현</a> <small>에디터</small> </h3>
								<p>"어둠을 볼 수 있다면 빛을 볼 수도 있을 거야."</p>
						</div>
						<div class="col-lg-4 col-sm-6 text-center"><a href="/contents/editor/23"> <img class="img-circle img-responsive img-center" src="/page_imgs/employee_profile/editor23.jpg" alt=""></a>
								<h3><a href="/contents/editor/23">hw</a> <small>에디터</small> </h3>
								<p>"신문공장 노동자"</p>
						</div>
						<div class="col-lg-4 col-sm-6 text-center" style="margin-bottom: 22px;"><a href="/contents/editor/24"> <img class="img-circle img-responsive img-center" src="/page_imgs/employee_profile/editor24.jpg" alt=""></a>
								<h3><a href="/contents/editor/23">이상혁</a> <small>에디터</small> </h3>
								<p>"스포츠 속에 숨어있는 경제를</p>
								<p>알기 쉽게 이야기 해드립니다."</p>
						</div>
				</div>
				<div class="row">
						<div class="col-lg-4 col-sm-6 text-center"><a href="/contents/editor/25"> <img class="img-circle img-responsive img-center" src="/page_imgs/employee_profile/editor25.jpg" alt=""></a>
								<h3><a href="/contents/editor/23">민성식</a> <small>에디터</small> </h3>
								<p>"살아있는 상업용 부동산 지식과 경험을 공유합니다."</p>
						</div>
						<!--div class="col-lg-4 col-sm-6 text-center"><a href="/contents/editor/26"> <img class="img-circle img-responsive img-center" src="/page_imgs/employee_profile/editor26.jpg" alt=""></a>
								<h3><a href="/contents/editor/23">김재민</a> <small>에디터</small> </h3>
								<p>"게임덕후와 함께 경제를 배워봐요!"</p>
						</div-->
						<!--div class="col-lg-4 col-sm-6 text-center"><a href="/contents/editor/29"> <img class="img-circle img-responsive img-center" src="/page_imgs/employee_profile/editor29.jpg" alt=""></a>
								<h3><a href="/contents/editor/29">김민지</a> <small>에디터</small> </h3>
								<p>"똑소리나는 경제 상식을 전해 드립니다."</p>
						</div-->
						<!--div class="col-lg-4 col-sm-6 text-center"><a href="/contents/editor/28"> <img class="img-circle img-responsive img-center" src="/page_imgs/employee_profile/editor28.jpg" alt=""></a>
								<h3><a href="/contents/editor/28">박설</a> <small>에디터</small> </h3>
								<p>"뷰티를 통한 도움되는 정보들을 소개합니다."</p>
						</div-->

						<div class="col-lg-4 col-sm-6 text-center"><a href="/contents/editor/31"> <img class="img-circle img-responsive img-center" src="/page_imgs/employee_profile/editor31.jpg" alt=""></a>
								<h3><a href="/contents/editor/31">윤형노</a> <small>에디터</small> </h3>
								<p>"시대를 만난 아이디어만큼 강력한 것은 없다."</p>
						</div>
						<div class="col-lg-4 col-sm-6 text-center" style="margin-bottom: 25px;"><a href="/contents/editor/32"> <img class="img-circle img-responsive img-center" src="/page_imgs/employee_profile/editor32.jpg" alt=""></a>
								<h3><a href="/contents/editor/32">정근태</a> <small>에디터</small> </h3>
								<p>"하나의 문장에는 하나의 생각이,</p>
								<p>하나의 행동에는 하나의 신념이"</p>
						</div>
				</div>
				<div class="row">
						<div class="col-lg-4 col-sm-6 text-center"><a href="/contents/editor/34"> <img class="img-circle img-responsive img-center" src="/page_imgs/employee_profile/editor34.jpg" alt=""></a>
								<h3><a href="/contents/editor/34">Smart Simon</a> <small>에디터</small> </h3>
								<p>"스스로를 가치있게, 스스로를 위대하게"</p>
						</div>

						<!--div class="col-lg-4 col-sm-6 text-center"><a href="/contents/editor/35"> <img class="img-circle img-responsive img-center" src="/page_imgs/employee_profile/editor35.jpg" alt=""></a>
								<h3><a href="/contents/editor/35">이래학</a> <small>에디터</small> </h3>
								<p>"공시 속에 숨겨진 기업의 의도를 찾아내</p><p>투자 관점에서 재해석합니다."</p>
						</div-->
						<div class="col-lg-4 col-sm-6 text-center"><a href="/contents/editor/36"> <img class="img-circle img-responsive img-center" src="/page_imgs/employee_profile/editor36.jpg" alt=""></a>
								<h3><a href="/contents/editor/36">정훈화</a> <small>에디터</small> </h3>
								<p>"복잡한 이론 때문에 핵심을 간과해서는 안된다.</p><p>이론은 참고사항이다."</p>
						</div>
						<div class="col-lg-4 col-sm-6 text-center"><a href="/contents/editor/39"> <img class="img-circle img-responsive img-center" src="/page_imgs/employee_profile/editor39.jpg" alt=""></a>
								<h3><a href="/contents/editor/39">박동수</a> <small>에디터</small> </h3>
								<p>"어려운 경제 이야기를 쉽고 재미있게 설명해 드립니다~"</p>
						</div>
				</div>
				<div class="row">
						<div class="col-lg-4 col-sm-6 text-center"><a href="/contents/editor/40"> <img class="img-circle img-responsive img-center" src="/page_imgs/employee_profile/editor40.jpg" alt=""></a>
								<h3><a href="/contents/editor/40">김유라</a> <small>에디터</small> </h3>
								<p>"행복한 일상을 꿈꾸는 에디터 #해피유라 입니다:)"</p>
						</div>

						<div class="col-lg-4 col-sm-6 text-center"><a href="/contents/editor/41"> <img class="img-circle img-responsive img-center" src="/page_imgs/employee_profile/editor41.jpg" alt=""></a>
								<h3><a href="/contents/editor/41">박지은</a> <small>에디터</small> </h3>
								<p>"국제경제에 관심많은 경제학도"</p>
						</div>

						<div class="col-lg-4 col-sm-6 text-center"><a href="/contents/editor/42"> <img class="img-circle img-responsive img-center" src="/page_imgs/employee_profile/editor42.jpg" alt=""></a>
								<h3><a href="/contents/editor/42">박다솜</a> <small>에디터</small> </h3>
								<p>"천릿길도 한 걸음부터!"</p>
						</div>
				</div>
				<div class="row">

						<div class="col-lg-4 col-sm-6 text-center"><a href="/contents/editor/43"> <img class="img-circle img-responsive img-center" src="/page_imgs/employee_profile/editor43.jpg" alt=""></a>
								<h3><a href="/contents/editor/43">한수영</a> <small>에디터</small> </h3>
								<p>"어린아이처럼 경제를 좋아하는 호당이입니다"</p>
						</div>

				</div>

			<div class="row">
				<div class="title"> <p style="text-align:center; font-size: 15px;">▣ 비활동 중인 에디터</p>

				<div class="col-lg-12 col-sm-12 text-center">
					<h4><a href="/contents/editor/3">조석민 </a><a href="/contents/editor/4">황원지 </a><a href="/contents/editor/5">강준구 </a><a href="/contents/editor/8">이윤범 </a><a href="/contents/editor/10">최효선 </a><a href="/contents/editor/18">최은빈 </a><a href="/contents/editor/20">정에스텔 </a><a href="/contents/editor/9">유토미 </a><a href="/contents/editor/7">이동규 </a><a href="/contents/editor/21">이지원 </a><a href="/contents/editor/29">김민지 </a><a href="/contents/editor/28">박설 </a><a href="/contents/editor/35">이래학 </a></h4>
				</div>
				<div class="col-lg-12 col-sm-12 text-center">
					<h4>문의</h4>
					<h3>contact@cidermics.com</h3>
				</div>
				</div>
			</div>



			</div>
		</div>
	

</div>

<% include ../bottom %>
</body>
</html>
