<!DOCTYPE html>
<html lang="ko">
<head>

<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>사이다경제 | Our Team</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_about.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

<!--구글 애널리틱스 -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82643610-1', 'auto');
  ga('send', 'pageview');

</script>

</head>
<body>
	
<% include ../top %>

<div class="bg-blue">
	
<div class="container team bg-white" align="center">
		<div class="title"> <span>Our Team</span>
				<p>쉽게 읽는 경제 “사이다경제”의 <span>에디터팀</span>입니다!</p>
		</div>
		<div class="editor-intro">
				<div class="row">
						<div class="col-lg-4 col-sm-6 text-center"> <img class="img-circle img-responsive img-center" src="/page_imgs/employee_profile/editor17.jpg" alt="">
								<h3>오혜미 <small>에디터</small> </h3>
								<p>"사이다경제 SNS소통지기를 맡고 있습니다. '좋아요' 많이 눌러주시면 좋아요!"</p>
						</div>
						<div class="col-lg-4 col-sm-6 text-center"> <img class="img-circle img-responsive img-center" src="/page_imgs/employee_profile/editor9.jpg" alt="">
								<h3>유토미 <small>에디터</small> </h3>
								<p>"일상 속 경제이슈를 쉽고 재밌게 알려드립니다!"</p>
						</div>
						<div class="col-lg-4 col-sm-6 text-center"> <img class="img-circle img-responsive img-center" src="/page_imgs/employee_profile/editor12.jpg" alt="">
								<h3>연두 <small>에디터</small> </h3>
								<p>"투자에 관심이 많고, 실제로 직접투자를 계속 해오고 있습니다."</p>
						</div>
						<div class="col-lg-4 col-sm-6 text-center"> <img class="img-circle img-responsive img-center" src="/page_imgs/employee_profile/editor8.jpg" alt="">
								<h3>이동규 <small>에디터</small> </h3>
								<p>"함께 공부하는 경제이야기!"</p>
						</div>
						<div class="col-lg-4 col-sm-6 text-center"> <img class="img-circle img-responsive img-center" src="/page_imgs/employee_profile/editor4.jpg" alt="">
								<h3>최효선 <small>에디터</small> </h3>
								<p>"좋은 글만 쓰겠습니다."</p>
						</div>
				</div>
		</div>
</div>

</div>

<% include ../bottom %>
</body>
</html>
