<!DOCTYPE html>
<html lang="ko">
<head>

<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>사이다경제 | Our Company</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_about.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>


<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<!--구글 애널리틱스 -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82643610-1', 'auto');
  ga('send', 'pageview');

</script>

</head>
<body>
	
	<% include ../top %>
	
<div class="bg-blue">	

<div class="company bg-white container">
	<div class="title">
		<span><font color:"#1b87c9">Our Company</font></span>
		<p>&nbsp;</p>
	</div>
	<div class="logo">
		<img src="/page_imgs/fixed_img/logo.svg" style="width:160px;">
	</div>
	<div class="contents">
		<p>&nbsp;</p>
		<p><span>'어떻게 하면 자본주의 사회에서</span></p>
		<p><span>모두가 더 나은 삶을 살 수 있을까?</span></p>
		<p><span>만약 모든 사람이 경제/금융 지식을 가지고</span></p>
		<p><span>현명하게 돈을 관리할 수 있다면</span></p>
		<p><span>얼마나 좋을까?'</span></p>
		<p>&nbsp;</p>
		<p><font color="#000"><span>사이다경제</span>는</font></p>
		<p><font color="#000">일반인들도 기존의 딱딱한 경제/금융 지식을</font></p>
		<p><font color="#000">쉽게 접할 수 있는 환경을 우리가 만들어보자! 는 </font></p>
		<p><font color="#000">취지로 만들어졌습니다.</font></p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p><font color="#000">사이다경제는 <span>5월부터</span></font></p>
		<p><font color="#000">네이버 블로그와 포스트,</font></p>
		<p><font color="#000">다음 티스토리를 통해 구독자들과</font></p>
		<p><font color="#000">꾸준히 소통하면서 <span>서비스를 제공</span>했고,</font></p>
		<p>&nbsp;</p>
		<p><font color="#000">포털 사이트 메인에도 </font></p>
		<p><font color="#000">자주 소개되는 등 유익한 뉴미디어를 향해 </font></p>
		<p><font color="#000">이제 막 걸음마를 뗐습니다.</font></p>
		<p>&nbsp;</p>
		<p><font color="#000">그리고 지금, 사이다경제는</font></p>
		<p><font color="#000"><span>새로운 도전</span>에 나서려 합니다.</font></p>
		<p>&nbsp;</p>
		<p><font color="#000">쉬운 경제/금융 콘텐츠 제작과 더불어,</font></p>
		<p><font color="#000">현명한 재무상담까지 할 수 있는</font></p>
		<p><font color="#000"><span>건전한 금융생태계 구축</span>이 바로 그것입니다.</font></p>
		<p>&nbsp;</p>
		<p><font color="#000">목표가 달성되는 그날까지</font></p>
		<p><font color="#000">사이다경제는 달려나가도록 하겠습니다!</font></p>
		<p><font color="#000">감사합니다.</font></p>
		<br>
		
		<div class="input-field col s6"><span>
           <i class="large material-icons">description</i><a href="http://www.cidermics.com/page_imgs/Cidermics_info.pdf" download>사이다경제 회사소개서.pdf</a></span>
        </div>
		
        
		
	</div>
	
	
</div>

	
	
</div>

<% include ../bottom %>
</body>
</html>
