<!DOCTYPE html>
<html lang="ko">
<head>	
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/css/cid_survey.css" rel="stylesheet">
<link href="/css/materialize.css" rel="stylesheet">


<!--12월 15일 추가함 -->
<title>사이다경제 재무 상담후기</title>
<meta property="fb:admins" content="{jkhhihi@naver.com}"/><!--페이스북 슈퍼아이디-->
<meta name="title" content="사이다경제 재무 상담후기" />
<meta property="og:image"  content="https://i.imgur.com/ldPnbZm.jpg" />
<meta property="og:title"  content="사이다경제 재무 상담후기" />	
<meta property="og:site_name"  content="사이다경제 재무 상담후기"/ >
<meta property="og:type"  content="article">
<meta property="og:url"  content="http://www.cidermics.com/finance/s" />
<meta property="og:description" content="[설문조사] 사이다경제 재무 상담후기" />
<!--구글 애널리틱스 -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82643610-1', 'auto');
  ga('send', 'pageview');
</script>

<!-- 12월 15일 추가함 END -->




<script type="text/javascript">
	function surveyGo()
	{
		if(document.surveyGoform.name.value==""){
		 alert("이름을 입력해 주세요.");
		document.surveyGoform.name.focus();
		  return;
		}
		

	 	alert("설문에 참여해 주셔서 감사합니다.")
	 	document.surveyGoform.submit();
	}
	
</script>
</head>


<body>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
     $('.modal-trigger').leanModal({
          opacity: .5, // Opacity of modal background
          in_duration: 300, // Transition in duration
          out_duration: 200, // Transition out duratio
        }
      );
  });
</script>

<div class="" align="center">
	<a href="/"><img class="home-btn" src="/page_imgs/fixed_img/home-btn.png"></a>
	<div class="main-banner">
		<img src="/page_imgs/main_img/survey-icon.svg">
		<p style="margin-bottom:0 !important;"><b><h4>재무 상담 후기</h4>
본 후기는 사이다경제 무료 재무상담을<br>
 받으신 분들을 대상으로 만족도 조사와<br>더 나은 서비스 향상을 위한 후기 설문입니다.
		</b></p>
	</div>

	<div class="container">
		<form action="/finance/s" method="post" name="surveyGoform">
		<p class="event" align="left">
		</p>
		<div class="survey">
			<p class="title"><b>당신의 소중한 후기를 작성해주세요!</b></p>

			<div class="q1" align="left">
				<p>재무 상담 년월</p>
				<textarea placeholder="예시 : 18년 4월" name="g1" id="reason4" class="materialize-textarea"></textarea> 	
			</div>

			<div class="q1" align="left">
				<p>재무 멘토 성함</p>
				<textarea placeholder="재무 멘토 성함을 입력해주세요" name="g2" id="reason4" class="materialize-textarea"></textarea> 	
			</div>
			
			<div class="q3" align="left">
				<p class="big-title">상담 후기</p>
				<p>1. 상담에 대해 전반적으로 만족하셨나요? </p>
			     	<p>
			     		<input class="with-gap" name="group1" type="radio" id="3-a1"  value="1" />
			     		<label for="3-a1">만족했다</label>
			     	</p>
			     	<p>
			     		<input class="with-gap" name="group1" type="radio" id="3-a2" value="2"/>
			     		<label for="3-a2">만족하지 못했다</label>
			     	</p> 						     
			</div>
			<br>
			<div class="q4" align="left">
				<p>2. 만족하셨다면(혹은 만족하지 못하셨다면) 그 이유는 무엇인가요?</p>
				<textarea placeholder="이유를 입력해주세요." name="g3" id="reason4" class="materialize-textarea"></textarea> 	
			</div>
			<br>
			<div class="q5" align="left">
				<p>3. 상담자의 상담 태도는 어떠셨나요?</p>
				<textarea placeholder="상담자 태도의 솔직한 후기 부탁드려요:)" name="g4" id="reason5" class="materialize-textarea"></textarea>			     
			</div>
			<br>
			<div class="q6" align="left">
				<p>4. 원하는 니즈에 맞는 상담을 잘 듣고 도움이 되셨나요?</p>
				<textarea placeholder="솔직한 답변 부탁드려요:)" name="g5" id="reason6" class="materialize-textarea"></textarea>
			</div>
			<br>
			<div class="q11" align="left">
				<p class="big-title">끝으로 하시고 싶으신 말씀이있다면 작성해주세요.</p>
			    <textarea style="height:250px;" placeholder="자유형식으로 작성해주세요 :)" name="g6" id="suggestions" class="materialize-textarea"></textarea>
			</div>	
			<br>
			<div class="q1" align="left">
				<p class="big-title">전체 평점</p>
				<input class="with-gap" name="group2" type="radio" id="1-a5"  value="5" /><label for="1-a5">5점</label>
				<input class="with-gap" name="group2" type="radio" id="1-a4"  value="4" /><label for="1-a4">4점</label>
				<input class="with-gap" name="group2" type="radio" id="1-a3"  value="3" /><label for="1-a3">3점</label>
				<input class="with-gap" name="group2" type="radio" id="1-a2"  value="2" /><label for="1-a2">2점</label>
				<input class="with-gap" name="group2" type="radio" id="1-a1"  value="1" /><label for="1-a1">1점</label>
			</div>
			<br>

			<p class="thanks">
			후기를 작성해주셔서 정말 감사합니다.<br>
			지켜봐주신 여러분께 보답할 수 있도록<br>더 나은 모습으로 발전하는 사이다경제가 되겠습니다. :)<br><br>
			</p>
		</div>
	<div>
	    
	    
		<div class="submit">
			<p class="big-title">후기 작성자 성함</p>
			<input placeholder="작성자 성함 입력" id="name" type="text" class="validate" name="name">
		</div>	    
	</form>
	</div>
			

			<p class="btn-submit"><a style="cursor:pointer; color: #fff;" onclick="surveyGo()">제출하기</a></p>

	<a href="/"><img class="home-btn" src="/page_imgs/fixed_img/home-btn.png"></a>
</div>

</body>
</html>
