<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1"-->
  	
    <title>Cidermics Admin</title>
    <link rel='stylesheet' href='/css/materialize.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="/js/materialize.js"></script>
    <script type="text/javascript" src="/smart_editor/js/HuskyEZCreator.js" charset="utf-8"></script>
<script>
$( document ).ready(function(){
	$(".button-collapse").sideNav();
})
</script>
<style>
	select {
  display: none;
}
</style>
  </head>
  <body>
  	<% var data= CP; %>
    <% include ../include/nav.ejs %>
    
    <div class="container">
    	<div class="row">			
			<h5>콘텐츠 등록하기</h5>
			<form action="/adm/lecture/insert/upload" method="post" enctype="multipart/form-data">
			    <!-- <input type="file" name="file" />
			    <input type="submit" /> -->
				<div class="file-field input-field">
			    	<div class="btn">
						<span>이미지 등록</span>
				    	<input type="file" name="file" multiple>
			    	</div>
			      	<div class="file-path-wrapper">
			        	<input class="file-path validate" type="text">
			      	</div>
			    </div>
			    <input type="submit" class="btn waves-effect waves-light" value="업로드" />
			</form>
			<form class="col s12" id="cform">
				<div class="row" style="margin-top:  2em;">
					<div class="input-field col s12">
						<select name="category">
						    <option value="">카테고리를 정해주세요</option>
					      <% for(var i=0; i < cate.length; i++) {  %> 
					          
                              <option value="<%=cate[i].cate_no%>"> <%=cate[i].cate_name%> </option>
                              
                          <% } %>
					    </select>
				    	<label>카테고리</label>
				   </div>
				    
				    
					<div class="input-field col l12">
						<input id="title" type="text" class="validate">
						<label for="제목">제목</label>
						<!-- Modal Trigger -->
					    <a class="waves-effect waves-light btn modal-trigger1" href="#modal1">이미지 설정</a>
					</div>
							    	
					 	<!-- Modal Structure -->

					    <div id="modal1" class="modal">
					    	<div class="navbar-fixed">
    							<nav>
      								<div class="nav-wrapper">
        							<a class="brand-logo"><h5>이미지 등록</h5></a>
        							<ul class="right hide-on-med-and-down">
          								<li><a href="#!" class="btn-thumb modal-action waves-effect waves-green btn-flat">썸네일 설정</a></li>
          								<li><a href="#!" class="btn-contents modal-action waves-effect waves-green btn-flat">본문 이미지 설정</a></li>
        							</ul>
      								</div>
    							</nav>
  							</div>
  							
						    <ul class="pagination"></ul>
						 
						 
					
						    <div class="modal-content">
						      <div class="images">
						      </div>
						    </div>
						    
					    </div>
					    
						<div class="preview row" style="display:none;">
							<p>대표 이미지</p>
							<img src="" class="img-responsive col l4" />
							<input type="hidden" name="photo">
						</div>
						
						
						<div class="input-field col s6">
							<label for="icon_prefix">1) 질문 : </label>
							<input id="Q1" type="text" class="validate" value="">
						</div>
						<div class="input-field col s6">
							<label for="icon_prefix">1) 답변 : </label>
							<input id="A1" type="text" class="validate" value="">
						</div>
						<div class="input-field col s6">
							<label for="icon_prefix">2) 질문 : </label>
							<input id="Q2" type="text" class="validate" value="">
						</div>
						<div class="input-field col s6">
							<label for="icon_prefix">2) 답변 : </label>
							<input id="A2" type="text" class="validate" value="">
						</div>
						<div class="input-field col s6">
							<label for="icon_prefix">3) 질문 : </label>
							<input id="Q3" type="text" class="validate" value="">
						</div>
						<div class="input-field col s6">
							<label for="icon_prefix">3) 답변 : </label>
							<input id="A3" type="text" class="validate" value="">
						</div>
						<div class="input-field col s6">
							<label for="icon_prefix">4) 질문 : </label>
							<input id="Q4" type="text" class="validate" value="">
						</div>
						<div class="input-field col s6">
							<label for="icon_prefix">4) 답변 : </label>
							<input id="A4" type="text" class="validate" value="">
						</div>
						<div class="input-field col s6">
							<label for="icon_prefix">5) 질문 : </label>
							<input id="Q5" type="text" class="validate" value="">
						</div>
						<div class="input-field col s6">
							<label for="icon_prefix">5) 답변 : </label>
							<input id="A5" type="text" class="validate" value="">
						</div>
						
						
						<textarea id="content"></textarea>
						
						<script type="text/javascript">
							$(document).ready(function() {
							    $('select').material_select();
							});
						 	var oEditors = [];
							nhn.husky.EZCreator.createInIFrame ({
								
								oAppRef : oEditors,
																
								elPlaceHolder : "content",
								
								sSkinURI : "/smart_editor/SmartEditor2Skin.html",
								
								fCreator : "createSEditor2"
							});
													
						</script>
					</div>
				
				
				
				<input type="hidden" name="contents">
				<input type="hidden" name="writer">			
				<input type="hidden" name="userNo">
				<input type="hidden" name="title">
			
		
                
 <!-- 연관 게시글 선택 지웠음 -->
 
 
			</form>
			<div class="center-align">
				<button class="btn waves-effect waves-light" id="insert">등록하기
					<i class="material-icons right">send</i>
				</button>
			</div>
		</div>
    </div>
  </body>
  <script src="/js/custom.js"></script>
  </html>
