<!DOCTYPE html>
<html lang="ko">
<head>
<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>사이다경제 | 시그니처팀</title>
<link href="/css/hana.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--구글 애널리틱스 -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82643610-1', 'auto');
  ga('send', 'pageview');
</script>
<script>
var state = 0;
function chgimg1(){
	if (state == 0){
		document.menuimg1.src = "/page_imgs/hana_img/menu1_on.jpg"
		document.menuimg2.src = "/page_imgs/hana_img/menu2_off.jpg"
		document.menuimg3.src = "/page_imgs/hana_img/menu3_off.jpg"
		document.menuimg4.src = "/page_imgs/hana_img/menu4_off.jpg"
		state = 0;
	} else{
		document.menuimg1.src = "/page_imgs/hana_img/menu1_off.jpg"
		state = 0;
	}
}
function chgimg2(){
	if (state == 0){
		document.menuimg2.src = "/page_imgs/hana_img/menu2_on.jpg"
		document.menuimg1.src = "/page_imgs/hana_img/menu1_off.jpg"
		document.menuimg3.src = "/page_imgs/hana_img/menu3_off.jpg"
		document.menuimg4.src = "/page_imgs/hana_img/menu4_off.jpg"
		state = 0;
	} else{
		document.menuimg2.src = "/page_imgs/hana_img/menu2_off.jpg"
		state = 0;
	}
}
function chgimg3(){
	if (state == 0){
		document.menuimg3.src = "/page_imgs/hana_img/menu3_on.jpg"
		document.menuimg1.src = "/page_imgs/hana_img/menu1_off.jpg"
		document.menuimg2.src = "/page_imgs/hana_img/menu2_off.jpg"
		document.menuimg4.src = "/page_imgs/hana_img/menu4_off.jpg"
		state = 0;
	} else{
		document.menuimg3.src = "/page_imgs/hana_img/menu3_off.jpg"
		state = 0;
	}
}
function chgimg4(){
	if (state == 0){
		document.menuimg4.src = "/page_imgs/hana_img/menu4_on.jpg"
		document.menuimg1.src = "/page_imgs/hana_img/menu1_off.jpg"
		document.menuimg2.src = "/page_imgs/hana_img/menu2_off.jpg"
		document.menuimg3.src = "/page_imgs/hana_img/menu3_off.jpg"
		state = 0;
	} else{
		document.menuimg4.src = "/page_imgs/hana_img/menu4_off.jpg"
		state = 0;	
	}
}
</script>
</head>

<body>

<div class="header" align="center"><a href="/hana"><img class="img-responsive" src="/page_imgs/hana_img/logo1.jpg"></a></div>
<div class="bg-banner" align="center">
<img class="img-responsive" src="/page_imgs/hana_img/bg3.jpg" style="margin-top:70px">
</div>
<div class="consultation-fee" align="center">
	<h3>SIGNATURE TEAM<br><span>시그니처팀은 국내주식부터 해외주식의<br>모든 솔루션과 데이터를 제공합니다.<br>상장주식뿐만 아니라 비상장주식, CB, BW 등<br>모든 주식분야에서 투자기회를<br>함께 할 수 있습니다.</span></h3>
	<div class="line1"></div>
	<div class="line2"></div>
	<div id="menu" class="container">
	<div class="row">
		<div class="col-xs-3" onclick="openCity('menu1')">
			<img name="menuimg1" class="w3-card img-responsive" src="/page_imgs/hana_img/menu1_on.jpg" onclick="chgimg1();">
		</div>
		<div class="col-xs-3" onclick="openCity('menu2')">
			<img name="menuimg2" class="w3-card img-responsive" src="/page_imgs/hana_img/menu2_off.jpg" onclick="chgimg2();">
		</div>
		<div class="col-xs-3" onclick="openCity('menu3')">
			<img name="menuimg3"  class="w3-card img-responsive" src="/page_imgs/hana_img/menu3_off.jpg" onclick="chgimg3();">
		</div>
		<div class="col-xs-3" onclick="openCity('menu4')">
			<img name="menuimg4"  class="w3-card img-responsive" src="/page_imgs/hana_img/menu4_off.jpg" onclick="chgimg4();">
		</div>				
	</div>	
	<div class="row">
		<div id="menu1" class="col-xs-12 menu">
			<div class="w3-card">
			  <img class="img-responsive" src="/page_imgs/hana_img/hana-profile1.png">
			</div>
		</div>
		<div id="menu2" class="col-xs-12 menu" style="display:none">
			<div class="w3-card">
			  <img class="img-responsive" src="/page_imgs/hana_img/hana-profile2.png">
			</div>
		</div>
		<div id="menu3" class="col-xs-12 menu" style="display:none">
			<div class="w3-card">
			  <img class="img-responsive" src="/page_imgs/hana_img/hana-profile3.png">
			</div>
		</div>
		<div id="menu4" class="col-xs-12 menu" style="display:none">
			<div class="w3-card">
			  <img class="img-responsive" src="/page_imgs/hana_img/hana-profile4.png">
			</div>
		</div>
	</div>
	<div class="row img1">
		<div class="col-xs-12"><img class="img-responsive" src="/page_imgs/hana_img/bg1.jpg"></div>
	</div>
	</div>
</div>

<script>
function openCity(cityName) {
    var i;
    var x = document.getElementsByClassName("menu");
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none"; 
    }
    document.getElementById(cityName).style.display = "block"; 
    
}
</script>


<div class="Telegram" align="center">
	<a href="http://t.me/teamsignature"><div class="bg">
		<div class="text">
			<img class="img-responsive" src="/page_imgs/hana_img/btn-telegram.jpg">
		</div>
	</div></a>
</div>

<!-- div class="sns" align="center">
	<div class="container">
		<div class="row">
			<div class="col-xs-3"><a href="http://www.podofp.com/support/branch/index.php" target="_blank"><img class="img-responsive" src="/page_imgs/podo_img/sns-icon1.png"></a></div>
			<div class="col-xs-3"><a href="https://www.facebook.com/podofp/" target="_blank"><img class="img-responsive" src="/page_imgs/podo_img/sns-icon2.png"></a></div>
			<div class="col-xs-3"><a href="http://plus.kakao.com/home/i9scw0nq" target="_blank"><img class="img-responsive" src="/page_imgs/podo_img/sns-icon3.png"></a></div>
			<div class="col-xs-3"><a href="http://blog.naver.com/bestplan4you" target="_blank"><img class="img-responsive" src="/page_imgs/podo_img/sns-icon4.png"></a></div>
		</div>
	</div>
</div>
<div class="footer" align="center">
	<h4><b>바른사람들 포도</b></h4>
	<p style="color:#aaa;"><b>주소 : 서울 강남구 논현로 76길11,302호<br>
대표전화 : 02-2088-8802<br>
사업자 등록번호 : 610-81-47927<br>
대표자 : 라의형</b></p>
</div -->
</body>
</html>